 <script id="cssBase" type="text/template">
 <div class="gf-multimedia-global-container gf-ecm-element-inactive" id="plugin-css">	
 	<header class="gf-ecm-edition-panel">
		<nav class="gf-ecm-edition-circle-tools">
			<ul>
				
				<li title="Añadir fila a la rejilla" class="gf-ecm-rotate-child-icon gf-botons-color-violet" data-list-child="PaddingCSSplugin">
					<div class="ecm-circle-tools" style="">
						<span class="glyphicon glyphicon-fullscreen"></span>
						</div>
						<span class="title">Padding</span>
				</li>

				<li title="Eliminar esta rejilla" data-list-child="rotateCSSPlugin" class="gf-botons-color-lightGreen gf-ecm-rotate-child-icon">
					<div class="ecm-circle-tools">
						<span class="glyphicon glyphicon-repeat"></span>
					</div>
						<span class="title">Rotación</span>
				</li>

				<li title="Quitar fila seleccionada de la rejilla" class="gf-ecm-rotate-child-icon gf-botons-color-violet" data-list-child="TextCSSplugin">
					<div class="ecm-circle-tools ">
						<span class="glyphicon glyphicon-header"></span>
					</div>
						<span class="title">Texto</span>
				</li>

				<li title="Cambiar tamaño del elemento seleccionado"  class="gf-ecm-rotate-child-icon gf-botons-color-lightGreen" data-list-child="borderCSSplugin">
					<div class="ecm-circle-tools">
						<span class="glyphicon glyphicon-unchecked"></span>
					</div>
						<span class="title">Borde</span>
				</li>
				
				
			<div class="clear"></div>
	</ul>						
		</nav>
	</header>


<!--ROTATE-->
	<section class="gf-ecm-edition-panel gf-ecm-element-inactive gf-emc-plugin-css-form" id="rotateCSSPlugin">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				<div class="form-group">
					<label class="gf-label-side" for="email">Grados</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="css-rotate-grades">
				</div>
						
				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" data-save="rotate"> Ok </button>
					<button class="btn btn-default"> Cancelar </button>
						<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>

<!--PADDING-->
	<section class="gf-ecm-edition-panel gf-emc-plugin-css-form" id="PaddingCSSplugin">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				<div class="form-group">
					<label class="gf-label-side" for="email">Padding</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="css-padding-value">
				</div>
				
				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" data-save="padding"> Ok </button>
					<button class="btn btn-default"> Cancelar </button>
						<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>

	<!--Border radius-->
	<section class="gf-ecm-edition-panel gf-ecm-element-inactive gf-emc-plugin-css-form" id="borderCSSplugin">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				 <div class="form-group">
					<label class="gf-label-side" for="email">Radio</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="border-radius-css" value="0">
				</div>

				<div class="form-group">
					<label class="gf-label-side" for="email">Ancho</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="border-width-css" value="0">
				</div>


				<div class="form-group">
					<label class="gf-label-side" for="email" style="float:left;">Color</label>
					<div style="border: 2px solid #fff; width: 138px; float: left; height: 38px;padding-top:4px;">
						<input type="text" class="customer"> 
						<b class="valBrColor" style="font-size:18px;margin-left: -16px;">#fff</b>
					</div>
					<div class="clear"></div>
				</div>

				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" data-save="border"> Ok </button>
					<button class="btn btn-default"> Cancelar </button>
					<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>

	<!--texto-->
	<section class="gf-ecm-edition-panel gf-ecm-element-inactive gf-emc-plugin-css-form" id="TextCSSplugin">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				 <div class="form-group">
				 	<label class="gf-label-side" for="email">Fuente</label>

				 	<div class="ui selection dropdown custom-filter" style="min-width:188px;border-radius:0px;margin-left: -3px;" id="font-family-css-panel">
							<input type="hidden" name="style-char" id="font-family-css" value="verdana">
						<i class="dropdown icon"></i>
							<div class="default text">Todos</div>
								<div class="menu">
								<div class="item" data-value="verdana">Verdana</div>
								<div class="item" data-value="arial">Arial</div>
								<div class="item" data-value="Helvetica">Helvetica</div>
								<div class="item" data-value="comic sans">Comic Sans</div>
					</div>
				</div>

				</div>

				<div class="form-group">
					<label class="gf-label-side" for="email">Tamaño</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="size-text-css" value="12">
				</div>

				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" data-save="texto"> Ok </button>
					<button class="btn btn-default"> Cancelar </button>
					<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>
</div>

 </script>