#main > nav.accordeon {
    padding-top: 4vh;
}

#main > nav.accordeon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main > nav.accordeon > ul {
    border-bottom: 1px solid transparent;
    border-radius: 5px;
}

#main > nav.accordeon li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
}

#main > nav.accordeon li > a {
    display: block;
    background: $panelColor;
    color: $textColor;
    font-size: 1.5vh;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    border: none;
    opacity: 0.5;
    padding-left: 1vw;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    position: relative;

    span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        height: 20%;
        width: 0;
        background-color: darken($panelColor,20%);
        transition: width 0.2s;
        border-radius: 0 0.3vh 0.3vh 0;
        z-index: -1;
        
        > span {
            width: 0;
            position: relative;
            
            
        }
    }
}

#main > nav.accordeon li > a:hover, #main > nav.accordeon li.current > a {
    opacity: 1;

    > span {
        width: 10%;
    }
}

#main > nav.accordeon li li > a:hover, #main > nav.accordeon li li.current > a {
    > span {
        width: 20%;
    }
}

#main > nav.accordeon li li li > a:hover, #main > nav.accordeon li li li.current > a {
    > span {
        width: 30%;
    }
}

#main > nav.accordeon li li li li > a:hover, #main > nav.accordeon li li li li.current > a {
    > span  {
        width: 40%;
    }
}





