#main > nav.d3 {
  width: 100%;
  height: auto;
  bottom: 0;
  top: 0;
  position: fixed;
  pointer-events: none;

  .blur-svg {
    width: 100%;
    height: 100%;
  }
}

#main > nav.d3 a.nav-open {
  display: block;
  fill: $accentColor;
  position: absolute;
  right: 2vw;
  width: 4vw;
  top: 1.5vw;
  z-index: 1000;
  pointer-events: auto;
  

  svg {
    display: block;
    height: auto;
    transition: fill 0.2s, transform 0.2s;
  }

  &:hover svg {
    fill: $textColor;
    transform: scale(1.1);
  }

}

body.blur {
  > h1 {
    filter: blur(0.2vw);
  }
  #main #content {
    filter: blur(0.2vw);
  }
}

#main > nav.d3 a.nav-open:hover {
  background: transparent;
}

#main > nav.d3 .main {
  // display: none;
  z-index: 100;
  opacity: 0;
  right: 0;
  left: 0;
  // right: 0;
  width: 100%;
  bottom: 0;
  top: 0;
  position: absolute;
  transition: background-color 0.3s, opacity 0.3s;
  
}

#main > nav.d3.on .main {
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
  filter: blue(5px);
  pointer-events: auto;
}

#main > nav.d3 svg {
    	z-index: 1;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	margin: 0;
    	box-sizing: border-box;
  }

  #main > nav.d3 .node {
    cursor: pointer;
  }
   
  #main > nav.d3 .node circle {
    stroke: $textColor;
    stroke-width: 0.2vw;
  }

  #main > nav.d3 .node circle.inner {
    fill: $textColor;
    stroke-width: 0;
  }

  #main > nav.d3 .node:hover circle {
  animation: circlePop 0.6s;
  stroke: $textColor;
  }

  #main > nav.d3 .node.visited circle {
    /*fill: #252525;*/
    /*fill: none;*/
    /*fill: #101010;*/
    /*fill: transparent;*/
    stroke: rgba(0,255,0,1);
    /*fill-rule: evenodd;*/
  }

  #main > nav.d3 .node.selected circle {
    fill: rgba(255,255,255,1);
    stroke: #101010;
  }
   
  #main > nav.d3 .node text {
    font-size:10px; 
    font-family:sans-serif;
    fill: #ffffff;
  }
   
  #main > nav.d3 .link {
    fill: none;
    stroke: $textColor;
    /*stroke: #101010;*/
    stroke-width: 0.2vw;
    // stroke-dasharray: 1vw,1vw;
    // opacity: 0.5;
  }

  #main > nav.d3 .templink {
    fill: none;
    stroke: rgba(255,255,255,1);
    /*stroke: #101010;*/
    stroke-width: 0.3vw;
    stroke-dasharray: 1vw,1vw;
    opacity: 0.5;
  }

  #main > nav.d3 .node circle.ghostCircle.show{
      display:block;
  }

  #main > nav.d3 .node.activeDrag circle {
    opacity: 0.2;
  }

  #main > nav.d3 .node circle.ghostCircle, .node.activeDrag circle.ghostCircle{
       display: none;
       fill: rgba(255,255,255,1);
       opacity: 0.5;
       stroke: none;
       stroke-width: 0;
  }

  @keyframes circlePop {
    0% {
      transform: scale(1);
    }
    
    15% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
      }
    }