<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <script src="js/vendor/jquery-1.10.1.min.js"></script>
        <script src="js/vendor/soundjs-0.5.2.min.js"></script>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/catedra.glosario.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/catedra.plugin.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container-fluid">

            <!-- Example row of columns -->
            <div class="row-fluid">
                <div class="span12">
                    <div id="letters-container">
                        
                        <ul id="letters">
                        </ul>
                    </div>
                </div>

            </div>
            
            <div class="row-fluid">
                <div class="span3">
                   <div id="terms-container">

                       
                       <p>{{SELECT_A_TERM}} <a href="#" class="link-todos">{{VIEW_ALL_TERMS}}</a></p>
                       
                       <ul id="terms">
                           <li id="terms-all"></li>
                       </ul>
                       
                   </div>
                </div>
                
                <div class="span9">
                       <div id="explanations-container">

                       </div>
                </div>

            </div>

        </div> <!-- /container -->

        <script>
            var glosario1 = new catplug_glosario('#container-fluid');
        </script>
        <script type="text/javascript" charset="utf-8" src="js/main.js"></script>
        <script>
            cat_plugin.setParameters(glosario1, "glosario", glosario1.aspectRatio, true);
        </script>
    </body>
</html>
