@import("fonts.scss");

body {
	color: $textColor;
	background-color: $backgroundColor;
  font-family: $mainFont, sans-serif;

  > .video-module {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    border: 0 none;
    margin: 0;
    padding: 0;
    height: 100vh;

      .no-video .video-container video,
  .touch .video-container video {
      display: none;
  }
  .no-video .video-container .poster,
  .touch .video-container .poster {
      display: block !important;
  }
  .video-container {
      position: relative;
      bottom: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background: #000;
  }
  .video-container .poster img {
      width: 100%;
      bottom: 0;
      position: absolute;
  }
  .video-container .filter {
      z-index: 100;
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;
  }
  .video-container video {
      position: absolute;
      z-index: 0;
      top: 0;
      height: 100vh;
      object-fit: fill;
  }
  .video-container video.fillWidth {
      width: 100%;
  }
  }


  > #main {
    overflow: hidden;

    > nav {
    
    box-shadow: 0 0 2px darken($backgroundColor, 50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  > nav a {
    margin: 0 0;
    padding: 1vw 2vw;
    text-decoration: none;
    color: $textColor;
    transition: background-color 0.3s;
  }

  > nav a.sel, > nav a:hover {
    background-color: rgba(darken($backgroundColor, 50%), 0.5);
    
  }

   #content {
    flex-grow: 1;
    position: relative;
    margin-left: 0;
    transition: margin 0.3s;

    &.out {
      // margin-left: 100%;
    }
   }



  }
  

	h1 {
		font-family: $mainFont, sans-serif;
		font-weight: normal;
		font-size: 3vw;
	}

  h2 {
    font-family: $mainFont, sans-serif;
    font-weight: normal;
    font-size: 2vw;
  }
}