@font-face {
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
src: local('Oswald'), local('Oswald'), url(#{$fontPath}Oswald.woff) format('woff');
}

@font-face {
font-family: 'Josefin Slab';
font-style: normal;
font-weight: 400;
src: local('Josefin Slab'), local('Josefin Slab'), url(#{$fontPath}Josefin_Slab.woff) format('woff');
}

@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
src: local('Merriweather'), local('Merriweather'), url(#{$fontPath}Merriweather.woff) format('woff');
}

@font-face {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
src: local('Raleway'), local('Raleway'), url(#{$fontPath}Raleway.woff) format('woff');
}

@font-face {
font-family: 'Poiret One';
font-style: normal;
font-weight: 400;
src: local('Poiret One'), local('Poiret One'), url(#{$fontPath}Poiret_One.woff) format('woff');
}

@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: local('Roboto'), local('Roboto'), url(#{$fontPath}Roboto.woff) format('woff');
}

@font-face {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
src: local('Ubuntu'), local('Ubuntu'), url(#{$fontPath}Ubuntu.woff) format('woff');
}

@font-face {
font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
src: local('Pacifico'), local('Pacifico'), url(#{$fontPath}Pacifico.woff) format('woff');
}

@font-face {
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
src: local('Roboto Condensed'), local('Roboto Condensed'), url(#{$fontPath}Roboto_Condensed.woff) format('woff');
}
