.gf-elemen-this-selected{border-image: url('../../../files/border.png') 30 stretch !important;box-shadow: 0px 0px 10px rgba(0,0,0,1);}/*Clase para elemento seleccionado*/
.gf-ecm-element-inactive{display:none !important;}
.paddingNone{padding:0px !important;}
.marginNone{margin: 0px !important;}
input{outline:0px;}/*Quitamos el foco de todos los inputs*/
.gf-ecm-global-window-app{ margin-top: 40px; }
body{background-color: #e6e6e6;}/*Color de fondo global*/
header.gf-ecm-tools-window{z-index:20;position: fixed;top:0px;color: #fff;background-color:#3D9E8F; }
ul { list-style: none;padding: 0px;margin: 0px;}
header.gf-ecm-tools-window .gf-ecm-tools-tooltip{background-color: #000;color:#fff;position: absolute;top:30px;border-radius:2px;padding:3px 10px;z-index:10;}
header.gf-ecm-tools-window nav ul li.gf-ecm-tool{width: 40px;height: 40px;float: left;padding:8px;cursor: pointer;text-align: center;}
header.gf-ecm-tools-window nav ul li.gf-ecm-tool{font-size: 20px;}
header.gf-ecm-tools-window nav ul li.gf-ecm-tool:nth-child(even){background-color: #01D2B5;}
header.gf-ecm-tools-window nav ul li.gf-ecm-tool:nth-child(odd){background-color: #3D9E8F;}
li.gf-ecm-tool a{ text-decoration: none;color: #fff;}
.clear{clear: both;}
.gf-selected-dynamic{border:1px dashed #fff !important;opacity: 0.6 !important;box-shadow: 0px 0px 10px #fff;}




article.gf-ecm-body{margin-top: 50px;background-color: #404040;height: 126px;color: #fff;width:500px;padding-bottom:20px;position: absolute;top:-50px;left: 100px;z-index: 100;/* transition: 0.5s all; */}
aside.gf-ecm-left-menu{height: 100%;background-color:  #4d4d4d;padding:0px;margin:0px;width:100px;position: fixed;z-index: 10;}
aside.gf-ecm-left-menu ul li.gf-ecm-tool .gf-ecm-tools-left{text-align: center;padding: 5px;transition: 0.5 all;}
aside.gf-ecm-left-menu ul li.gf-ecm-tool{ background-color: #4d4d4d; }
li.gf-ecm-active > div.gf-ecm-tools-left:hover{cursor: none}
#char-menu-contextmenu ul li.gf-ecm-tool:nth-child(1){border-bottom: 3px solid #fff;}
aside.gf-ecm-left-menu ul li.gf-ecm-tool{color: #fff;cursor: pointer;padding:10px;}
aside.gf-ecm-left-menu ul li.gf-ecm-tools-icon{color: #fff;font-size:20px;}
aside.gf-ecm-left-menu ul li.gf-ecm-active{border-left:3px solid #22E1C7;background-color:rgba(0, 0, 0, 0.2);}
.gf-ecm-body-lateral-menu-close{width:30px;height: 30px;padding:5px;color:#fff;text-align: center;position: absolute;right:0px;cursor: pointer;}




/*Panel edition*/
.gf-dinamyc-element:hover{ border-image: url('../../../files/border.png') 30 stretch;}
.activeBorder{ border-image: url('../../../files/border.png') 30 stretch !important; }
.gf-dinamyc-element{ min-width:50px;position:absolute !important;border: 10px solid transparent; height: auto;float: left; }
.gf-dinamyc-element img.dynamic-image{width:100%;height:100%;}
#gf-ecm-render-window{    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);background-color:#fff;min-height: 400px;margin-left: 145px;	margin-top: 20px;border-radius:5px;margin-bottom: 20px;}



.subMenuTopTools{border-radius:3px;width:110px;background-color: #fff;color: #000;font-size:15px;box-shadow:0px 0px 10px #000;text-align: left;z-index:200;margin-top:4px;}
.subMenuTopTools .font{padding:6px;border-bottom: 1px solid #bfbfbf;}
.subMenuTopTools .font:hover{background-color:#e6e6e6;}
.subMenuTopTools input{margin:5px 0px 5px 5px;width:70%;float:left;}
.subMenuTopTools div.meassure{color:#fff;font-weight:bold;float:left;width:24px;margin-top: 5px;padding:2px 0px;background-color: #ffa64d;border:1px solid #ffa64d;text-align: center;}
.sub-menu-click-right{z-index:100;position: absolute;background-color: #fff;border-radius:3px;width:110px;box-shadow: 0px 0px 10px rgba(0,0,0,0.6);cursor: pointer;}
.sub-menu-click-right ul li{padding:5px;cursor: pointer;}
.sub-menu-click-right ul li:hover{background-color: #e6e6e6;}


footer.gf-ecm-alerts-container{width:100%;background-color: rgba(0,0,0,1);position: fixed;bottom:0px;z-index: 10;}
header.gf-console-header{text-align: left;padding:5px 0px;}
header.gf-console-header ul li{display:inline;margin-left: 20px;padding:5px;cursor: pointer;color:#fff;font-weight:  bold;}
section.gf-console-body{background-color: #fff;}
.gf-console-body .alert{margin-bottom: 2px !important;border-radius: 0px;padding:5px;padding-left: 27px;font-size:15 !important;}
.gf-console-body .alert span.glyphicon{font-size: 15px;padding-top:3px;float:left;margin-right:5px;}
.gf-console-body .alert .text_alert{float: left;height: 20px;margin:3px 0 0 3px;}
.gf-console-body .alert .remove_this{float: right;cursor: pointer;}
.gf-console-error .remove_this{color: #990000;}
.gf-console-ok .remove_this{color: #47d147;}
.gf-console-warning .remove_this{color: #ff6600;}
.gf-console-error{color: #990000;border-bottom: 2px solid #990000;}
.gf-console-ok{color: #47d147;border-bottom: 2px solid #47d147;}
.gf-console-warning{color: #ff6600;border-bottom: 2px solid #ff6600;}
/*Formulario para editar tamaño type=outline*/
.gf-ecm-form-edition-main{
	animation-name: upForm;
    animation-duration: 0.9s;
	padding-right: 21px;padding-top:10px;
	color:#ddd;width:303px;margin:0px auto;}
.gf-outline-form{padding-top: 20px;border-top:2px solid #fff;margin-left: 9px;}
.gf-outline-form .gf-label-side{border:2px solid #fff;padding:7px;width:80px;text-align: center;border-right:1px solid #fff;color: #fff;}
.gf-outline-form .gf-input-side{border-radius:0px;width: 190px;display:inline;height:38px;margin-left:-4px;border:2px solid #fff;border-left:1px solid #fff;background-color: transparent;color:#fff;}
.gf-ecm-form-outline-buttons button{
	margin-left:0px !important;border-radius:0px;background-color: #fff;
	width:50%;height:40px;float: left;
	background-color: transparent;color:#fff;margin-left: 5px;}
@keyframes upForm {
    from {opacity:0;top: -110px;}
    to {opacity:1;top: 0px;}
}

/*Columnas y Filas*/
.ecm-rack-element-main{
	width:100%;border:1px solid red;
}
.ecm-rack-element-main .ecm-grid-child{
	background-color: rgba(0,0,0,0.7);
	border:1px solid white;
	float:left;transition: 0.5 all;cursor: pointer;
}
.ecm-rack-element-main .ecm-grid-child:hover{
	opacity: 0.6;
}
.ecm-rack-element-main[data-number-grid="3"] > 
.ecm-grid-child[data-magnitude-x="default"]{ width: 33%; }
.ecm-rack-element-main[data-number-grid="3"] > 
.ecm-grid-child[data-magnitude-y="default"]{ height: 33%; }

.ecm-rack-element-main[data-number-grid="2"] > 
.ecm-grid-child[data-magnitude-x="default"]{ width: 50%; }
.ecm-rack-element-main[data-number-grid="2"] > 
.ecm-grid-child[data-magnitude-y="default"]{ height: 50%; }

.ecm-rack-element-main[data-number-grid="4"] > 
.ecm-grid-child[data-magnitude-x="default"]{ width: 25%; }
.ecm-rack-element-main[data-number-grid="4"] > 
.ecm-grid-child[data-magnitude-y="default"]{ height: 25%; }

.ecm-rack-element-main[data-number-grid="5"] > 
.ecm-grid-child[data-magnitude-x="default"]{ width: 20%; }
.ecm-rack-element-main[data-number-grid="5"] > 
.ecm-grid-child[data-magnitude-y="default"]{ height: 20%; }


.ui-resizable .ui-resizable-handle{ opacity:0; }


/*Texto styles*/
#plugin-texto{ margin-top:12;}

/*ESTILO DE LAS INFOGRAFIAS*/
.gf-text-draggable-tag{
	background-color: rgba(0,0,0,0.5);
	
}
.svg-styles-all .current-edition{
	border-left:4px solid  #3D9E8F !important;
}
.svg-styles-all .this-svg-style{
	border-left:4px solid  transparent;background-color: #fff;height: 48px;
	border-bottom: 1px solid #999999;transition: all 1s;
}
.svg-styles-all 
.this-svg-style
label.active-edition{
	width: auto !important; padding-left: 7px !important;
    padding: 0px !important;height: auto !important;font-size: 10px !important;
    transition: all 0.5s;
}
.svg-styles-all 
.this-svg-style
label.title-style-svg{
	position: absolute;
	left: 62px;
	color: #999999;
	background-color: #fff;
	font-size: 16px;
	width: 58%;
	height: 43px;
	padding-top: 11px;
	cursor: text;
	transition: all 0.5s;
}

label.title-style-svg .fill-style-svg{
	height: 40px !important;width: 125px !important; margin-top: -31px;
	border:1px solid red;width:40px;height: 100%;    margin-left: 39px;
}
.fill-tag-color .sp-replacer{
	background-color: transparent !important;
	border: 1px solid transparent !important;
}
.fill-tag-color .sp-replacer .sp-dd{
	opacity: 0 !important;
}
.fill-style-svg .fill-tag-value{ color:#000; float: left;padding:8px 5px; }
.fill-style-svg .fill-tag-color{
	border:1px solid red;width:40px;height: 100%;float: left;padding-top: 3px;
}
.svg-styles-all 
.this-svg-style
div.icon-style-svg{
	float: left;
	width: 44px;
	height: 44px;
	text-align: center;
	font-size: 22px;
	padding-top: 8px;
	color: #bfbfbf;
}
.svg-styles-all 
.this-svg-style
input.value-style-svg{
 	 color: #999999;width:78%;font-size: 16px;padding:10px 3px;float:left;border-color: transparent;
}
.special-svg-color{
	height: 63px !important;padding-top:10px !important;
}
.container_::-webkit-scrollbar-thumb:horizontal {
	overflow: scroll;
	-webkit-border-image: url(scrollbar/thumb-horizontal2.png) 0 15 15 15;
	border-width: 0 15px;
}
.container_::-webkit-scrollbar-thumb:horizontal:hover {
	-webkit-border-image: url(scrollbar/thumb-horizontal2.png) 15 15 0 15;
}

.tools-character-each { column-width: 60px; }


section.tools-character-each figure {
	width:105%;
	background: #fefefe;
	margin: 0 0px 5px -3px;
	padding: 3px;
	display: inline-block;
	column-break-inside: avoid-column !important;
}

section.tools-character-each figure img {
	width: 100%;
}


@media screen and (max-width: 750px) { 
  #to.ls-character-each { column-gap: 0px; }
  #to.ls-character-each figure { width: 100%; }
}
