<script id="textoBase" type="text/template">

<div class="gf-multimedia-global-container  gf-ecm-element-inactive" id="plugin-texto">	
	<header class="title-for-titles">
		<h5 style="font-weight:bold;">Cabeceras</h5>
	</header>
	<div class="gf-ecm-text-section col-xs-4 marginNone gf-bg-1-opacity" data-font-size="h1" data-draggable="clone">
		<div class="gf-ecm-text-show-header">
			<h5 class="title">Título</h5> <p><i>(h1)</i></p>
		</div>
		<section class="gf-ecm-text-input-for-edition gf-ecm-element-inactive">
			<input type="text" style="" class="input-font" value="Título (h1)"/>
		</section>
	</div>
	<div class="gf-ecm-text-section col-xs-4 marginNone gf-bg-1" data-font-size="h2" data-draggable="clone">
		<div class="gf-ecm-text-show-header">
			<h5 class="title">Título</h5> <p><i>(h2)</i></p>
		</div>
		<section class="gf-ecm-text-input-for-edition gf-ecm-element-inactive">
			<input type="text" style="" class="input-font" value="Título (h1)"/>
		</section>
	</div>
	<div class="gf-ecm-text-section col-xs-4 marginNone gf-bg-1-opacity" data-font-size="h3" data-draggable="clone">
		<div class="gf-ecm-text-show-header">
			<h5 class="title">Título</h5> <p><i>(h3)</i></p>
		</div>
		<section class="gf-ecm-text-input-for-edition gf-ecm-element-inactive">
			<input type="text" style="" class="input-font" value="Título (h1)"/>
		</section>
	</div>
	<div class="gf-ecm-text-section col-xs-4 marginNone gf-bg-1" data-font-size="h4" data-draggable="clone">
		<div class="gf-ecm-text-show-header">
			<h5 class="title">Título</h5> <p><i>(h4)</i></p>
		</div>
		<section class="gf-ecm-text-input-for-edition gf-ecm-element-inactive">
			<input type="text" style="" class="input-font" value="Título (h1)"/>
		</section>
	</div>
	<div class="gf-ecm-text-section col-xs-4 marginNone gf-bg-1-opacity" data-font-size="h5" data-draggable="clone">
		<div class="gf-ecm-text-show-header">
			<h5 class="title">Título</h5> <p><i>(h5)</i></p>
		</div>
		<section class="gf-ecm-text-input-for-edition gf-ecm-element-inactive">
			<input type="text" style="" class="input-font" value="Título (h1)"/>
		</section>
	</div>
	<div class="gf-ecm-text-section col-xs-4 marginNone gf-bg-1" data-font-size="h6" data-draggable="clone">
		<div class="gf-ecm-text-show-header">
			<h5 class="title">Título</h5> <p><i>(h6)</i></p>
		</div>
		<section class="gf-ecm-text-input-for-edition gf-ecm-element-inactive">
			<input type="text" style="" class="input-font" value="Título (h1)"/>
		</section>
	</div>
	<div class="clear"></div>

	<header class="title-for-titles">
		<h5 style="font-weight:bold;">Parrafo</h5>
	</header>


	<div class="gf-ecm-text-section col-xs-12 gf-bg-1-opacity" 
	 data-draggable="clone">
		<div class="gf-ecm-text-show-header">
			<h5 class="title">Parrafo</h5>
		</div>
		<section class="gf-ecm-text-input-for-edition gf-ecm-element-inactive">
			<input type="text" class="input-font" value="Parrafo"/>
		</section>
	</div>
</div>
</script>