@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(roboto-light.woff2) format('woff2');
  }
  
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff2) format('woff2');
  }
  
  body {
	  background: $background url(../../img/goldfish_bg.png) 50% 50% repeat;
	  background-size: cover;
	  height: 100%;
  }

body.admin {

	background-color: linear-gradient(to bottom, darken($background,0%) 0%,darken($background,25%) 100%); 

	h1, h2, h3, h4, h5 {
		font-family: $font-stack;
	}

	> .screen {
		background-color: rgba(darken($background, 20%), 0.4);
    }
    
	#components,
	#component,
	#themes,
	#theme,
	#fonts,
	#users {
        margin: 0 0 0 6rem;
		padding: 0 3rem 0 3rem;
		height: 100%;
		box-sizing: border-box;

		> div {
			margin: 0;
			padding: 0;
			height: 100%;
			position: relative;
		}

        h2 {
			margin: 0;
			padding: 0;
			height: 8vh;
			line-height: 8vh;
		}
		
		.save-all {
			position: absolute;
			width: 1.5rem;
			top: 1rem;
			right: 1rem;
		}

		.save-all svg {
			width: 100%;
			height: auto;
			fill: $primaryColor;
		}

        .container {
			display: grid;
			height: 90vh;
			box-sizing: border-box;
            // flex-flow: row wrap;
			// justify-content: space-between;
			grid-template-columns: 100%;
			  grid-template-rows: 10vh auto;
			  grid-gap: 1vw 1vw;
			position: relative;
		}
		
		.container:not(.one) {
			height: auto;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}

        .container > div {
			margin: 0;
            // flex: 1 0 30vw;
			// margin-right: 2vw;
			padding: 1rem 1rem;
			box-sizing: border-box;
			min-height: 10vh;
			max-height: 10vh;
			position: relative;
			display: grid;
			// min-width: 30vw;
		}

		.container.one > div:not(.editor) {
			grid-template-columns: 2fr 1fr;
			grid-template-rows: 50% 50%;
		}

		.container > div:hover {
			border-color: rgba(40,40,40,0.4);
			box-shadow: 0.03vw 0.03vw 0.2vw rgba(0,0,0,0.5);

			> h4 {
				color: $primaryColor;
			}
		}

		.container > div.font {
			// min-height: 12vh;
			max-height: 16vh;
		}

		.container.one > div {
			max-height: none;

			&:hover {
				border-color: rgba(40,40,40,0.4);
			}
		}

		.container > div > h4 {
			margin: 0 0 1rem 1rem;
			transition: color 0.3s;
			grid-row-start: span 2;
		}

		.container > div:not(.editor) > section {
			// position: absolute;
			margin: 0;
			text-align: right;
		}

		.container > div > section .input {
			margin-right: 1vw;
		}

		.container > div .text {
			margin: 0 0 1rem 1rem;
			color: darken($primaryColor-light, 30%);
		}

		.container > div nav {
			position: absolute;
			bottom: 0.2rem;
			right: 1rem;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			align-items: center;
		}

		.container > div nav a {
			position: relative;
			width: 1.5rem;
			margin-left: 1rem;
		}

		.container > div nav a svg {
			width: 100%;
			height: auto;
			fill: $primaryColor;
			transition: fill 0.3s;
		}

		.container > div nav a.disabled svg {
			opacity: 0.5;
			fill: darken($primaryColor-light, 50%);
		}

		.container > div nav a:not(.disabled):hover svg {
			fill: $primaryColor-light;
		}


		
		.container > div .ok {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			width: 1rem;
		}

		.container > div .ok svg {
			width: 100%;
			height: auto;
			fill: $primaryColor;
		}

		.container > button.add {
			-webkit-appearance: none;
			border: 0 none;
			background: transparent;
			width: 1.5vw;
			outline: 0;
			position: absolute;
			bottom: 1vw;
			padding: 0;
			margin: 0;
			right: -1.5vw;
			cursor: pointer;
		}

		.container > button.add svg {
			fill: $primaryColor;
			margin: 0;
			padding: 0;
			width: 1.5rem;
			height: auto;
			transition: fill 0.2s, transform 0.2s;
		}

		.container > button.add:hover svg {
			fill: $primaryColor-light;
			transform: scale(1.2);
		}

		.container > .editor {
			
			align-self: stretch;
			padding: 0;
			grid-column-start: span 2;

			> section {
				display: none;
				padding: 1rem 1rem;
				background-color: rgba(0,0,0,0.5);

				> textarea {
					visibility: hidden;
				}
			}

			.CodeMirror {
				height: 100%;
				background-color: transparent !important;
			}
		}

		[data-tooltip]:before, [data-tooltip]:after {
			background: darken($background, 16%);
			border: 0 none;
			color: $primaryColor-light;
			font-size: 0.8rem;
			box-shadow: none;
			// text-transform: uppercase;
		}
    }
}



#dashboard {

		background: rgba(0,0,0,0.2); 
		border-right: 0 none;
        box-shadow: none;
        width: 6rem;
		margin: 0;
		box-sizing: border-box;
        padding: 1rem 1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;


	.user-profile-pic {
		display: inline;
		width: 29.5%;
		padding: 0.5%;
		margin: 0 35%;
		background-color: #fff;
		border-radius: 50%;
		transform: scale(1);
		transition: $transition-time-normal transform ease-in-out;
	}

	.user-profile-pic:hover {
		transform: scale(1.1);
	}

	h4 {
		color: $primaryColor-light;
		font-size: 1.8rem;
		margin-top: 4vw;
    }
    
    ul {
        background: rgba(0,0,0,0);
        height: auto;
        margin-top: 0;
    }

	ul li {
        border-top: 1px solid rgba(0,0,0,0);
		padding: 0 0;
	}

	ul li a {
		border-top: 0 none;
        border-bottom: 0 none;
        background: rgba(0,0,0,0);
    }

    ul li a svg {
        float: none;
    }
    
    ul li a span {
        display: none;
    }

	ul li a:hover, ul li.active a {
		color: $primaryColor;
		background: rgba(0,0,0,0.2);
	}

	ul li a svg {
		fill: $primaryColor;
		// -webkit-filter: drop-shadow( 0px 0px 5px #000 );
            // filter: drop-shadow( 0px 0px 1px rgba(#000, 0.8) );
        transition: transform 0.3s, opacity 0.3s, right 0.3s;
        width: 2rem;
	}

	ul li a:hover svg {
		// fill: $primaryColor;
		fill: $primaryColor-light;
        transform: scale(1.2);
	}

	ul li a#goldfish:hover svg {
		animation-duration: 1.5s;
		animation-name: logoAnimate;
	}

	ul li.active a:hover svg {
		fill: $primaryColor-light;
	}

	ul li a sup {
		position: absolute;
		right: 0rem;
		top: 0rem;
		border-radius: 0 0 0 2px;
		width: auto;
		height: auto;
		text-indent: -0rem;
		color: $background;
		padding: 0rem 0.6rem 0 0.6rem;
		background-color: lighten($background, 50%);
		vertical-align: middle;
		transition: background-color $transition-time-normal ease-in-out;
		font-size: 1rem;
	}

	ul li a:hover sup {
		background-color: $primaryColor;
		color: $background;
	}



	&:hover {
		background: rgba(0,0,0,0.3); 
    }

    [data-tooltip]:before, [data-tooltip]:after {
        background: darken($background, 16%);
        border: 0 none;
        color: $primaryColor-light;
        font-size: 1.5rem;
        box-shadow: none;
        // text-transform: uppercase;
    }

}


@keyframes logoAnimate {
	from {
		fill: $primaryColor;
		transform: scale(1);
	}

	20% {
		fill: $primaryColor-light;
		transform: scale(100);
		opacity: 0.1;
	}

	30% {
		fill: $primaryColor-light;
		transform: scale(50);
		opacity: 0.3;
	}

	40% {
		fill: $primaryColor-light;
		transform: scale(100);
		opacity: 0.1;
	}
  
	to {
		fill: $primaryColor;
		transform: scale(1);
	}
  }