body {
	background: transparent;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.term {
    border-radius: 1em;
    border: 1px solid #000;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;
    box-shadow: 0.3em 0.3em 0.3em #555;
    -webkit-transition: background-color .2s linear;   
    -moz-transition: background-color .2s linear; 
    transition: background-color .2s linear;   
    background-color: #ccc;
} 

.term:hover {
    background-color: #ff5f5f;
}

.term h2 {
    font-size: 1.5em;
}

#explanation {
    border-radius: 1em;
    border: 1px solid #000;
    padding: 1em;
    box-shadow: 0.3em 0.3em 0.3em #555;
    font-size: 100%;
    background: #fff;
    height: auto !important;
}

#explanation div img {
    display: none;
    width: 100%;
    height: auto;
}

#explanation div {
   /* display: none;*/
}

#explanation #controls {
    display: block;
    height: 2.5em;
    text-align: right;
}

#explanation .img-link {
    font-size: 1.2em;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    display: inline-block;
    margin: 0 0.4em 0.4em 0.4em;
    width: 31px;
    height: 32px;
    background: url(../img/sprites_img.png) 0 0 no-repeat;
    color: #000;
    vertical-align: top;
    outline: none;
}

#explanation .img-link:hover {
    background-position: -31px 0;
}

#explanation .img-link.txt {
    background-position: 0 -32px;
}

#explanation .img-link.txt:hover {
    background-position: -31px -32px;
}

#explanation audio {
    display: none;
}

#explanation #explanation1 {
    display: block;
}

#line-holder {
    position: absolute;
    z-index: -10;
}

.line {
    height: 3px;
    background: #000;
    transform: rotate(45deg); 
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.container-fluid {
   position: relative;

}
a.audio-control {
    display: inline-block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    outline: none;
    text-indent: -9999px;
    background: url(../img/play.svg) 0 0 no-repeat;
    background-size: contain; 

}
a.audio-control.playing {
    background-image: url(../img/pause.svg);
}

/*SOLUCION ERROR #1537*/
#explanation article div {
    display: block;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    width: 85%;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border-color: transparent;
}
blockquote:after {
    content: "\201D";
    font-size: 69px;
    position: absolute;
    top: -20px;
    right: 10px;
    color: #7a7a7a;
}
blockquote:before {
    content: "\201C";
    font-size: 69px;
    position: absolute;
    left: 2px;
    top: -20px;
    color: #7a7a7a;
}
















