

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    height: 100%;
    font-size: 1.5vw;
    font-family: helvetica, verdana, arial, sans-serif;
}

div {
    position: relative;

}

.row-fluid {
    overflow: hidden;
}

body {
    background: transparent;
    height: auto;
}

h1 {
    padding: 2% 2% 2%;
}

.span12 {
}

h1 {
    color: #fff;
}

#letters-container {
    margin: 2% 0;
    padding: 0 0;
    border-radius: 0; 
    background: #fff;
    position: relative;
}

#terms-container, #explanations-container {
    position: relative;
    margin: 0;
    padding: 1% 0;
    border-radius: 0;
    background: #fff;
}

#explanations-container {
    padding: 0 0 2% 0;
    display: none;
    margin-bottom: 1em;
}

#letters {
    list-style: none;
    width: 90%;
    margin: 1% auto;
    overflow: hidden;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

#letters li {
    /*font-size: 150%;*/
    border: none;
    margin: 0;
    /*padding: 0.4em 0;*/
    /*float: left;*/
    text-align: center;
    font-weight: bold;
    /*margin-left: 5px;*/
    /* custom: replace */
}

/* #letters li:focus {
    background: rgba(0,0,0,0.5);
}
 */
#letters span {
    font-weight: normal;
    font-size: 0.7em;
    font-size: 1.6rem;
}

#letters a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.9rem;
    /* custom: replace */
    outline: none;
    transition: color 0.2s, font-size 0.2s;


}

#letters a:hover, #letters a:focus {
    color: #fff !important;
    font-size: 2.2rem;
}

#terms {
    list-style: none;
    margin: 0;
}

#terms-container {
    padding: 0 0 0.5em 0;
    margin-bottom: 1em;
}

#terms-container p {
    background: #2e4045;
    color: #fff;
    display: block;
    padding: 0.8333333333333333em;
    margin: 0 0 0.5em 0;
    font-size: 1.2em;
    font-size: 1.1rem;
    line-height: normal;
}

.link-todos {
    /* visibility: hidden; */
    display: none;
    font-size: 0.833333333333333333em;
}

#terms li {
    display: none;
}

#terms a, #terms span {
    display: block;
}

#terms-container .link-todos, #terms .link-todos:active, #terms .link-todos:visited {
    color: #999;
    text-decoration: none;
}

#terms-container .link-todos:hover {
    color: #fff;
}

.explanation {
    display: none;
    position: relative;
}

.explanation h3 {
    padding: 0.833333333333333333em;
    border-radius: 0; 
    margin: 0 0 0 0;
    overflow: hidden;
    font-size: 1.2em;
    font-size: 1.2rem;
    line-height: 2;
    word-wrap: break-word;
}



.explanation p, .explanation img {
    margin: 1em 2%;
}

.explanation img {
    display: block;
    width: 96%;
}

#terms a {
    display: block;
    padding: 0.1em 5%;
    outline: none;
    word-wrap: break-word;    
    font-size: 1.2rem;
}
#terms a:hover, #terms a:focus {
    background: rgb(75,75,75);
    color: rgb(255,255,255);
    text-decoration: none;
}

a.audio-control {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    outline: none;
    text-indent: -9999px;
    background: url(../img/play.svg) 0 0 no-repeat;
    background-size: contain;
}

a.audio-control.playing {
    background-image: url(../img/pause.svg);
}
/*Arreglando error  #1463*/
#explanations-container > div > div{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

@media (max-width: 767px) {
    #terms-container p {
        font-size: 1.5rem;
    }

    .explanation h3 {
        font-size: 1.5rem;
    }

    #terms a {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    #terms-container p {
        font-size: 11px;
    }

    .explanation h3 {
        font-size: 11px;
    }

    #terms a {
        font-size: 11px;
    }
}