#allContainer{
background-color: #f2f2f2;
}
/*cuerpo*/
section.global-custom-cnt{padding: 10px;overflow: scroll !important;height: 1000px;}
header.rowTitle{
	padding:8px;
	background-color: #ffad33;
	color: #fff;
	margin-bottom: 20px;
	border-bottom: 5px solid #e68a00;
	z-index: -10000000000;}
header.rowTitle > span.icon-tool-option {font-size: 27px;margin-left: 10px;}
header.rowTitle > h4{display: inline;position: relative;top: -5px;margin-left: 5px;}
header.rowTitle > span.icon-showHide-tools{font-size: 27px;margin-left: 10px;float:right;margin-right: 10px;cursor: pointer;}
/*imagen de personaje para chatear*/
#image-user-container{
	width: 117px; height: 120px;
	border-radius: 100px; padding:5px;
	margin:0px auto; border:3px solid #e68a00;
}
#image-user-container > div{
	background-color:#ffad33; border-radius:100px;
	width: 101px; height:104px;
	text-align: center; overflow: hidden;
}
#image-user-container > div.prevBg{
	background-color: transparent; border-radius:0px !important; width: 101px;
	height:104px; text-align: center; overflow: hidden;
}
#image-user-container > div > img{ width: 90px; margin-top: 6px;}
div.snack-container{ border:1px solid transparent !important; margin-top: -55px!important;}
div.snack-container > div.snack-comilla{
	width: 0px;height: 0px;
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
	border-top: 28px solid transparent;
	position: relative;
	top: 33px;margin-left: -3px;
	border-bottom: 30px solid #269900;}	
div.snack-container > div.snack{ padding: 10px; border-radius: 4px;}
.chat-global-Container{ margin-top: 20px;}
div.chat-unique-person > div.this-preson-chat{padding:0px;}
div.chat-unique-person > div.this-preson-chat > div.image-character-chat{
	padding-right:0px; padding-left: 0px;}
.right-snack-person{
	float: right !important;right: 18px !important;}
div.chat-unique-person > div.this-preson-chat > .right-Image-person{
 float: right !important; right: 14px !important;}
div.image-character-chat > #image-user-container{ margin:0px;}
.cnt-snack-chat{ padding-right: 0px;}
.snack-option-btn{margin-top:20px;padding-left: 0px !important; padding:10px;}
.cnt-snack-chat > .snack-container{margin-top: -48px !important;}
.cnt-snack-chat > .snack-container > .snack-comilla{margin-left:16px !important;}
.no-padding{padding: 0px !important;}
#global-cnt-chat{margin-top: 25px; background-color: #e6e6e6;padding:0px;border: 4px solid #ffad33; min-width: 450px;
}
header.rowTitle > h4.title-chat{top:-20px;	left: 3px;}
#emulate-text-whats{padding:0px;background-color: #fff;height: 55px;margin-top: 20px;}
.cont-iconSmile{font-size: 33px;text-align: center;color: gray;}
.cnt-text-edit{font-size: 27px;}
.cnt-text-edit > div{border-bottom: 1px solid gray;}
button.btn-chat{float: right;margin-right: 12px;margin-top: 11px;border-radius: 0px;}
.clear{clear: both !important;}
.hiddeAllPanel{display: none}
.showActivePanel{display: block !important;}
/*edición del audio*/
.globalAudiocnt{border-radius: 100px;}
.cnt-audioDiv{background-repeat: no-repeat !important;}
.allAudios{width: 250px;visibility: hidden;}
#loading-data{ width: 100%; padding: 20px;text-align: center; color: #4db53c;font-size: 25px;}
.bgImgCnt{
	width: 100%; height: 100%;
	background-size: 226px; background-repeat: no-repeat;
	background-position: center;/*izquierda y derecha   arriba y abajo*/
	background-image: url('../files/Nick.png');									
}
/*clases que se añaden al titulo principal de la app*/
.left_{text-align: left;}
.center_{text-align: center;}
.right_{text-align: right;}
.bold_{font-weight: bold;}
.italic_{font-style: italic;}
.Subrayar{text-decoration: underline;}
.Tachado{text-decoration: line-through;}
.iframeFullWidth{width: 100% !important;border:1px solid red;}
#whenEnd{display: none;text-align: center;}

#whenEnd > div{margin-top:20px; border:1px solid #999999;cursor: pointer;transition: all 1s;}
#whenEnd > div > i{font-size: 30px;margin-bottom: 10px;}
#whenEnd > div:hover{ color: #fff; background-color: #3c763d;}

#initApp{
	width: 100%;height:100%;
	position: absolute;top: 0px;
	z-index: 10;
	/*background-image: url('../files/bg.jpg');*/
	background-color: gray;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: 1s all;
	background-repeat: repeat;
} 

#initApp > div{
	background-color:#80d4ff;
	padding:20px;
	position: fixed;
	top:50%;width:100%;
	color:#fff;
	}

.audioCNT{
	background-color:#00cc00;position:absolute;
	bottom:0px;left:100px;width:40px;height:40px;
	text-align:center;border-radius:20px;cursor:pointer;
	z-index: 10;
}

.audioCNT > span{ font-size:18px;margin-left:3px;margin-top:8px; color:#fff;
}
 .right-Image-person-audio{ right: 120px;  left: auto;  z-index: 10; }