<!DOCTYPE html>
<html>
<head>
	<title>::Collage::</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/views/upper.side.bar.css">
	<link rel="stylesheet" type="text/css" href="css/views/console.alerts.css">
	<link rel="stylesheet" type="text/css" href="css/views/left.side.bar.css">
	<link rel="stylesheet" type="text/css" href="css/views/multimedia.plugin.css">
	<link rel="stylesheet" type="text/css" href="css/views/icons.plugin.css">
	<link rel="stylesheet" type="text/css" href="css/views/characters.creator.css">
	<link rel="stylesheet" type="text/css" href="css/views/text.plugin.css"> 
	<link rel="stylesheet" type="text/css" href="css/views/css.plugin.css"> 	

	<link rel="stylesheet" href="../../_common/jquery-file-upload/css/jquery.fileupload.css">
	<link rel="stylesheet" href="lib/jquery/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="lib/semantic/dist/semantic.min.css"/>
	<link rel="stylesheet" type="text/css" href="lib/spectrum/spectrum.css">

	<link rel="stylesheet" type="text/css" href="css/basic.css">

	<script type="text/javascript" src="../../../lib/javascript/common.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script src="../../_common/jquery-file-upload/js/jquery.fileupload.js"></script>

	<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery/jquery-ui.js"></script>
	<script type="text/javascript" src="lib/snap/snap.svg.js"></script>
	<script type="text/javascript" src="lib/semantic/dist/semantic.js"></script>

	<script type="text/javascript" src="js/backbone/underscore.js"></script>
	<script type="text/javascript" src="js/backbone/backbone.js"></script>
	
	<script type="text/javascript" src="lib/spectrum/spectrum.js"></script>
</head>

<body class="container noMargin noPadding">
	<section class="row" style="border:1px solid red;height:450px;margin-left:-1px;width:100%;">
		<!--MENU SUPERIOR-->
		<header id="upper-side-bar" class="upper-side-bar-header col-xs-12 paddingNone"> </header>
		<!--MENU LATERAL IZQUIERDO-->
		<aside class="left-side-bar" id="side-left-menu"></aside>
		<!--CUERPO-->
		<section id="window-edition" style="width: 90%;" data-global-zindex="0" class="window-edition-global" data-selected="false">

		<!--<svg width="5cm" height="4cm" version="1.1"
		     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<image xlink:href="files/icons/icon1.svg" x="0" y="0" height="50px" width="50px"/>
		</svg>

		<svg width="350px" height="350px" version="1.1"
		     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<image xlink:href="files/recursos/Personajes/1523885791257-character.svg" x="0" y="0" height="350px" width="350px"/>
		</svg>-->

		<!--<svg viewBox="0 0 200 200" width="100px" height="100px" style="fill:red;">
			<use xlink:href="files/icons/icon1.svg#icons"></use>
		</svg>-->

		 </section>
		<!--MODAL-->
		<section id="modal-box" class="ui basic modal modal-config"> </section>

		<footer class="console">
			<header class="console-header"> <h5>Consola:</h5> </header>
			<section class="console-body" id="console-body"> </section>
		</footer>
		<div class="clear"></div>	
	</section>
</body>




	<!--upper.side.bar.html-->
<script type="text/template" id="upperSideBar">
	<div class="tooltip element-inactive"> ... </div>
	<nav>
		<ul>
			<li class="tool" data-tool-tip-text="Copiar">
				<span class="glyphicon glyphicon-copy"></span>
			</li>
			<li class="tool" data-tool-tip-text="Pegar"> 
				<span class="glyphicon glyphicon-paste"></span>
			</li>
			<li class="tool" data-tool-tip-text="Cortar"> 
				<span class="glyphicon glyphicon-scissors"></span>
			</li>
			<li class="tool" data-tool-tip-text="Eliminar"> 
				<span class="glyphicon glyphicon-trash"></span>	
			</li>
			<li class="tool data-submenu-inactive" data-tool-tip-text="Organizar"> 
				<span class="glyphicon glyphicon-indent-left"></span>
				<div class="sub-menu-upper element-inactive">
					<div class="tool sub-menu-tool" data-action="toUp">
						<span class="glyphicon glyphicon-arrow-up"></span> Adelante
					</div>
					<div class="tool sub-menu-tool" data-action="toDown">
						<span class="glyphicon glyphicon-arrow-down"></span> Atras
					</div>
				</div>
			</li>
			<li class="tool color-option" data-tool-tip-text="Color de fondo" data-color-picker="fondo"> 
				<span class="glyphicon glyphicon-text-background"></span>
				<input type='text' id="bg-color" class="color-option-input" />
			</li>
			<li class="tool color-option" data-tool-tip-text="Color de letra" data-color-picker="letra"> 
				<span class="glyphicon glyphicon-text-color"></span>
				<input type='text' id="txt-color" class="color-option-input" />
			</li>
		</ul>
		
	</nav>
</script>




<script type="text/template" id="bottomAlert">
	<div class="<%= classA %>  alert" id="">
		<span class="glyphicon <%= icon %>"></span>
			<div class="text_alert"><%= text %></div>
			<div class="remove_this">
				<span class="glyphicon glyphicon-trash"></span>
			</div>
		<div class="clear"></div>
	</div>
</script>



<!--PLUGIN VIEW-->
<script type="text/template" id="left-side-bar">
	<ul>
		<li class="left-tool" data-width-edition-panel="250" title="Multimedia" data-view="Multimedia">
				<div class="left-tool-item">
					<div class="tool-icon">
						<span class="glyphicon glyphicon-film"></span>
					</div>
						<header> <h6>Multimedia</h6> </header>
				</div>
		</li>
		<li class="left-tool" data-width-edition-panel="250" title="Iconos" data-view="icons">
			<div class="left-tool-item">
					<div class="tool-icon">
						<i class="star icon"></i>
					</div>
						<header> <h6>Iconos</h6> </header>
				</div>
		</li>
		<li class="left-tool" data-width-edition-panel="250" title="Texto" data-view="text">
				<div class="left-tool-item">
					<div class="tool-icon">
						<i class="font icon"></i>
					</div>
						<header> <h6>Texto</h6> </header>
				</div>
		</li>
		<li class="left-tool" data-width-edition-panel="250" title="Estilos" data-view="css">
				<div class="left-tool-item">
					<div class="tool-icon">
						<i class="magic icon"></i>
					</div>
						<header> <h6>Estilos</h6> </header>
				</div>
		</li>
	</ul>

	<article class="left-side-bar-edition col-xs-5 element-inactive" id="gf-ecm-body-lateral-menu" >
		<header class="close" id="close">
					<span class="glyphicon glyphicon-remove"></span>
		</header>
		<section id="gf-ecm-config-lateral-menu"></section>
	</article>
</script>
<!--END PLUGIN VIEW-->









<script type="text/template" id="view-multimedia">
<section class="plugins element-inactive" id="view-multi-section">
	<h5 class="name-plugin">Recursos:</h5>
	<div class="gf-multimedia-global-container" id="plugin-multimedia">
	<div class="ui secondary pointing menu">
		  <a class="item active multi-item" data-sub-menu-child="image-upload">
		    Subir
		  </a>
		  <a class="item multi-item" data-sub-menu-child="convert-to-audio">
		    Generar
		  </a>
	</div>

	<section class="multimedia-tools ui segment">
	 	<div id="image-upload" class="tools animation-left">
			<button class="btn btn-primary fileinput-button" id="char-upload">
				<span class="glyphicon glyphicon-cloud-upload icon-tool"></span>
					<br>
					<span> Subir Recursos </span>
				<input id="sound-chat" type="file" name="files[]" class="char-upload" multiple="">
			</button>

			<div id="progress-resources" class="progress">
				<div class="progress-bar progress-bar-success"></div>
			</div>  
			<div class="clear"></div>	
		</div>

		<div id="convert-to-audio" class="tools element-inactive animation-left">	
			<section class="text-converter">
				<div class="content-border">
					<div class="icon-tool-converter">
						<span class="glyphicon glyphicon glyphicon-user"></span>	
					</div>
					<div class="selected-type-converter">
						<select id="gender">
							<option value="0">Masculino</option>
							<option value="1">Femenino</option>
						</select>
					</div>
							<div class="clear"></div>
				</div>
				
				<div class="content-border">
				<div class="icon-tool-converter">
					<span class="glyphicon glyphicon glyphicon-flag"></span>	
				</div>
					<div class="selected-type-converter">
						<select id="lang">
							<option value="es">Español</option>
							<option value="en">Ingles</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>

			<div class="slider-tools-converter content-border">
				<div class="cnt-slider"> <h5>Velocidad : <i class="">170</i></h5> </div>
				<div class="slider"> <input type="range" id="speed" value="170" min="1" max="500"> </div>
					<div class="clear"></div>
			</div>

			<div class="slider-tools-converter content-border">
				<div class="cnt-slider"> <h5> Tono : <i class="">10</i> </h5></div>
				<div class="slider"> <input type="range" id="tono" value="10" min="1" max="100""> </div>
					<div class="clear"></div>
			</div>

			<div class="text-generate-container content-border">
				<div class="title"> <h5> Texto </h5> </div>
					<div class="input-text-generate"> 
						<textarea rows="4" cols="50" class="textarea-to-generate"></textarea>
					</div>
						<div class="clear"></div>
					</div>	
	</section>
		<div>
			<button class="btn btn-default btn-generate" id="generate-audio"> Generar </button>
		</div>
	</div>
</section>

</div>

	<button class="btn btn-default" id="imgtest"> Probar Imagen </button>
	<button class="btn btn-default" id="audiotest"> Probar Audio </button>
</section>
</script>














<!--CREACIÓN DE PERSONAJES-->
<script type="text/template" id="view-icons">
	<div class="plugins element-inactive" id="plugin-icons">

	<header class="edition-header">
		<div class="return element-inactive"> <i class="chevron left icon return-gallery"></i> </div>
			<h5>Materiales:</h5>
	</header>
	<!--Menu principal-->
		<nav class="menu-galleries behind-stage animation-left" id="main-menu-gallery">
			<ul class="menu">
				<li class="show-galleries" data-child-show="Iconos">
					<div class="icon"><span class="glyphicon glyphicon-bell"></span></div>
					<div class="title">Iconos</div>
				</li>
				<li class="show-galleries sub-menu-hidden" data-child-show="gf-gallery-show">
					<div class="icon"><span class="glyphicon glyphicon-user"></span></div>
					<div class="title">Personajes</div>
				</li>
				<li class="show-galleries" data-child-show="recursos-gallery">
					<div class="icon"><span class="glyphicon glyphicon-picture"></span></div>
					<div class="title">Imagenes</div>
				</li>
			</ul>
		</nav>
	<!--MENU PERSONAJES-->
		<nav class="menu-galleries behind-stage element-inactive animation-left" id="gf-gallery-show">
			<ul class="menu only-two">
				<li class="show-galleries" data-child-show="character-gallery">
					<div class="icon"><span class="glyphicon glyphicon-th"></span></div>
					<div class="title">Galeria</div>
				</li>
				<li class="show-galleries" data-disapear="true">
					<div class="icon"><span class="glyphicon glyphicon-plus"></span></div>
					<div class="title">Nuevo</div>
				</li>
			</ul>
		</nav>

	<section class="galleries">
			<!--GALLERIA DE ICONOS-->
			<div class="gallery behind-stage element-inactive animation-left" id="Iconos">
				<!--filtro-->
				<div class="filter-gallery">
					<div class="icon-filter">
						<span class="glyphicon glyphicon-filter"></span>
					</div>		
					<div class="title-info_">
						Estilo: 
					</div>
					<div class="ui selection dropdown for-filter full">
						<input type="hidden" name="style-char" id="filter-style-character" value="flat">
						<i class="dropdown icon"></i>
						<div class="default text">Todos</div>
						<div class="menu menu-filter-main icons-filter">
							<div class="item" data-value="flat">Flat</div>
							<div class="item" data-value="realist">Realista</div>
						</div>
					</div>
				</div>

				<ul class="collection-gallery" id="gallery-icons-list">
					<li class="draggable-initial drag-icons" data-style-icon="flat">
						<img src="files/icons/icon1.svg" draggable="false"/>
					</li>
					<li class="draggable-initial drag-icons" data-style-icon="flat">
						<img src="files/icons/icon2.svg" draggable="false"/>
					</li>
					<li class="draggable-initial drag-icons" data-style-icon="flat">
						<img src="files/icons/icon3.svg" draggable="false"/>
					</li>
					<li class="draggable-initial drag-icons" data-style-icon="flat">
						<img src="files/icons/icon4.svg" draggable="false"/>
					</li>
				</ul>
			</div>
			<!--GALLERIA DE IMAGENES-->
			<div class="gallery behind-stage element-inactive animation-left" id="recursos-gallery">
				<!--filtro
				<div class="filter-gallery"> 
					<div class="icon-filter">
						<span class="glyphicon glyphicon-filter"></span>
					</div>		
					<div class="ui selection dropdown for-filter">
						<input type="hidden" name="style-char" id="" value="flat">
						<i class="dropdown icon"></i>
						<div class="default text">Todos</div>
						<div class="menu menu-filter-main">
							<div class="item" data-value="flat">Flat</div>
							<div class="item" data-value="realist">Realista</div>
						</div>
					</div>
							
					<div class="ui selection dropdown for-filter">
						<input type="hidden" name="style-char" id="" value="flat">
						<i class="dropdown icon"></i>
						<div class="default text">Todos</div>
						<div class="menu menu menu-filter-main">
							<div class="item" data-value="girl">Niña</div>
							<div class="item" data-value="boy">Niño</div>
							<div class="item" data-value="male">Hombre</div>
							<div class="item" data-value="female">Mujer</div>
						</div>
					</div>
				</div>-->

				<ul class="collection-gallery">
					<li class="draggable-initial drag-resource">
						<img src="files/img/space1.jpg" draggable="false"/>
					</li>
					<li class="draggable-initial drag-resource">
						<img src="files/img/space2.jpg" draggable="false"/>
					</li>
					<li class="draggable-initial drag-resource">
						<img src="files/img/space3.jpg" draggable="false"/>
					</li>
					<li class="draggable-initial drag-resource">
						<img src="files/img/space4.jpg" draggable="false"/>
					</li>
				</ul>
			</div>
			<!--GALLERIA DE PERSONAJES-->
			<div class="gallery behind-stage element-inactive animation-left" id="character-gallery">
				<!--Opciones click izquierdo-->
				<div class="options element-inactive" id="char-menu-contextmenu">
					<ul>
						<li class="item" data-action="custom">
							<span class="glyphicon glyphicon-cog"></span> Personalizar
						</li>
						<li class="item" data-action="remove">
							<span class="glyphicon glyphicon-trash"></span> Eliminar
						</li>
					</ul>
				</div>

		<section class="gallery animation-left">
				<!--filtro-->
				<div class="filter-gallery"> 
					<div class="icon-filter">
						<span class="glyphicon glyphicon-filter"></span>
					</div>		
					<div class="ui selection dropdown for-filter filter-chars">
						<input type="hidden" name="style-char" id="st-character" value="flat">
						<i class="dropdown icon"></i>
						<div class="default text">Todos</div>
						<div class="menu menu-filter-main">
							<div class="item" data-value="flat">Flat</div>
							<div class="item" data-value="realist">Realista</div>
						</div>
					</div>
							
					<div class="ui selection dropdown for-filter filter-chars">
						<input type="hidden" name="style-char" id="gd-character" value="girl">
						<i class="dropdown icon"></i>
						<div class="default text">Todos</div>
						<div class="menu menu menu-filter-main">
							<div class="item" data-value="girl">Niña</div>
							<div class="item" data-value="boy">Niño</div>
							<div class="item" data-value="male">Hombre</div>
							<div class="item" data-value="female">Mujer</div>
						</div>
					</div>
				</div>
				<!--Inicio de la galeria-->
				<ul class="collection-gallery tooltip-avalaible" id="gallery-chars"> 
					<li class="draggable-initial drag-resource" data-type-filter="flat" data-gender-filter="female">
						<img src="files/recursos/Personajes/uno.svg" draggable="false">
					</li>
					<li class="draggable-initial drag-resource" data-type-filter="flat" data-gender-filter="male">
						<img src="files/recursos/Personajes/dos.svg" draggable="false">
					</li>
					<li class="draggable-initial drag-resource" data-type-filter="flat" data-gender-filter="female">
						<img src="files/recursos/Personajes/tres.svg" draggable="false">
					</li>
					<li class="draggable-initial drag-resource" data-type-filter="flat" data-gender-filter="female">
						<img src="files/recursos/Personajes/cuatro.svg" draggable="false">
					</li>
					<li class="draggable-initial drag-resource" data-type-filter="flat" data-gender-filter="male">
						<img src="files/recursos/Personajes/personaje.svg" draggable="false">
					</li>
					<li class="draggable-initial drag-resource" data-type-filter="flat" data-gender-filter="male">
						<img src="files/recursos/Personajes/base1.svg" draggable="false">
					</li>
					<li class="draggable-initial drag-resource" data-type-filter="flat" data-gender-filter="male">
						<img src="files/recursos/Personajes/base2.svg" draggable="false">
					</li>
					<li class="draggable-initial drag-resource" data-type-filter="flat" data-gender-filter="male">
						<img src="files/recursos/Personajes/base3.svg" draggable="false">
					</li>
				</ul>
				<div class="clear"></div>			
		</section>
</div>
					</section>
				</section>
			</div>
	</section>
</div>

</script>

<script type="text/template" id="character">
	<i class="close icon close-header"></i>
	<section id="creator-character-global">

		<header class="col-xs-12 noPadding removing-selection">
			<div class="col-xs-3 noPadding">
				<div class="creator-menu">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</div>
					<h4> Crear personaje </h4>
			</div>
			<div class="creator-selected-tools-options">
			
				<div class="option-for-selected" id="delete-customer-svg">
					<span class="glyphicon glyphicon-trash"></span>
				</div>
			</div>
		</header>

	<div class="first-section noPadding" data-tab="create-character">
		<div class="col-xs-12 noPadding second-edition">
			<div class="col-xs-3 noPadding options">
					<div class="ui styled fluid accordion">
			
				  <div class="title active">
				    <i class="dropdown icon"></i>
				    Filtros.
				  </div>


  <div class="content active">
    <p class="transition visible">
		<nav class="create-selects-nav-main">
			<ul>
				<li>
					<div class="title_"> <i class="user icon"></i> </div>
					<div class="ui selection dropdown">
						<input type="hidden" name="style-char" id="style-char" value="default">
						<i class="dropdown icon"></i>
						<div class="default text">Tipo</div>
							<div class="menu menu-filter">
							  	<div class="item" data-value="default">Tipo</div>
							    <div class="item" data-value="flat">Flat</div>
							    <div class="item" data-value="realist">Realista</div>
							 </div>
					</div>
				</li>
				
				<li>
					<div class="title_"> <i class="venus mars icon"></i> </div>
					<div class="ui selection dropdown">
						<input type="hidden" name="type-char" id="gender-char" value="default">
						<i class="dropdown icon"></i>	
						<div class="default text">Genero</div>
							<div class="menu menu-filter">
							  	<div class="item" data-value="default">Genero</div>
							    <div class="item" data-value="girl">Niña</div>
							    <div class="item" data-value="boy">Niño</div>
							    <div class="item" data-value="male">Hombre</div>
							    <div class="item" data-value="female">Mujer</div>
							</div>
					</div>
				</li>

				<li>
					<div class="title_"> <i class="meh icon"></i> </div>
					<div class="ui selection dropdown">
					 <input type="hidden" name="emotion-char" id="emotion-char" value="Emocion">
					 <i class="dropdown icon"></i>
						<div class="default text">Emoción</div>
							<div class="menu menu-filter">
							  	<div class="item" data-value="Emocion">Emoción</div>
							    <div class="item" data-value="happiness">Felicidad</div>
							    <div class="item" data-value="anger">Enojo</div>
							    <div class="item" data-value="sadness">Tristeza</div>
							</div>
						</div>
				</li>
			</ul>
		</nav>
    </p>
    <div class="clear"></div>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
    Animaciones.
  </div>

<div class="content noPadding">
  		<div class="ui toggle checkbox col-xs-12 noPadding accordeon-animation" 
  			 id="hablar"  data-reproduction="true"  data-velocity="6"  data-event="false">
		    <div class="animations-lists">
			    <input  type="checkbox" 
			    		name="public" 
			    		class="checkbox_input checkBoxAnimation"
			    		data-svg-exits="mouths">
					<label class="hiddenTitle"></label>
					<h5 class="list-title">Hablar</h5>	
			</div>

			<div class="animations-options-tools">
			    <div class="tools" title="Probar">
			    	<span class="glyphicon glyphicon-flash start-prev-naimation" 
			    		  data-svg-exits="mouths"
			    		  data-parent="hablar"></span>
			    </div>
			    <div class="tools editAnimOptions" title="Editar" data-parent="hablar">
			    	<span class="glyphicon glyphicon-edit"></span>
			    </div>
			</div> 
			    <div class="clear"></div>

	<div class="tooltip-customer-options element-inactive" id="basic-animation-tooltip">
		<header class="close-tooltip-animation"> 
			<h5>Edición</h5> <span class="close ">x</span> 
		</header>
			    	
		<section>
			<div class="edition-tooltip">
			    <div class="title-tooltip">
			    	<i class="retweet icon"></i> 
			    	<span class="tool-text">Repetir</span>
			    </div>
			    <div class="option-tooltip">
			    	<div class="ui read-only checkbox checkbox_">
							<input type="checkbox" id="repeat-config"> <label></label>
					</div>
			    </div>
			</div>

			<div class="edition-tooltip">
			    <div class="title-tooltip">
			    	<i class="glyphicon glyphicon-flash"></i> 
			    	<span class="tool-text">Velocidad</span>
			    </div>
			    <div class="option-tooltip case-especial">
			    	<div class="ui input focus">
						<input type="number" placeholder="1" class="meassure_" id="velocity-config">
					</div>
			    </div>
			</div>

			<div class="edition-tooltip">
			    <div class="title-tooltip">
			    	<i class="power off icon"></i> 
			    	<span class="tool-text">Click</span>
			    </div>
			    <div class="option-tooltip">
			    	<div class="ui read-only checkbox checkbox_">
						<input type="checkbox" id="event-config"> <label></label>
					</div>
			    </div>
			</div>
		</section>
			    	
		<footer>
			<button class="btn btn-default save-config-animation">
			    Guardar cambios
			</button>
		</footer>
	 </div>
		</div>

		
		<div 
			class="ui toggle checkbox col-xs-12 noPadding accordeon-animation" 
			id="parpadear" data-reproduction="false" data-velocity="1" data-event="false">
		    <div class="animations-lists">
			    <input type="checkbox" 
			    	   name="public"
			    	   class="checkbox_input checkBoxAnimation"
			    	   data-svg-exits="eyes">
					<label class="hiddenTitle"></label>
					<h5 class="list-title">Parpadear</h5>	
			</div>

			<div class="animations-options-tools">
			    <div class="tools " title="Probar">
			    	<span class="glyphicon glyphicon-flash start-prev-naimation" 
			    		  data-svg-exits="eyes"
			    		  data-parent="parpadear"></span>
			    </div>
			    <div class="tools editAnimOptions" title="Editar" data-parent="parpadear">
			    	<span class="glyphicon glyphicon-edit"></span>
			    </div>
			</div> 
			    <div class="clear"></div>
		</div>

</div>
 <div class="clear"></div>

	<div class="title">
	    <i class="dropdown icon"></i> Colores
	</div>

	<div class="content" >
	    <div class="color-section">  </div>

	    <button class="btn btn-default listing-css-svg" id="listingCss">
	    		Listar colores.
	    </button>
	 </div>
 <div class="clear"></div>

		 <div class="title">
		    <i class="dropdown icon"></i> Estilos
		</div>

		<div class="content">

		  	<!--
		  	<div class="col-xs-12 stiles-control">
		    	<h5>Rotación:</h5>
			    	<div class="col-xs-4 stiles-control-title">Ángulo</div>
			   		<div class="ui input col-xs-8 noPadding stiles-control-input">
					  <input type="number" placeholder="0" class="noRadius " 
					  	 	 data-transformation="rotate" step="1" min="0" max="360">
					</div>
		    </div>-->

		     <div class="col-xs-12 stiles-control">
		     	<h5>Tamaño</h5>
		    	<div class="col-xs-4 stiles-control-title">Ancho</div>
			   		<div class="ui input col-xs-8 noPadding stiles-control-input">
					  <input type="number" value="1" class="noRadius  stiles-control-scale-x" data-transformation="scale" step="0.1" min="0.1" max="1">
					</div>
				<div class="col-xs-4 stiles-control-title">Alto</div>
			   		<div class="ui input col-xs-8 noPadding stiles-control-input">
					  <input type="number" value="1" class="noRadius stiles-control-scale-y"
					  		 data-transformation="scale" data-direction="y" step="0.1" min="0.1" max="1">
					</div>
		    </div>
		    
		     <div class="clear"></div>
		 </div>

	</div>
</div>
	<!--preview del personaje -->
	<div class="col-xs-5 noPadding preview-custom-character" id="preview-custom-character">
		<svg id="customer-character" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="enable-background:new 0 0 522 552;width:389px;height:370px" xml:space="preserve"><!-- width: 389px; height: 392px;-->
			<g></g>
		</svg>
	</div>
    <!-- lateral derecho del panel -->
	<div class="col-xs-4 character-lateral-right-panel">
		 <!--Inicio del filtro -->
		 <div class="ui fluid selection dropdown features-filter" tabindex="0">
			<input type="hidden" name="user" id="filter-tools">
				<i class="dropdown icon" tabindex="0">
					<div class="menu" tabindex="-1"></div>
				</i>
			<div class="default text">Herramientas</div>
				<div class="menu menu-filter" tabindex="-1">
					<div class="item" data-value="hair"> Cabello </div>
					<div class="item" data-value="eyes"> Ojos </div>
					<div class="item" data-value="nose"> Nariz </div>
					<div class="item" data-value="mouths">  Boca </div>
					<div class="item" data-value="ears"> Oidos </div>
					<div class="item" data-value="faces"> Cara </div>
					<div class="item" data-value="accesories">  Accesorios </div>
				</div>
		</div>
		<!--elelemntos de los personajes-->
		<section class="custom-list-sets" id="features"">
		</section>
	</div>
	</div>
</div>
	<div class="clear"></div>
</section>

	<!--Botonera al final del modal-->
	<footer class="modal-keypad">
	    <div class="ui black deny button cancel"> Cancelar </div>
	    <div class="ui right deny button save" id="save-complete-svg">  Guardar </div>
	</footer>
</script>
<!--FIN CREACIÓN DE PERSONAJES-->

<!--Ventana principal de edición-->
<script type="text/template" id="view-window-main">

	<div class="selected-window-tool">
		<nav class="window-menu show-menu"> 
			<span class="glyphicon glyphicon-menu-hamburger"></span>
		</nav>
		<section class="window-options element-inactive">
			<ul class="window-options-list">
				<li class="item-option" data-action='select'>
					<div class="this-option-icon">
						<i class="object group outline icon"></i>
					</div> Seleccionar
				</li>
				<li class="item-option" data-action='getId'>
					<div class="this-option-icon">
						<i class="crosshairs icon"></i>
					</div> Obtener <span class="special">id</span>
				</li>
				<li class="item-option" data-action='meassure' data-info="false">
					<div class="this-option-icon">
						<i class="pencil alternate icon"></i>
					</div> Unidad <span class="special" id="unity-window">px</span>
				</li>
				<li class="item-option" data-action='deselectAll'>
					<span class="special" > 
						Deseleccionar 
					</span>
				</li>
			</ul>
		</section>
	</div>
	

	<div class="sub-menu-click-right element-inactive" id="main-contextmenu">
		<ul>
			<li class="gf-ecm-tool gf-select-tool even" data-action="Copiar">
				<span class="glyphicon glyphicon-copy"></span> Copiar
			</li>
			<li class="gf-ecm-tool" data-action="Pegar"> 
				<span class="glyphicon glyphicon-paste"></span> Pegar
			</li>
			<li class="gf-ecm-tool" data-action="Cortar"> 
				<span class="glyphicon glyphicon-scissors"></span> Cortar
			</li>
			<li class="gf-ecm-tool" data-action="Eliminar"> 
				<span class="glyphicon glyphicon-trash"></span>	 Eliminar
			</li>
			<li class="gf-ecm-tool block" data-action="Bloquear"> 
				<i class="settings icon"></i> Estilos
			</li>
			<li class="gf-ecm-tool block close-menu" data-action="Bloquear" style="background-color:#3D9E8F;color:#fff;text-align: center;border-top:4px solid #2b6e64;"> 
				Cerrar
			</li>
		</ul>
	</div>


</script>
<!--Ventana principal de edición-->

<script type="text/template" id="text-plugin">
	<section class="plugins element-inactive animation-left" id="view-text-plugin">	
		<header class="title-text"> <h5>Cabeceras</h5> </header>
			<div class="panel-text col-xs-4 draggable-initial" data-font-size="h1">
				<div class="text-header">
					<h5 class="title">Título</h5> <p><i>(h1)</i></p>
				</div>
			</div>
			<div class="panel-text col-xs-4 draggable-initial" data-font-size="h2">
				<div class="text-header">
					<h5 class="title">Título</h5> <p><i>(h2)</i></p>
				</div>
			</div>
			<div class="panel-text col-xs-4 draggable-initial" data-font-size="h3">
				<div class="text-header">
					<h5 class="title">Título</h5> <p><i>(h3)</i></p>
				</div>
			</div>
			<div class="panel-text col-xs-4 draggable-initial" data-font-size="h4">
				<div class="text-header">
					<h5 class="title">Título</h5> <p><i>(h4)</i></p>
				</div>
			</div>
			<div class="panel-text col-xs-4 draggable-initial" data-font-size="h5">
				<div class="text-header">
					<h5 class="title">Título</h5> <p><i>(h5)</i></p>
				</div>
			</div>
			<div class="panel-text col-xs-4 draggable-initial" data-font-size="h6">
				<div class="text-header">
					<h5 class="title">Título</h5> <p><i>(h6)</i></p>
				</div>
			</div>
			<div class="clear"></div>

			<header class="title-text"> <h5>Parrafo</h5> </header>

			<div class="panel-text col-xs-12 draggable-initial" data-font-size="p">
				<div class="text-header">
					<h5 class="title">Parrafo</h5>
				</div>
			</div>
	</section>
</script>

<script type="text/template" id="css-plugin">
	<section class="plugins element-inactive animation-left" id="view-css-plugin">
		<h5 class="name-plugin">Estilos:</h5>
		<section class="availables-css">
			<div class="ui secondary pointing menu" id="css-menu">
			  <a class="item active" data-tab="padding">Padding</a>
			  <a class="item" data-tab="size">Tamaño</a>
			  <a class="item" data-tab="rotation">Rotación</a>
			  <a class="item" data-tab="borde">Borde</a>
			</div>

		<div class="css-behind-stage ui bottom attached tab segment active css-properties-edition animation-left" data-tab="padding">

			<div class="form-group css-group">
			    <div for="email" class="css-group-title"> Global: </div>
			    <div class="ui input focus css-group-editable">
				  <input type="number" placeholder="0" min="0" max="30" class="cssPadding" data-ref-style="complete" id="paddingGlobal">
				</div>
				<div class="css-group-link" data-show="paddingEachTools" data-active="false"  id="changeToMultiPadding">
					<i class="linkify icon"></i>
				</div>
			</div>

			<section class="unlinkProperties paddingProperties element-inactive animation-left" id="paddingEachTools">
				<div class="form-group css-group">
				    <div for="email" class="css-group-title"> Arriba: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="30" class="cssPadding" data-style-attr="padding-top" value="0"  id="paddingTop">
					</div>
					<div class="css-group-link twoTypeIcons">
						<span class="glyphicon glyphicon-arrow-up"></span>
					</div>
				</div>
				<div class="form-group css-group">
				    <div for="email" class="css-group-title"> Abajo: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="30" class="cssPadding" data-style-attr="padding-bottom" value="0"  id="paddingBottom">
					</div>
					<div class="css-group-link twoTypeIcons">
						<span class="glyphicon glyphicon-arrow-down"></span>
					</div>
				</div>
				<div class="form-group css-group">
				    <div for="email" class="css-group-title"> Derecha: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="30" class="cssPadding" data-style-attr="padding-right" value="0"  id="paddingRight">
					</div>
					<div class="css-group-link twoTypeIcons">
						<span class="glyphicon glyphicon-arrow-right"></span>
					</div>
				</div>
				<div class="form-group css-group">
				    <div for="email" class="css-group-title"> Izquierda: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="30" class="cssPadding" data-style-attr="padding-left" value="0"  id="paddingLeft">
					</div>
					<div class="css-group-link twoTypeIcons">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</div>
				</div>
			</section> 
		</div>
			

		<div class="css-behind-stage ui bottom attached tab segment css-properties-edition animation-left" data-tab="size">

				<div class="form-group css-group">
					<div for="email" class="css-group-title"> Ancho: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="1000" class="sizeCss" data-size-attr="width" value="0" id="sizeWidthCss">
					</div>
					<div class="css-group-link twoTypeIcons">
						<span class="glyphicon glyphicon-fullscreen"></span>
					</div>
				</div>

				 <div class="form-group css-group">
				    <div for="email" class="css-group-title"> Alto: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="1000" class="sizeCss" data-size-attr="height" value="0" id="sizeHeightCss">
					</div>
					<div class="css-group-link twoTypeIcons">
						<span class="glyphicon glyphicon-fullscreen"></span>
					</div>
				</div>

		</div>


		<div class="css-behind-stage ui bottom attached tab segment css-properties-edition animation-left" data-tab="rotation">
				
			<div class="form-group css-group">
				<div for="email" class="css-group-title"> Rotación: </div>
				<div class="ui input focus css-group-editable">
					<input type="number" placeholder="-360" min="0" max="360" value="0" id="css-rotate-grades">
				</div>
				<div class="css-group-link twoTypeIcons " data-sibling="padding">
					<span class="glyphicon glyphicon-repeat"></span>
				</div>
			</div>

		</div>

		<div class="css-behind-stage ui bottom attached tab segment css-properties-edition animation-left" data-tab="borde">

			 <div class="form-group css-group">
			    <div for="email" class="css-group-title"> Ancho: </div>
			    <div class="ui input focus css-group-editable">
				  <input type="number" placeholder="0" min="0" max="10" class="cssBorderRadius" id="weightBorder">
				</div>
				<div class="css-group-link">
					<i class="linkify icon"></i>
				</div>
			</div>

			<div class="form-group css-group">
			    <div for="email" class="css-group-title"> Color: </div>
			    <div class="ui input focus css-group-editable">
					<input type="text" placeholder="#FFFFFFF" min="0" max="10" value="#FFFFFFF" class="cssBorderRadius" disabled="disabled" id="colorBorder">
				</div>
				<div class="css-group-link color-input" data-sibling="padding">
					<input type='text' id="border-color" class="cssBorderRadius" value="#FFFFFF"/>
				</div>
			</div>

			<div class="form-group css-group">
			    <div for="email" class="css-group-title"> Curva: </div>
			    <div class="ui input focus css-group-editable">
				  <input type="number" placeholder="0" min="0" max="10" id="borderRadiusCss" class="cssBorderRadius" data-ref-style="complete">
				</div>
				<div class="css-group-link" data-show="curveBorderEachTools"  id="changeToMultiCurve">
					<i class="linkify icon"></i>
				</div>
			</div>

			<section class="unlinkProperties paddingProperties element-inactive" id="curveBorderEachTools">
				<div class="form-group css-group">
				    <div for="email" class="css-group-title"> Arriba Iz: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="500" data-style-border="border-top-left-radius" class="cssBorderRadius" id="RadiusTopLeft">
					</div>
					<div class="css-group-link twoTypeIcons" data-sibling="padding">
						<span class="glyphicon glyphicon-arrow-up"></span>
					</div>
				</div>
				<div class="form-group css-group">
				    <div for="email" class="css-group-title"> Arriba Der: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="500" data-style-border="border-top-right-radius" class="cssBorderRadius" id="RadiusTopRight">
					</div>
					<div class="css-group-link twoTypeIcons" data-sibling="padding">
						<span class="glyphicon glyphicon-arrow-down"></span>
					</div>
				</div>
				<div class="form-group css-group">
				    <div for="email" class="css-group-title"> Abajo Iz: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="500" data-style-border="border-bottom-left-radius" class="cssBorderRadius" id="RadiusBottompLeft">
					</div>
					<div class="css-group-link twoTypeIcons" data-sibling="padding">
						<span class="glyphicon glyphicon-arrow-right"></span>
					</div>
				</div>
				<div class="form-group css-group">
				    <div for="email" class="css-group-title"> Abajo Der: </div>
				    <div class="ui input focus css-group-editable">
					  <input type="number" placeholder="0" min="0" max="500" data-style-border="border-bottom-right-radius" class="cssBorderRadius" id="RadiusBottompRight">
					</div>
					<div class="css-group-link twoTypeIcons" data-sibling="padding">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</div>
				</div>
			</section>
		</div>

		</section>	
	</section>
		
</script>

	<script type="text/javascript" src="js/backbone/models/app.js"></script>
	<script type="text/javascript" src="js/collage.js"></script>
	<script type="text/javascript" src="js/backbone/models/alerts.js"></script>

	<script type="text/javascript" src="js/backbone/views/view.window.js"></script>
	<script type="text/javascript" src="js/backbone/views/view.upper.side.bar.js"></script>
	<script type="text/javascript" src="js/backbone/views/view.left.side.bar.js"></script>
	<script type="text/javascript" src="js/backbone/views/view.multimedia.js"></script>
	<script type="text/javascript" src="js/backbone/views/view.icons.js"></script>
	<script type="text/javascript" src="js/backbone/views/view.text.js"></script>
	<script type="text/javascript" src="js/backbone/views/view.css.js"></script>
	<script type="text/javascript" src="js/backbone/views/view.character.js"></script>
	<script type="text/javascript" src="js/backbone/views/view.alert.js"></script>
	<script type="text/javascript" src="main.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){ Collage.start();
			$(document).on("click", "object.icon-color", function(){
				console.warn("information");
			})
		 });
	</script>
</html>