@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(../files/l1cOQ90roY9yC7voEhngDFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(../files/dI-qzxlKVQA6TUC5RKSb31tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

body {
	/*background: transparent;*/
  overflow: hidden;
  background: transparent;
  /*background: #555;*/
  margin: 0;
  padding: 0;
}

div, section {
  position: relative;
  margin: 0;
  padding: 0;
}

#container {
	margin: 10%;
	position: relative;
	  /*float: left;*/
	  height: 0;
	  width: auto;

	  text-align: center;
	  display: none;
perspective: 1000px;
  cursor: pointer;
  z-index: 100;
}

.hover {
  margin: 0;
  border: 0 none;
  background-color: #fff;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.front::before {
  position: absolute;
  right: 0;
  top: 0;
  background: #000;
  height: 14px;
  width: 14px;
  font-size: 10px;
  z-index: 1000;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  /*bottom: 0;*/
  font-family: arial, sans-sarif;
  overflow: hidden;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s;
          transition: transform 0.6s;
          transform-style: preserve-3d;
}

.front {
	padding: 0;
}

.back {
  /*bottom: 0;*/
}

.front div {
  background: transparent none 50% 100% no-repeat;
  background-size: 40% auto;
  padding-top: 86%;
  height: 0;
}

.front h1 {
  position: relative;
	margin: 0 14% 10% 14%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 8.125rem; /* 130px@ base 16px */
  line-height: 105%;
  text-align: center;
	}

.front h1 strong {
  font-weight: 700;
}

.back h2 {
	background: transparent none 5% 50% no-repeat;	
	background-size: auto 81.25%;
	margin: 0;
	padding: 1% 5% 1% 28%;
  text-align: right;
  font-size: 6.3125rem; /* 101px @ base 16px */
  font-size: 4.75em; /* Ajuste Mats */
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.back .avatar {
  width: 20%;
  margin: 2% auto;
  height: 0;
  background-size: 100% 100%;
  border-radius: 50%;
}

.back h2 strong {
  font-weight: 700;
}

.back section {
  padding: 0;
  position: relative;
  /*position: absolute;*/
  /*top: 40px;*/
  /*left: 5%;
  right: 5%;*/
  /*bottom: 10%;*/
  border-left-width: 6px;
  border-left-style: solid;
  text-align: left;
  padding: 0 0 5% 5%;
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0.9em;
  color: #444;
	}

.back footer {
  position: relative;
  /*position: absolute;*/
  /*left: 0;*/
  width: 100%;
  /*bottom: 0;*/
  padding-top: 10%;
  height: 0;
}

/* Estilos PC */
@media screen and (min-width : 1025px) {
/*  .front::before {
    content: 'L';
  }*/

  .front div {
    padding-top: 26%;
    background-size: auto 80%;
    background-position: 50% 50%;
  }
}

/* Estilos Tablet */
@media screen and (min-width : 701px) and (max-width : 1024px) {

/*  .front::before {
    content: 'M';
  }*/

  .front div {
    padding-top: 26%;
    background-size: auto 80%;
    background-position: 50% 50%;
  }

  .front h1 {
    font-size: 5.9375rem; /* 95px @ base 16px */
  }

  .back h2 {
    font-size: 5.0625em; /* 81px @ base 16px */
    font-size: 4.0em; /* Ajuste Mats -> 64px */
  }
}

/* Estilos Smartphone */
@media screen and (max-width : 700px) {
/*.front::before {
    content: 'S';
  }*/

  .front div {
    padding-top: 46%;
    background-size: auto 80%;
    background-position: 50% 50%;
  }

  .front h1 {
    font-size: 3.625rem; /* 58px @ base 16px */
  }

  .back h2 {
    font-size: 2.25em; /* 36px @ base 16px */
  }
}

.horizontalflip .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.horizontalflip.flipped .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.horizontalflip.flipped .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.multiflip .back {
  /*-webkit-transform: rotateY(-180deg);*/
          transform: rotateY(-180deg) rotateX(-360deg);
}

.multiflip.flipped .front {
  /*-webkit-transform: rotateY(-180deg);*/
          transform: rotateY(-180deg) rotateX(-360deg);
}

.multiflip.flipped .back {
          transform: rotateY(0) rotateX(-360deg);
}

.verticalflip .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.verticalflip.flipped .front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.verticalflip.flipped .back {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
