.noPadding{padding:0px !important;}	
.noMargin{margin:0px !important;}
.noRadius{border-radius: 0px !important;}
/*Quitamos el foco de todos los inputs*/	
input{outline:0px;}
/*Clase para elemento seleccionado*/
.selected-obj{
	border-image: url('files/border.png') 30 stretch !important;
	box-shadow: 0px 0px 10px rgba(0,0,0,1);
	}
/*Elementos inactivos*/
.element-inactive{display:none !important;}
ul { list-style: none;padding: 0px;margin: 0px;}
body{background-color: #e6e6e6;}

.selected-window-tool{
	width:auto;
	height:100px;
	position: absolute;
	margin-top: -20px;
	margin-left: -17px;
	z-index: 50;
}
#window-edition[data-selected=true]{
	background-color: #f2f2f2;
	box-shadow: 0px 0px 10px #3D9E8F;
}
.selected-window-tool .window-menu{
	width: 35px;
	height: 35px;
	font-size: 16px;
	text-align: center;
	border-radius: 50%;
	padding-top: 9px;
	cursor: pointer;
	color: #fff;
	background-color: #3D9E8F;
}
.window-menu.close-it{
	background-color: #800000;
}
.selected-window-tool .window-options{
	background-color: #fff;
	margin-top: -10px;
	margin-left: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	/* z-index: 300; */
}
.selected-window-tool .window-options ul li{padding: 5px;cursor: pointer;padding-right: 10px;border-bottom: 1px solid #ddd;}
.selected-window-tool .window-options ul li .this-option-icon{
	float:left;margin-right: 2px;
}
span.special{
	color: #3D9E8F;font-weight: bold;
}
.selected-window-tool .window-options ul li:hover{
	background-color: rgba(0,0,0,0.2);
}
/*Selector para elementos dinamicos*/
.window-edition-global.selected-obj{
	border:2px dashed #ddd;box-shadow: 0px 0px 10px #3D9E8F !important;
}
.element-dinamyc.active{ 
	background-color:#f2f2f2; border-image: url('../files/border.png') 30 stretch !important; }
.element-dinamyc{
	min-width:50px;
	position:absolute !important;
	border: 10px solid transparent;
	height: auto; float: left;overflow: hidden;
	}
.element-dinamyc:hover{background-color:#f2f2f2;border-image: url('../files/border.png') 30 stretch !important;}
.element-dinamyc img.dynamic-image{width:100%;height:100%;}

/*gf-ecm-render-window*/
#window-edition{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.6);background-color:#fff;
	min-height: 400px;margin-left: 145px;
	margin-top: 80px;border-radius:5px;margin-bottom: 20px;}

.sub-menu-click-right{z-index:100;position: absolute;background-color: #fff;border-radius:3px;width:110px;box-shadow: 0px 0px 10px rgba(0,0,0,0.6);cursor: pointer;}
.sub-menu-click-right ul li{padding:5px;cursor: pointer;}
.sub-menu-click-right ul li:hover{background-color: #e6e6e6;}

/*Modal*/
.modal-config{background-color:#fff !important;max-height:400px !important;}
.modal-config .close {color:#fff !important;}
.tabs-customer{margin-top: 0px !important; }
.tabs-customer .item{ font-size:1.3rem; }
.tabs-customer .item.active{
	background-color: #1b1c1d !important;color:#fff !important;
	border-color:#1b1c1d !important;border-radius:0px !important;}

.edition-content-animation{padding:0px !important;margin-bottom:7px !important;}
.edition-content-animation .title{font-weight: 700;  font-size: 14px; padding: 4px;text-align:center; color:#000; height: 43px; padding: 13px;background-color: #1b1c1d;color:#fff;}
.edition-content-animation .selection{ padding:0px;height: 43px;width:57%; font-size:15px; }
.edition-content-animation .selection input{ border-radius:0px !important; border-color:#1b1c1d !important; }
.edition-content-animation .selection .dropdown{width:100%;border-radius: 0px !important;height: 42px; border-color:#1b1c1d !important;}
.audio-color:hover{ border:1px solid red;}

.animation-left{
	position: relative; animation-name: Left-side; animation-duration: 0.4s;
}

@keyframes Left-side {
    from {opacity:0;left: -100px;}
    to {opacity:1;left:0px;}
}