/**
 * Default HTML overwrite and custom styles
 * -----------------------------------------------------------------------------
 */

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .vertical-align {
        position: relative;
        height: 100%;
    }

    .vertical-align > span {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.animated {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}

@media (min-width: 768px) {
    .animated {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }
}

/**
 * Wrapper
 * -----------------------------------------------------------------------------
 */

.wrapper {
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .wrapper {
        /*max-width: 960px;
        margin: 0 auto;*/
    }
    
    .wrapper:before {
        content: '';
        display: block;
/*        padding-top: 66.6666%;*/
        padding-top: 56.25%;
    }
}

/**
 * Container
 * -----------------------------------------------------------------------------
 */

.content {
    visibility: hidden;
}

.content.available {
    visibility: inherit;
}

/**
 * Loader
 * -----------------------------------------------------------------------------
 */

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.loader.complete {
    display: none;
}

/**
 * Cover
 * -----------------------------------------------------------------------------
 */

.cover {
    display: none;
}

@media (min-width: 768px) {
    .cover {
        position: absolute;
        display: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #e46a5c;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        opacity: 0;
    }
}

/**
 * Main Title
 * -----------------------------------------------------------------------------
 */

.main-title {
    display: none;
}

@media (min-width: 768px) {
    .main-title {
        position: absolute;
        display: inherit;
        width: 70%;
/*        height: 16%;*/
/*        height: 19%;*/
        margin: 6.25% 0 0;
        padding: 2.5% 4%;
        top: 0;
        right: 0;
        color: #fff;
        background-color: #1d8f99;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        z-index: 1000;
    }

    .main-title > h1 {
        margin: 0;
    }
}

/**
 * Slides
 * -----------------------------------------------------------------------------
 */

.slides {
    overflow: hidden;
}

@media (min-width: 768px) {
    .slides {
        position: absolute;
        overflow: inherit;
        width: 100%;
        height: 100%;
        top: 0;
    }
}

.slides > ul {
    overflow: hidden;
    padding-bottom: 50px;
/*    background-color: #112234;*/
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}

@media (min-width: 768px) {
    .slides > ul {
        position: relative;
        overflow: inherit;
        width: auto;
        height: 100%;
        padding-bottom: 0;
        background-color: transparent;
    }
}

.slides > ul > li {
    position: relative;
    float: left;
}

.slides > ul > li > a.close {
    display: none;
}

@media (min-width: 768px) {
    .slides > ul > li {
        position: relative;
        float: inherit;
        display: none;
        width: auto;
        height: 100%;
    }
    
    .slides > ul > li.active {
        display: block;
    }
    
    .slides > ul > li > p,
    .slides > ul > li > h2,
    .slides > ul > li > a.close,
    .slides > ul > li > .pic {
        position: absolute;
        display: none;
    }
    
    .slides > ul > li.active > .slideInLeft,
    .slides > ul > li.active > .slideInRight,
    .slides > ul > li.active > .slideInUp,
    .slides > ul > li.active > .slideInDown {
        display: inherit;
    }
    
    .slides > ul > li.cover-slide {
        display: none;
    }
}

.slides > ul > li > .pic:before {
    display: block;
}

.slides > ul > li > .pic {
    text-align: center;
    background-color: #e0665e;
}

@media (max-width: 767px) {
    .slides > ul > li.animated > .pic {
        position: relative;
    }
    
    .slides > ul > li.cover-slide h2 {
        text-align: center;
    }
    
    .slides > ul > li.cover-slide img {
        display: block;
    }
    
    .slides > ul > li.no-pic .pic,
    .slides > ul > li.cover-slide.no-pic img {
        display: none;
    }
    
    .slides > ul > li.cover-slide.no-pic .pic {
        display: block;
        height: 50px;
    }
}

@media (min-width: 768px) {
    .slides > ul > li > .pic {
        overflow: hidden;
        width: 40%;
        height: 70%;
        top: 23.333%;
        left: 0;
        text-align: left;
        z-index: 102;
        background-color: transparent;
    }
    
    .slides > ul > li.no-pic > .pic {
        display: none;
    }
}

.slides > ul > li > .sound {
    position: absolute;
    width: 40px;
    height: 45px;
    top: 0;
    right: 15px;
    z-index: 102;
}

.slides > ul > li.no-sound > .sound {
    display: none;
}

.slides > ul > li > .sound > a {
    position: relative;
    display: block;
    height: 100%;
    font-size: 1.5em;
    color: #3f3f3f;
    text-align: center;
    border: 1px solid #1c1c1b;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #cfced0;
}

.slides > ul > li > .sound > a > span {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
}

.slides > ul > li > .sound > a.active {
    color: #217c34;
}

@media (min-width: 768px) {
    .slides > ul > li > .sound {
        display: none;
        width: 5%;
        height: 9.5%;
        left: 2.083%;
    }
    
    .slides > ul > li > .sound > a {
        border-width: 2px;
        border-top-width: 0;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
    }
    
    .slides > ul > li > .sound > a > span {
        bottom: 18%;
    }
}

.slides > ul > li > h2 {
    margin: 0;
    padding: 20px 35px;
    font-size: 1.125em;
    color: #fff;
    word-wrap: break-word;
}

@media (min-width: 768px) {
    .slides > ul > li > h2 {
        width: 74%;
/*        height: 12.5%;*/
        height: 14.8148%;
/*        top: 9.375%;*/
        top: 3.7037%;
        margin: 0;
        font-size: 2em;
        background-color: #e57f68;
        z-index: 101;
    }

    .slides > ul > li > h2 > span {
        padding: 0 13%;
    }
}

.slides > ul > li > p {
    margin: 0;
    padding: 15px 35px;
    color: #fff;
    word-wrap: break-word;
}

@media (min-width: 768px) {
    .slides > ul > li > p {
        width: 90.625%;
/*        height: 78.125%;*/
        height: 87%;
        padding: 9.1666% 4.6875% 3.125% 36%;
/*        top: 12.5%;*/
        top: 11.111%;
        right: 0;
        font-size: 1.125em;
        color: #6b8e8a;
        background-color: rgba(17, 16, 21, 0.8);
        z-index: 100;
    }
    
    .slides > ul > li.no-pic > p {
        padding-left: 4.6875%;
    }
}

.slides > ul > li > a.close {
/*    top: 9.375%;*/
    top: 3.5%;
    right: 16.6666%;
    font-size: 5.25em;
    color: #fff;
    z-index: 103;
}

/**
 * Navigation
 * -----------------------------------------------------------------------------
 */

nav {
    position: absolute;
    width: 100%;
    margin: 15px 0;
    bottom: 0;
    z-index: 1000;
}

@media (min-width: 768px) {
    nav {
/*        height: 12.5%;*/
        height: 14.8148%;
        margin: 0;
        padding: 0 0 2%;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

nav > ul {
    text-align: center;
}

@media (min-width: 768px) {
    nav > ul {
        height: 100%;
    }
}

nav > ul > li {
    display: inline-block;
    width: 10px;
    margin: 0 3px;
}

@media (min-width: 768px) {
    nav > ul > li {
        width: 6.25%;
        height: 100%;
        margin: 0 0.8333%;
    }
    
    nav > ul > li.cover-slide {
        display: none;
    }
}

nav > ul > li > a {
    display: block;
    height: 10px;
    border: 1px solid #a9a8a8;
    border-radius: 100%;
}

nav > ul > li > a > span {
    display: none;
}

@media (min-width: 768px) {
    nav > ul > li > a {
        height: 100%;
        font-size: 2em;
        color: #fff;
        text-decoration: none;
        background-color: #288884;
        border: 0;
        opacity: 0.8;
    }
    
    nav > ul > li > a > span {
        display: inherit;
    }
    
    nav > ul > li > a > span > img {
        display: none;
    }
    
    nav > ul > li.image > a > span {
        width: 70%;
        left: 15%;
    }
    
    nav > ul > li.image > a > span > i {
        display: none;
    }
    
    nav > ul > li.image > a > span > img {
        display: block;
    }
}

@media (max-width: 767px) {
    nav > ul > li > a.active {
        background-color: #a9a8a8;
    }
}

@media (min-width: 768px) {
    nav > ul > li > a:hover,
    nav > ul > li > a.active {
        opacity: 1;
    }

    nav > ul > li > a.active {
        cursor: default;
    }
}

/**
 * Navigation for mobile devices
 * -----------------------------------------------------------------------------
 */

.nav-mobile .nav-prev,
.nav-mobile .nav-next {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    padding: 0 10px;
    top: 50%;
    font-size: 1.5em;
    color: #fff;
    border-radius: 100%;
    background-color: #000;
    opacity: 0.6;
}

.nav-mobile .nav-prev {
    left: -30px;
    text-align: right;
}

.nav-mobile .nav-next {
    right: -30px;
}

@media (min-width: 768px) {
    .nav-mobile {
        display: none;
    }
}

/**
 * Slide Title Tip
 * -----------------------------------------------------------------------------
 */

.slide-title-tip {
    display: none;
}

@media (min-width: 768px) {
    .slide-title-tip {
        position: absolute;
        display: inherit;
        width: 100%;
/*        height: 8.4375%;*/
        height: 10%;
        left: 0;
/*        bottom: 15.625%;*/
        bottom: 18.5185%;
        font-size: 1.5em;
        background-color: rgba(214, 123, 102, 0.8);
        opacity: 0;
        z-index: 1001;
    }

    .slide-title-tip > span {
        padding: 0 7.3%;
    }
}