<?xml version="1.0" ?>
<!-- 
Manifest template to demonstrate the proper XML namespace declarations for
SCORM 1.2 manifests. 

Provided by Rustici Software - www.scorm.com.
-->
<manifest identifier="com.scorm.manifesttemplates.scorm12" version="1"
       xmlns="http://www.imsproject.org/xsd/imscp_rootv1p1p2"
       xmlns:adlcp="http://www.adlnet.org/xsd/adlcp_rootv1p2"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.imsproject.org/xsd/imscp_rootv1p1p2 imscp_rootv1p1p2.xsd
                           http://www.imsglobal.org/xsd/imsmd_rootv1p2p1 imsmd_rootv1p2p1.xsd
                           http://www.adlnet.org/xsd/adlcp_rootv1p2 adlcp_rootv1p2.xsd">
	<metadata>
		<schema>ADL SCORM</schema>
		<schemaversion>1.2</schemaversion>
		<%=$lom%>
	</metadata>
	<organizations default="catedra.edu.co">
		<organization identifier="catedra.edu.co">
			<title><%=$title%></title>
			<%=$items%>
		</organization>
	</organizations>
	<resources>
		<%=$resources%>
	</resources>
</manifest>
