

<script id="iconosBase" type="text/template">
<div class="gf-multimedia-global-container gf-ecm-element-inactive" id="plugin-iconos">
	<header class="tool-main-title" id="tool-main-title">
		<span class="glyphicon glyphicon-chevron-left return-view-icons gf-ecm-element-inactive"></span>
				<h5>Recursos:</h5>
	</header>
		<div class="clear"></div>
		<nav class="gf-ecm-view-main main-tools-icons">
			<ul class="main">
				<li class="gf-icon-main-tools gf-bg1-icons" data-child-show="Iconos">
					<div class="icon"><span class="glyphicon glyphicon-bell"></span></div>
					<div class="title">Iconos</div>
				</li>
				<li class="gf-icon-main-tools gf-bg2-icons sub-menu-hidden" data-child-show="gf-gallery-show">
					<div class="icon"><span class="glyphicon glyphicon-user"></span></div>
					<div class="title">Personajes</div>
				</li>
				<li class="gf-icon-main-tools gf-bg3-icons" data-child-show="recursos-gallery">
					<div class="icon"><span class="glyphicon glyphicon-picture"></span></div>
					<div class="title">Imagenes</div>
				</li>
			</ul>
		</nav>

		<nav class="gf-ecm-view-main gf-ecm-element-inactive" id="gf-gallery-show">
			<ul class="main only-two">
				<li class="gf-icon-main-tools gf-bg1-icons" data-child-show="character-gallery">
					<div class="icon"><span class="glyphicon glyphicon-th"></span></div>
					<div class="title">Galeria</div>
				</li>
				<li class="gf-icon-main-tools gf-bg2-icons sub-menu-hidden" data-child-show="create-character">
					<div class="icon"><span class="glyphicon glyphicon-plus"></span></div>
					<div class="title">Nuevo</div>
				</li>
			</ul>
		</nav>

	<div class="clear"></div>
	<section class="gf-ecm-view-tool-global">
		
			
			<div class="gf-gallery-icon-global gf-ecm-plugin-gallery gf-ecm-element-inactive" id="Iconos">
				<ul class="Gallery-icon">
					<li class="odd gf-dinamyc-element-draggable gallery-icon" data-dinamyc="true">
						<img src="files/icons/icon1.svg"/>
					</li>
					<li class="even gf-dinamyc-element-draggable gallery-icon" data-dinamyc="true">
						<img src="files/icons/icon2.svg"/>
					</li>
					<li class="odd gf-dinamyc-element-draggable gallery-icon" data-dinamyc="true">
						<img src="files/icons/icon3.svg"/>
					</li>
					<li class="even gf-dinamyc-element-draggable gallery-icon" data-dinamyc="true">
						<img src="files/icons/icon4.svg"/>
					</li>
				</ul>
			</div>
			<!--GALLERIA DE IMAGENES-->
			<div class="gf-gallery-icon-global gf-ecm-plugin-gallery gf-ecm-element-inactive" id="recursos-gallery">
				<ul class="Gallery-icon">
					<li class="odd gf-dinamyc-element-draggable gallery-img" data-dinamyc="true">
						<img src="files/img/space1.jpg"/>
					</li>
					<li class="even gf-dinamyc-element-draggable gallery-img" data-dinamyc="true">
						<img src="files/img/space2.jpg"/>
					</li>
					<li class="odd gf-dinamyc-element-draggable gallery-img" data-dinamyc="true">
						<img src="files/img/space3.jpg"/>
					</li>
					<li class="even gf-dinamyc-element-draggable gallery-img" data-dinamyc="true">
						<img src="files/img/space4.jpg"/>
					</li>
				</ul>
			</div>

			<!--GALLERIA DE PERSONAJES-->
			<div class="gf-gallery-icon-global gf-ecm-plugin-gallery gf-ecm-element-inactive" id="character-gallery">
					<div class="sub-menu-click-right gf-ecm-element-inactive" id="char-menu-contextmenu">
						<ul>
							<li class="gf-ecm-tool gf-select-tool" data-action="custom" data-child-show="gf-gallery-show">
								<span class="glyphicon glyphicon-cog"></span> Personalizar
							</li>
							<li class="gf-ecm-tool gf-select-tool" data-action="animate" data-child-show="gf-gallery-show">
								<span class="glyphicon glyphicon-trash"></span> Eliminar
							</li>
						</ul>
					</div>
	
	<section class="galleria-personajes">
		
				<div class="gallery-filter-block"> 
					<div class="gallery-filter-icon">
						<span class="glyphicon glyphicon-filter"></span>
					</div>
					
					<div class="ui selection dropdown custom-filter">
						<input type="hidden" name="style-char" id="filter-style-character" value="flat">
								<i class="dropdown icon"></i>
								<div class="default text">Todos</div>
								<div class="menu menu-filter-main">
								    <div class="item" data-value="flat">Flat</div>
								    <div class="item" data-value="realist">Realista</div>
								</div>
					</div>
					
					<div class="ui selection dropdown custom-filter">
						<input type="hidden" name="style-char" id="filter-gender-character" value="flat">
								<i class="dropdown icon"></i>
								<div class="default text">Todos</div>
								<div class="menu menu menu-filter-main">
								    <div class="item" data-value="girl">Niña</div>
							    	<div class="item" data-value="boy">Niño</div>
							    	<div class="item" data-value="male">Hombre</div>
							    	<div class="item" data-value="female">Mujer</div>
								</div>
					</div>
				</div>
		
			<div class="clear"></div>	
			<ul class="Gallery-icon"> </ul>
		<div class="clear"></div>			
	</section>
				
			</div>
			<!--CREAR PERSONAJES-->
			<div class="gf-gallery-icon-global gf-ecm-create-character gf-ecm-element-inactive" id="create-character">
				<nav class="create-selects-nav-main">
					<ul>
						<li>
							<div class="ui selection dropdown">
							  <input type="hidden" name="style-char" id="style-char" value="flat">
							  <i class="dropdown icon"></i>
							  <div class="default text">Flat</div>
							  <div class="menu menu-filter">
							    <div class="item" data-value="flat">Flat</div>
							    <div class="item" data-value="realist">Realista</div>
							  </div>
							</div>
						</li>
						<li>
							<div class="ui selection dropdown">
							  <input type="hidden" name="type-char" id="gender-char" value="girl">
							  <i class="dropdown icon"></i>	
							  <div class="default text">Niña</div>
							  <div class="menu menu-filter">
							    <div class="item" data-value="girl">Niña</div>
							    <div class="item" data-value="boy">Niño</div>
							    <div class="item" data-value="male">Hombre</div>
							    <div class="item" data-value="female">Mujer</div>
							  </div>
							</div>
						</li>
						<li>
							<div class="ui selection dropdown">
							  <input type="hidden" name="emotion-char" id="emotion-char" value="happiness">
							  <i class="dropdown icon"></i>
							  <div class="default text">Felicidad</div>
							  <div class="menu menu-filter">
							    <div class="item" data-value="happiness">Felicidad</div>
							    <div class="item" data-value="anger">Enojo</div>
							    <div class="item" data-value="sadness">Tristeza</div>
							  </div>
							</div>
						</li>
					</ul>
				</nav>

	<div class="clear"></div>

<section class="character-body-global col-xs-12 paddingNone">
		<section class="character-preview col-xs-12 col-sm-7">
			
		<div id="character-creating">
			<svg id="character" version="1.1" id="character" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 522 552" style="enable-background:new 0 0 522 552;width:100%;border:1px solid gray;width:100%;height:100%" xml:space="preserve"></svg>
		</div>

		<footer class="gf-incons-save-btn" id="listBtns" data-svg-id="">
			<button type="button" class="btn btn-default" id="editSvgGroup">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
			<button type="button" class="btn btn-default saveAsSvg" >
				<span class="glyphicon glyphicon-floppy-disk"></span>
			</button>
			<button type="button" class="btn btn-default dropGroupSvg" data-drop-id="">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
			<button type="button" class="btn btn-default" id="resize-full" data-full="false">
				<span class="glyphicon glyphicon-resize-full"></span>
			</button>
		</footer>
</section>

<section class="gallery-character-properties col-xs-12 col-sm-5">
	<header>
	<div class="ui fluid selection dropdown">
		<input type="hidden" name="user" id="filter-tools">
		<i class="dropdown icon"></i>
				  <div class="default text">Herramientas</div>
					<div class="menu menu-filter">
						<div class="item" data-value="hair">
							 <!--<img class="ui mini avatar image" src="files/appIcons/hair.svg">-->
							    Cabello
						</div>

						<div class="item" data-value="eyes">
							<!--<img class="ui mini avatar image" src="/images/avatar/small/elliot.jpg">-->
							   Ojos
						</div>
						
						<div class="item" data-value="nose">
							<!--<img class="ui mini avatar image" src="/images/avatar/small/stevie.jpg">-->
							Nariz
						</div>
						
						<div class="item" data-value="mouths">
							<!--<img class="ui mini avatar image" src="/images/avatar/small/christian.jpg">-->
							  Boca
						</div>
						
						<div class="item" data-value="ears">
							<!--<img class="ui mini avatar image" src="/images/avatar/small/matt.jpg">-->
							 Oidos
						</div>
						
						<div class="item" data-value="faces">
							<!--<img class="ui mini avatar image" src="/images/avatar/small/justen.jpg">-->
							 Cara
						 </div>
						 <div class="item" data-value="accesories">
							<!--<img class="ui mini avatar image" src="/images/avatar/small/justen.jpg">-->
							 Accesorios
						 </div>
					</div>
				</div>
	</header>
	<!--Lista de elementos para añadir al personaje-->
	<section id="tools-character-each" class="tools-character-each"></section>
</section>
					<div class="clear"></div>

<section class="panel-edition-skill gf-ecm-element-inactive">
	<header class="gf-ecm-body-lateral-menu-close" id="close-edition-panel">
		<span class="glyphicon glyphicon-remove"></span>
	</header>
 	<h4>Clases</h4> 
	
	<section class="col-xs-12 container_">
		
		<section class="clases" id="class-svg">
		
		<!--<div class="class-char-svg">
				<div class="class-char-svg-name">
					clase
				</div>
				<div class="class-char-svg-btns">
					<button class="btn btn-default btn-show-styles" data-id-child="onethis">
							<span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				</div>
			</div>-->

	<div class="svg-styles-all" id="onethis">
		<!--<div class="this-svg-style current-edition">
			<label for="propertie" class="title-style-svg" data-edition-style="attr"> style</label>
			<div class="icon-style-svg" style="">
				<span class="glyphicon glyphicon-cog"></span>
			</div>
			<input type="text" name="propertie" class="value-style-svg" value="0px"/>
		</div>
		<div class="this-svg-style">
			<label for="propertie" class="title-style-svg" data-edition-style="attr"> style</label>
			<div class="icon-style-svg" style="">
				<span class="glyphicon glyphicon-cog"></span>
			</div>
			<input type="text" name="propertie" class="value-style-svg" value="0px"/>
		</div>
		<div class="this-svg-style">
			<label for="propertie" class="title-style-svg" data-edition-style="fill"> 
			fill:
				<div class="fill-style-svg">
					<div class="fill-tag-color">
						<input type="text" class="custom">
					</div>
					<div class="fill-tag-value">#fdfdfd</div>
				</div>
			</label>
			<div class="icon-style-svg" style="">
				<span class="glyphicon glyphicon-cog"></span>
			</div>
		</div>
		<button class="btn btn-default" style="width:100%	;color:#fff;background-color: #3D9E8F;border-radius:0px;border-color: #3D9E8F">Guardar</button>
		<div class="clear"></div>
		-->
	</div>

							</section>
						</section>
						<section>
							
						</section>
					</section>

				</section>
			</div>
	</section>
</div>

<div class="ui basic modal modal-animation-basic">
  <i class="close icon"></i>

  	<div class="ui top attached tabular menu animation-for-character" style="margin-top: 0px;">
		<a class="item active" data-tab="talk" style="background-color: #1b1c1d;color:#fff;border-color:#1b1c1d;border-radius:0px !important;font-size:1.3rem;">Personaje</a>
		<a class="item" data-tab="flicker" style="font-size:1.3rem;">Animación</a>
	</div>
	
	<div class="ui bottom attached tab segment active" data-tab="talk">
		<div class="image content col-xs-12">
		    <div class="ui medium image col-xs-5" id="save-personaje-config"> </div>

		    <div class="description col-xs-7">
		     	<div class="ui header">
			      	<h4>Información: </h4>
			    </div>

			    <section>
				    <div class="ui top attached tabular menu animation-for-character">
						<a class="item active" data-tab="info-basic">Básico</a>
						<a class="item" data-tab="info-styles">CSS</a>
					</div>

					<div class="ui bottom attached tab segment active" data-tab="info-basic" style="padding-left:40px;">
						 <div class="col-xs-12 edition-content-animation">
			     			<div class="col-xs-4 title">Nombre:</div>
		     		
							<div class="ui input focus col-xs-7 selection">
							  <input type="text" placeholder="Search...">
							</div>
					</div>

					<div class="col-xs-12 edition-content-animation">
	     				<div class="col-xs-4 title">Genero:</div>
						<div class="ui input focus col-xs-7 selection">
							<div class="ui selection dropdown">
								  <input type="hidden" name="emotion-char" id="" value="male">
								  <i class="dropdown icon"></i>
								  <div class="default text">male</div>
								  <div class="menu menu-filter">
								    <div class="item" data-value="male">Masculino</div>
								    <div class="item" data-value="female">Femenino</div>
								  </div>
								</div>
							</div>
					</div>

					<div class="col-xs-12 edition-content-animation">
     				<div class="col-xs-4 title"> Tipo: </div>
     		
					<div class="ui input focus col-xs-7 selection">
						<div class="ui selection dropdown">
							  <input type="hidden" name="emotion-char" id="flat" value="flat">
							  <i class="dropdown icon"></i>
							  <div class="default text">flat</div>
								  <div class="menu menu-filter">
								    <div class="item" data-value="flat">Flat</div>
								    <div class="item" data-value="realista">Realista</div>
								  </div>
						</div>
					</div>
				
     			</div>

     			<div class="clear"></div>


					</div>

					<div class="ui bottom attached tab segment" data-tab="info-styles">
						Css
					</div>
				</section>

			   

		     </div>
		   </div>

		   <div class="clear"></div>
	</div>
	
	<div class="ui bottom attached tab segment" data-tab="flicker">
			Second
	</div>



  <div class="actions" style="padding:0px;position:absolute;bottom: 0px;right:0px;border:1px solid red;">
    <div class="ui black deny button" style="
    width:130px;height:30px;padding:13px;height:35px;margin-left:5px;border-radius:0px;margin-right:0px;">
      Cancelar
    </div>
    <div class="ui positive right labeled icon button" style="
    width:130px;height:30px;padding:13px;height:35px;margin-left:0px;border-radius:0px;margin-right:0px;">
     Guardar
      <i class="checkmark icon"></i>
    </div>
  </div>


</div>

</script>