 <script id="cssBase" type="text/template">
 <div class="gf-multimedia-global-container gf-ecm-element-inactive" id="plugin-css">	
 	<header class="gf-ecm-edition-panel">
		<nav class="gf-ecm-edition-circle-tools">
			<ul>
				<li title="Eliminar esta rejilla" data-list-child="marginCSSPlugin">
					<div class="ecm-circle-tools gf-botons-color-lightGreen">
						<span class="glyphicon glyphicon-trash"></span>
					</div>
						<span class="title">Margenes</span>
				</li>
				
				<li title="Añadir fila a la rejilla" class="gf-ecm-rotate-child-icon" data-list-child="PaddingCSSplugin">
					<div class="ecm-circle-tools gf-botons-color-violet" style="">
						<span class="glyphicon glyphicon-plus"></span>
						</div>
						<span class="title">Padding</span>
				</li>

				<li title="Quitar fila seleccionada de la rejilla" class="gf-ecm-rotate-child-icon" data-list-child="removeRack">
					<div class="ecm-circle-tools gf-botons-color-lightGreen">
						<span class="glyphicon glyphicon-remove"></span>
					</div>
						<span class="title">Fuente</span>
				</li>

				<li title="Cambiar tamaño del elemento seleccionado"  class="gf-ecm-rotate-child-icon" data-list-child="SizeCSSplugin">
					<div class="ecm-circle-tools gf-botons-color-violet">
						<span class="glyphicon glyphicon-glyphicon glyphicon-resize-full"></span>
					</div>
						<span class="title">Tamaño</span>
				</li>

				<li title="Cambiar tamaño del elemento seleccionado"  class="gf-ecm-rotate-child-icon" data-list-child="borderCSSplugin">
					<div class="ecm-circle-tools gf-botons-color-orange">
						<span class="glyphicon glyphicon-glyphicon glyphicon-resize-full"></span>
					</div>
						<span class="title">Borde</span>
				</li>
				
				<li title="Quitar fila seleccionada de la rejilla" class="gf-ecm-rotate-child-icon" data-list-child="removeRack">
					<div class="ecm-circle-tools gf-botons-color-lightGreen">
						<span class="glyphicon glyphicon-remove"></span>
					</div>
						<span class="title">Alineación</span>
				</li>

				<li title="Quitar fila seleccionada de la rejilla color-option" class="gf-ecm-rotate-child-icon color-option" data-list-child="BgColorCSSplugin">
					<div class="ecm-circle-tools gf-botons-color-orange">
						<span class="glyphicon glyphicon-remove"></span>
					</div>
					<span class="title">Color</span>
				</li>
			<div class="clear"></div>
	</ul>						
		</nav>
	</header>
<!--MARGIN-->
	<section class="gf-ecm-edition-panel gf-ecm-element-inactive gf-emc-plugin-css-form" id="marginCSSPlugin">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				<div class="form-group">
					<label class="gf-label-side" for="email">Arriba</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="widthRack">
				</div>
				
				<div class="form-group">
					<label for="email" class="gf-label-side">Izquierda</label>
						<input type="number" placeholder="Largo de la selección" class="form-control  gf-input-side" id="heightRack">
				</div>
						
				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" id="btnSaveSiseXY"> Ok </button>
					<button class="btn btn-default"> Cancelar </button>
						<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>

<!--PADDING-->
	<section class="gf-ecm-edition-panel gf-ecm-element-inactive gf-emc-plugin-css-form" id="PaddingCSSplugin">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				<div class="form-group">
					<label class="gf-label-side" for="email">Padding</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="widthRack">
				</div>
				
				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" id="btnSaveSiseXY"> Ok </button>
					<button class="btn btn-default"> Cancelar </button>
						<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>

	<!--Tamaño-->
	<section class="gf-ecm-edition-panel gf-ecm-element-inactive gf-emc-plugin-css-form" id="SizeCSSplugin">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				 <div class="form-group">
					<label class="gf-label-side" for="email">Ancho</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="widthRack">
				</div>

				<div class="form-group">
					<label for="email" class="gf-label-side">Alto</label>
					<input type="number" placeholder="Largo de la selección" class="form-control  gf-input-side" id="heightRack">
				</div>

				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" id="btnSaveSiseXY"> Ok </button>
					<button class="btn btn-default"> Cancelar </button>
					<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>

	<!--Border radius-->
	<section class="gf-ecm-edition-panel gf-ecm-element-inactive gf-emc-plugin-css-form" id="borderCSSplugin">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				 <div class="form-group">
					<label class="gf-label-side" for="email">Radio</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="widthRack">
				</div>

				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" id="btnSaveSiseXY"> Ok </button>
					<button class="btn btn-default"> Cancelar </button>
					<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>
</div>

 </script>