<script id="multimediaBase" type="text/template">
<div class="gf-multimedia-global-container  gf-ecm-element-inactive" id="plugin-multimedia">
	<button class="btn btn-default" id="imgtest">
		Probar Imagen
	</button>
	<button class="btn btn-default" id="audiotest">
		Probar Audio
	</button>

	<header class="gf-menu-multimedia" style="padding:1px;">
 		<nav>
 			<ul>
 				<li 
 					class="gf-menu-item active"
 					title="Sube un archivo al servidor"
 					data-sub-menu-child="gf-ecm-child-AudioImage"
 					>Subir</li>
 				<li
 					class="gf-menu-item"
 					title="Convierte el texto en un archivo de audio"
 					data-sub-menu-child="gf-ecm-child-Generate"
 					>Convertir</li>
 			</ul>
 		</nav>	
 	</header>

	<section class="gf-ecm-multimedia-body">
				<div id="gf-ecm-child-AudioImage" class="gf-ecm-child-menu-multimedia">
					<button class="btn btn-primary fileinput-button" id="char-upload">
						<span class="glyphicon glyphicon-cloud-upload icon-tool"></span>
								<br>
						<span>
							Subir Imagen
						</span>
						<input id="sound-chat" type="file" name="files[]" class="char-upload" multiple="">
					</button>

					<div id="progress_img" class="progress" style="width: 95%;display: block;margin:0 auto;margin-top: .5em;">
						 <div class="progress-bar progress-bar-success"></div>
					</div>  
					<div class="clear"></div>	
				</div>

				<div id="gf-ecm-child-Generate" class="gf-ecm-child-menu-multimedia gf-ecm-element-inactive paddingNone" >	
					<header class="header-multimedia"> Opciones </header>
					<section class="text-converter">
						<div>
							<div class="icon-tool-converter">
								<span class="glyphicon glyphicon glyphicon-user"></span>	
							</div>
							<div class="selected-type-converter">
								<select id="gender">
									  <option value="0">Masculino</option>
									  <option value="1">Femenino</option>
								</select>
							</div>
							<div class="clear"></div>
						</div>

						<div style="margin-top:2px;">
							<div class="icon-tool-converter">
								<span class="glyphicon glyphicon glyphicon-flag"></span>	
							</div>
							<div class="selected-type-converter">
								<select id="gender">
									  <option value="es">Español</option>
									  <option value="en">Ingles</option>
								</select>
							</div>
							<div class="clear"></div>
						</div>

						<div class="slider-tools-converter">
							<div class="cnt-slider"> <h5>Velocidad : <i class="">170</i></h5> </div>
							<div class="slider"> <input type="range" id="speed" value="170" min="1" max="500"> </div>
							<div class="clear"></div>
						</div>

						<div class="slider-tools-converter">
							<div class="cnt-slider"> <h5> Tono : <i class="">10</i> </h5></div>
							<div class="slider"> <input type="range" id="tono" value="10" min="1" max="100"> </div>
							<div class="clear"></div>
						</div>

						<div class="text-generate-container">
							<div class="title"> <h5> Texto </h5> </div>
							<div class="input-text-generate"> <input type="text"/> </div>
							<div class="clear"></div>
						</div>	
					</section>

					<div style="width:100">
							<button class="btn btn-default btn-generate"> Generar </button>
					</div>
				</div>
			</section>
</div>
 </script>