<script type="text/template" id="tpl-nav-d3">
  <a href="" class="nav-open">
    <svg viewBox="0 0 32 32">
      <use xlink:href="/units/img/menu.svg#icon-1"></use>
    </svg>
  </a>
  <section class="main">
    <!-- <a href="" class="nav-close">Cerrar</a> -->
    <svg>
  </section>
</script>