body {
    background: transparent;
}

#waiting {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px; height: 100px;
    background: transparent url('../../../theme/v2base/img/wait.png') -100px 0 no-repeat;
    z-index: 99999;
}
