.indicador-add {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../../theme/v2base/images/agregar_indicador_blanco.svg");
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 90% auto;
    float: left;
    height: 30px;
    margin-left: 20px;
    text-indent: -9999px;
    width: 30px;
}

#metadata {
    background: #2c3e50;
    border-radius: 10px;
    color: #fff;
    padding: 15px 0;
}

#metadata h2 {
    margin: 0 5px 0;
    color: #fff;
    border-bottom: 1px solid #BCC3C7;
    font-weight: bold;
    box-sizing: content-box;
    padding: 0 10% 15px;
    background: url(../img/metadata_open.svg) 1em 10px no-repeat;
    background-size: auto 30%;
    transition: border-width 0.3s;
    cursor: pointer;
}

#metadata h2:after, #metadata h2:before {
    display: none;
}

#metadata.closed h2 {
    background-image: url(../img/metadata_closed.svg);
    border-width: 0;
}

#metadata.closed > ul {
    display: none;
}

#metadata ul {
    margin: 2em 10% 1em;
} 

#metadata li {
/*    display: block;
    overflow: hidden;*/
    margin-bottom: 6px;
    opacity: 1;
    transition: opacity 0.2s;
    overflow: hidden;
}

#metadata.closed > ul li {
    opacity: 0;
}

#metadata li label {
    float: left;
    width: 30%;
    font-weight: normal;
    padding-top: 7px;
}

#metadata input {
    color: #000;
    padding: 5px 5px;
    border-radius: 3px;
    height: 30px;
    width: 60%;
    border-width: 1px;
    border-style: solid;
}

#metadata textarea {
    color: #000;
    padding: 5px 5px;
    border-radius: 3px;
    height: auto;
    width: 60%;
    border-width: 1px;
    border-style: solid;
}

#metadata input:disabled {
    color: rgba(0,0,0,0.8);
    background: rgba(255,255,255,0.8);
    border: 1px #ccc solid;
    width: 60%;
    font-size: 0.75em;
} 

#metadata ul ul {
    margin: 0;
    width: 60%;
    border-radius: 3px;
    float: left;
}

#metadata ul ul ul {
    float: none;
}

#metadata p {
    margin: 0 10% 6px; 
}

#metadata p label {
    font-weight: normal;
    width: 30%;
    float: left;
    padding-top: 7px;
}

#metadata p input {
    width: 4em;
    font-size: 0.75em;
}

#metadata p select {
    width: auto;
    font-size: 0.75em;
    padding: 5px 5px;
    color: #000;
}

#metadata p svg {
    width: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    opacity: 0.2;
    fill: white;
    transition: opacity 0.5s, fill 0.5s;
}

#metadata p svg:hover {
    opacity: 1;
}

#metadata p.waiting svg {
    animation: svgspin 1.5s linear infinite;
}

#metadata p.refreshed svg {
    opacity: 1;
    fill: #1d1;
}

#metadata p.refresh-error svg {
    opacity: 1;
    fill: #d11;
}

@keyframes svgspin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}


ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: none;
}

#metadata ul.token-input-list li input {
    border: 0;
    width: 100px;
    height: auto;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
    border: none;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 3px;
    padding: 3px 3px;
    background-color: #ffab11;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
}

li.token-input-token.custom {
    background-color: #ccc;
}

li.token-input-token p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    color: #ca7d21;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-token.custom span {
    color: #999;
}

li.token-input-selected-token {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 999999;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #3b5998;
    color: #fff;
}



.skill-admin {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    height: auto;
    background: #b5babd;
    border-radius: 10px;
    /*box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);*/
    display: none;
    padding: 20px 20px;
    /*box-sizing: border-box;*/
    z-index: 1000;
}

.skill-admin p {
    margin: 1em 0;
}

.skill-admin h2 {
    background: #1b3b50;
    color: #fff;
    position: absolute;
    left: 0;
    width: 50%;
    height: 44px;
    line-height: 44px;
    font-size: 19px;
    font-weight: bold;
    padding-left: 46px;
    background: #dd7119 url(../../../theme/v2base/images/agregar_indicador.svg) 10px 50% no-repeat;
    background-size: auto 60%;
    margin: 0;
    text-align: left;
}

.skill-admin h2:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 44px 18px;
    border-color: transparent transparent #dd7119 transparent;
    position: absolute;
    content: "";
    left: -18px;
    top: 0;
}

.skill-admin h2:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 44px 18px 0 0;
    border-color: #dd7119 transparent transparent transparent;
    position: absolute;
    content: "";
    right: -18px;
    top: 0;
}

.skill-admin h2 span {
    position: absolute;
    bottom: -9px;
    left: -18px;
    width: 0;
    height: 0;
    border-style: solid;
    background: transparent;
    border-width: 0 18px 9px 0;
    border-color: transparent #dd3d21 transparent transparent;
    margin: 0;
}

.skill-admin form .competencias {
    width: 48%;
    float: right;
    background: #fff;
    border-radius: 5px;
    margin-top: 60px;
    height: 220px;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 2%;
}

.skill-admin form fieldset {
    float: left;
    width: 48%;
    background: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 60px;
    height: 220px;
    padding: 0 0.4em;
}

.skill-admin h3 {
    width: auto;
    height: auto;
    margin: 0.5em 0;
    position: relative;
    background: none;
    border: none;
    font-weight: bold;
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
    background: transparent url(../../../theme/v2base/images/competencias_estado_roll_over.svg) 0px 50% no-repeat;
    background-size: auto 90%;
}

.skill-admin form {
    width: auto;
    margin: 0;
}

.skill-admin form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skill-admin form .competencias > ul {
    overflow: auto;
}

.skill-admin form .competencias > ul li {    
    padding: 0.2em 0;
    background: #b3e3da;
    margin-bottom: 0.1em;
    border-radius: 5px;
}

.skill-admin form .competencias > ul li li {  
    background: #f5d4ba;
}

.skill-admin form .competencias > ul li label {
    flex-basis: 8%;
    text-align: center;
}

.skill-admin form .competencias > ul li span.id {
    flex-basis: 32%;
    padding-left: 1em;
    font-weight: bold;
}

.skill-admin form .competencias > ul li span {
    text-align: left;
    flex-basis: 60%;
    font-size: 0.875em;
    background: transparent;
    border: none;
}

.skill-admin form .competencias > ul li p {
/*    width: 70%;
    margin-left: 29%;*/
    /*flex-basis: auto;*/
    margin: 0.2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.skill-admin form .competencias > ul li li span.id {
    flex-basis: 40%;
}

.skill-admin ul label {
    display: inline-block;
    width: 10%;
    
}

.skill-admin form .competencias > ul > li {
    list-style: none;
}

.skill-admin form .competencias > ul ul {
    display: none;
    margin: 0.3em 0;
}

.skill-admin p input, .skill-admin p textarea, .skill-admin p ul.token-input-list {
    width: 60%;
    border: 1px solid #999;
    vertical-align: top;
    border-radius: 5px;
}

.skill-admin p ul.token-input-list {
    display: inline-block;
}

.skill-admin p label {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    font-size: 0.875em;
    
}

.skill-admin div.buttons {
    text-align: center;
    clear: both;
    background: transparent;
}

.skill-admin button {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 2px 25px;
    margin: 15px;
    height: 25px;
    width: auto;
    background-size: 17px auto;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 5px center;
    color: #000;
    font-weight: normal;
    float: none;
    line-height: normal;
    display: inline-block;
    font-size: 13px;
}

.skill-admin button#btn-ok {
    background-image: url("../../../theme/v2base/images/guardar.svg");  
}

.skill-admin button#btn-cancel {
    background-image: url("../../../theme/v2base/images/cerrar.svg");  
}