
nav.gf-ecm-edition-circle-tools{margin-top:10px;padding:5px;padding-left: 24px;}
nav.gf-ecm-edition-circle-tools ul li{
	float: left; text-align: center;padding-top:10px;
	width:60px;height: 60px;cursor: pointer; }

nav.gf-ecm-edition-circle-tools ul li span.title{font-size: 12px;}
/*Colores de Botones*/
.gf-botons-color-error{background-color: #990000;}/*red*/
.gf-botons-color-lightGreen{background-color: #01D2B5;}/*verde claro*/
.gf-botons-color-violet{background-color: #B69AF8;}/*Violet*/
.gf-botons-color-orange{background-color: #FF8026;}/*naranja*/
li.gf-ecm-rotate-child-icon > div > span.glyphicon{transition: 0.5s all;}
li.gf-ecm-rotate-child-icon:hover > div > span.glyphicon{
	transform:rotate(90deg);
}
.gf-circle-edit-dinamyc-element{
	width:35px;height:35px;
	font-size: 20px;text-align: center;padding-top:5px;
	border-radius: 50%;background-color: rgba(140,140,200,1);
	/*position: absolute;right:0px;*/margin-top:-10px;cursor: pointer;
}