/*
	ecm = editor contenido multimedia
*/
.ecm-global-container{
	margin: 0px;
	width: 100%;
	margin-top: 20px;
}

header.ecm-header-main{
	padding: 0px;
	margin: 0px;
	background-color: rgb(39,44,51);
}

nav.ecm-elemnt-menu ul{
 	list-style: none;
 	color: #fff;
}

nav.ecm-list-horizontal ul{
   width: 100%;
   text-align: right;
}
nav.ecm-list-vertical{
	margin-top: 15px;
	text-align: center;
	padding: 0px;
}
nav.ecm-list-vertical > ul{
	padding: 0px;margin: 0px;
}
nav.ecm-list-vertical > ul li{
	margin-bottom: 20px;
}
nav.ecm-list-horizontal ul li{
 	float: right;
 	height: 75px;
 	width: 83px;
 	padding:10px;
 	text-align: center;
}
ul.ecm-list-submenu {
	background-color: rgb(7,157,172);
	padding: 0px;
	position: absolute;
	margin-top: -70px;
	margin-left: 90px;
	z-index: 10;
}
.ecm-list-submenu-top{
	background-color: transparent !important;
	width: 100px !important;
	margin-top: 10px !important;
	margin-left: -20px !important;
} 

.ecm-list-submenu-top > li{
	background-color: rgb(39,44,51) !important;
	height: auto !important;
}

ul.ecm-list-submenu > li{
	padding: 10px;
	margin-bottom: 0px !important;
	border-bottom: 2px solid #fff;
}

nav.ecm-elemnt-menu ul li > div > span{
  font-size: 30px;
}

.clear{clear: both;}
.ecm-editor-container{padding:0px;margin: 0px;}
.ecm-editor-banner-right{background-color: rgb(7,157,172);color: #fff;width: 100px;}

/*section edit content*/
.ecm-edition-content-global{ border:1px solid orange;margin-top: 20px;}
.ecm-edition-pages-content{padding:10px;border:1px solid red}
.ecm-edition-page{background-color: #fff;border-radius: 5px;padding: 10px;margin-top: 20px;}
.ecm-edition-page header.ecm-panel-close h5{text-align: right;margin: 0px;font-size: 20px;font-weight: bold;color:#999999;cursor: pointer;}
.ecm-edition-banner-right{border:1px solid red;position: absolute;right: -30px;background-color: #fff;padding: 0px;}
header.ecm-edition-banner-header{background-color: rgb(7,157,172);padding: 5px;color: #fff;font-weight:bold;text-align: center;}
ul.ecm-edition-banner-options{padding: 5px;list-style: none;}
ul.ecm-edition-banner-options li{border:1px solid red;padding: 2px;}



/*AUDIO MENU*/
.menu-audio{ list-style: none;padding: 0px;border:1px solid red;margin-top: 10px;}
ul.menu-audio li{ display: inline;padding: 10px;background-color: #85f0fa;color: #fff;cursor: pointer; width: 50% !important; height: auto !important;}
ul.menu-audio li:hover{background-color: #079eab;}
ul.menu-audio li.active{ background-color: #079dac;cursor:none;}
.tools-config{border:2px solid #079eab;margin-bottom: 10px;padding-top: 40px;}
.box-near-menu{margin-bottom: 20px;text-align: center;}

.tools-audio-box{margin-top: 20px;}
.genderCnt {
    padding: 0px;
    border-bottom: 3px solid #fff;
}

.genderCnt > div {
    padding: 0px;
    margin-bottom: 10px;
}

.genderCnt > div > div {
    float: left;
    font-size: 17px;
    text-align: center;
    padding: 5px;
    height: 29px;
    width: 29px;
    color: #fff;
    background-color: #272c33;
}

.genderCnt > div > select {
    background-color: #fff;
    color: #272c33;
    padding: 6px;
    border-color: transparent;
    font-size: 12px;
    width:100%;
}
.footerEditAudio {
    margin-top: 20px;
}

.footerEditAudio > button {
    width: 100%;
    border-radius: 0px !important;
    background-color: rgb(7, 157, 172);
    color: #fff;
    border-color: rgb(7, 157, 172);
}

.footerEditAudio > button:hover {
    width: 100%;
    border-radius: 0px !important;
    background-color:  #fff;
    color:rgb(7, 157, 172);
    border-color: #fff;
}


.ecm-edition-page-icon-edit {
    background-color: #2eb82e;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
	font-size: 13px;
    color: #fff;
    margin-right: 5px;
}
.ecm-edition-page-icon-edit > span{
	margin-top: 8px;
}

/**/
.edition-position-title{position: absolute;right: -15px;top: -10px;}
.ecm-edition-page .ecm-form-group{margin-top: 30px;}
.title-container{margin-left: 40px;font-weight: bold;}
.edition-near-element{float: left;margin-top: -3px;}
.input-text-title{float: left;width: 90%;}
.remove-icon{position: absolute;right: -10px;top: -10px;background-color: #b30000;}
.edition-icon{position: absolute;right: 25px;top: -10px;}
.show-and-hidde-icon{position: absolute;left: 10px;top: -10px;background-color: rgb(7,157,172);}
.only-show-prevSlide{margin-top: 20px;padding-left: 20px;display: none;}
.container-slide-edit{margin-top: 20px;}
.noVisible{display: none;}
.Visible{display: block;}
.menu-main-option{cursor: pointer;}
#tool-submenu-colors{margin-left: -40px !important;}
#tool-submenu-colors > li{width:120px;}
.color-option{background-color: #fff;border-color: #fff;color: #272c33;border-radius: 0px;margin-bottom: 10px;}
#tool-submenu-audio{margin-left: -20px !important;}
#tool-submenu-audio > li{width:280px;}
.progress{width: 95%;margin-top: 5px;border-radius: 0px;margin-left: 7px;}
#convertToAudio{margin-bottom: 20px;padding: 10px;display: none;}
.options-audio{padding:10px;}
.options-audio div.first{ border:1px solid #fff;padding:6px;}
.options-audio div.second{ border:1px solid #e6e6e6;padding:6px;margin-top: 5px;}
#tool-submenu-images{margin-left: -10px !important;}
#tool-submenu-images li{width:150px;}
#tool-submenu-images li > #edit-imagen > button.upload_btn_ghr{background-color: #fff; border-color: #fff; color:rgb(39, 44, 51);}
#tool-submenu-fonts{margin-left: 40px !important;}
#tool-submenu-fonts > li{width: 170px;}
.fontSelect{border-radius: 0px;text-align: center;}