/**
 * Default HTML overwrite and custom styles
 * -----------------------------------------------------------------------------
 */

img {
    max-width: 100%;
}

input[type="color"] {
    vertical-align: middle;
}

.fileinput-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/**
 * Upload Component
 * -----------------------------------------------------------------------------
 */

.upload > .progress,
.upload > .cancel,
.upload > .files,
.upload > .alert {
    display: none;
}

.upload > .alert {
    padding: 15px;
}

.upload > .progress {
    margin-top: 20px;
}

.upload.show-alert > .alert {
    display: block;
    font-weight: bold;
}

.upload.uploading > .select,
.upload.ready > .select,
.upload.uploading > .help-block,
.upload.ready > .help-block {
    display: none;
}

.upload.uploading > .cancel {
    display: inline-block;
}

.upload.uploading > .progress,
.upload.ready > .files {
    display: block;
}

/**
 * Wrapper
 * -----------------------------------------------------------------------------
 */

.wrapper {
    margin-top: 5px;
    /*padding: 30px;*/
}

/**
 * Tabs and Tab Content
 * -----------------------------------------------------------------------------
 */

.main-tabs {
    padding: 25px 45px 0;
    background-color: #0f5048;
}

.main-tabs > li > a {
    padding: 10px 30px;
    font-size: 20px;
    border-bottom: 5px solid transparent;
}

.main-tabs > li > a,
.main-tabs > li.active > a,
.main-tabs > li.active > a:focus,
.main-tabs > li.active > a:hover {
    color: #fff;
}

.main-tabs > li > a:focus,
.main-tabs > li > a:hover,
.main-tabs > li.active > a,
.main-tabs > li.active > a:focus,
.main-tabs > li.active > a:hover {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 5px solid #fff;
}

.main-tab-content {
/*    padding: 25px 45px;*/
    padding: 25px 0;
    background-color: #317369;
}

.main-tab-content > .tab-pane {
    padding: 30px 0;
}

.main-tab-content .custom-group {
    margin-bottom: 50px;
}

.main-tab-content .label-only {
    margin-bottom: 0;
}

.main-tab-content .custom-group > label {
    display: block;
    margin-bottom: 0;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background-color: #b24074;
}

.main-tab-content .input-field {
    margin: 0 10px;
    padding: 15px 45px;
    background-color: #fff;
}

.main-tab-content .color-picker:hover {
    cursor: pointer;
}

/**
 * Background
 * -----------------------------------------------------------------------------
 */

#bg > .bg-type {
    display: none;
}

#bg > .bg-type.active {
    display: block;
}

#bg .bg-img .img,
#slides .slide-img .img,
#slides .slide-icon-img .img {
    max-width: 200px;
    margin: 0 auto 15px;
}

/**
 * Slides
 * -----------------------------------------------------------------------------
 */

#slides .sidebar {
    padding: 0;
}

#slides .nav-pills > li {
    float: none;
}

#slides .nav-pills > li + li {
    margin-left: 0;
}

#slides .nav-pills > li > a {
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#slides .nav-pills > li:not(.excluded) > a {
    cursor: move;
}

#slides .nav-pills > li:not(.excluded) > a:focus,
#slides .nav-pills > li:not(.excluded) > a:hover,
#slides .nav-pills > li.active:not(.excluded) > a,
#slides .nav-pills > li.active:not(.excluded) > a:focus,
#slides .nav-pills > li.active:not(.excluded) > a:hover {
    background-color: #ec6063;
}

#slides .nav-pills > li.excluded > a > i {
    color: #ec6063;
}

#slides .nav-pills > li.excluded > a,
#slides .nav-pills > li.excluded > a:focus,
#slides .nav-pills > li.excluded > a:hover {
    background-color: transparent;
}

#slides .nav-pills > li:not(.excluded) > a > span,
#slides .nav-pills > li:not(.excluded) > a > button {
    cursor: pointer;
}

#slides .nav-pills > li .close {
    margin-left: 10px;
    font-size: 18px;
}

#slides .nav-pills > li:first-child .close {
    display: none;
}

#slides .tab-content > .tab-pane {
    padding-bottom: 30px;
}

#slides h2 {
    /*margin: 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;*/
    margin-bottom: 0;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background-color: #b24074;
}

#slides .tab-content > .tab-pane h2:first-child {
    margin-top: 0;
}

#slides .sound > .sound-player > a {
    display: inline-block;
    line-height: 64px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 64px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

#slides .sound > .sound-player > .stop,
#slides .sound > .sound-player.playing > .play {
    display: none;
}

#slides .sound > .sound-player.playing > .stop {
    display: inline-block;
}

#slides .icon-type {
    display: none;
}

#slides .icon-type.active {
    display: block;
}

.note-editor {
    overflow: visible !important;
}

/* Mats Fjellner - para autoreproducción de audio */

.general {
    background-color: #888;
    border-radius: 10px;
    padding: 1% 10%;
    margin-bottom: 5px;
}

.general label {
    font-weight: normal;
    color: #fff;
}

.general label span {
    display: inline;
    margin: 0;
    background: transparent;
    border: 0 none;
}