body {
    font-family: Verdana, Geneva, sans-serif;
    padding: 0 5%;
}

textarea, input, select {
    font-family: Verdana, Geneva, sans-serif;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    position: relative;
}

h1 {
    margin: 0.5 0 0.5em;
    padding: 0;
    color: #7f8c8d;
    font-size: 150%;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}

form {
    margin: 0;
    padding: 0;
}

.template {
    display: none;
}

section {
    margin: 2em 1em 1em;
    padding: 2em 0.5em 0.5em;
    border: 1px solid #fff;
    position: relative;
}

section img.icon {
    position: absolute;
    width: 18%;
    top: -10%;
    right: 1%;
}

section.personajes img.icon {
    width: 14%;
    top: -10%;
    right: 4%;
}

section.dialogo img.icon {
    width: 14%;
    top: -7%;
    right: 5%;   
}

section.fondo {
    background-color: #bdc3c7;
}

section.fondo div {
    float: left;
    width: 222px;
    margin-top: 0;
    margin-right: 20px;
    background: none 0 0 no-repeat;
    border: none;
}

section.fondo div div {
    float: none;
    margin: 0;
    width: auto;
    height: 136px;
    background: url(../bgscene_01.jpg) 0 0 no-repeat;
}

section.fondo div p {
    font-size: 116.6667%;
    font-weight: bold;
    color: #7f8c8d;
    background-color: #fff;
    padding: 1% 2%;
    border-bottom: 2px solid #7f8c8d;
}

section.fondo p.legend {
    clear: left;
    display: block;
    border: 1px solid #606060;
    padding: 2% 2%;
    width: auto;
    background: #fff;
    position: relative;
}

section.fondo p.legend input {
    border: none;
    width: 100%;
    font-size: 116.6667%;
    color: #999999;
}

section.fondo p.legend:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: -30px;
    border: 15px solid;
    border-color: transparent transparent #606060 transparent;
}

section.fondo p.legend:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: -29px;
    border: 15px solid;
    border-color: transparent transparent #fff transparent;
}

section.personajes {
    background-color: #1ABC9C;
}

section.dialogo {
    background-color: #00BFD0;
}

div {
    
    padding: 0;
    border: none;
    opacity: 1;
}

div.escena {
    background-color: #ecf0f1;
    padding-bottom: 1em;
    border-radius: 20px;
    position: relative;
}

div span {
    display: inline-block;
    margin: 2px 4px;
    background: #ddd;
    border: 1px dotted #999;
}

div.escena .h2-gfx {
    width: 0; 
    height: 0; 
    margin: 0;
    background-color: transparent;
    margin-left: 18.47%;
    margin-bottom: 2%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid #3498db;
}

h3.title, h2 {
    border: 1px solid red;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    height: auto;
    z-index: 100;
    border: none;
    background-image: linear-gradient(top, #2d3e50 50%, transparent 50%);
background-image: -o-linear-gradient(top, #2d3e50 50%, transparent 50%);
background-image: -moz-linear-gradient(top, #2d3e50 50%, transparent 50%);
background-image: -webkit-linear-gradient(top, #2d3e50 50%, transparent 50%);
background-image: -ms-linear-gradient(top, #2d3e50 50%, transparent 50%);
}

h2 { 
    position: relative;
    background: none;
    top: auto;
}

h3 span {
    display: block;
    border: none;
    margin: 0;
    width: 0; 
    height: 0; 
    position: absolute;
    top: 0;
    height: 42px;
    background: none;
}

h3 span.left {
    left: 0;
    
    border-top: 42px solid #fff; 
    border-left: 42px solid transparent;
}

h3 span.right {
    right: 0;
    border-top: 42px solid #fff; 
    border-right: 42px solid transparent;
}

h3 p {
    padding: 0 10px;
    margin: 0 42px;
    line-height: 150%;
    font-size: 150%;
    color: #3498db;
    font-weight: bold;
    background-color: #fff; 
    overflow: hidden;
}

button {
    float: right;
    line-height: 150%;
    font-size: 91.66666875%;
    font-weight: bold;
    border: none;
    background: #3598db;
    border-radius: 20px;
    color: #fff;
}

.personajes .personaje {
    float: left;
    background-color: #F9FAFB;
    margin: 1em 2%;
    width: 45%;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    position: relative;
}

.n {
    position: absolute;
    display: block;
    border: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    top: -15px;
    left: 50%;
    /*margin-left: ;*/
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    color: #3498DB;
    font-size: 183.333%;
    font-weight: bold;
    font-size: 120%;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}


.personaje .thumb, .personaje .thumb div {
    height: 222px;
    background: transparent no-repeat 0 0;
}

.personaje select {
    width: 96%;
    margin: 2% 2%;
}

.noverflow {
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

.parliament {
    width: auto;
    background-color: #ECF0F1;
    margin: 1em 2%;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    position: relative;
}

.parliament .personaje {
    clear: left;
    float: left;
    width: 15%;
    background: transparent 0 0 no-repeat;
    margin: 0 30px 0 10px;
    background-size: cover;
}

.parliament ul div {
    margin: 0;
    background-color: transparent;
}

section.dialogo p.legend {
    float: left;
    display: block;
    border: 1px solid #606060;
    padding: 2% 1%;
    width: auto;
    background: #fff;
    position: relative;
}

section.dialogo p.legend textarea {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 116.6667%;
    color: #999999;
}

section.dialogo p.legend:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -30px;
    top: 50%;
    border: 15px solid;
    border-color: transparent #606060 transparent transparent;
}

section.dialogo p.legend:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -29px;
    top: 50%;
    border: 15px solid;
    border-color: transparent #fff transparent transparent;
}

.dialogo button {
    float: left;
    line-height: 150%;
    font-size: 91.66666875%;
    font-weight: bold;
    border: none;
    background-color: #F1C40F;
    border-radius: 20px;
    color: #fff;
}

.parliament .noverflow {
    padding-top: 2em;
}

.parliament li {
    padding: 0.2em 1em;
}

.parliament li:hover {
    background-color: #C6DFE0;
}

.parliament label {
    display: block;
    width: auto;
    text-align: right;
    font-size: 116.66666875%;
    color: #6D6D6D;
    overflow: hidden;
}

.parliament label input {
    float: left;
}

.parliament label span {
    background: none;
    border: none;
    display: inline;
    margin: 0 0 0 0;
}

.parliament li em {
    display: block;
    text-align: right;
    opacity: 0.5;
    font-size: 75%;
    padding: 0.5em 1em;
}

.parliament ul {
    float: right;
    width: 40%;
}

.parliament ul div {
    display: none;
}

div .btn span {
    display: inline-block;
    margin: 2px 4px;
    background-color: #5CB85C;
    border: 1px dotted #4CAE4C;
}

.btn-success:hover span,
.btn-success:focus span,
.btn-success:active span,
.btn-success.active span,
.open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}

div.progress {
    display: block;
}

p.current-sound {
    float: right;
    width: 40%;
}

.page div.progress {
    display: none;
    background-color: #F5F5F5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    margin-right: 1em;
    overflow: hidden;
}

.page div.progress-bar {
    display: block;
    background-color: #5CB85C;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

.page audio {
    display: none;
}

section.page {
    background-color: #00BFD0;
}

div#tablet {
    background-color: #ECF0F1;
    border-radius: 20px;
    padding-bottom: 1em;
    position: relative;
    padding-top: 1em;
}

.page .uploads , .upload, .upload>div{
    background: transparent;
    float: right;
    width: 330px;
}

.page textarea {
    width: 380px;
    height: 200px;
}

#upload {
    background-color: #BDC3C7;
}

#upload .btn {
    background: url("../../img/up.png") no-repeat scroll 2px 50% #5CB85C;
    border: medium none;
    border-radius: 20px;
    display: inline;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 0 14px 0 32px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 240px;
}

#imagen {
    background: transparent none 0 0 no-repeat;
    background-size: 100% auto;
    position: relative;
    display: none;
}

div .progress-bar {
    margin: 0;
}

a.spot.loose {
    opacity: 0.3;
}

a.spot {
    background: #77f475; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #77f475 0%, #1f7529 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#77f475), color-stop(100%,#1f7529)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #77f475 0%,#1f7529 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #77f475 0%,#1f7529 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #77f475 0%,#1f7529 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #77f475 0%,#1f7529 100%); /* W3C */
    border: medium none;
    border-radius: 10px;
    top: 0;
    left: 0;
    margin-left: -10px;
    margin-top: -10px;
    display: block;
    height: 20px;
    width: 20px;
    outline: 0 none;
    position: absolute;
    
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
}

.btn {
    width: 30%;
}

.page .uploads .upload {
    overflow: hidden;
}

.imagen, .audio {
    text-align: right;
}

img.thumb {
    width: 20%;
    background-color: #fff;
    padding: 2%;
    float: right;
    transition: width 0.3s;
}

img.thumb:hover {
    width: 100%;
}

.imgpos-container {
    display: none;
}

.imgpos-container label {
    display: block;
    margin: 1% 0;
    font-weight: normal;
}

.imgpos-container label input {
    margin: 0 2% 0 0;
    vertical-align: middle;
}

/*Santiago Peñuela A - 19/02/2015*/
#bcssadd
{
    background-color: #00bfd0;
    border-radius: 15px;
    color: white;
    display: inline-block;
    height: 130px;
    margin-bottom: 45px;
    margin-top: 15px;
    width: 100%;
}

#bcssadd p
{
    margin-top: 20px;
}

#bcssadd span
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin: 0 15px 0 20px;
}

.cssaddpage
{
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}
/** editor **/
.note-editor {
  background: rgba(255,255,255,1) !important;
  width: 50%;
}
.note-toolbar.btn-toolbar {
  height: 70px;
}
.note-editor div{
    margin:0;
}
ul.dropdown-menu,.dropdown-menu {
  z-index: 9999;
  background: rgba(255,255,255,1) !important;
}
ul.dropdown-menu.colorPicker li div.btn-group {
  width: 48%;
}
.modal-dialog{
  background: rgba(255,255,255,1) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  transform: translateY(-50%) !important;
}
.popover-content {
  background: rgba(255,255,255,1) !important;
}
a.btn{
    width: auto;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}