
form {
    margin: 0 auto;
    width: 786px;
}

h1 {
    font-size: 24px;
    margin: 4px 0 14px;
}

h3 p {
    font-size: 24px;
    line-height: 34px;
    height: 34px;
    color: #7f8c8d;
    margin: 0 30px;
    text-align: center;
}

h3.title {
    width: 498px;
    height: 34px;
    margin-top: -18px;
}

h2 {
    font-size: 24px;
    line-height: 34px;
    height: 34px;
    color: #7f8c8d;
    margin: 0 30px;
    text-align: center;
}

h3 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    width: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    
}

h3 span.left {
    border-color: transparent #fff transparent transparent;
    border-width: 0 30px 34px 0;
    left: 0;
}

h3 span.right {
    border-color: #fff transparent transparent;
    border-width: 34px 30px 0 0;
    right: 0;
}

.page a.cerrar {
    position: absolute;
    width: 22px;
    height: 22px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: transparent url(../../img/anular.png) 0 0 no-repeat;
    right: 5px;
    top: 5px;
}

.page a.cerrar:hover {
}


section select[multiple] {
    font-size: 18px;
    height: 185px;
    width: 285px;
    float: left;
}

select option {
    padding: 1px 14px;
}

section {
    margin: 20px 8px 51px;
    padding: 35px 17px 15px;
    border: 1px solid #fff;
    position: relative;
}

section.fondo div p {
    font-size: 18px;
}

section.fondo p.legend {
    padding: 10px;
    margin-top: 18px;
}

section.fondo p.legend input {
    font-size: 16px;
}

section img.icon {
    right: 4px;
    top: -26px;
    width: 124px;
}

section.personajes img.icon {
    right: 26px;
    top: -36px;
    width: 84px;
}

section.dialogo img.icon {
    right: 24px;
    top: -34px;
    width: 94px;
}

.personaje .thumb, .personaje .thumb div {
    background-size: contain;
    background-color: #fff;
    height: 192px;
}

.personaje .thumb div {
    background-color: transparent;
}

.personaje select {
    font-size: 20px;
}

.parliament .personaje {
    background-size: contain;
    margin: 0 30px 40px 10px;
    height: 180px;
    width: 90px;
}

.parliament label {
    font-size: 18px;
    font-weight: normal;
}

section.dialogo p.legend textarea {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.n {
    border: medium none;
    border-radius: 22px;
    font-size: 28px;
    height: 44px;
    line-height: 44px;
    top: -22px;
    width: 44px;
}

.parliament {
    margin: 40px 0;
}

section.dialogo p.legend {
    margin-top: 15px;
    height: 134px;
    padding: 12px 16px;
    position: relative;
    width: 206px;
}

section.dialogo p.legend:before, section.dialogo p.legend:after {
    border-width: 12px;
    left: -24px;
    top: 12px;
}

section.dialogo p.legend:after {
    left: -23px;
}

.parliament ul {
    margin-top: 15px;
    width: 330px;
    padding-left: 124px;
    background: transparent url(../img/bg_audio.png) 6px 6px no-repeat;
}

.parliament li {
    padding: 7px 16px;
}

.parliament li:hover {
    background-color: #fff;
}

p.current-sound {
    float: right;
    margin: 10px 24px 10px 0;
    width: 306px;
    height: 39px;
    background: transparent url(../img/bg_play.png) 0 0 no-repeat;
    overflow: hidden;
}

p.current-sound a {
    display: block;
    height: 39px;
    background: transparent url(../img/bg_play.png) 0 0 no-repeat;
    outline: none;
}

p.current-sound a.loaded {
    background: transparent url(../img/bg_play.png) 0 -39px no-repeat;
}

p.current-sound a.loaded.playing {
    background-position: 0 -78px;
}

.parliament .noverflow {
    padding-top: 65px;
}

.dialogo .parliament h4 {
    font-size: 24px;
    font-weight: bold;
    width: 218px;
    text-align: center;
    color: #ff4b39;
    background-color: #fff;
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 0;
    margin-right: -25px;
    top: 30px;
}

.dialogo .parliament h4:after {
    content: " ";
    width: 0; 
    height: 0; 
    margin: 0;
    right: 0;
    top: 36px;
    bottom: 0;
    position: absolute;
    border-style: solid;
    border-width: 10px 24px 0 0;
    border-color: #000 transparent transparent transparent;
}

.dialogo .parliament a.cerrar {
    right: -11px;
    top: -11px;
}

button {
    background: #3598DB url(../../img/more.png) 2px 50% no-repeat;
    color: #fff;
    float: right;
    line-height: 26px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    height: 26px;
    padding: 0 14px 0 32px;
    border-radius: 13px;
    color: #fff;
    margin-right: 8px;
}

.dialogo button {
    background-color: #F1C40F;
    float: left;
}

section.fondo div.uploads {
    margin: 50px 0 0 10px;
    width: 150px;
}

section.fondo div.uploads div {
    background: none;
    float: none;
    height: auto;
    margin: 0;
    width: auto;
}

section.fondo div.uploads .btn {
    
    background: #5CB85C url("../../img/up.png") no-repeat scroll 2px 50%;
    border: medium none;
    border-radius: 20px;
    display: inline;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 0;
    padding: 0 14px 0 32px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width: 140px;
}

section.fondo div.uploads .btn span {
    border: none;
}

section.fondo div.uploads .btn-success:hover span,
section.fondo div.uploads .btn-success:focus span,
section.fondo div.uploads .btn-success:active span,
section.fondo div.uploads .btn-success.active span {
  background-color: #5cb85c;
  outline: 0 none;
  border: 0 none;
}

section.fondo .current-sound {
    display: none;
}

section.fondo div.uploads div.progress-bar {
    background-color: #5CB85C;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

section.dialogo {
    padding-left: 0;
    padding-right: 0;
}

.dialogo > .noverflow {
    padding: 0 30px;
}

/*
.dialogo .noverflow .parliament {
    margin: 0;
}*/

/*
.dialogo button {
    background-color: #F1C40F;
    border: medium none;
    border-radius: 20px;
    color: #FFFFFF;
    float: left;
    font-size: 91.6667%;
    font-weight: bold;
    line-height: 150%;
}
button {
    background: url("../../img/more.png") no-repeat scroll 2px 50% #3598DB;
    border: medium none;
    border-radius: 13px;
    color: #FFFFFF;
    float: right;
    font-size: 15px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 0 14px 0 32px;
}
*/
