html
	width: 100%
	background: rgb(241,241,241)

body
	margin: 0 auto

form
	margin-left: 2%
	input, select
		text-align: center

.progress
	text-align: center

.input-container
	width: 70%
	display: inline-block
	position: relative
	top: -30px

.ludic::before, .avatar-load span
	content: ""
	width: 120px
	height: 120px
	line-height: 120px
	background: rgb(0,128,239)
	display: inline-block
	border-radius: 50%
	border: solid 2px rgb(0,128,239)

.ludic-title
	margin-top: 2%

.ludic-title .input-container
	top: -80px

.ludic-background .input-container
	top: -50px

.ludic-title::before
	background: rgb(0,128,239) url('../img/text.png') no-repeat scroll center / 70% 70%

.ludic-effect::before
	background: rgb(0,128,239) url('../img/transition.png') no-repeat scroll center / 70% 70%

.avatar-load
	margin-bottom: -7%

.avatar-load .input-container
	margin-left: 15%
	top: -95px

.avatar-load span.fileinput-button
	background: rgba(0,0,0,0) no-repeat scroll center / 100% 100%
	z-index: 1
	text-align: center
	color: #FFF
	-webkit-transition: background 1s
	transition: background 1s

span.fileinput-button i 
	display: none
	font-size: 4rem
	line-height: inherit
	-webkit-transition: display 1s
	transition: display 1s

.avatar-load span.fileinput-button:hover
	background: rgba(0,0,0,.5)
	i
		display: block

.avatar-load span.bg-avatar
	background: rgb(0,128,239) url('../img/avatar.png') no-repeat scroll center / 100% 100%
	position: relative
	left: -123px
	z-index: 0

.ludic-background::before
	background: rgb(0,128,239) url('../img/ludic-background.png') no-repeat scroll center / 70% 70%

.ludic-textarea .input-container
	width: 95%

.note-editor
	width: 100%

.note-color-row
	margin-top: -5px !important

.ludic-title-text
	width: 70%
	position: relative
	margin-left: 15%
	margin-top: -11%

.ludic-background .input-container input
	border: 0
	padding: 0

.note-editable
	background: rgb(255,255,255)