.list-dispositives{ padding:2px 10px; }
.list-dispositives li{ width: 180px; height: 33px;  margin-bottom: 3px; background-color: #fff; }
div.icon-dispositives{ height:33px !important;padding-top:2px;font-size:22px;width:35px;border-left:3px solid #4d4d4d;text-align: center;}
div.dispositives-title{
	text-align: center;padding-top:3px;
	width: 63px;padding-top:9px;color: #8c8c8c;
	font-size: 12px !important;text-align: left;}
.list-dispositives li div {float: left; color: #000; height: 35px;}
div.dispositives-see{ text-align:center;width:41px;padding:5px 3px; cursor: pointer;font-size:19px;color:#4d4d4d;border-left:3px solid #4d4d4d; }
