/**
 * Default HTML overwrite and custom styles
 * -----------------------------------------------------------------------------
 */

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

@media (min-width: 768px) {
    overflow: hidden;
}

img {
    max-width: 100%;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .vertical-center {
        display: table;
        width: 100%;
    }

    .vertical-center > span {
        display: table-cell;
        vertical-align: middle;
    }
}

.animated {
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}

@media (min-width: 768px) {
    .animated {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
    }
}

@media (max-width: 767px) {
    .mobile-hidden {
        display: none !important;
    }
}

/**
 * Wrapper
 * -----------------------------------------------------------------------------
 */

.wrapper {
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .wrapper:before {
        content: '';
        display: block;
        padding-top: 56.25%;
    }
}

/**
 * Content
 * -----------------------------------------------------------------------------
 */

.content {
    visibility: hidden;
}

.content.available {
    visibility: inherit;
}

/**
 * Loader
 * -----------------------------------------------------------------------------
 */

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.loader.complete {
    display: none;
}

/**
 * Navigation
 * -----------------------------------------------------------------------------
 */

.menu-button::before {
    position: absolute;
    display: block;
    width: 22px;
    height: 2px;
    top: 27px;
    left: 20px;
    content: "";
    background-color: #fff;
}

.menu-button::after {
    position: absolute;
    display: block;
    width: 22px;
    height: 3px;
    top: 17px;
    left: 20px;
    box-sizing: content-box;
    content: "";
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.menu-button {
    position: relative;
    line-height: 1;
    padding: 16px 20px 16px 60px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ce5c5d;
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu nav {
    /*display: none;*/
}

@media (min-width: 768px) {
    .menu nav {
        position: absolute;
        /*display: block;*/
        width: 95%;
        height: 13.7%;
        left: 2.5%;
        bottom: 10%;
        font-size: 0;
        z-index: 1000;
        opacity: 0;
    }
    
    .menu nav ul {
        height: 100%;
        text-align: center;
    }
    
    .menu nav ul > li {
        display: inline-block;
        vertical-align: top;
        width: 10%;
        height: 100%;
        padding: 0.65% 1px 0;
    }
    
    .menu nav ul > li a {
        display: block;
        height: 100%;
        padding: 5% 0;
        font-size: 16px;
        color: #fff;
        background-color: #282a27;
    }
    
    .menu nav ul > li.active,
    .menu nav ul > li.active a {
        background-color: #e86c64;
    }
    
    .menu nav ul > li a > div {
        height: 100%;
    }
    
    .menu nav ul > li a img {
        max-width: none;
        max-height: 100%;
    }
    
    .menu nav ul > li a i {
        line-height: 1.8;
        font-size: 2em;
    }
    
    .menu nav ul > li a img,
    .menu nav ul > li.image a i,
    .menu nav ul > li a span {
        display: none;
    }
    
    .menu nav ul > li.image a img {
        display: inline;
    }
}

@media (min-width: 768px) {
    #mobile-menu {
        display: none;
    }
}

#mobile-menu nav ul > li a img,
#mobile-menu nav ul > li a i {
    display: none;
}

/**
 * Cover
 * -----------------------------------------------------------------------------
 */

.cover {
    padding: 15px 0;
    background-color: #404c4a;
}

@media (min-width: 768px) {
    .cover {
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
}

.cover h1 {
    margin: 0 0 15px;
    font-size: 1.25em;
    color: #fff;
    text-align: center;
    opacity: 0;
    z-index: 1000;
}

@media (min-width: 768px) {
    .cover h1 {
        height: 14.4444%;
        line-height: 1;
        margin: 0;
        font-weight: normal;
    }
}

@media (min-width: 768px) {
    .cover .image {
        width: 90%;
        height: 60%;
        margin: 0 auto;
        text-align: center;
        opacity: 0;
    }
}

.cover.no-img .image {
    display: none;
}

@media (min-width: 768px) {
    .cover .image img {
        max-width: none;
        max-height: 100%;
    }
}

/**
 * Slides
 * -----------------------------------------------------------------------------
 */

.slides {
    overflow: hidden;
}

@media (min-width: 768px) {
    .slides {
        position: absolute;
        overflow: inherit;
        width: 100%;
        height: 100%;
        top: 0;
    }
}

.slides > ul {
    overflow: hidden;
}

@media (min-width: 768px) {
    .slides > ul {
        position: relative;
        overflow: inherit;
        height: 100%;
        padding-bottom: 0;
        background-color: transparent;
    }
}

.slides > ul > li {
    position: relative;
    display: none;
}

@media (min-width: 768px) {
    .slides > ul > li {
        height: 100%;
        background-color: #fff;
    }
}

.slides > ul > li.active {
    display: block;
}

.slides > ul > li .text,
.slides > ul > li .image,
.slides > ul > li a.close,
.slides > ul > li .sound {
    display: none;
}

.slides > ul > li.active .fadeInLeft,
.slides > ul > li.active .fadeInRight,
.slides > ul > li.active .fadeInUp,
.slides > ul > li.active .fadeInDown {
    display: block;
}

.slides > ul > li .text {
    padding: 0 0 10px;
    background-color: #f9c555;
}

@media (min-width: 768px) {
    .slides > ul > li .text {
        float: left;
        width: 60%;
        height: 100%;
        padding: 0 3% 0 0;
    }
    
    .slides > ul > li.no-img .text {
        width: 100%;
        padding: 0;
    }
}

.slides > ul > li .text .container {
    padding: 15px;
    background-color: #0053a1;
}

@media (min-width: 768px) {
    .slides > ul > li .text .container {
        height: 100%;
        padding: 3.125% 2.25%;
    }
}

.slides > ul > li .text h2 {
    margin: 0 25px 20px;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

@media (min-width: 768px) {
    .slides > ul > li .text h2 {
        margin: 0 0 3.125%;
        padding: 3.125%;
    }
}

.slides > ul > li .text p {
    margin: 0 0 20px;
    font-size: 0.875em;
    color: #fff;
}

@media (min-width: 768px) {
    .slides > ul > li .text p {
        margin: 0 0 4.5%;
        font-size: 1em;
    }
}

.slides > ul > li .image {
    text-align: center;
    background-color: #fff;
}

@media (min-width: 768px) {
    .slides > ul > li .image {
        position: relative;
        width: 40%;
        height: 100%;
        margin-left: 60%;
    }
}

.slides > ul > li.no-img .image {
    display: none;
}

@media (min-width: 768px) {
    .slides > ul > li .image .inner {
        position: absolute;
        width: 100%;
        padding: 3.5%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.slides > ul > li .close {
    position: absolute;
    width: 32px;
    line-height: 32px;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    background-color: #e2344f;
}

@media (min-width: 768px) {
    .slides > ul > li .close {
        width: 6%;
        line-height: 1.4;
        font-size: 2.5em;
    }
}

.slides > ul > li .sound {
    position: absolute;
    width: 32px;
    top: 0;
    left: 0;
    font-size: 1.5em;
    color: #3f3f3f;
    text-align: center;
    background-color: #cfced0;
    z-index: 1002;
}

.slides > ul > li .sound.active {
    color: #217c34;
}

.slides > ul > li .sound i {
    line-height: 32px;
}

@media (min-width: 768px) {
    .slides > ul > li .sound {
        width: 5.625%;
        top: auto;
        left: auto;
        right: 2%;
        bottom: 3.5%;
        font-size: 2em;
        border: 1px solid #1c1c1b;
        border-radius: 100%;
    }
    
    .slides > ul > li .sound i {
        line-height: 1.625;
    }
}

.slides > ul > li.no-sound > .sound {
    display: none;
}

/**
 * Slide tip
 * -----------------------------------------------------------------------------
 */

.slide-title-tip {
    display: none;
}

@media (min-width: 768px) {
    .slide-title-tip {
        position: absolute;
        display: block;
        width: 100%;
        height: 7.5%;
        left: 0;
        bottom: 0;
        color: #fff;
        text-align: center;
        background-color: #282a27;
        opacity: 0;
        z-index: 1001;
    }

    .slide-title-tip p {
        height: 100%;
        margin: 0;
        font-size: 1.125em;
    }
}