.gf-menu-multimedia{margin-top: 10px}
.gf-menu-multimedia nav ul li{display: inline;padding:6px;color: #fff;cursor: pointer;border: 2px solid #01D2B5;border-radius:10px 0 0 0;}
.gf-menu-multimedia nav ul li:nth-child(2){border-radius:0 10px 0 0;margin-left: -4px;}
.gf-menu-multimedia nav ul li.active{background-color: #01D2B5;cursor: none;color: #fff;}
.gf-ecm-multimedia-body{ border: 2px solid #01D2B5;margin-top:4px;margin-left:2px;height: auto;}
.gf-ecm-child-menu-multimedia{ position: relative;padding:10px; animation-name: leftDivs; animation-duration: 0.9s;}
.gf-ecm-child-menu-multimedia .fileinput-button{color: #4d4d4d;width:150px;height: 150px;background-color: #fff !important;border:3px dashed #01D2B5;display: block;margin:0 auto;}
.gf-ecm-child-menu-multimedia .header-multimedia{background-color: #01D2B5;padding:5px;}
.text-converter{padding:10px;}
.icon-tool-converter{width:35px;height:35px;float: left;font-size: 20px;text-align: center;padding-top:4px;background-color: #01D2B5;}
.selected-type-converter{float:left;width:81%}
.selected-type-converter select{padding:5px;height:35px;width:100%;background-color: #fff;color: #000;border:1px solid #fff;}
.slider-tools-converter{margin-top:2px;background-color: #fff;padding:10px;}
.slider-tools-converter .cnt-slider{color: #01D2B5;margin-bottom: 10px;}
.slider-tools-converter .cnt-slider h5{padding:0px;margin:0px;font-weight: bold;}
.slider-tools-converter .slider{float:left;width:155px;}
.text-generate-container{margin-top:2px;background-color: #fff;padding:10px;}
.text-generate-container .title{color: #01D2B5;margin-bottom: 10px;}
.text-generate-container .title h5{padding:0px;margin:0px;font-weight: bold;}
.input-text-generate{float:left;width:155px;}
.input-text-generate input {overflow-x:hidden;color: #000;}
.btn-generate{background-color: #01D2B5;width:100%;border-radius:0px;color: #fff;border-color:#01D2B5;}
@keyframes leftDivs {
    from {opacity:0;left: -100px;}
    to {opacity:1;left:0px;}
}
/*Audio*/
#convertOptions{
	border-radius: 5px;border:1px solid #b3b3b3;
	padding:7px;
	background-color: transparent;
	z-index: 10;box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}
.genderCnt{padding:0px;border-bottom: 3px solid #737373;}
.genderCnt > div{padding:0px;margin-bottom: 10px;}
.genderCnt > div > div{float: left; font-size: 17px; text-align: center;  padding: 5px;height: 29px; width: 29px;background-color: #d9d9d9;}
.genderCnt > div > div > i{margin-left: 4px;}
.genderCnt > div > select{
	background-color: #d9d9d9;padding:6px;border-color: transparent;
	font-size: 12px;
}

.active_voice{
	color:#ffad33;
	transform: scale(1.2,1.2);
	border: 1px solid #ccc;
}
.footerEditAudio {margin-top: 20px;}
.footerEditAudio > button{width:100%;border-radius: 0px !important;}
.descText{margin-bottom: 10px;border:1px solid #ccc;padding: 5px;}
#openDialog{margin-right: 5px;}
#alertChat, #idAlert{background-color:#70db70;display: none;color: #fff;}


.colorpicker{z-index: 50;}

.playSound{
	width:4em;height:4em;background-color: #ffa64d;float: left;
	border-radius:50%;color: #fff;font-size:1em;cursor: pointer;
}

.playSound .audioPlayIcon div.glyphicon{width:100%;margin-left:16px;margin-top:12px;border:1px solid orange;text-align: center;}

.soundActive{
	background-color: #47d147 !important;
	animation: playSound 4s infinite;
}

@keyframes playSound {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}