<input id="metadata-id" value="{{id}}" type="hidden" />
<h2>{{translation_metadata}}</h2>
<ul>
    <li>
        <label for="metadata-title">{{translation_title}}</label>
        <input id="metadata-title" value="{{title}}" />
    </li>
    <li>
        <label for="metadata-description">{{translation_description}}</label>
        <textarea id="metadata-description" rows="3">{{description}}</textarea>
    </li>
    <li>
        <label for="metadata-created">{{translation_creation_date}}</label>
        <input id="metadata-created" value="{{created}}" disabled="disabled" />
    </li>
    <li>
        <label for="metadata-lastModified">{{translation_last_modified}}</label>
        <input id="metadata-lastModified" value="{{lastModified}}" disabled="disabled" />
    </li>
    <li>
        <label for="metadata-autor">{{translation_author}}</label>
        <input id="metadata-autor" value="{{autor}}" disabled="disabled" />
    </li>
    <li>
        <label>{{translation_skill_indicators}}</label>
        <input class="indicadores" />
        {{#indicators-add}}
        <a href="#" class="indicador-add">+</a>
        {{/indicators-add}}

    </li>
    <!-- <li>
        <button class="test">Test</button>
    </li> -->
</ul>
<p>
    <label for="metadata-w">Width:</label>
    <input id="metadata-w" value="{{w}}" />
    <select id="metadata-wunit">
        <option value="%">%</option>
        <option value="px">píxeles</option>
    </select>
    
    <svg viewBox="0 0 1792 1792"><use xlink:href="../img/refresh.svg#icon-1"></use></svg>
</p>