#allContainer{
	background-color: #f2f2f2;
	margin-top: 25px;
	border-radius: 10px;
}

header#tools{
	background-color: #ffc266;
	z-index: 10;
}

header#tools > div{
	padding: 20px;
	border:1px solid #fff;
	text-align: center;
	font-weight: 300;
	cursor: pointer;;
}
header#tools > div.activeOption{
	color: #fff;
	background-color: #ffad33;
	border-bottom: 1px solid #ffad33
}

header#tools > div > span.option-Image{
	font-size: 28px;
}

/*cuerpo*/
section.global-custom-cnt{
	padding: 10px;
}

#edit-person{ padding-left: 4px; }
header.rowTitle{
	padding:8px;
	background-color: #ffad33;
	color: #fff;
	margin-bottom: 20px;
	border-bottom: 5px solid #e68a00;
	z-index: -10000000000;}
header.rowTitle > span.icon-tool-option {font-size: 27px;margin-left: 10px;}
header.rowTitle > h4{display: inline;position: relative;top: -5px;margin-left: 5px;}
header.rowTitle > span.icon-showHide-tools{font-size: 27px;margin-left: 10px;float:right;margin-right: 10px;cursor: pointer;}
.container-dashed{
	border:1px dashed gray;
	background-color:#fff;
}
.small-container{padding: 10px 0px 10px 7px !important;}
.center-container{padding:15px !important;}
.container-dashed > div.optionsImage{
	margin-bottom: 5px
}
.image-option{padding:0px !important;}
.gallery-option{margin-bottom: 5px !important;}
.image-option > button{width:120px !important;}
.image-option > button > span.icon-tool{font-size:23px !important;}

/*imagen de personaje para chatear*/
#image-user-container{
	width: 117px;
	height: 120px;
	border-radius: 100px;
	padding:5px;
	margin:0px auto;
	border:3px solid #e68a00;
}

#image-user-container > div{
	background-color:#ffad33;
	border-radius:100px;
	width: 101px;
	height:104px;
	text-align: center;
	overflow: hidden;
}

#image-user-container > div.prevBg{
	background-color: transparent;
	border-radius:0px !important;
	width: 101px;
	height:104px;
	text-align: center;
	overflow: hidden;
}

.bgPrev_{
	border-color: transparent !important;
	border-radius: 0px !important;
}
#image-user-container > div > img{
	width: 90px;
	margin-top: 6px;}
#edit-snack{margin-top: 20px;}
.container-edit-snack{border:1px dashed gray;padding: 10px;margin-top: 20px;}
.container-edit-snack > div.cnt-tools-snack{
	padding: 5px;
	border:1px solid #b3b3b3;
	background-color: #fff;}

#box-icon-tool{
	width: 50px;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	float: left;
	background-color: #ffad33;
	color: #fff;border-radius: 5px;
	cursor: pointer;}

.box-desc{float: left;margin-left: 5px;}
.box-desc > i{cursor: pointer;margin-left: 3px;color: #ffad33;}
.box-desc > b{cursor: pointer;}
.fonts-cnt{
	border:1px solid rgba(0,0,0,0.5);
	position: absolute;
	background-color: #fff;
	z-index: 1000000;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.3);
	display: none;
	}
.fonts-cnt > ul{
	list-style: none;padding: 0px !important;
	margin-bottom: 0px !important;
	cursor: pointer;}
.fonts-cnt > ul > li{
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 1px 10px 1px 10px;
}
.snack-box{margin-top: 10px;}

.fonts-cnt > ul > li:hover{
 background-color: #bfbfbf
}

.cnt-result-snack{
	border:1px solid #b3b3b3;
	padding: 13px;
	background-color: #fff;
	margin-top: 35px;
	padding-bottom: 20px;
	border-radius: 5px;overflow: hidden;}

.cnt-result-snack > h4{color:#e68a00;}
div.snack-container{
	border:1px solid transparent !important;
	margin-top: -55px!important;}
div.snack-container > div.snack-comilla{
	width: 0px;height: 0px;
	border-left: 28px solid transparent;
	border-right: 28px solid transparent;
	border-top: 28px solid transparent;
	position: relative;
	top: 33px;margin-left: -3px;
	border-bottom: 30px solid #999999;
}	

div.snack-container > div.snack{
	padding: 10px;
	border-radius: 4px;
}
#eyelash-preview > div{padding: 10px 30px 0px 30px}
.container-result-all{
	border:1px solid green;margin-top: 15px;margin-bottom: 20px;
}
footer.panel-end-edit{
	width:100%;padding: 10px;
	/*position: fixed;bottom: 0px;*/}

footer.panel-end-edit > button{
	border-radius: 0px !important;
}
.container-global-Addchat{
	border-right:1px dashed gray;
}
.container-No-border{
	border-right: 1px solid transparent !important;
}

.container-global-Addchat > .container-personal-Addchat{
	border: 1px solid #bfbfbf;padding:0px;background-color: #fff;
}
.container-personal-Addchat > .character-prev{
	border-right:1px solid #bfbfbf;
}

.container-personal-Addchat > .options-personal-chat{
	background-color: #fff;	
	text-align: center;
}
.options-personal-chat > div{
	font-size: 30px;cursor: pointer;margin-top: 30px;
}
.options-personal-chat > div.bg_Main_{
	font-size: 30px;cursor: pointer;line-height: 0px;margin-top: 30px !important;
}
.options-personal-chat > div.bg_Main_ > i:last-child{
	margin-top: 8px;
}
.chat-global-Container{
	margin-top: 20px;
}
div.chat-unique-person > div.this-preson-chat{padding:0px;}
div.chat-unique-person > div.this-preson-chat > div.image-character-chat{
	padding-right:0px;
	padding-left: 0px;
}

.right-snack-person{
	float: right !important;right: 3px !important;
}

div.chat-unique-person > div.this-preson-chat > .right-Image-person{
 float: right !important; right: 14px !important;
}

div.image-character-chat > #image-user-container{
	margin:0px;
}
.cnt-snack-chat{
	padding-right: 0px;
}
.snack-option-btn{
margin-top:20px;padding-left: 0px !important;
padding:10px;
}

.cnt-snack-chat > .snack-container{
	margin-top: -48px !important;
}

.cnt-snack-chat > .snack-container > .snack-comilla{
	margin-left:4px !important;
}

.title-image-coversation{
	text-align: center;color: #e68a00;
}
.bg-hover-change{
	cursor: pointer;
	transition: 1s all;
}
.bg-hover-change:hover{
	color: #ffad33;
	transform: scale(1.2,1.2);
}

.no-padding{
	padding: 0px !important;
}

/*Prev chat*/
#global-cnt-chat{
	margin-top: 25px;
	background-color: #e6e6e6;
	padding:0px;border: 4px solid #ffad33;
	min-width: 450px;
}

header.rowTitle > h4.title-chat{
	top:-20px;	
	left: 3px;
}
.icon-whats-emulator{
	margin-top: 10px;
}
p.chat-user-activity{
	display: inline;
    position: absolute;
    left: 80px;
    top: 30px;
}

#emulate-text-whats{
	padding:0px;background-color: #fff;
	height: 55px;margin-top: 20px;
}
.cont-iconSmile{
	font-size: 33px;text-align: center;color: gray;
}
.cnt-text-edit{font-size: 27px;}
.cnt-text-edit > div{border-bottom: 1px solid gray;}
button.btn-chat{float: right;margin-right: 12px;margin-top: 11px;border-radius: 0px;}
.clear{clear: both !important;}
.hiddeAllPanel{display: none}
.showActivePanel{display: block !important;}
#EditModal{
	background-color: rgba(0,0,0,0.6);
    z-index: 5656565655;
}
.modal-header{color: #fff;background-color: #ffad33;}
.modal-body > form{padding: 10px;}
.modal-body > form > div.form-group{margin-bottom: 0px !important;}
.cnt-btns-audio{padding: 0px !important;}
.save-btn > button{
	border-radius: 0px !important;
}
.icon-audio:first-child{
	border-left: 1px solid #ccc;
}
.icon-audio:hover{
	color: #ffad33;
	transform: scale(1.2,1.2);
	border: 1px solid #ccc;
}
.gbTextEdition > div.icon-audio{
	width:30px;
	height:30px;
	border: 1px solid #ccc;
	font-size: 17px;
}
.gbTextEdition > div.icon-audio > i{ margin-top: 5px; font-size: 12px;}
.icon-audio{
	background-color: #fff;
	transition: 1s all;
	width:40px;
	height:40px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
	text-align: center;
	font-size: 28px;
	cursor: pointer;}

.save-btn{float: right;margin-top: 3px;}
.textarea > #editTextEdition{border-radius: 0px !important;}
.colorpicker{z-index:100000000000000000000000000000}

/*edición del audio*/
.globalAudiocnt{border-radius: 100px;}
.cnt-audioDiv{background-repeat: no-repeat !important;}
.allAudios{width: 250px;visibility: hidden;}
#loading-data{
	width: 100%;
	padding: 20px;text-align: center;
	color: #4db53c;font-size: 25px;}
#alert_audio{display: none}
.bgImgCnt{
	width: 100%;
	height: 100%;
	background-size: 226px;
	background-repeat: no-repeat;
	background-position: center;/*izquierda y derecha   arriba y abajo*/
	background-image: url('../img/Nick.png');									
}
#edit_interfaz_chat{display: none;}
#bgMainText{
	border-radius:0px !important;
	padding:0px !important;
	padding-left: 10px !important;
	min-height: 34px;
    height: auto;
    margin-left: 14px;
}
.color_active{
	color:#ffad33;
}

/*clases que se añaden al titulo principal de la app*/
.left_{text-align: left;}
.center_{text-align: center;}
.right_{text-align: right;}
.bold_{font-weight: bold;}
.italic_{font-style: italic;}
.Subrayar{text-decoration: underline;}
.Tachado{text-decoration: line-through;}
.image-tools-cnt{text-align: center;margin-top:10px;}
.image-tools-cnt > div.size-tools{margin-bottom: 5px;}
.color-option{margin-bottom: 5px;}
#edit-interfaz > div.col-xs-12{margin-bottom: 20px;}
#loadAllpage{
	width: 100%;height:400px;background-color: rgba(0,0,0,0.5);position: fixed;top: 0px;z-index:92000000000;text-align: center;font-size: 30px;padding-top:150px;color: #fff;
}

#convertOptions{
	border-radius: 5px;border:1px solid #b3b3b3;
	padding:7px;position: absolute;
	left: 60px;top:10px;background-color: #fff;
	z-index: 10;box-shadow:0px 0px 10px rgba(0,0,0,0.4);
	display: none;padding-top: 20px;
}
.genderCnt{padding:0px;border-bottom: 3px solid #737373;}
.genderCnt > div{padding:0px;margin-bottom: 10px;}
.genderCnt > div > div{float: left; font-size: 17px; text-align: center;  padding: 5px;height: 29px; width: 29px;background-color: #d9d9d9;}
.genderCnt > div > div > i{margin-left: 4px;}
.genderCnt > div > select{
	background-color: #d9d9d9;padding:6px;border-color: transparent;
	font-size: 12px;
}
.active_voice{
	color:#ffad33;
	transform: scale(1.2,1.2);
	border: 1px solid #ccc;
}
.footerEditAudio {margin-top: 20px;}
.footerEditAudio > button{width:100%;border-radius: 0px !important;}
.descText{margin-bottom: 10px;border:1px solid #ccc;padding: 5px;}
#openDialog{margin-right: 5px;}
#alertChat, #idAlert{background-color:#70db70;display: none;color: #fff;}

.modal-body{height: 300px;overflow: scroll;overflow-x: hidden;}
#editTextBg > div{z-index: 200;}
/*EDICIÓN DE L IMAGEN PRINCIPAL DE FONDO*/
form#editTextBg > div{/*z-index: 20000000;*/}
header.headeEdition{
	background-color: #ffad33;
	border-bottom:1px solid #e68a00;margin-bottom: 5px;padding: 10px;
}

header.headeEdition > span.icon-showHide-tools{
	color: #fff;margin-right: 5px;font-size: 20px;cursor: pointer;
}
#editBgText, #containerBgEdit, #bg-properties{
	border:1px, solid #e68a00;
	padding:5px;
}
header.headeEdition > h4{display: inline;color: #fff;}
div.contInfoEdit{border-bottom: 4px solid #ffad33;margin-bottom: 20px;}
.optionContEdit{padding-bottom: 10px;}
.inlineDiv{display: inline;}
.inlineDiv > button{border:1px solid transparent;}
.subMenuOpt{
	margin-left:40px;
	position: absolute;
	top: -5px;
	padding:0px 10px;
	background-color: #fff;
	display:none;
	z-index:1000000000000;
	border-radius: 6px;
	border:1px solid #d9d9d9;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);}
.subMenuOpt > .checkbox{padding-top: 5px;}
.subMenuOpt > .brd{border-bottom: 1px solid gray;padding-top: 5px;}
.subMenuOpt > .checkbox > label{width:55px;padding-left: 4px;}
.subMenuOpt > .checkbox > input.psbgMain{width: 50px;display: inline;margin-left: 8px}
.subMenuOpt > .checkbox > input{width: 70px;display: inline;margin-left: 8px}
.contInfoEdit > .optCont{padding:10px;margin-top: 10px;}
#pwd{width:80px;height:30px;display: inline;margin-left: 3px;border-radius: 0px;}
#boxBgMainWidth{width: 80px;display: inline;}
.opProperties{padding:6px 0px !important;}
.opProperties > div{ padding:10px;}
.inlineDiv > p{margin-left: 10px;}
.withoutColor{
	display: inline;
	margin-left: 20px;
	border-left: 1px solid gray;
	padding:10px;
	padding-left:15px;}

#ancBr{width: 50px;height:30px;display: inline;margin-left: 3px}
.btn-default, .btn-default:hover, .btn-default:hover{
	border-color:transparent !important;
	background-color: transparent !important;
	cursor: default !important;}
div#sound_{display:inline;margin-left: 20px;}
audio.audio{width: 200px;}
h4._maur{display:inline;}
.activeMenuMain{display: block !important}
.bloques_edition{display: none}
.reloadCnt{
	margin-bottom:15px;position: fixed;
	top: 0px;z-index:200;padding: 10px;
	background-color: white;right: 0px;}
.reloadCnt > a#Reload{cursor:pointer;font-weight: 700;}
.reloadCnt > div.ok{
	color:#29a329;
	font-weight: 700;
	display: inline;
	border-bottom:2px solid #29a329;
	padding: 5px;
	margin-left: 10px; }
 .upload_drag_fx {
  display: none !important;
  color:#000;}

@-moz-document url-prefix()
 {
   .upload_drag_fx { display: block !important; }
   .upload_btn_ghr{ display: none !important; }
 }

.audioCNT{
	background-color:#00cc00;position:absolute;
	bottom:0px;left:100px;width:40px;height:40px;
	text-align:center;border-radius:20px;cursor:pointer;
	z-index: 50;
}

.audioCNT > span{ font-size:18px;margin-left:3px;margin-top:8px; color:#fff;
}
 .right-Image-person-audio{ right: 120px;  left: auto;  z-index: 10; }