@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('../dist/css/Roboto Light'), local('../dist/css/Roboto-Light'), url(../dist/css/roboto-light.woff2) format('woff2');
}

body {
	background: $backgroundColor;
	font-family: 'Roboto', sans-serif;
}

nav {
	background: $panelColor;
	padding: 2vw 0.5vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

nav a {
	color: $accentColor;
	text-decoration: none;
	font-size: 1.5vw;
}

nav a:hover {
	color: $textColor;
}

header {
	padding: 4vw 0;
}

h1 {
	color: $textColor;
	text-align: center;
	font-weight: normal;
	font-size: 2.5vw;
}

section {
	background: $panelColor;
	padding: 2vw;
}

section p {
	color: textColor;
	font-size: 1vw;
	}