<script id="responsiveBase" type="text/template">
	<div class="gf-multimedia-global-container gf-ecm-element-inactive" id="plugin-responsive">	
	<!--<section>
		<div>
			<h3 style="color:#fff;font-weight: bold;margin-bottom: 15px;">Dispositivos</h3>
			<ul class="list-dispositives">
				<li>

					<div class="ui toggle checkbox" style=" margin-top: 8px; height: 18px; width: 40px;padding-left: 2px;">
					  <input type="checkbox" name="public"> <label></label>
					</div>

					<div class="icon-dispositives">
						<i class="desktop icon"></i>
					</div>
					<div class="dispositives-title">Escritorio</div>
					<div class="dispositives-see" title="Ver contenido" data-value="Large">
						<span class="glyphicon glyphicon-eye-open"></span>
					</div>
				</li>
				<li>

					<div class="ui toggle checkbox" style=" margin-top: 8px; height: 18px; width: 40px;padding-left: 2px;">
					  <input type="checkbox" name="public"> <label></label>
					</div>

					<div class="icon-dispositives">
						<i class="tablet icon"></i>
					</div>
					<div class="dispositives-title">Tablet</div>
					<div class="dispositives-see" title="Ver contenido" data-value="Medium">
						<span class="glyphicon glyphicon-eye-close"></span>
					</div>
				</li>
				<li>

					<div class="ui toggle checkbox" style=" margin-top: 8px; height: 18px; width: 40px;padding-left: 2px;">
					  <input type="checkbox" name="public"> <label></label>
					</div>

					<div class="icon-dispositives">
						<i class="mobile alternate icon"></i>
					</div>
					<div class="dispositives-title">Móvil</div>
					<div class="dispositives-see" title="Ver contenido" data-value="Small">
						<span class="glyphicon glyphicon-eye-close"></span>
					</div>
				</li>
				
			</ul>
		</div>
	</section>-->
		
	</div>
</script>