h1 { background-color: $backgroundColor; padding: 2vw 1em; cat-editable-color: $textColor; margin: 0; font-family: Roboto, sans-serif; font-weight: normal; cat-editable-font-size: 2vw; }

@media (max-width: 800px) {
	h1 { margin: 1em 0; font-size: 24px; }
}