.section-a {min-height:5vw}
.section-b {min-height:5vw}
.section-c{min-height:5vw}
.section-a{border:1px solid #f55;display:block}
.flex{
	padding:1vw 0;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items:stretch;
	align-content:flex-start
}
.section-b{
	border:1px solid #5f5;
	flex-basis:35%
}
.section-c{
	border:1px solid #55f;
	flex-basis:60%
}

@media (max-width: 800px) {
	.flex {
		padding:1vw 0;
		display:flex;
		flex-direction:column;
		flex-wrap:nowrap;
		justify-content:space-between;
		align-items:stretch;
		align-content:flex-start
	}
}