<script id="pageTpl" type="text/template">
	<div class="col-xs-12 ecm-edition-page" id="main-{{}}">
            <nav class="ecm-edition-page-icon-edit remove-icon">
                <span class="glyphicon glyphicon-remove"></span>  
            </nav>
            
            <nav class="ecm-edition-page-icon-edit edition-icon">
                    <span class="glyphicon glyphicon-pencil"></span>  
            </nav>

            <nav class="ecm-edition-page-icon-edit show-and-hidde-icon">
                   <span class="glyphicon glyphicon-chevron-up"></span>  <!--down-->
            </nav>
            <div class="only-show-prevSlide">sdfsdfsdf</div>
    <form class="container-slide-edit">
    
    <div class="form-group">
                     

                        <h4 class="title-container">
                        Título del Slide
                         </h4>
                        
                        <nav class="ecm-edition-page-icon-edit" style="float: left;">
                          <span class="glyphicon glyphicon-pencil"></span>  
                        </nav>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" style="float: left;width: 90%;">
                      </div>
                      <div class="clear"></div>

                      <div class="form-group">
                        <h4 class="title-container">Contenido</h4>
                         <nav class="ecm-edition-page-icon-edit" style="float: left;">
                          <span class="glyphicon glyphicon-pencil"></span>  
                        </nav>
                        <textarea class="form-control" id="exampleTextarea" rows="3" style="float: left;width: 90%;"></textarea>
                      </div>
            <div class="clear"></div>

                    <div class="media">

                        <div class="slide-image col-xs-12 col-sm-6">
                            <img src="">
                        </div>

                        <div class="slide-sound col-xs-12 col-sm-6">
                          <!--  sonido-->
                            <audio controls="">
                              <source src="horse.ogg" type="audio/ogg">
                              <source src="horse.mp3" type="audio/mpeg">
                              Your browser does not support the audio tag.
                            </audio>
                        </div>
                    </div>

</form>
    </div>
 </script>