 <script id="pageTpl" type="text/template">

<div class="col-xs-12 chat-global-Container no-padding" id="{{id}}" data-char="{{character}}" data-id="{{id}}">
   <div class="col-xs-12 col-sm-12 chat-unique-person no-padding">
      <div class="col-xs-12 col-sm-9 col-sm-offset-1 this-preson-chat">

        <div class='audioAdd{{id}}' style="visibility:hidden;">
        <audio controls="" id="audio{{id}}" >
            <source src="{{fileogg}}" type="audio/ogg">
            <source src="{{filemp3}}" type="audio/mpeg">
            </audio>
        </div>
          <div class="col-xs-3 image-character-chat {{image}}">
              <div id="image-user-container" data-char="{{character}}" class="{{class.borderIMg}}">     
                     

                <div class="{{class.bgColor}} testing">       
                    
                    <div class="c100 cnt-audioDiv bgImgCnt image-bg-options-{{character}}" id="audioDiv{{id}}">
                        
                        
                        <div class="slice" id="slice{{id}}">
                            <div class="bar"></div>
                            <div class="fill"></div>
                            </div></div>
                            </div></div>
                        </div>

                    <div  class="{{image}}-audio audioCNT" id="boxAudio{{id}}" style="display: {{audio_}};">
                        <span class="cnt-microfone" data-id="{{id}}" title="Reproducir" id="micro{{id}}" style="display: {{audio_}}; " data-status-audio="pause">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </span>
                    </div>
                    
                        <div class="col-xs-9 cnt-snack-chat">
                        

                            <div class="snack-container" data-snack-char="snack-for-2">
                                <div class="snack-comilla {{snack}} {{class.msjCharSnack}}" id="snack-comilla{{id}}"></div>

                                <div id="snack_text{{id}}" class="col-xs-10 col-xs-offset-1 
                                    {{class.msjChar}} container_text" style="padding:15px;border-radius:5px;" data-audio-state='false' data-audio-name=''>
                                    {{text}}

                                </div>

                            </div>
                        </div>
                    </div>

            <div class="col-xs-12 col-sm-1 snack-option-btn">
                <button type="button" class="btn btn-info editionBtn" id="{{id}}">
                    <span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-danger dropThis" id="{{id}}"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </div>
</script>