<script id="characterTpl1" type="text/template">
<div class="col-sm-12 container-edit characters" id="main-{{id}}" >
	<div id='edit-person' class="edit-character" >
        <div class="clear"></div>

			<header class="rowTitle">
				<span class="fa fa-user icon-tool-option" aria-hidden="true"></span> 
					<h4> Editar personaje <span id="current-char-text"></span></h4>

                        <!--glyphicon-chevron-down -->
						
		    </header>
		
		<div id="chat-edition"></div>
		
		
	<div id="edit-panel-character">
		<div class="col-xs-12 col-sm-2 col-sm-offset-1 container-dashed small-container">
			<div class="container col-xs-12 col-sm-12 image-option gallery-option">
				<button class="btn btn-primary fileinput-button upload_ upload_btn_ghr">
					<span class="glyphicon glyphicon-cloud-upload icon-tool"></span>
						<br>
					<span>Subir Imagen</span>
					<input id="sound-chat" type="file" name="files[]" class='char-upload' multiple>
				</button>

				<div class="btn btn-primary fileinput-button upload_ upload_drag_fx">
					<span class="glyphicon glyphicon-cloud-upload icon-tool"></span>
						<br>
					<span>Abrir la Imagen</span>
					<input id="sound-chat" type="file" name="files[]" class='char-upload' multiple>
				</div>
				
						 <br>
				<div id="progress_img" class="progress" style="width: 95%;margin-top: 5px;">
					 <div class="progress-bar progress-bar-success"></div>
				</div>  
			</div>
		</div>

	<div class="col-xs-12 col-sm-4 col-sm-offset-1 container-dashed center-container">
		<div id="image-user-container" class="main-edit-char" data-char="char-{{id}}">
			<div class="bgChar" id="bgChar">
				<div class="bgImgCnt" id="bgImgCnt"></div>	
			</div>
		</div>
		
		<div class="col-xs-12 image-tools-cnt">

			<div class="col-xs-12 size-tools">
				<button type="button" class="btn btn-success imageMainEvent" title="Tamaño de la imagen" data-event="position_img" data-type="resize" data-act="width-plus">
						<span class="glyphicon glyphicon-plus"></span>
				</button>

				<button type="button" class="btn btn-success imageMainEvent" title="Tamaño de la imagen" data-event="position_img" data-act="width-less" data-type="resize">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
			</div>

		    <button type="button" class="btn btn-primary imageMainEvent" title="Mover a la izquierda" data-event="position_img" data-act="left" data-type="x">
					<span class="	glyphicon glyphicon-arrow-left"></span> 
			</button>

			<button type="button" class="btn btn-primary imageMainEvent" title="Subir" data-event="position_img" data-act="up" data-type="y">
				    <span class="glyphicon glyphicon-arrow-up"></span> 
		    </button>

			<button type="button" class="btn btn-primary imageMainEvent" title="Bajar" data-event="position_img" data-act="down" data-type="y">
					<span class="glyphicon glyphicon-arrow-down"></span> 
			</button>

			<button type="button" class="btn btn-primary imageMainEvent" title="Mover a la derecha" data-event="position_img" data-act="right" data-type="x">
					<span class="glyphicon glyphicon-arrow-right"></span> 
			</button>
		</div>
	</div>

	<div class="col-xs-12 col-sm-2 col-sm-offset-1 container-dashed small-container">
		<div class="col-xs-12 col-sm-12 image-option color-option" data-type="borderColorEdit" data-character='1'>
				<button type="button" class="btn btn-primary">
					<span class="fa fa-paint-brush icon-tool"></span>
					<br>
					<span>Color del Borde</span>
				</button>
		</div>

		<div class="col-xs-12 col-sm-12 image-option color-option" data-type="BgColorEdit">
			<button type="button" class="btn btn-info">
			<span class="glyphicon glyphicon-tint icon-tool"></span>
					<br>
			<span>Color de Fondo</span>
							</button>
			</div>
		</div>
 	 </div>
</div>

<div id='edit-snack' class="col-xs-12">
	<header class="rowTitle">
		<span class="glyphicon glyphicon-comment icon-tool-option"></span>
			<h4> Edición de bocadillo: </h4>
		
	</header>

	<div id="edit-snack-panel">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1 container-edit-snack">
			<div class="col-xs-12 cnt-tools-snack">
				<div id="box-icon-tool">
					<span class="glyphicon glyphicon-font"></span>
				</div>

				<div class="showAvalaibleFonts box-desc" id='ShowFontsChar1'>
					<span><i>Editar Fuente :</i></span> 
						<br><b>Arial</b>
					<i class="glyphicon glyphicon-plus showFonts_" aria-hidden="true" id="showFonts1" data-click="false"></i>

					<div class="fonts fonts-cnt" id="avalFontsChar1" data-snack="char1-snack">
						<ul>
							<li data-font='Arial'>Arial</li>
							<li data-font='Brush Script Mt'>Brush Script Mt</li>
							<li data-font='Arial Black Mt'>Arial Black</li>
							<li data-font='Comic Sans MS'>Comic Sans MS</li>
							<li data-font='Courier New'>Courier New</li>
							<li data-font='Helvetica'>Helvetica</li>
							<li data-font='Impact'>Impact</li>
							<li data-font='Times New Roman'>Times New Roman</li>
							<li data-font='Verdana'>Verdana</li>
						</ul>
					</div>
			</div>
		</div>

		<div class="col-xs-12 cnt-tools-snack snack-box">
			<div id="box-icon-tool" class="color-option" data-type="bg-letter-color">
				<span class="glyphicon glyphicon-tint icon-tool" aria-hidden="true">
				</span>
			</div>

			<div class="box-desc">
				<span>
					<b><i>Editar Color <br> De Fondo</i></b>
				</span> 
			</div>
		</div>

		<div class="col-xs-12 cnt-tools-snack snack-box">
				<div id="box-icon-tool" class="color-option" data-type="letter-color">
					<span class="fa fa-paint-brush" aria-hidden="true"></span>
				</div>

				<div class="box-desc">
					<span>
						<b><i>Editar Color <br> De La Letra</i></b>
					</span> 
				</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-5 col-sm-offset-1 cnt-result-snack">
			<h4>Resultado Final: </h4>
		<div class="snack-container Main-edit-snack" data-snack-char="snack-for-1">
			<div class="snack-comilla dialog-snack-1-char" id="snack-comilla"></div>
				<div class="col-xs-10 col-xs-offset-1 snack char1-snack" id="snackUnique">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at erat vulputate erat varius varius. Vivamus lacinia enim purus. 
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</script>

<script id="characterTpl2" type="text/template">
<div class="col-sm-12 container-edit characters" id="main-{{id}}" data-char="{{id}}">
	<div id='edit-person' class="edit-character" >
        <div class="clear"></div>

			<header class="rowTitle">
				<span class="fa fa-user icon-tool-option" aria-hidden="true"></span> 
					<h4> Editar personaje <span id="current-char-text"></span></h4>
                        <!--glyphicon-chevron-down -->
						
		    </header>
		
		<div id="chat-edition"></div>

	<div id="edit-panel-character">
		<div class="col-xs-12 col-sm-2 col-sm-offset-1 container-dashed small-container">
			<div class="container col-xs-12 col-sm-12 image-option gallery-option">
				<button class="btn btn-primary fileinput-button upload_ upload_btn_ghr">
					<span class="glyphicon glyphicon-cloud-upload icon-tool"></span>
						<br>
					<span>Subir Imagen</span>
					<input id="main-Char" type="file" name="files[]" class='char-upload' multiple>
				</button>

				<div class="btn btn-primary fileinput-button upload_ upload_drag_fx">
					<span class="glyphicon glyphicon-cloud-upload icon-tool"></span>
						<br>
					<span>Abrir la Imagen</span>
					<input id="main-Char" type="file" name="files[]" class='char-upload' multiple>
				</div>
						 <br>
				<div id="progress_img" class="progress" style="width: 95%;margin-top: 5px;">
					 <div class="progress-bar progress-bar-success"></div>
				</div>  
			</div>
		</div>

	<div class="col-xs-12 col-sm-4 col-sm-offset-1 container-dashed center-container">
		<div id="image-user-container" class="main-edit-char main-border-char-2" data-char="char-{{id}}">
			<div class="bgChar main-back-char-2" id="bgChar">
				<div class="bgImgCnt" id="bgImgCnt"></div>	
			</div>
		</div>
		
		<div class="col-xs-12 image-tools-cnt">

			<div class="col-xs-12 size-tools">
				<button type="button" class="btn btn-success imageMainEvent" title="Tamaño de la imagen" data-event="position_img" data-type="resize" data-act="width-plus">
						<span class="glyphicon glyphicon-plus"></span>
				</button>

				<button type="button" class="btn btn-success imageMainEvent" title="Tamaño de la imagen" data-event="position_img" data-act="width-less" data-type="resize">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
			</div>

		    <button type="button" class="btn btn-primary imageMainEvent" title="Mover a la izquierda" data-event="position_img" data-act="left" data-type="x">
					<span class="	glyphicon glyphicon-arrow-left"></span> 
			</button>

			<button type="button" class="btn btn-primary imageMainEvent" title="Subir" data-event="position_img" data-act="up" data-type="y">
				    <span class="glyphicon glyphicon-arrow-up"></span> 
		    </button>

			<button type="button" class="btn btn-primary imageMainEvent" title="Bajar" data-event="position_img" data-act="down" data-type="y">
					<span class="glyphicon glyphicon-arrow-down"></span> 
			</button>

			<button type="button" class="btn btn-primary imageMainEvent" title="Mover a la derecha" data-event="position_img" data-act="right" data-type="x">
					<span class="glyphicon glyphicon-arrow-right"></span> 
			</button>
		</div>
	</div>

	<div class="col-xs-12 col-sm-2 col-sm-offset-1 container-dashed small-container">
		<div class="col-xs-12 col-sm-12 image-option color-option" data-type="borderColorEdit">
				<button type="button" class="btn btn-primary">
					<span class="fa fa-paint-brush icon-tool"></span>
					<br>
					<span>Color del Borde</span>
				</button>
		</div>

		<div class="col-xs-12 col-sm-12 image-option color-option" data-type="BgColorEdit">
			<button type="button" class="btn btn-info">
			<span class="glyphicon glyphicon-tint icon-tool"></span>
					<br>
			<span>Color de Fondo</span>
							</button>
			</div>
		</div>
 	 </div>
</div>

<div id='edit-snack' class="col-xs-12">
	<header class="rowTitle">
		<span class="glyphicon glyphicon-comment icon-tool-option"></span>
			<h4> Edición de bocadillo: </h4>
		
	</header>

	<div id="edit-snack-panel">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1 container-edit-snack">
			<div class="col-xs-12 cnt-tools-snack">
				<div id="box-icon-tool">
					<span class="glyphicon glyphicon-font"></span>
				</div>

				<div class="showAvalaibleFonts box-desc" id='ShowFontsChar2'>
					<span><i>Editar Fuente :</i></span> 
						<br><b>Arial</b>
					<i class="glyphicon glyphicon-plus showFonts_" aria-hidden="true" id="showFonts"></i>

					<div class="fonts fonts-cnt" id="avalFontsChar2" data-snack="char2-snack">
						<ul>
							<li data-font='Arial'>Arial</li>
							<li data-font='Brush Script Mt'>Brush Script Mt</li>
							<li data-font='Arial Black Mt'>Arial Black</li>
							<li data-font='Comic Sans MS'>Comic Sans MS</li>
							<li data-font='Courier New'>Courier New</li>
							<li data-font='Helvetica'>Helvetica</li>
							<li data-font='Impact'>Impact</li>
							<li data-font='Times New Roman'>Times New Roman</li>
							<li data-font='Verdana'>Verdana</li>
						</ul>
					</div>
			</div>
		</div>

		<div class="col-xs-12 cnt-tools-snack snack-box">
			<div id="box-icon-tool" class="color-option" data-type="bg-letter-color">
				<span class="glyphicon glyphicon-tint icon-tool" aria-hidden="true">
				</span>
			</div>

			<div id="box-desc">
				<span>
					<b><i>Editar Color <br> De Fondo</i></b>
				</span> 
			</div>
		</div>

		<div class="col-xs-12 cnt-tools-snack snack-box">
				<div class="color-option" id="box-icon-tool" data-type="letter-color">
					<span class="fa fa-paint-brush" aria-hidden="true"></span>
				</div>

				<div id="box-desc">
					<span>
						<b><i>Editar Color <br> De La Letra</i></b>
					</span> 
				</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-5 col-sm-offset-1 cnt-result-snack">
			<h4>Resultado Final: </h4>
		<div class="snack-container Main-edit-snack" data-snack-char="snack-for-1">
			<div class="snack-comilla dialog-snack-2-char" id="snack-comilla"></div>
				<div class="col-xs-10 col-xs-offset-1 snack char2-snack" id="snackUnique">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at erat vulputate erat varius varius. Vivamus lacinia enim purus. 
									</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</script>


<script id="chatTpl" type="text/template">
	
<div class="col-sm-12 container-edit " id="main-chat{{id}}">
	<div class="col-sm-12 hiddeAllPanel" id="panel-conversation" style="display: block;">

	<div id="EditModal" class="modal fade in">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close close_modal">×</button>
					<h4 class="modal-title">Vista de edición</h4>
				</div>

		<div class="modal-body">
			<form id="edit_interfaz_chat">
			
					<div class="icon-audio openDialog" id="openDialog" title="Convertir texto a audio" data-audio="">
						<i class="fa fa-microphone" aria-hidden="true"></i>
					</div>
					
						<h4 class="_maur">Convertir el texto en audio.</h4>
						<div id="sound_"> </div>
					
					<p class="descText">
						<i>
						Utilice esta opción cuando haya terminado de insertar TODO el contenido
						</i>	
					</p>

						

					<div class="col-xs-6" id="convertOptions">
						<div style="position:absolute;width:35px;
						height:32px;text-align:center;right:0px;top:6px;color:#ec971f;cursor:pointer;" class="close_audio_edit">
							<b>X</b>
						</div>
						<div class="col-xs-12 genderCnt">
							<div class="col-xs-6"> 
								<div>
									<i class="fa fa-venus-mars" aria-hidden="true"></i>
								</div>
								
								<select id="gender">
									  <option value="0">Masculino</option>
									  <option value="1">Femenino</option>
								</select>
							</div>

							<div class="col-xs-6"> 
								<div>
									<i class="fa fa-flag" aria-hidden="true"></i>
								</div>
								
								<select id="lang">
									  <option value="es">Español</option>
									  <option value="en">Ingles</option>
								</select>
							</div>
						</div>

						<div class="col-xs-12" data-audio="quitAudio" style="border:1px solid #b3b3b3;padding:10px;">
							<div style="border:1px solid #e6e6e6;padding:6px;">
								<span>
									<i class="fa fa-rocket" aria-hidden="true"></i>
									Velocidad
								</span>
								<input type="range" id="speed" value="170" min="1" max="500">
							</div>

							<div style="border:1px solid #e6e6e6;padding:6px;margin-top: 5px;">
								<span>
									<i class="fa fa-rocket" aria-hidden="true"></i>
									Tono
								</span>
								<input type="range" id="tono" value="10" min="1" max="100">
							</div>
						</div>

						<div class="col-xs-12 footerEditAudio">
							<button type="button" class="btn btn-warning" data-event="saveAudioConvet" id="saveAudioConvet">
								Guardar
							</button>
						</div>

					</div>

		<div class="form-group">
			<textarea class="form-control" rows="5" id="editTextEdition">
			</textarea>
		</div>

				<div class="col-xs-12 cnt-btns-audio">
					

					<div title="Subir Audio" class="icon-audio" data-audio="uploadAudio">
						<!--<i class="fa fa-upload" aria-hidden="true"></i>-->
						<i class="fa fa-upload bg-hover-change fileinput-button" title="Subir Audio">
							<input id="sound-chat"  class="upload_sound" type="file" name="files[]" class="char-upload" multiple="" >
						</i>
						<!--<input id="sound-chat"  class="upload_sound" type="file" name="files[]" class="char-upload" multiple="" >-->
					</div>
					

					<div class="icon-audio" title="Quitar Audio" id="quitAudio">
						<i class="fa fa-microphone-slash" aria-hidden="true"></i>
					</div>
					<div id="alertQuitAudio" style="display: none;color: #ffad33;">
						<b>Audio quitado con exito </b>
					</div>

					<div class="save-btn">
						<button type="button" class="btn btn-default close_modal" id="close_modal">Cancelar</button>
						<button type="button" id="saveMsj" data-current-msj="" class="btn btn-success saveContent" data-audio-state="" data-audio-name="" data-folder-file="">Guardar</button>
					</div>

					<!-- The global progress bar -->
					<div id="progress_audio" class="progress" style="width: 95%;margin-top: 5px;">
						<div class="progress-bar progress-bar-success"></div>
					</div> 

					<div class="alert alert-danger col-xs-12" id="alert_audio"></div>
					<div class="alert alert-info col-xs-12" id="estu" style="display: none;"></div>
				</div>
			<div class="clear"></div>
									  
		</form>
						      </div>
						    </div>

						  </div>
						</div>





			<header class="rowTitle">
				<span class="fa fa-comments-o icon-tool-option"></span> 
					<h4> Agregar Conversación </h4>
				
			</header>


				<div id="characters-to-chat">

					 <div class="col-xs-12">
					    <div class="col-xs-12 col-sm-6 container-global-Addchat">
					     <h4 class="title-image-coversation">Personaje 1</h4>
					    	<div class="col-xs-12 col-sm-9 col-sm-offset-1 container-personal-Addchat">
					    		<div class="col-xs-12 col-sm-7 character-prev">
					    			<div id="image-user-container" class="char-img-border-1" data-char="char-1">
											<div class="char-img-bg-1">
												<div class="bgImgCnt image-bg-options-char-1"></div>		
											</div>
									</div>
					    		</div>

					    		<div class="col-xs-12 col-sm-5 options-personal-chat addNewChar" data-add="char-1">
						    		<div>
						    			<!--<i class="fa fa-user-plus" aria-hidden="true"></i>-->
						    			<i class="fa fa-comments-o" aria-hidden="true"></i>
						    		</div>
					    		</div>
					    		
					    	</div>
					    </div>

					    <div class="col-xs-12 col-sm-6 container-global-Addchat container-No-border">
					    <h4 class="title-image-coversation">Personaje 2</h4>
					    	<div class="col-xs-12 col-sm-9 col-sm-offset-1 container-personal-Addchat">

					    		<div class="col-xs-12 col-sm-7 character-prev">
					    			<div id="image-user-container" data-char="char-2" class="char-img-border-2">
											<div class="char-img-bg-2">
												<div class="bgImgCnt image-bg-options-char-2"></div>		
											</div>
									</div>
					    		</div>

					    		<div class="col-xs-12 col-sm-5 addNewChar options-personal-chat" data-add="char-2">
						    		<div>
						    			<!--<i class="fa fa-user-plus" aria-hidden="true"></i>
						    			-->
						    			<i class="fa fa-comments-o" aria-hidden="true"></i>
						    		</div>
					    		</div>
					    	</div>
					    </div>
					</div>

<div class="col-xs-10 col-xs-offset-1" id="global-cnt-chat">

				<header class="rowTitle">
							<span class="fa fa-user icon-tool-option only-chat" style="
	width: 50px;
    height: 50px;
    border: 4px solid white;
    font-size: 41px;
    border-radius: 50px;
    text-align: center;"></span> 
								<h4 class="title-chat"> PERSONAJE 1 </h4>

							<span class="fa fa-ellipsis-v icon-showHide-tools icon-whats-emulator">
							</span> 
							<span class="fa fa-paperclip icon-showHide-tools icon-whats-emulator">
							</span>  	
							
							<p class="chat-user-activity">En Linea</p>
				</header>

				<div id="global-chat">
</div>

		<div class="col-xs-12" id="emulate-text-whats">
				<div class="col-xs-10 no-padding">
					<div class="col-xs-2 no-padding cont-iconSmile">
						<i class="fa fa-smile-o" aria-hidden="true"></i>
					</div>
					<div class="col-xs-10 no-padding cnt-text-edit">
						<div>
							|
						</div>
					</div>
				</div>
				<div class="col-xs-1 no-padding" style="
	position: absolute;
    right: 30px;
	text-align: center;
    width: 50px;
    height: 50px;
    padding: 3px !important;
    border-radius: 30px;
    background-color:#ffad33;"> 
						<i class="fa fa-paper-plane" aria-hidden="true" style="   font-size: 26px;
							    text-align: center;
							    color: #e83333;
							    margin-top: 7px;
							    margin-right: 5px;
							    color:#fff;"></i>
				</div>
		</div>

	</div>

</div>
		<footer class="col-xs-12 panel-end-edit" style=";">
						
					</footer>			
</div>

</div>
</div>
</script>


<script id="INITtpl" type="text/template">
	
<div class="col-sm-12 container-edit " id="main_chat">
	<div class="col-sm-12" id="cont">
					
				<header class="rowTitle">
					
					<!--fa fa-comments-o-->
							<span class="fa fa-pencil-square-o icon-tool-option" aria-hidden="true"></span> 
								<h4> Modificar Interfaz </h4>
							
				</header>

	<div id="EditModal" class="modal fade in">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close close_modal">×</button>
					<h4 class="modal-title">Vista de edición</h4>
				</div>
			<div class="modal-body">

			

<form id="editTextBg">
    <div class="col-xs-12">


    	<!--<header class="headeEdition">
    		
    		
    		<h4> 
				PROPIEDADES DE LA IMAGEN
			</h4>
			
    	</header>-->

		

    <!--<div class="form-group contInfoEdit" id="bg-properties">
    	<h5><b>Tamaño: </b></h5>


   		
   			<div class="col-xs-6 optionContEdit">

				<div class="inlineDiv">
					<button type="button" class="btn btn-primary imgWeight" id="customData" data-state-submenu="false" data-state="false">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
								Personalizar:
				</div>

				<div class="subMenuOpt" id="customDataSubmenu">
					<div class="checkbox">
						<label>Ancho:  </label>
						<input type="number" min="50" max="100" class="form-control" id="ancho_img" value="100"> %
					</div>

					<div class="checkbox">
						<label>Alto </label>
						<input type="number" min="50" max="100" class="form-control" id="alto_img" value=""> %
					</div>
				</div>

		</div>

		<div class="col-xs-6">
			<div class="inlineDiv">
					<button type="button" class="btn btn-primary imgWeight" data-state="false" id="fixed">
						<span class="glyphicon glyphicon-fullscreen"></span>
					</button>
						Fijar al 100%
			</div>
		 </div>

		 <div class="clear"></div>
    </div>-->


    	<header class="headeEdition"> <h4> CUADRÍCULA </h4> </header>
			<div class="form-group contInfoEdit" id="containerBgEdit">
				<div style="border:2px solid #999999;height:120px;background-color:#bfbfbf;box-shadow:0px 0px 5px #000000" class="col-xs-6 col-sm-6">
    				<div id="prevFondo" style="position:absolute;border:3px solid red;padding:3px;font-size:8px;"> 
    					 Tu título 
    				</div>
    			</div>

    			<div class="col-xs-6 optCont"> 
					<div class="inlineDiv">
						<button type="button" class="btn btn-primary" id="posBackground" data-state-submenu="false">
						 <span class="glyphicon glyphicon-pencil"></span>
						</button>
								Posición Fondo Principal
				    </div>

							<div class="subMenuOpt" id="posBg">
								<div class="checkbox brd">
									<label>  Arriba </label>
									<input type="number" min="0" max="100" class="form-control" id="pos_up" value="50"> %
								</div>

								<div class="checkbox brd">
									<label> Izquierda</label><input type="number" min="0" max="100" class="form-control" id="pos_left" value="0"> %
								</div>
						
							</div>
					 </div>

				<div class="col-xs-6 optCont" style="">
					<div class="inlineDiv">
						Tamaño :
						<input type="number" class="form-control sizeInput" id="boxBgMainWidth" min="10" max="100" value="100"> %
					</div>
				</div>

				
					 
					  <div class="col-xs-12 opProperties">
						 	<div class="inlineDiv">
								<button type="button" class="btn btn-primary color-option" data-type="boxBgMain" id="boxBgMain" data-color="">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<p class="inlineDiv">Color de borde</p>
							</div>

							<div class="inlineDiv">
								<button type="button" class="btn btn-primary color-option" data-type="boxBrMain" id="boxBrMain" data-color="">
									<span class="glyphicon glyphicon-tint"></span>
								</button>
								<p class="inlineDiv">Color de fondo</p>
							</div>

							<div class="inlineDiv withoutColor">
								<label for="pwd">Ancho:</label>
					    		<input type="number" min="0" max="8" class="form-control weightInput" id="ancBr" value="3"> px
							</div>
					</div>
			<div class="clear"></div>
					
			</div>
		</div>
		
   <div class="col-xs-12">


		<header class="headeEdition"> <h4>  TÍTULO  </h4> </header>

		
		<div id="editBgText">
		<h6><i>Los estilos se aplicaran a TODO el texto, no se pueden aplicar a diferentes palabras</i></h6>
			  	<div class="col-xs-12 cnt-btns-audio gbTextEdition">
			  		<div class="icon-audio" title="Cambiar Fuente" data-bgtext="moreSize">
						<i class="fa fa-font" aria-hidden="true"></i>
						<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
					</div>

					<div class="icon-audio" title="Cambiar Fuente" data-bgtext="lessSize">
						<i class="fa fa-font" aria-hidden="true"></i>
						<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
					</div>

					<div title="Alinear a la izquierda" class="icon-audio" data-bgtext="left_" data-active="false">
						<i class="fa fa-align-left" aria-hidden="true"></i>
					</div>

					<div class="icon-audio" title="Alinear al centro" data-bgtext="center_" data-active="false">
						<i class="fa fa-align-center" aria-hidden="true"></i>
					</div>

					<div class="icon-audio" title="Alinear a la derecha" data-bgtext="right_" data-active="false">
						<i class="fa fa-align-right" aria-hidden="true"></i>
					</div>

					<div class="icon-audio" title="Bold" data-bgtext="bold_" data-active="false">
						<i class="fa fa-bold" aria-hidden="true"></i>
					</div>

					<div class="icon-audio" title="Cursiva" data-bgtext="italic_" data-active="false">
						<i class="fa fa-italic" aria-hidden="true"></i>
					</div>

					<div class="icon-audio" title="Subrayar" data-bgtext="Subrayar" data-active="false">
						<i class="fa fa-underline" aria-hidden="true"></i>
					</div>

					<div class="icon-audio" title="Tachado" data-bgtext="Tachado" data-active="false">
						<i class="fa fa-strikethrough" aria-hidden="true"></i>
					</div>
			</div>
		
			<div class="clear"></div>
			<div class="form-group">
						<input type="email" class="form-control" id="bgMainText">
			</div>
	</div>
</div>
			
			<div class="clear"></div>

			</form>

			<form id="edit_interfaz_chat">
			
					<div class="icon-audio openDialog" id="openDialog" title="Convertir texto a audio" data-audio="">
						<i class="fa fa-microphone" aria-hidden="true"></i>
					</div>
					
						<h4 class="_maur">Convertir el texto en audio.</h4>
						<div id="sound_"> </div>
					
					<p class="descText">
						<i>
						Utilice esta opción cuando haya terminado de insertar TODO el contenido
						</i>	
					</p>

						

					<div class="col-xs-6" id="convertOptions">
						<div class="col-xs-12 genderCnt">
							<div class="col-xs-6"> 
								<div>
									<i class="fa fa-venus-mars" aria-hidden="true"></i>
								</div>
								
								<select id="gender">
									  <option value="0">Masculino</option>
									  <option value="1">Femenino</option>
								</select>
							</div>

							<div class="col-xs-6"> 
								<div>
									<i class="fa fa-flag" aria-hidden="true"></i>
								</div>
								
								<select id="lang">
									  <option value="es">Español</option>
									  <option value="en">Ingles</option>
								</select>
							</div>
						</div>

						<div class="col-xs-12" data-audio="quitAudio" style="border:1px solid #b3b3b3;padding:10px;">
							<div style="border:1px solid #e6e6e6;padding:6px;">
								<span>
									<i class="fa fa-rocket" aria-hidden="true"></i>
									Velocidad
								</span>
								<input type="range" id="speed" value="170" min="1" max="500">
							</div>

							<div style="border:1px solid #e6e6e6;padding:6px;margin-top: 5px;">
								<span>
									<i class="fa fa-rocket" aria-hidden="true"></i>
									Tono
								</span>
								<input type="range" id="tono" value="10" min="1" max="100">
							</div>
						</div>

						<div class="col-xs-12 footerEditAudio">
							<button type="button" class="btn btn-warning" data-event="saveAudioConvet" id="saveAudioConvet">
								Guardar
							</button>
						</div>

					</div>



					

					

					<div class="form-group">
						<textarea class="form-control" rows="5" id="editTextEdition"></textarea>
					</div>

				<div class="col-xs-12 cnt-btns-audio">
					

					<div title="Subir Audio" class="icon-audio" data-audio="uploadAudio">
						<!--<i class="fa fa-upload" aria-hidden="true"></i>-->
						<i class="fa fa-upload bg-hover-change fileinput-button" title="Subir Audio">
							<input id="sound-chat" type="file" name="files[]" class="char-upload" multiple="">
						</i>
					</div>
					

					<div class="icon-audio" title="Quitar Audio" id="quitAudio">
						<i class="fa fa-microphone-slash" aria-hidden="true"></i>
					</div>
					<div id="alertQuitAudio" style="display: none;color: #ffad33;">
						<b>Audio quitado con exito </b>
					</div>

					<div class="save-btn">
						<button type="button" class="btn btn-default" onclick="closeModal()">Cancelar</button>
						<button type="button" id="saveMsj" data-current-msj="" class="btn btn-success saveContent" data-audio-state="" data-audio-name="" data-="">Guardar</button>
					</div>

					<!-- The global progress bar -->
					<div id="progress_audio" class="progress" style="width: 95%;margin-top: 5px;">
						<div class="progress-bar progress-bar-success"></div>
					</div> 

					<div class="alert alert-danger col-xs-12" id="alert_audio"></div>
					<div class="alert alert-info col-xs-12" id="estu" style="display: none;"></div>
				</div>
			<div class="clear"></div>
									  
		</form>
						      </div>
						    </div>

						  </div>
						</div>

				<div id="edit-interfaz">
					<div class="col-xs-12">
					    <div class="col-xs-12 col-sm-6 container-global-Addchat">
					    	<h4 class="title-image-coversation">
					    	Fondo principal
					    	</h4>
					    	<div class="col-xs-12 col-sm-9 col-sm-offset-1 container-personal-Addchat" style="text-align: center;">
					    		<div class="col-xs-12 col-sm-7 character-prev">
					    			<div id="image-user-container" class="bgPrev_">
											<div class="prevBg" id="appBgMain">
												<img src="img/bg-app.jpg">		
											</div>
									</div>
					    		</div>

					    		<div class="col-xs-12 col-sm-5 options-personal-chat">
						    		<div class="bg_Main_">
								    		<i class="fa fa-upload bg-hover-change fileinput-button bg-main-upl" title="Subir Imagen">
										        <input id="bg-main" type="file" name="files[]" class="char-upload" multiple="">
										    </i>
										    
										 
						    			<!--

						    			<br>
						    			
						    			<i class="fa fa-picture-o bg-hover-change" aria-hidden="true" title="seleccionar imagen de la galería"></i>
						    			

						    			<i class="fa fa-pencil-square-o bg-hover-change editTextConversation" aria-hidden="true" title="Editar título" data-action='bgTextEdit'></i>-->

						    			<!-- The global progress bar -->
										    <div id="progress_main" class="progress" style="width: 95%;margin-top: 5px;">
										        <div class="progress-bar progress-bar-success" ></div>
										    </div> 
						    		</div>
					    		</div>
					    		
					    	</div>
					    </div>

					    <div class="col-xs-12 col-sm-6 container-global-Addchat container-No-border">
					    <h4 class="title-image-coversation">Fondo chat</h4>
					    	<div class="col-xs-12 col-sm-9 col-sm-offset-1 container-personal-Addchat">
					    		<div class="col-xs-12 col-sm-7 character-prev">
					    			<div id="image-user-container" class="bgPrev_">
											<div class="prevBg" id="mainBgChat">
												<img src="img/bg-chat.jpg">	
											</div>
									</div>
					    		</div>

					    		<div class="col-xs-12 col-sm-5 options-personal-chat">
						    		<div>
						    			<i class="fa fa-upload bg-hover-change fileinput-button bg-main-upl" title="Subir Imagen">
											<input id="bgChatMain" type="file" name="files[]" class="char-upload" multiple="">
										</i>
						    			<!--
						    			<i class="fa fa-picture-o bg-hover-change" aria-hidden="true" title="seleccionar imagen de la galería"></i>
						    			 The global progress bar -->
										    <div id="progress_chat" class="progress" style="width: 95%;margin-top: 5px;">
										        <div class="progress-bar progress-bar-success"></div>
										    </div> 
						    		</div>
					    		</div>

					    	</div>
					    </div>
					
						<div class="col-xs-12 col-sm-6" style="border:1px solid #bfbfbf;margin-top:20px;background-color:#fff;">
							<header style="text-align:center;">
									<h3>Edición del Título
									<i class="fa fa-pencil-square-o bg-hover-change editTextConversation" aria-hidden="true" title="Editar título" data-action="bgTextEdit"></i>
									</h3>
							</header>
						</div>

					</div>
				</div>
</script>