/*
  Colores base :
  naranja = #FF9347, #FFC093;
*/
/*Main Header*/
.gf-ecm-element-inactive{display:none !important;}
.paddingNone{padding:0px !important;}
.marginNone{margin: 0px !important;}
.gf-ecm-global-window-app{
	margin-top: 50px;
}
body{
	background-color: #f2f2f2;
}
header.gf-ecm-tools-window{
	background-color: #fff;
	position: fixed;/*change to fixed*/
	top:0px;padding: 15px;
	background-color: #FF9347;
	color: #fff;
}
ul {
	list-style: none;padding: 0px;margin: 0px;
}
header.gf-ecm-tools-window nav ul li.gf-ecm-tool{
	border:1px solid magenta;
	display: inline;padding:8px;margin-left: 10px;
	border:1px solid #FFC093;cursor: pointer;
}
header.gf-ecm-tools-window nav ul li.gf-ecm-tool:hover{
	background-color: #FF8026;
}

header.gf-ecm-tools-window nav ul li.gf-select-tool{
	background-color: #01D2B5;cursor: none;
}

li.gf-ecm-tool a{
	text-decoration: none;color: #fff;
}
.clear{clear: both;}
/*selected class*/
.gf-selected-dynamic{border:1px dashed #fff !important;opacity: 0.6 !important;box-shadow: 0px 0px 10px #fff;}
/*Selected class end*/

/*Body*/
.gf-ecm-left-menu{
	height: 100%;background-color: #666666;
	padding:0px;margin:0px;width:100px;
	position: fixed;z-index: 10;
}
article.gf-ecm-body{
	margin-top: 50px;
	background-color:#4d4d4d;
	height: 126px;
	/*min-height:100px;*/
	color: #fff;width:500px;padding-bottom:20px;
	position: absolute;top:-50px;left: 100px;z-index:10;
	transition: 0.5s all;
}
aside.gf-ecm-left-menu ul li.gf-ecm-tool .gf-ecm-tools-left{text-align: center;padding: 5px;
	transition: 0.5 all;}
.gf-ecm-tools-left:hover{ background-color: #4d4d4d; }
li.gf-ecm-active > div.gf-ecm-tools-left:hover{cursor: none}
aside.gf-ecm-left-menu ul li.gf-ecm-tool{color: #fff;cursor: pointer;}
aside.gf-ecm-left-menu ul li.gf-ecm-tools-icon{color: #fff;font-size:20px;}
aside.gf-ecm-left-menu ul li.gf-ecm-active{border-left:3px solid #22E1C7;background-color:rgba(0, 0, 0, 0.2);}
/*Panel edition*/
nav.gf-ecm-edition-circle-tools{margin-top:10px;padding:5px;}
nav.gf-ecm-edition-circle-tools ul li{ float: left; text-align: center;margin-right: 8px; }
nav.gf-ecm-edition-circle-tools ul li div.ecm-circle-tools{
	width: 50px;height: 50px;color: #fff;
	border-radius:50%;font-size: 20px;padding-top:12px;font-weight: bold;
	cursor: pointer;
}
nav.gf-ecm-edition-circle-tools ul li span.title{font-size: 12px;}
/*Colores de Botones*/
.gf-botons-color-error{background-color: #990000;}/*red*/
.gf-botons-color-lightGreen{background-color: #01D2B5;}/*verde claro*/
.gf-botons-color-violet{background-color: #B69AF8;}/*Violet*/
.gf-botons-color-orange{background-color: #FF8026;}/*naranja*/
li.gf-ecm-rotate-child-icon > div > span.glyphicon{transition: 0.5s all;}
li.gf-ecm-rotate-child-icon:hover > div > span.glyphicon{
	transform:rotate(90deg);
}
.gf-circle-edit-dinamyc-element{
	width:35px;height:35px;
	font-size: 20px;text-align: center;padding-top:5px;
	border-radius: 50%;background-color: rgba(140,140,200,1);
	/*position: absolute;right:0px;*/margin-top:-10px;cursor: pointer;
}
.gf-dinamyc-element:hover{
	border-image: url('../../../files/border.png') 30 stretch;
}
.activeBorder{
	border-image: url('../../../files/border.png') 30 stretch !important;
}

/*#gf-ecm-body-edition > .gf-dinamyc-element{
	width: 100%;
}*/
.gf-dinamyc-element{
	border: 10px solid transparent;
	height: auto;float: left;
}
.gf-dinamyc-element img.dynamic-image{width:100%;height:100%;}

#gf-ecm-render-window{
	background-color:#fff;min-height: 400px;margin-left: 145px;	
	margin-top: 20px;border-radius:5px;margin-bottom: 20px;overflow: hidden;
}
.gf-ecm-body-lateral-menu-close{
	width:30px;height: 30px;padding:5px;color:#fff;
	text-align: center;position: absolute;right:0px;cursor: pointer;
}







/*Audio*/

#convertOptions{
	border-radius: 5px;border:1px solid #b3b3b3;
	padding:7px;
	background-color: transparent;
	z-index: 10;box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}
.genderCnt{padding:0px;border-bottom: 3px solid #737373;}
.genderCnt > div{padding:0px;margin-bottom: 10px;}
.genderCnt > div > div{float: left; font-size: 17px; text-align: center;  padding: 5px;height: 29px; width: 29px;background-color: #d9d9d9;}
.genderCnt > div > div > i{margin-left: 4px;}
.genderCnt > div > select{
	background-color: #d9d9d9;padding:6px;border-color: transparent;
	font-size: 12px;
}

.active_voice{
	color:#ffad33;
	transform: scale(1.2,1.2);
	border: 1px solid #ccc;
}
.footerEditAudio {margin-top: 20px;}
.footerEditAudio > button{width:100%;border-radius: 0px !important;}
.descText{margin-bottom: 10px;border:1px solid #ccc;padding: 5px;}
#openDialog{margin-right: 5px;}
#alertChat, #idAlert{background-color:#70db70;display: none;color: #fff;}
.gf-ecm-child-menu-multimedia{ 
	position: relative;
	animation-name: leftDivs; animation-duration: 0.9s;
	 }
@keyframes leftDivs {
    from {opacity:0;left: -100px;}
    to {opacity:1;left:0px;}
}
.gf-menu-multimedia{
	margin-top: 10px
}
.gf-menu-multimedia nav ul li{
	display: inline;padding:6px;color: #fff;cursor: pointer;
	border: 2px solid #01D2B5;
	border-radius:10px 0 0 0;
}
.gf-menu-multimedia nav ul li:nth-child(2){
	border-radius:0 10px 0 0;
	margin-left: -4px;
}
.gf-menu-multimedia nav ul li.active{
	background-color: #01D2B5;cursor: none;color: #fff;
}






.colorpicker{z-index: 50;}

.playSound{
	width:4em;height:4em;background-color: #ffa64d;float: left;
	border-radius:50%;color: #fff;font-size:1em;cursor: pointer;
}

.playSound .audioPlayIcon span{font-size:1.9em;margin-left:16px;margin-top:12px;}
.soundActive{
	background-color: #47d147 !important;
	animation: playSound 4s infinite;
}
@keyframes playSound {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}























/*Formulario para editar tamaño type=outline*/
.gf-ecm-form-edition-main{
	animation-name: upForm;
    animation-duration: 0.9s;
	padding-right: 21px;padding-top:10px;
	color:#ddd;width:303px;margin:0px auto;}
.gf-outline-form{padding-top: 20px;border-top:2px solid #fff;margin-left: 9px;}
.gf-outline-form .gf-label-side{border:2px solid #fff;padding:7px;width:80px;text-align: center;border-right:1px solid #fff;color: #fff;}
.gf-outline-form .gf-input-side{border-radius:0px;width: 190px;display:inline;height:38px;margin-left:-4px;border:2px solid #fff;border-left:1px solid #fff;background-color: transparent;color:#fff;}
.gf-ecm-form-outline-buttons button{
	margin-left:0px !important;border-radius:0px;background-color: #fff;
	width:50%;height:40px;float: left;
	background-color: transparent;color:#fff;margin-left: 5px;}
@keyframes upForm {
    from {opacity:0;top: -110px;}
    to {opacity:1;top: 0px;}
}

/*Columnas y Filas*/
.ecm-rack-element-main{
	width:100%;border:1px solid red;
}
.ecm-rack-element-main .ecm-grid-child{
	background-color: rgba(0,0,0,0.7);
	border:1px solid white;
	float:left;transition: 0.5 all;cursor: pointer;
}
.ecm-rack-element-main .ecm-grid-child:hover{
	opacity: 0.6;
}
.ecm-rack-element-main[data-number-grid="3"] > 
.ecm-grid-child[data-magnitude-x="default"]{ width: 33%; }
.ecm-rack-element-main[data-number-grid="3"] > 
.ecm-grid-child[data-magnitude-y="default"]{ height: 33%; }

.ecm-rack-element-main[data-number-grid="2"] > 
.ecm-grid-child[data-magnitude-x="default"]{ width: 50%; }
.ecm-rack-element-main[data-number-grid="2"] > 
.ecm-grid-child[data-magnitude-y="default"]{ height: 50%; }

.ecm-rack-element-main[data-number-grid="4"] > 
.ecm-grid-child[data-magnitude-x="default"]{ width: 25%; }
.ecm-rack-element-main[data-number-grid="4"] > 
.ecm-grid-child[data-magnitude-y="default"]{ height: 25%; }

.ecm-rack-element-main[data-number-grid="5"] > 
.ecm-grid-child[data-magnitude-x="default"]{ width: 20%; }
.ecm-rack-element-main[data-number-grid="5"] > 
.ecm-grid-child[data-magnitude-y="default"]{ height: 20%; }


.ui-resizable .ui-resizable-handle{
	opacity:0;
	/*visibility:  hidden !important;*/
}


/*Texto styles*/
#plugin-texto{
	margin-top:30px;
}
.gf-ecm-text-section{
	padding:5px;
	margin-bottom: 5px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.gf-ecm-text-section:hover{
	opacity: 0.4;
	border:1px dashed #fff !important;
}
.gf-ecm-text-section h1, h2, h3, h4, h5, h6{
	padding:0px;margin: 0px;
}
.gf-ecm-text-input-for-edition{
	display: none;
}
.gf-ecm-text-input-for-edition input[type=text]{
	background-color: transparent;border:1px solid #01D2B5;color:#000;
}

input[type=text].input-font-h1{font-size:36px;}
input[type=text].input-font-h2{font-size:30px;}
input[type=text].input-font-h3{font-size:24px;}
input[type=text].input-font-h4{font-size:18px;}
input[type=text].input-font-h5{font-size:14px;}
input[type=text].input-font-h6{font-size:12px;}

