.gf-bg1-icons{background-color:#B69AF8;}/*Alias magenta light*/
.gf-bg2-icons{background-color:#01D2B5;}/*Alias green light*/
.gf-bg3-icons{background-color:#ffa64d;}/*Alias orange*/
.gf-icons-header{margin-top: 20px;padding:8px;margin-bottom:10px;}
.gf-ecm-view-main ul.main li.gf-icon-main-tools{width:121px;height: 121px;padding:10px;float:left;padding-top:0px;cursor:pointer;}
.gf-ecm-view-main ul li div.icon{text-align: center;font-size: 50px;padding-top: 20px;}
.gf-ecm-view-main ul li div.title{font-size: 12px;}
.gf-ecm-view-main {animation-name: selectedItem; animation-duration: 0.8s;}
.only-two li{width:50% !important;}
.submenu-gf-icon li{padding:5px;border-bottom:2px solid #fff;}
.tool-main-title{padding:10px;}
.tool-main-title h5{float: left;font-weight: bold;color:#fff;}
.tool-main-title span.return-view-icons{float: left;font-size: 18px;cursor: pointer;margin-top: 8px;}
.gf-ecm-plugin-gallery ul.Gallery-icon img{width:100%;height: 100%;}
.gf-ecm-plugin-gallery ul.Gallery-icon li{width: 90px;height: 91px;float:left;padding:10px;cursor:pointer;}
.gf-ecm-plugin-gallery ul.Gallery-icon li:nth-child(even){background-color:#fff; border-bottom: 3px solid #ccf2ff;}
.gf-ecm-plugin-gallery ul.Gallery-icon li:nth-child(odd){background-color:#ccf2ff; border-bottom: 3px solid #fff;}
.create-selects-nav-main ul li{float:left;width: 33.3%;}
.create-selects-nav-main ul li .ui.selection.dropdown{ min-width: 100%;width: 100%;border-radius: 0px;}
.create-selects-nav-main ul li select{padding:5px;color:#000;width:100%;border:1px solid transparent;}
.character-preview{background-color: #fff;height: 310px;color:#000;padding-top: 30px;border-top: 1px solid rgb(221, 221, 221);}
.gallery-character-properties{background-color: #ddd;height: 310px;padding: 0px;overflow-y: auto; overflow-x: hidden;}
.svg-selected{stroke:red;}
.gallery-character-properties header{border-left:2px solid rgb(221, 221, 221);border-right:2px solid rgb(221, 221, 221);}
footer.gf-incons-save-btn{position: absolute;z-index: 20;bottom: 0px;right:0px;}
footer.gf-incons-save-btn button.btn-default{border-radius:0px;border:1px solid transparent !important;font-size: 20px;margin-left: -4px;}
.tools-character-each{padding:5px;}
.gf-gallery-icon-global{ animation-name: selectedItem; animation-duration: 0.9s; position: absolute;transition: 1s all;}
@keyframes selectedItem {from{left:-200px;opacity: 0;} to{left:10px;opacity: 1;} }
.resize-full-active{position: fixed !important;width:100% !important;height:100% !important;}
.resize-full-active .gf-ecm-element-inactivem-create-character{width:50%;left:20%;margin-top: 20px;}
.resize-full-active .character-preview{padding:30px;}
.resize-full-active .create-elements-nav-main ul li{width: 102px !important;}
.resize-full-active #create-character{left: 6%;%left: 0%;width: 78%;height: 85%;border-radius: 5px;overflow: hidden;}
.resize-full-active #character-creating svg {width: 66% !important;}
.panel-edition-skill{box-shadow: 0px 0px 20px rgba(0,0,0,0.7); position: absolute; padding: 5px; background-color: #4d4d4d; top: 0px; width: 262px; height: 382px; z-index: 20; margin-left: 29px; margin-top: 50px; }
.gf-gallery-icon-global .sub-menu-click-right{width: 120px;box-shadow: 0px 0px 10px #fff;}
.gf-ecm-main-panel-left{border-right:2px solid #fff;height:100%;padding-top:20px;}
.gf-ecm-main-panel-left .svg-group-prev{height:200px;margin-bottom: 15px;border-radius:5px;background-color: #fff;color:#000;}
.gf-ecm-main-panel-left .onfig-global-tools{border:1px solid #fff;}
#colors-groups .color{border-bottom: 2px solid #fff;padding: 4px;width: 29%;float: left;margin-right: 5px;margin-bottom: 4px;}
.gf-ecm-body-lateral-menu-close{z-index:20;}
.container_{height:250px;overflow-y: auto;overflow-x: hidden;border-radius: 6px;}
.container_::-webkit-scrollbar { width: 12px; } 
.container_::-webkit-scrollbar-track {  -webkit-box-shadow: inset 0 0 6px rgba(250,250,250,0.3); border-radius: 10px; }
.container_::-webkit-scrollbar-thumb { border-radius: 10px;  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); background-color: #fff;}
div.class-char-svg{ height:50px;margin-bottom: 3px;}
div.class-char-svg .class-char-svg-name{ width: 76%; background-color: #fff; padding: 13px; color: #000; float: left; height: 100%; padding-top: 13px; font-weight: bold;font-size: 16px;}
.class-char-svg-btns{float:left;width: 50px;height:40px;}
.class-char-svg-btns button{border-radius:0px;width:100%;height:50px;font-size: 20px;background-color: #3D9E8F;color: #fff;border-color: transparent;}
.galleria-personajes{ width: 379px; background-color: #fff;}
.gallery-filter-block{border-bottom: 5px solid #4d4d4d;height: 43px;}
.galleria-personajes .gallery-global-search{ height:40px;background-color: #fff; }
.galleria-personajes .gallery-filter-icon {height:40px;width:40px;text-align: center;padding-top:5px;font-size: 22px;color: #999999;float: left; }
.galleria-personajes .custom-filter{float: left; min-width: 150px !important;  color: #999999 !important; font-size: 13px; border-color: transparent !important; border-radius: 0px !important; height: 100%; border-left:3px solid #4d4d4d !important;}
.galleria-personajes .custom-filter .text{color: #000 !important;}
/*Modal*/
.modal-animation-basic{background-color:#fff !important;max-height:400px !important;}
.edition-content-animation{padding:0px !important;margin-bottom:7px !important;}
.edition-content-animation .title{font-weight: 700;  font-size: 14px; padding: 4px;text-align:center; color:#000; height: 43px; padding: 13px;background-color: #1b1c1d;color:#fff;}
.edition-content-animation .selection{ padding:0px;height: 43px;width:57%; font-size:15px; }
.edition-content-animation .selection input{ border-radius:0px !important; border-color:#1b1c1d !important; }
.edition-content-animation .selection .dropdown{width:100%;border-radius: 0px !important;height: 42px; border-color:#1b1c1d !important;}