
/*Elementos inactivos*/
.element-inactive{display:none !important;}
.element-dinamyc{
	min-width:50px;
	position:absolute !important;
	border: 10px solid transparent;
	height: auto; float: left;overflow: hidden;
	}
.element-dinamyc img.dynamic-image{width:100%;height:100%;}

/*gf-ecm-render-window*/
#window-edition{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
	background-color:#fff;
	/* min-height: 400px; */
	margin-left: 145px;
	margin-top: 80px;
	border-radius:5px;
	margin-bottom: 20px;
	}

#window-edition div.text-plugin[data-font-size=h1]{font-size:36px;}
#window-edition div.text-plugin[data-font-size=h2]{font-size:30px;}
#window-edition div.text-plugin[data-font-size=h3]{font-size:24px;}
#window-edition div.text-plugin[data-font-size=h4]{font-size:18px;}
#window-edition div.text-plugin[data-font-size=h5]{font-size:14px;}
#window-edition div.text-plugin[data-font-size=h6]{font-size:12px;}
#window-edition div.text-plugin .editable-text-input input.editable{
	border:1px solid #d9d9d9;background-color: transparent;width:100%;
}
.element-dinamyc[data-visibility-state='false']{ 
	visibility: hidden;
	 }
.element-dinamyc[data-ref-id-event *="-dynamic" ], 
.element-dinamyc[data-collection-to-disable *="-dynamic" ]{cursor: pointer !important;}
