<script id="pageTpl" type="text/template">
            <div class="form-group ludic ludic-title">
                <label for="tipoLudica">{{ludic}}</label>
                <select name="tipoLudica" id="tipoLudica" class="form-control">
                    {{#ludicType}}
                        <option value="{{value}}" {{#sel}}selected{{/sel}}>{{name}}</option>
                    {{/ludicType}}
                </select>
            </div>
            <div class="form-group ludic">
                <label for="title">{{title}}</label>
                <input type="text" name="title" value="{{titleValue}}" class="form-control" id="title">
            </div>
            <hr>
            <div class="form-group ludic ludic-effect">
                <label for="transition">{{effect}}</label>
                <select name="transition" id="transition" class="form-control">
                    {{#effectType}}
                        <option value="{{value}}" {{#sel}}selected{{/sel}}>{{name}}</option>
                    {{/effectType}}
                </select>
            </div>
            <hr>
            <div class="form-group ludic avatar-load">
                <label for="avatar">{{avatarTitle}}</label>
                <div class="fileinput-button">
                    <input class="fileupload" type="file" name="files[]" multiple />
                </div>
                <section id="upload">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <div class="files"></div>

                </section>
            </div>
            <hr>
            <div class="form-group ludic ludic-background">
                <label for="background">{{backgroundTitle}}</label>
                <input type="color" class="form-control" name="background" id="background" value="{{backgroundColor}}">
            </div>
            <div class="form-group ludic-textarea">
                <label for="content">{{ContentTitle}}</label>
                <textarea name="content" cols="30" rows="10" class="text-area">{{contentBody}}</textarea>
            </div>

</script>