<script id="pageTpl" type="text/template">
            <div class="form-group ludic ludic-title">
                <div class="input-container">
                    <label for="tipoLudica">{{ludic}}</label>
                    <select name="tipoLudica" id="tipoLudica" class="form-control">
                        {{#ludicType}}
                            <option value="{{value}}" {{#sel}}selected{{/sel}}>{{name}}</option>
                        {{/ludicType}}
                    </select>
                </div>
                <input type="hidden" id="logo" value="{{logo}}" />
            </div>
            <div class="form-group ludic-title-text">
                    <label for="title">{{title}}</label>
                    <input type="text" name="title" value="{{titleValue}}" class="form-control" id="title">
            </div>
            <hr>
            <div class="form-group ludic ludic-effect">
                <div class="input-container">
                    <label for="transition">{{effect}}</label>
                    <select name="transition" id="transition" class="form-control">
                        {{#effectType}}
                            <option value="{{value}}" {{#sel}}selected{{/sel}}>{{name}}</option>
                        {{/effectType}}
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group avatar-load">
                <span class="fileinput-button">
                    <i class="fa fa-upload"></i>
                    <input class="fileupload" type="file" name="files[]" multiple />
                </span>
                <span class="bg-avatar"></span>
                <div class="input-container">
                    <label for="avatar">{{avatarTitle}}</label>
                    <section id="upload">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="files"></div>
                    </section>
                </div>
            </div>
            <hr>
            <div class="form-group ludic ludic-background">
                <div class="input-container">
                    <label for="background">{{backgroundTitle}}</label>
                    <input type="color" class="form-control" name="background" id="background" value="{{backgroundColor}}">
                </div>
            </div>
            <div class="form-group ludic-textarea">
                <div class="input-container">
                    <label for="content">{{ContentTitle}}</label>
                    <textarea name="content" cols="30" rows="10" class="text-area">{{contentBody}}</textarea>
                </div>
            </div>

</script>