body{
	background-color: #001133;
}
.circles-title{
	padding:10px;
	text-align: center;
	background-color: #79ff4d;
	color:#fff;
}
.cycle-container{
	margin-top: 50px;
}
.circles-title > h1{font-size: 45px;}
#circles-container{
	text-align: center;
	height: 400px;

}
#menu_icon {
	position: relative; width: 200px; height:40px;top:140px;margin: auto;text-align: center;
	padding-left: 40px;
}
.wcircle-icon > div{padding: 10px;background-color: #999;width: 150px; margin-top: 20px;font-size: 40px;font-style: bold;    margin-left: -20px;}
.wcircle-menu > .wcircle-menu-item{background-color:red;border-radius:50%;padding:15px;width:100px;height:100px;}
.wcircle-menu-item > div{margin-top: 13px;font-size: 30px; font-weight: bold;color: #fff;}
.this-is-active{
	width: 110px !important;height: 110px !important;
    box-shadow: 0px 0px 40px red;
    margin-top: 10px;
    top: -10px !important;
}
.this-is-active > div{font-size: 35px;}

.circle-number{font-size: 30px;padding-top: 13px;font-weight: bold;}
.clear{clear: both;}
.box-ref{ margin-top: 40px;}
.box-type-img > img{width:200px;}
.box-medium, .box-short{float: left;width: 45%;margin-right: 20px;}
.box-text-short{font-size:23px;line-height: 25px;padding-top: 30px;}
.box-text-medium{padding-top: 30px;}
.box-ref > .box-global-container{
	padding:15px;
	border-radius: 20px;
	background-color: #fff;
}
.box-type-sound{
	padding: 5px;
	text-align: right;
	margin-top: 5px;
}
.box-type-sound > span{
	border:2px solid #2aa22a;
	padding:10px;border-radius: 50%;
	background-color: #49d049;color:#fff;
	font-size: 15px;z-index: 20 !important;
	cursor: pointer;
}
audio{display: none;}
div#box-ref-1{z-index: 100;}

.box-ref{position: absolute;opacity: 0;margin-left:-300px;display: none;}

@media (max-width: 775px) {
  #circles-container{
  	margin-left: 25%;
  }
  #global-boxs{
  	margin-left: 20px;
  }
}

