%hidetext {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

%reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 1vw;
}



body {
	height: 100%;
	font-family: $font-stack; // background: #000 url(img/abstract1.jpg) 50% 50% no-repeat;
	// background: #333;
	// background-size: 100% 100%;
	color: $primaryColor;
	margin: 0;
	padding: 0;
	overflow-x: hidden;

	> #bg {
		opacity: 0;
		background-color: transparent;
    	position: fixed;
    	top: 0;
		left: 0;
		z-index: 0;
    	height: 100%;
		width: 100%;
		animation-name: fadeIn;
    	animation-iteration-count: 1;
    	animation-timing-function: ease-in-out;
		animation-duration: $transition-time-normal;
		animation-duration: 0.5s;
    	animation-fill-mode:forwards;
	}

	#projects,
	&.admin #components,
	&.admin #component,
	&.admin #themes,
	&.admin #theme,
	&.admin #fonts,
	&.admin #users,
	#files,
	#tags,
	#config,
	#project,
	#unit,
	#notifications {
		position: relative;
		display: none;
		margin-left: 25rem;
		transition: margin-left $transition-time-normal ease-in-out;
		padding: 0 5rem;
		width: auto;
	}
	#unit {
		margin-left: 0;
	}
	
	&.full #projects,
	&.full #config,
	&.full #project,
	&.full #unit,
	&.full #tags,
	&.full #files {
		margin-left: 0;
	}
	#project h2,
	#projects h2,
	#config h2,
	.admin #components h2,
	.admin #component h2,
	.admin #themes h2,
	.admin #theme h2,
	.admin #fonts h2,
	.admin #users h2,
	#notifications h2 {
		font-weight: normal;
		background: $menu-background;
		font-size: 3rem;
		margin-top: 0em;
		padding: 4rem 1rem 1rem 2rem;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;

		svg {
			width: 3rem;
			height: auto;
			margin-right: 1rem;
			
			fill: $primaryColor;
		}
	}
	&.admin {
		*, *::after, *::before {
			/*box-sizing: border-box;*/
		}
		#users {
			table {
				td.positive,  td.error,
				tr.positive,  tr.error {
					background: transparent !important;
				}
				td.name {
					h4.image {
						svg {
							fill: $primaryColor;
						}
						.content {
							color: #fff;
							.sub.header {
								color: #999;
							}
						}
					}
				}
				td.status {
					div.checkbox {
						vertical-align: bottom;
					}
					span {
						min-height: 1.5rem;
						margin-left: .5em;
						display: inline-block;
						vertical-align: bottom;
					}
				}
			}
			.ui.yellow.button, .ui.yellow.buttons .button {
				background-color: $primaryColor;
				&:hover {
					background-color: darken($primaryColor, 5%);
				}
			}
			.ui.pagination.menu {
				background-color: $primaryColor;
				.item {
					color: rgba(255, 255, 255, 0.9);
					min-width: inherit;
					&:before {
						background: rgba(255, 255, 255, 0.1);
					}
					&:hover {
						background-color: darken($primaryColor, 5%);
					}
				}
			}
		}
		.modalUser {
			.storageTab {
				.circle.storage {
					background: none;
					border: none;
					margin: none;
					padding: none;
					.loader {
						fill: none;
						stroke: $primaryColor;
						stroke-width: 10px;
						stroke-dashoffset: 78.5;
						stroke-dasharray: 0, 314;
						transition: all 0.2s linear;
					}
				}
			}
		}
	}
	>.screen {
		position: absolute;
		top: 0;
		left: 0; // right: 0;
		// bottom: 0;
		min-height: 100%;
		width: 100%;
		background-color: rgba($screen-color, 0.8);
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		z-index: 1000;
	}
	>.screen svg.waiting {
		width: 6rem;
		position: fixed;
		left: 50%;
		top: 50%;
		margin-left: -3rem;
		margin-top: -3rem;
		cursor: pointer;
		opacity: 1;
		fill: $primaryColor-light;
		transition: opacity 0.5s, fill 0.5s;
		animation: svgspin 1.5s linear infinite;
	}
	>.screen.no-wait svg.waiting {
		display: none;
	}
	>.screen svg.editor-toggle {
		width: 2rem;
		height: 2rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
		margin: 0;
		opacity: 1;
		fill: white;
		transition: opacity 0.5s, fill 0.5s;
		fill: #fff;
	}
	>.screen>p {
		font-size: 4rem;
		position: absolute; // display: none;
		color: #fff;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		margin-top: -2rem;
	}
	>.screen .cke {
		margin: 4rem;
	}
	>.screen .red-config {
		position: absolute;
		top: 2vw;
		left: 2vw;
		bottom: 2vw;
		right: 2vw;
		overflow: hidden;
	}
	>.screen .red-config>button {}
	>.screen .red-config iframe {
		width: 100%;
		height: 94%;
		border: none;
	}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Componentes comunes
// Color picker
.sp-replacer {
	background-color: $inputBackground;
	border-color: $inputBackground;
}

.sp-replacer:hover,
.sp-replacer.sp-active {
	border-color: $inputBackground;
}

.sp-picker-container {
	background-color: $inputBackground;
	border-color: $inputBackground;
}

.sp-container {
	border-color: $inputBackground;
}

.sp-input {
	border: 0 none;
	color: $primaryColor;
}

.sp-dd {
	color: $primaryColor;
}

#debug-info {
	position: fixed;
	bottom: 0rem;
	right: 0rem;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 0.8rem;
	line-height: 1.2rem;
	margin: 0;
	padding: 0rem 1rem;
	>p {
		margin: 0;
		padding: 0;
	}
	>.warning {
		color: #f44;
	}
}

.screen .red-config {
	p {
		position: relative;
		margin: 0;
		padding: 0;
		text-align: right;
	}
	p svg {
		width: 2vw;
		height: auto;
		fill: #fff;
		margin: 0 1vw;
		transition: transform $transition-time-normal ease-in-out, opacity $transition-time-normal ease-in-out;
		opacity: 0.7;
	}
	p svg:not(.disabled):hover {
		transform: scale(1.5);
		opacity: 1;
	}
	p svg.ok {
		fill: #0f0;
	}
	p svg.ok.disabled {
		fill: #aaa;
		opacity: 0.5;
	}
	p svg.cancel {
		fill: #f00;
		width: 1.2vw;
		padding: 0.4vw;
	}
}

.dialog {
	h4 {
		font-weight: normal;
		font-size: 2rem;
		margin: 0.6rem 0;
	}
	input {
		border: none;
		box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
		font-size: 1.5rem;
		width: 30rem;
		border-radius: 2px;
		padding: 1rem 1rem;
		outline: 0 none;
	}
	p {
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		margin-top: 0.2rem;
		text-align: center;
	}
	p.validation {
		text-align: left;
		font-size: 1rem;
		margin: 0.2rem 0;
		height: 1.2rem;
	}
	svg {
		width: 2rem;
		height: auto;
		fill: #fff;
		margin: 1rem 1rem;
		transition: transform $transition-time-normal ease-in-out, opacity $transition-time-normal ease-in-out;
		opacity: 0.7;
		box-sizing: content-box;
	}
	svg:not(.disabled):hover {
		transform: scale(1.5);
		opacity: 1;
	}
	svg.ok {
		fill: #0f0;
	}
	svg.ok.disabled {
		fill: #aaa;
		opacity: 0.5;
	}
	svg.cancel {
		fill: #f00;
		width: 1.2rem;
		padding: 0.4rem;
	}
}

a.nav {
	text-decoration: none;
	font-size: 2rem;
	margin: 1rem 5rem;
	color: $primaryColor-light;
	display: block;
}

@keyframes svgspin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.dashboard-toggle,
.secondary-menu-toggle {
	fill: $primaryColor-dark;
	position: absolute;
	width: 2rem;
	height: 2rem;
	right: 1rem;
	top: 1rem;
	transition: fill $transition-time-normal;
}

.secondary-menu-toggle {
	right: auto;
	left: 1rem;
}

.dashboard-toggle:hover,
secondary-menu-toggle:hover {
	fill: $accent-color;
}

.menu-toggle {
	fill: $primaryColor;
	position: absolute;
	width: 2rem;
	height: 2rem;
	right: 1rem;
	top: 1rem;
	transition: fill $transition-time-normal;
}

.menu-toggle:hover {
	fill: $accent-color;
}

.preview-toggle {
	fill: $primaryColor;
	position: absolute;
	width: 2rem;
	height: 2rem;
	right: 4rem;
	top: 1rem;
	transition: fill $transition-time-normal;
}

.preview-toggle:hover {
	fill: $accent-color;
}

#preview {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: none; // height: 96rem;
	// width: 96rem;
	box-sizing: border-box;
	background: $menu-background;
	margin: 0;
	padding: 0; // transform: translateY(-98rem);
	// transition: $transition-time-normal ease-in-out;
	text-align: center;
	transition: opacity $transition-time-normal ease-in-out;
	opacity: 0;
	pointer-events: none;
	.block .tools {
		display: none;
	}
}

#preview.on {
	// transform: translateY(0);
	opacity: 1;
	pointer-events: all;
}

#preview svg {
	margin-top: 10%;
	fill: rgba(255, 255, 255, 0.1);
	width: 50%;
}

#dashboard {
	position: fixed;
	height: 100%;
	width: 25rem; // max-width: 300px;
	top: 0;
	left: 0;
	background: rgba($menu-background, 0);
	border-right: 1px solid $primaryColor-dark-transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 2rem 0;
	transform: translateX(-25rem);
	transition: $transition-time-normal ease-in-out;
	will-change: transform;
	z-index: 9999;

	[data-tooltip]:before, [data-tooltip]:after {
        background: darken($background, 16%);
        border: 0 none;
        color: $primaryColor;
        font-size: 1.4rem;
		box-shadow: none;
        // text-transform: uppercase;
	}
	
	[data-position~=bottom][data-tooltip]:before {
		background: darken($background, 16%);
		box-shadow: none;
	}
	
	.user-profile-pic {
		display: inline;
		width: 50%;
		padding: 2%;
		margin: 0 25%;
		background-color: #fff;
		border-radius: 50%;
		transition: $transition-time-normal transform ease-in-out;
	}
	.user-profile-pic:hover {
		transform: rotate(360deg);
	}
	.user-profile-pic.default {
		height: auto;
		border-radius: 0;
		background-color: transparent;
		fill: $primaryColor;
	}
	h4 {
		text-align: center;
		font-size: 1.5rem;
		font-weight: normal;
		color: $primaryColor-light;
		margin-bottom: 2rem;
	}
	.dashboard-toggle {
		fill: $primaryColor;
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		right: 0;
		margin-right: -3rem;
		z-index: 10000;
		top: 1.5rem;
		transition: fill $transition-time-normal, margin-right $transition-time-normal;
	}
	.dashboard-toggle:hover {
		fill: $accent-color;
	}
	>.toggle {
		@extend %hidetext;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -0.5rem;
		margin-right: -1rem;
		height: 1rem;
		width: 1rem;
		background: $primaryColor;
	}
	ul {
		height: 100%;
		display: flex;
		position: absolute;
		top: 0;
		margin: 0 -4rem 0 0;
		width: 4rem;
		padding: 1rem 0;
		padding-top: 4rem;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
		align-content: center;
		@extend %reset-list;
		height: auto;
		right: 0;
		background: $menu-background;
	}
	ul li {
		@extend %reset-list;
		padding: 0;
		border-top: 1px solid transparent;
	}

	ul ul {
		display: none;
	}

	ul li li {
		padding: 0 0;
	}
	ul li a {
		// width: 5rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		border: 0 none;
		color: $primaryColor;
		font-size: 1.5rem;
		padding: 1rem 0;
		text-align: left;
		text-decoration: none;
		transition: color $transition-time-normal ease-in-out;
		fill: $primaryColor;
		vertical-align: middle;
	}
	ul li a:hover,
	ul li.active a {
		color: $primaryColor-light; // background-color: $primaryColor;
	}
	ul li a svg {
		padding: 0 1rem;
		flex: 0 0 4rem;
		margin: 0;
		display: block;
		// width: 2rem;
		box-sizing: border-box;
		height: auto;
		fill: $primaryColor;
		// position: absolute;
		// right: -5rem;
		transition: fill $transition-time-normal ease-in-out;
	}
	ul li a span {
		// margin-left: 4.5rem;
		display: none;
		flex: 0 1 0;
		padding: 0;
		margin: 0;
	}
	ul li a sup {
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
		border-radius: 1rem;
		width: 0;
		height: 1.8rem;
		text-indent: -0.4rem; // color: $primaryColor-dark;
		padding: 0.2rem 1rem 0 1rem; // background-color: $primaryColor;
		vertical-align: middle;
		transition: background-color $transition-time-normal ease-in-out;
		font-size: 1rem;
	}
	ul li a:hover sup {
		// background-color: $primaryColor-light;
	}
	ul li a:hover svg,
	ul li.active a svg {
		fill: $primaryColor-light;
		transform: scale(1.2);
	}
	ul ul {
		margin: 0;
	}
	ul ul li a {
		// font-size: 1rem;
	}
	ul ul li a svg {
		// width: 1rem;
		// margin-left: 4.5rem;
	}
	ul.user-units li a:hover {
		border-color: $primaryColor;
	}
	&:hover {
		background-color: $menu-background-hover;
	}
	&.on {
		transform: translateX(0);
		background: $menu-background;

		.dashboard-toggle {
			transform: scaleX(-1);
			fill: $background;
			margin-right: 1rem;
		}

		.dashboard-toggle:hover {
			fill: $primaryColor;
		}

		ul {
			margin-right: 0;
			width: auto;
			position: relative;
			background: transparent;
		}

		ul li {
			padding: 0;
		}

		ul li a {
			border: 0 none;
			color: $primaryColor;
			font-size: 1.5rem;
			padding: 1rem 0;
			text-align: left;
			text-decoration: none;
			transition: color $transition-time-normal ease-in-out;
			fill: $primaryColor;
			vertical-align: middle;
			position: relative;
		}

		ul li a svg {
			flex: 0 0 4rem;
			padding: 0 1rem;
		// 	width: 1.5rem;
		// 	height: auto;
		// 	fill: $primaryColor;
		// 	transition: fill $transition-time-normal ease-in-out;
		}

		ul li a span {
			flex: 1 1 auto;
			display: block;
			width: auto;
			overflow: hidden;
		}
	}
}

#secondary-menu,
.secondary-menu {
	position: fixed;
	height: 100%;
	width: 30rem;
	top: 0;
	right: 0;
	background: rgba($menu-background, 0);
	// border-left: 1px solid $primaryColor-dark-transparent;
	box-sizing: border-box;
	margin: 0;
	padding: 1rem;
	transform: translateX(30rem);
	transition: transform $transition-time-normal ease-in-out, background-color $transition-time-normal ease-in-out;
	will-change: transform;
	>.toggle {
		@extend %hidetext;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -0.5rem;
		margin-right: -1rem;
		height: 1rem;
		width: 1rem;
		background: $primaryColor;
	}
	.secondary-menu-toggle {
		fill: $primaryColor;
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		margin-left: -3rem;
		top: 1rem;
		transform: scaleX(-1);
		transition: fill $transition-time-normal, margin-right $transition-time-normal;
	}
	.secondary-menu-toggle:hover {
		fill: $accent-color;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	>ul>li {
		list-style: none;
		margin: 2rem 0 0 0;
		padding: 0 1rem; // border-bottom: 1px solid $menu-divider;
		position: relative;
		height: auto;
		overflow: hidden;
	}
	>ul>li>a {
		font-size: 2.5rem;
		text-decoration: none;
		color: $primaryColor-light;
		transition: color $transition-time-normal;
	}
	>ul>li.on>a {
		// color: $accent-color;
	}
	>ul>li>div {
		height: auto; // max-height: 0;
		// transition: max-height $transition-time-normal;
		margin: 0;
	}
	>ul>li.on>div {
		height: auto; // max-height: 20rem;
	}
	.secondary-blocks li {
		list-style: none;
		margin: 0;
		padding: 0;
		margin: 2rem 0; // border: 1px solid $background;
		// background-color: rgba(0,0,0,0.5);
		// min-height: 2rem;
		// padding: 0 1rem;
		transition: border-color $transition-time-normal ease-in-out, color $transition-time-normal ease-in-out;
	}
	.secondary-blocks li svg {
		float: left;
		width: 1.5rem;
		margin: 0 2rem 0 0;
		height: auto;
		fill: $primaryColor;
		transition: fill $transition-time-normal ease-in-out;
	}
	.secondary-blocks li:hover {
		color: $primaryColor-light;
	}
	.secondary-blocks li:hover svg {
		fill: $primaryColor-light;
	}
	.secondary-blocks li div {
		margin-top: 0;
		margin-left: 3.5rem;
	}
	.secondary-styles ul {
		padding-top: 2rem;
		font-size: 1rem;
	}
	.secondary-styles li {
		clear: left;
	}
	.secondary-styles li span {
		color: $primaryColor-text;
		float: left;
		width: 40%;
	}
	.secondary-styles li p {
		margin-left: 45%;
		margin-top: 0.5rem;
		padding-bottom: 0.5rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid $primaryColor-dark-transparent;
	}
	.secondary-styles li input {
		margin-left: 45%;
		margin-top: 0.5rem;
		padding: 0;
		margin-bottom: 1rem;
		border: 0 none;
	}
	.secondary-styles h4 {
		font-size: 1rem;
		color: $primaryColor-dark-transparent;
	}
	&.on {
		transform: translateX(0);
		overflow: auto;
		background: $menu-background;
	}
	&:hover {
		// background-color: $menu-background-hover;
	}
	&.on .secondary-menu-toggle {
		transform: scaleX(1);
		margin-left: 1rem;
	}
	.menu-close {
		fill: $primaryColor-dark;
		position: absolute;
		width: 2rem;
		height: 2rem;
		right: 1rem;
		top: 1rem;
		transition: fill $transition-time-normal;
	}
	.menu-close:hover {
		fill: $accent-color;
	}
}

#unit {
	display: none;
	position: relative;
	margin-right: 0;
	transition: margin-right $transition-time-normal;
	height: 100%;
	flex-flow: column nowrap;
	.unit-screen {
		position: fixed;
		top: 0;
		left: 0; // right: 0;
		// bottom: 0;
		min-height: 100%;
		width: 100%;
		background-color: rgba($screen-color, 0.8);
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		align-content: center; // z-index: 1000;
	}
	>.unit-main {
		position: relative;
		height: 100%;
		display: flex;
		transition: margin-right $transition-time-normal;
		flex-flow: column nowrap;
	}
	&.shrunk .unit-main {
		margin-right: 31rem;
	}
	a.toggle {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		border-radius: 50%;
		width: 1rem;
		height: 1rem;
		background: $primaryColor;
		transition: background-color $transition-time-normal;
		@extend %hidetext;
	}
	&.collapsed a.toggle {
		background: $secondary-text-color;
	}
	&.collapsed a.toggle:hover {
		background-color: $primaryColor-dark;
	}
	a.toggle:hover {
		background: $primaryColor-light;
	}
}

[contenteditable="true"]:focus,
#unit [contenteditable="true"]:focus {
	color: $accent-color;
	outline: none;
}

.unit-info {
	background: $menu-background;
	font-family: $font-stack;
	padding: 0.5rem 3rem; // border-bottom: 1px solid $divider-color;
	box-sizing: border-box;
	transition: background-color $transition-time-normal, height $transition-time-normal;
	position: relative;
	overflow: visible;
	z-index: 100;
	height: auto;
	flex-grow: 0;
	flex-shrink: 0; // transform: translateY(0);
	transition: $transition-time-normal ease-in-out;
	will-change: transform;


	[data-tooltip]:before, [data-tooltip]:after {
        background: darken($background, 16%);
        border: 0 none;
        color: $primaryColor;
        font-size: 1.2rem;
        box-shadow: none;
        // text-transform: uppercase;
	}
	
	[data-position~=bottom][data-tooltip]:before {
		background: darken($background, 16%);
		box-shadow: none;
	}

	.info-toggle {
		fill: $primaryColor;
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		right: 3rem;
		transform: rotate(-90deg);
		margin-right: -2rem;
		top: 1rem;
		transition: fill $transition-time-normal, margin-right $transition-time-normal, top $transition-time-normal, bottom $transition-time-normal, margin-bottom $transition-time-normal;
	}
	.info-toggle:hover {
		fill: $accent-color;
	}
	h2 {
		margin: 0.1rem 0;
		color: $primaryColor-light;
		font-size: 2rem;
		transition: color $transition-time-normal;
		font-weight: normal;
	}
	p {
		margin: 0.1rem 0;
		font-size: 1rem;
		color: $primaryColor;
	}
	>.unit-info-title {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}
	>.unit-info-title aside {
		top: 0.5rem;
		right: 3.5rem;
	}
	>.unit-info-title aside button {
		background: transparent;
		border: 0 none;
		color: $primaryColor;
		transition: all $transition-time-normal;
		outline: none;
		text-align: center;
		width: 4rem;
		padding: 0;
	}
	>.unit-info-title aside button svg {
		width: 1rem;
		width: 1rem;
		height: auto;
		width: 1rem;
		fill: $primaryColor;
		transition: fill $transition-time-normal;
	}
	>.unit-info-title aside button span {
		text-align: center;
		position: absolute;
		font-size: 0.8rem;
		width: 4rem;
		opacity: 0;
		transition: opacity $transition-time-normal;
		display: block;
		color: $primaryColor-light;
		display: none;
	}
	>.unit-info-title aside button.active svg {
		fill: $primaryColor-light;
	}
	>.unit-info-title aside button:hover svg {
		fill: $primaryColor-light;
	}
	>.unit-info-title aside button:hover span {
		opacity: 1;
	}
	>.unit-info-title aside button.saving svg {
		animation: saving 0.6s ease-in-out 0s infinite alternate none running;
		fill: $primaryColor-light;
	}
	&:hover {
		background: $menu-background-hover;
	}
	&.collapsed {
		position: absolute;
		width: 100%;
		z-index: 100;
		height: 0rem;
		padding-bottom: 0;
		padding-top: 0;
		margin-bottom: 2rem; // transform: translateY(-13rem);
		overflow: visible;
		&.collapsed .info-toggle {
			transform: rotate(90deg);
			top: auto;
			bottom: 0;
			margin-bottom: -4rem;
			right: 3.5rem;
		}
		&.collapsed ul {
			height: 0;
		}
		&.collapsed h2,
		&.collapsed p {
			height: 0;
			overflow: hidden;
		}
		&.collapsed a:not(.toggle),
		button {
			display: none;
		}
	}
}

@keyframes saving {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0.7);
		opacity: 0;
	}
}

.page-list {
	// background: $bar-background-color;
	font-family: $font-stack;
	padding: 1rem 0;
	display: flex;
	border: 1px solid transparent; // border-bottom-color: $divider-color;
	margin: 1rem 0rem 1rem 0rem;
	justify-content: space-between;
	transition: background-color $transition-time-normal;
	position: relative;
	&:hover {
		// background: $bar-background-color-hover;
	}
	ul,
	li {
		@extend %reset-list;
	}
	ul {
		font-family: Roboto, sans-serif;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: center;
		flex-basis: 90%;
		transition: height $transition-time-normal;
	}
	li {
		flex-basis: 0;
		position: relative;
	}
	li a {
		margin: 0 0.5rem; // border: 1px solid $background;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 0.2rem;
		color: $primaryColor;
		text-decoration: none;
		/* font-family: sans-serif; */
		font-size: 1rem;
		display: block;
		text-align: center;
		position: relative;
		height: 80%;
		padding: 0.5rem 1rem;
		/* background-color: #DAD1C2; */
		/* background-color: rgba(218,209,194,0); */
		transition: box-shadow $transition-time-normal, color $transition-time-normal, border-color $transition-time-normal, width $transition-time-normal, background-color $transition-time-normal;
	}
	li a span.delete {
		position: absolute;
		color: $primaryColor;
		right: 0.2rem;
		top: 0rem;
		font-size: 0.9rem;
	}
	li a span.delete:hover {
		color: $primaryColor-light;
	}
	li a span.title {
		display: block;
		font-size: 0.8rem;
		/* display: none; */
		width: 100%; // max-width: 0;
		transition: all $transition-time-normal; // overflow: hidden;
	}
	li a:hover {
		// color: $accent-color;
		// border-color: $accent-color;
	}
	li a.current,
	li a:hover {
		// background-color: $primaryColor-dark;
		color: $primaryColor;
		border-color: $primaryColor-light;
		box-shadow: 0 0 3px rgba($primaryColor, 1);
	}
	li a.changed {
		border-color: $color-changed;
		color: $color-changed;
	}
	li a.placeholder {
		background-color: #999;
	}
	li a:hover span,
	li a.current span {
		// max-width: 4rem;
	}
	>button {
		align-self: flex-end;
		flex-basis: 5%;
		background-color: transparent;
		border: 0 none;
		outline: 0 none; // border: 1px solid $background;
		// border-radius: 0.2rem;
		// color: $primaryColor;
		// font-size: 2rem;
		// transition: color $transition-time-normal, border-color $transition-time-normal;
	}
	>button svg {
		width: 1.5rem;
		height: 1.5rem;
		fill: $primaryColor;
		transition: fill $transition-time-normal;
	}
	>button:hover svg {
		fill: $primaryColor-light;
	}
	li.dropzone {
		background-color: $primaryColor !important;
		border-color: $primaryColor !important;
	}
}

#template-list {
	background: $bar-background-color;
	font-family: $font-stack;
	padding: 1rem 0;
	padding-left: 2rem;
	display: flex;
	border: 1px solid transparent;
	border-bottom-color: $divider-color;
	margin-bottom: 1rem;
	justify-content: space-between;
	transition: background-color $transition-time-normal;
	position: relative;
	a.toggle {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		border-radius: 50%;
		width: 1rem;
		height: 1rem;
		background: $primaryColor;
		transition: background-color $transition-time-normal;
		@extend %hidetext;
	}
	&.collapsed a.toggle {
		background: $secondary-text-color;
	}
	&.collapsed a.toggle:hover {
		background-color: $primaryColor-dark;
	}
	a.toggle:hover {
		background: $primaryColor-light;
	}
	&:hover {
		background: $bar-background-color-hover;
	}
	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul {
		font-family: Roboto, sans-serif;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: center;
		flex-basis: 90%;
		transition: height $transition-time-normal;
	}
	li {
		border: 1px solid $divider-color;
		display: block;
		width: 4rem;
		height: 6rem;
		position: relative;
	}
	li div {
		border: 1px solid $divider-color;
		margin: 0;
		position: absolute;
		transition: border-color $transition-time-normal;
	}
	li a span {
		display: block;
		font-size: 0.8rem;
		/* display: none; */
		width: auto;
		max-width: 0;
		transition: all $transition-time-normal;
		overflow: hidden;
	}
	li a:hover {
		border-color: $accent-color;
	}
	li.current {
		width: 16rem;
		height: 24rem;
	}
	li.current div {
		border-color: $primaryColor;
	}
	li.current div:hover {
		border-color: $primaryColor-light;
	}
	li.current div.current {
		border-color: $accent-color;
	}
	li.template-b .block-a {
		top: 2%;
		left: 2%;
		right: 2%;
		bottom: 68%;
	}
	li.template-b .block-b {
		top: 34%;
		left: 2%;
		right: 62%;
		bottom: 2%;
	}
	li.template-b .block-c {
		top: 34%;
		left: 40%;
		right: 2%;
		bottom: 2%;
	}
	/* Template */
	li.template-c .block-a {
		top: 2%;
		left: 2%;
		right: 62%;
		bottom: 40%;
	}
	li.template-c .block-b {
		top: 2%;
		left: 42%;
		right: 2%;
		bottom: 40%;
	}
	li.template-c .block-c {
		top: 62%;
		left: 2%;
		right: 2%;
		bottom: 2%;
	}
	/* Template */
	li.template-a .block-a {
		top: 2%;
		left: 2%;
		right: 2%;
		bottom: 68%;
	}
	li.template-a .block-b {
		top: 36%;
		left: 2%;
		right: 2%;
		bottom: 36%;
	}
	li.template-a .block-c {
		top: 68%;
		left: 2%;
		right: 2%;
		bottom: 2%;
	}
}

#template-list.collapsed {
	height: 0rem;
	ul {
		height: 0;
	}
	li {
		display: none;
	}
}

.data-config {

	.items {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: flex-start;

		.config-item {
			flex: 1 1 calc(50% - 1vw);
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: stretch;
			align-content: flex-start;
			background-color: $bar-background-color-hover;
			margin: 0.5vh 0.5vw;
	
			.input {
				padding: 0.5vh 1vw 0.5vh 0.5vw;
				flex: 0 0 7vw;
				box-sizing: border-box;
				vertical-align: middle;
			}
	
			.name {
				padding: 0.5vh 1vw 0.5vh 0.5vw;
				padding: 1vw;
				flex: 1 1 auto;
	
				p {
					line-height: 100%;
				}
			}
		}
	
	}
}

#unit #page > .page {
	margin-top: 1em;
	padding: 1rem;
	// border: 1px solid $divider-color;
	// background-color: $bar-background-color;
	height: 100%;
	// overflow: scroll;

	>h2 {
		font-weight: normal;
		margin: 0 0 1rem 0;
		background-color: $bar-background-color-hover;
		border-radius: 2px;
		padding: 0.3rem 0.6rem;
	}
	.cat-dropzone {
		height: 1vh;
		padding: 0;
		margin: 0;
		border: 1px dashed transparent;
		transition: height $transition-time-normal, border-color $transition-time-normal;
		
		height: 1vh;
	}
	.main>.cat-dropzone {
		border-width: 0;
		height: 100%;
	}
	&.dragging .cat-dropzone:not(.adjacent) {
		border-width: 1px;
		border-color: $primaryColor;
		height: 2vh;
		min-height: 2vh;
		animation: dropimate 1s ease-in-out infinite;
	}
	.cat-dropzone.ui-state-highlight:not(.adjacent) {
		border-color: $accent-color;
		background-color: rgba($accent-color, 0.3);
		animation-name: dropimate-over;
	}
	.cat-dropzone.unique,
	.cat-dropzone.unique.ui-state-highlight {
		// height: 100%;
	}
	.block {
		margin: 0;
		padding: 0; // border: 1px solid $primaryColor-dark;
		// background-color: rgba(0,0,0,0.5);
		border: 1px solid rgba(0, 0, 0, 0);
		min-height: 3rem;
		transition: margin-top $transition-time-normal, border-color $transition-time-normal; // padding: 1em;
		position: relative;
		transition: all $transition-time-normal;
		height: auto;
	}
	aside.css-edit {
		padding: 1rem;
		position: absolute;
		z-index: 1000;
		margin-left: calc(-1rem - 2px);
		margin-right: calc(-1rem - 2px);
		left: 0;
		right: 0;
		height: auto;
		background-color: $menu-background;
		h1 {
			background-color: transparent;
			color: $primaryColor;
			font-weight: normal;
		}
		.css-query h2 {
			font-weight: normal;
		}
		.css-rule {
			padding: 0.5rem;
			background-color: $bar-background-color-hover;
			h3 {
				font-weight: normal;
			}
			nav {
				top: 0.5rem;
				right: 3.5rem;
				text-align: right;
				background-color: transparent;
			}
			nav button {
				background: transparent;
				border: 0 none;
				color: $primaryColor;
				transition: all $transition-time-normal;
				outline: none;
				text-align: center;
				width: 2rem;
				padding: 0;
			}
			nav button svg {
				height: auto;
				width: 1.5rem;
				fill: $primaryColor;
				margin-bottom: -0.5rem;
				transition: fill $transition-time-normal;
			}
			nav button.disabled svg {
				height: auto;
				width: 1.5rem;
				fill: rgba($primaryColor-light, 0.2);
				transition: fill $transition-time-normal;
			}
			nav button.active svg {
				fill: $primaryColor-light;
			}
			nav button:not(.disabled):hover svg {
				fill: $primaryColor-light;
			}
			nav button:hover span {
				opacity: 1;
			}
		}
		.css-attribute.header {
			color: $secondary-text-color;
		}
		.css-attribute {
			display: flex;
			flex-flow: row nowrap;
			align-items: stretch;
			overflow: visible;
			>div {
				height: 3rem;
				line-height: 3rem;
				overflow: visible;
			}
			.name,
			.attribute-attribute-pick {
				flex-basis: 15rem;
			}
			.default-value {
				flex-basis: 10rem;
			}
			.custom-value {
				flex-basis: 20rem;
			}
			input[type="color"] {
				border: 0 none;
				padding: 0;
			}
			input[type="color"]::-webkit-color-swatch-wrapper {
				padding: 0;
			}
			.switch {
				text-align: center;
				flex-basis: 10rem;
			}
			button {
				background: transparent;
				border: 0 none;
				color: $primaryColor;
				transition: all $transition-time-normal;
				outline: none;
				text-align: center;
				width: 2rem;
				padding: 0;
			}
			button svg {
				height: auto;
				width: 1rem;
				fill: $primaryColor;
				transition: fill $transition-time-normal;
			}
			button:hover svg {
				fill: $primaryColor-light;
			}
		}
	}
	aside.config-edit {
		padding: 1rem;
		position: absolute;
		z-index: 1000;
		margin-left: calc(-1rem - 2px);
		margin-right: calc(-1rem - 2px);
		left: 0;
		right: 0;
		height: auto;
		background-color: $menu-background;

		
	}
	.block.on {
		// margin-top: 1.4rem;
		// border-color: $primaryColor-dark;
	}
	>.block {
		// margin-top: 0rem;
		height: 100%;
	}
	.block .placeholder {
		text-align: center;
		font-size: 0.8rem;
		background-color: $primaryColor;
		border-radius: 2px;
		display: inline-block;
		padding: 0 1vw;
		color: #000;
	}
	.block .tools {
		position: absolute !important;
		box-sizing: content-box; // background: inherit !important;
		opacity: 0;
		top: 0 !important;
		right: 0;
		margin: 0;
		padding: 0.2rem 0.5rem !important;
		height: 1rem;
		font-size: 1rem;
		width: auto;
		overflow: hidden;
		transition: opacity $transition-time-normal;
		background-color: $bar-background-color-hover !important;
		border-radius: 2px;
	}
	.block .tools.block-mode {
		top: -1rem !important;
	}
	.block.on>.tools {
		opacity: 1;
	}
	.block .tools svg {
		width: 1rem;
		margin-left: 0.5rem;
		fill: $primaryColor;
		transition: fill $transition-time-normal;
	}
	.block .tools svg:first-child {
		margin-left: 0;
	}
	.block .tools svg:hover {
		fill: $accent-color;
	}
	.block div.ck content {
		display: block;
		min-height: 8vw;
		border: 1px solid $bar-background-color-hover;
		background: repeating-linear-gradient( 45deg, $bar-background-color-hover, $bar-background-color-hover 1rem, transparent 1rem, transparent 2rem);
	}
	.block div.red,
	.block div.image {
		display: block;
		min-height: 8vw;
		border: 1px solid $bar-background-color-hover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 3vw auto, cover;
		background-image: url(../../img/icons/block_img.svg), repeating-linear-gradient(45deg,rgba(0,0,0,.3),rgba(0,0,0,.3) 1rem,transparent 1rem,transparent 2rem);
		transition: background-size $transition-time-normal;
	}
	.block div.red {
		background-image: url(../../img/icons/settings_v2.svg), repeating-linear-gradient(45deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 1rem, transparent 1rem, transparent 2rem);
	}
	.block div.image {
		background-image: url(../../img/icons/block_img.svg), repeating-linear-gradient(45deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 1rem, transparent 1rem, transparent 2rem);
	}
	.block div.red:hover {
		background-size: 3.5vw auto, cover;
		cursor: pointer;
	}
	.block .repeat-tool {
		position: absolute;
		display: block;
		margin: 0;
		top: auto;
		left: auto;
		background-color: $bar-background-color-hover;
		border-radius: 2px;
		padding: 0 0.3rem;
	}
	.block .repeat-tool svg {
		height: 1rem;
		width: auto;
		fill: $primaryColor;
		margin: 0.5rem 0.5rem;
		vertical-align: top;
		transition: fill $transition-time-normal ease-in-out;
	}
	.block .repeat-tool svg:hover {
		fill: $primaryColor-light;
	}
}

@keyframes dropimate {
	0% {
		border-color: rgba($primaryColor, 0.6);
	}
	50% {
		border-color: rgba($primaryColor, 0.8);
	}
	100% {
		border-color: rgba($primaryColor, 0.6);
	}
}

@keyframes dropimate-over {
	0% {
		border-color: rgba($accent-color, 1);
	}
	50% {
		border-color: rgba($accent-color, 0.5);
	}
	100% {
		border-color: rgba($accent-color, 1);
	}
}

#unit .sections {
	position: relative;
	overflow-x: visible;
	height: auto;
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	> section {
		// transition: transform 0.3s, opacity 0.3s; // width: 100%;
		position: relative;
		// top: 0;
		flex: 0 0 100%;
		width: 100%;
		display: none;

		> div {
			margin: 0;
			// padding: 0;
		}

		h3 {
			font-weight: normal;
			font-size: 2rem;
			padding: 1rem 2rem;
		}
	}
}



#unit #page {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	// overflow: scroll;
	>aside {
		position: relative;
		top: 0.5rem;
		right: 0.5rem;
		height: 2.5rem;
	}
	>aside button {
		background: transparent;
		border: 1px solid $divider-color;
		color: $primaryColor;
		transition: all $transition-time-normal;
	}
	>aside button:hover {
		border: 1px solid $accent-color;
		color: $accent-color;
	}
	>aside button.active {
		// background-color: $primaryColor-dark;
		color: $primaryColor-light;
		border-color: $primaryColor-light;
	}
	>aside button#edit.active {
		background-color: #303030;
	}
}

#unit #config {
	background-color: $menu-background;
	margin-top: 1rem;
	padding: 0;
	height: auto;
}

#unit #themes {
	background-color: $menu-background;
	margin-top: 1rem;
	h3 {
		font-weight: normal;
		font-size: 2rem;
		padding: 1rem 2rem;
	}
	.themes {
		display: flex;
		list-style: none;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		margin: 0 0 0 2vw;
		padding: 0;
	}
	.themes li {
		position: relative;
		flex: 0 0 22%; // width: 16vw;
		margin: 0 2% 2vw 0;
		vertical-align: middle; // background: #fff;
		border: 1px solid $background; // min-width: 18vw;
	}
	.themes li:first-child {
		// margin-left: 0;
	}
	.themes li img {
		display: block;
		width: 100%;
		height: auto;
		border: 0;
		outline: 0;
		transition: filter $transition-time-normal;
	}
	.themes li h4 {
		font-weight: normal;
		color: $primaryColor-light;
		font-size: 1rem;
		left: 0;
		width: 100%;
		text-align: left;
		line-height: 1rem;
		height: 1rem;
		margin: 0;
		padding: 1rem 0.5rem;
		border: 0;
	}
	.themes li a {
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
		color: rgba($primaryColor-light, 1);
		right: 0;
		bottom: 0;
		box-shadow: 0px 0px 2px darken($background, 50%);
		text-decoration: none;
		line-height: 100%;
		height: auto;
		text-align: center;
		transition: background-color $transition-time-normal;
	}
	.themes li.selected {
		box-shadow: 0px 0px 2px darken($background, 50%);
		border: 1px solid $primaryColor; // background: $primaryColor;
		h4 {
			color: $primaryColor;
		}
	}
	.themes li a span {
		position: absolute;
		top: calc(50% - 1rem);
		font-size: 1rem;
		left: 50%;
		margin-left: -3rem;
		width: 4rem;
		padding: 1rem 1rem;
		margin-top: -1rem;
		border-radius: 2px;
		opacity: 0;
		background: #fff;
		color: $background;
		box-shadow: 0px 0px 4px darken($background, 50%);
		transition: opacity $transition-time-normal;
	}
	.themes li:hover a {
		box-shadow: 0px 0px 4px darken($background, 50%);
		background: rgba(darken($primaryColor, 50%), 0.5);
	}
	.themes li:hover a span {
		opacity: 1;
	}
	.themes li:hover h4 {
		// color: $primaryColor;
	}
}

#unit #structure {
	background-color: $menu-background;
	margin-top: 1rem; // height: 100%;
	flex-grow: 1;
	h3 {
		font-weight: normal;
		font-size: 2rem;
		padding: 1rem 2rem;
	}
	svg {
		// border: 1px solid $primaryColor;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		box-sizing: border-box;
	}
	.node {
		cursor: pointer;
	}
	.overlay {
		background-color: #EEE;
	}
	.node circle {
		fill: #252525;
		/*fill: none;*/
		fill: $menu-background;
		stroke: $primaryColor;
		stroke-width: 0.15vw;
		transition: stroke 0.3s;
		// transition: stroke 0.1s, transform 0.1s cubic-bezier(0.540, 0.250, 0.095, 1.650);
		/*fill-rule: evenodd;*/
		
	}
	.node:hover circle {
		// transform: scale(1.2);
		animation: circlePop 0.6s;
		stroke: $primaryColor-light;
	}
	.node.selected circle {
		// transform: scale(1.2);
		stroke: $primaryColor-light;
	}
	.node text {
		font-size: 10px;
		font-family: sans-serif;
		fill: #ffffff;
	}
	.link {
		fill: none;
		stroke: $primaryColor-light;
		/*stroke: #101010;*/
		stroke-width: 0.15vw;
		stroke-dasharray: 1vw, 1vw;
		opacity: 0.3;
	}
	.templink {
		fill: none;
		stroke: $primaryColor;
		/*stroke: #101010;*/
		stroke-width: 0.3vw;
		stroke-dasharray: 1vw, 1vw;
		opacity: 0.5;
	}
	.node circle.ghostCircle.show {
		display: block;
	}
	.node.activeDrag circle {
		opacity: 0.2;
	}
	.node circle.ghostCircle,
	.node.activeDrag circle.ghostCircle {
		display: none;
		fill: $primaryColor;
		opacity: 0.5;
		stroke: none;
		stroke-width: 0;
	}
	nav {
		position: absolute;
		top: 1vw;
		right: 1vw;
		z-index: 100;
	}
	nav button {
		width: 2vw;
		height: 2vw;
		box-sizing: border-box;
		border-radius: 2vw;
		border: 0;
		line-height: 2vw;
		outline: 0 none;
		padding: 0;
		background: #101010;
		;
		color: $primaryColor;
		border: 0.15vw solid $primaryColor;
		font-weight: bold;
	}
	.tooltip {
		position: absolute;
		z-index: 10;
		opacity: 0;
		transition: opacity 0.3s;
		background: transparent;
		color: #ffffff;
		font-family: sans-serif;
		text-shadow: 0px 0px 5px #000;
		font-size: 1.5vw;
		margin-top: -0.75vw;
	}
}

@keyframes circlePop {
	0% {
	  transform: scale(1);
	}
  
	15% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(1);
	  }
  }

#project .project,
#projects .project,
.admin #components .component,
.admin #component .component,
.admin #themes .theme,
.admin #theme .theme,
.admin #fonts .font,
#notifications .notification {
	background-color: $menu-background;
	padding: 1rem 2rem 1rem 2rem;
	margin: 2rem 0;
	border: 1px solid $menu-background;
	transition: border-color $transition-time-normal ease-in-out, background-color $transition-time-normal ease-in-out;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	position: relative;
	border-radius: 4px;
	a {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&.locked {
		background-color: rgba($menu-background, 0.3);
	}
	&.locked:hover {
		border-color: $primaryColor-light; // cursor:
	}
	.project-info {
		flex-basis: 80%;
	}
	.roles {
		flex-basis: 20%; // background-color: rgba(255,255,255,0.2);
	}
	h4 {
		font-weight: normal;
		font-size: 2rem;
		margin: 0.5rem 0 1rem 0;
		color: $primaryColor-light;
	}
	h4 svg {
		height: 1rem;
		width: auto;
		margin: 0;
		fill: rgba(255, 255, 255, 0.5);
		vertical-align: top;
	}
	&:hover {
		border-color: $primaryColor;
	}
	.role {
		font-size: 1rem;
		vertical-align: middle;
	}
	.role svg {
		height: 1rem;
		width: auto;
		margin-right: 1em;
		fill: $primaryColor-light;
	}
}

#project .project-full>div {
	margin: 0 0;
	background-color: $menu-background;
	padding: 1rem 2rem 1rem 2rem;
	border: 1px solid $menu-background;
	transition: border-color $transition-time-normal ease-in-out;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	position: relative;
	h3 {
		font-weight: normal;
		font-size: 3rem;
		color: $primaryColor-light;
		margin: 1rem 0 2rem 0;
	}
	p {
		margin-bottom: 2em;
	}
	.project-info {
		flex-basis: 80%;
	}
	.unit-format {
		color: $primaryColor-light;
	}
	.roles {
		flex-basis: 20%; // background-color: rgba(255,255,255,0.2);
	}
	.role {
		font-size: 1rem;
		vertical-align: middle;
	}
	.role svg {
		height: 1rem;
		width: auto;
		margin-right: 1em;
		fill: $primaryColor-light;
	}
	.unit-link,
	.unit-add {
		display: block;
		text-decoration: none;
		color: $primaryColor;
		font-size: 1.5rem;
		margin-bottom: 2rem;
		transition: color $transition-time-normal ease-in-out;
	}
	.unit-link svg,
	.unit-add svg {
		height: 1.5rem;
		width: auto;
		fill: $primaryColor;
		margin-right: 1rem;
		vertical-align: top;
		transition: fill $transition-time-normal ease-in-out;
	}
	.unit-link:hover svg {
		fill: $primaryColor-light;
	}
	.unit-link:hover {
		color: $primaryColor-light;
	}
}

#config .config {
	margin: 5rem 0;
	background-color: $menu-background;
	padding: 1rem 2rem 1rem 2rem;
	border: 1px solid $menu-background;
	transition: border-color $transition-time-normal ease-in-out;
	p {
		font-size: 1.5rem;
	}
	p span {
		color: $primaryColor;
		display: inline-block;
		width: 20%;
	}
	select {
		background: transparent;
		border: none;
		color: $primaryColor;
		font-weight: normal;
		font-size: 1.5rem;
		outline: none;
	}
}

#content-holder {
	position: absolute;
	top: 4rem;
	left: 4rem;
	right: 4rem;
	z-index: 1200;
}

@media only screen and (max-width: 1000px) {
	html {
		font-size: 1.2vw;
	}
}

@media only screen and (max-width: 900px) {
	html {
		font-size: 1.3vw;
	}
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 2vw;
	}
	#dashboard {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%; // height: auto;
		width: 100%;
		transform: translateX(-100%);
		.user-profile-pic {
			width: 20%;
			margin: 0 40%;
		}
		ul li a {
			// font-size: 4rem;
		}
		ul li a svg {
			// width: 4rem;
		}
		ul ul li a {
			// font-size: 3rem;
		}
		ul ul li a svg {
			// width: 3rem;
			// margin-left: 7.5rem;
		}
	}
}
