/*
 * @danieljx palette color dark for file ui elements
 */
$background-body:               url(../../img/footer_lodyas.png) 50% 24.5% repeat;
$background-primary:            rgba($color2, 0.7);
$background-over:               rgba($color2, 0.12);
$color-primary:                 $color4;
$color-over:                    $color3;
$color-icon:                    $color3;
$color-title-text:              $color3;
$color-text:                    $color4;
$line-over:                     $color3;