/*
 * @danieljx
 */
#files *, #files :after, #files :before {
  box-sizing: initial;
}
#files {
  height: 100%;
  position: relative;
  /*background: $background-body;
  background-attachment: fixed;*/
}
body.full #files .tools.stick {
  width: 89.7%;
}
#files, .dialog {
  margin: 0 auto 0 auto;
  font-size: 1.1vw;
  div.body-content {
    height: auto;
  }
  footer {
    div.left {
      float: left;
      > div.footer.ui {
        line-height: 2.5em;
        background: transparent;
        color: #f07814;
      }
    }
    div.right {
      float: right;
      svg {
        cursor: pointer;
      }
    }
  }
  > div {
    height: 100%;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0;
    font-weight: 300;
    color: #212121;
    text-transform: inherit;
    margin-bottom: 1rem;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    font-weight: 400;
    color: #212121;
    text-align: center;
  }
  .tools.stick {
    position: fixed;
    background: $background-body;
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    max-width: inherit;
    width: 63.8%;
    /*right: 0;*/
    margin-left: 0;
    /*padding: 0 5rem;*/
    transition: width .3s ease-in-out;
    z-index: 6;
  }
  .tools.stick > .table {
    margin: 0;
    box-shadow: none;
  }
  .files {
    margin-top: 70px;
  }
  .breadcrumbs {
    width: 50%;
    display: inline-block;
    -webkit-padding-start: 0;
  }
  .breadcrumb {
    list-style: none;
    display: inline-block;
    -webkit-padding-start: 0;
    .icon {
      font-size: 14px;
    }
    li {
      float: left;
      a {
        display: block;
        text-decoration: none;
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 10px 0 5px;
        text-align: center;
        margin-right: 23px;
        font-weight: 400;
      }
      &:first-child a {
        &:before {
          border: none;
        }
        padding-left: 15px;
        -moz-border-radius: 0px 0 0 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px 0 0 0px;
      }
      &:last-child a:after {
        border: none;
      }
      a:before {
        left: -20px;
        border-left-color: transparent;
      }
    }
  }
}

.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  thead > tr, tbody > tr, tfoot > tr {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  tbody > tr > td {
    &:first-child, &:last-child {
      text-align: center;
      width: 50px;
    }
  }
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    text-align: left;
    padding: 5px .5rem;
    vertical-align: middle;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  thead > tr > th {
    padding: 6px .5rem;
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  caption + thead > tr:first-child > th, colgroup + thead > tr:first-child > th, thead:first-child > tr:first-child > th, caption + thead > tr:first-child > td, colgroup + thead > tr:first-child > td, thead:first-child > tr:first-child > td {
    border-top: 0;
  }
  tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  .table {
    background-color: #fff;
  }
  .no-border {
    border: 0;
  }
}

.table-condensed {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    padding: 0.8rem;
  }
}

.table-bordered {
  border: 0;
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      border: 0;
      border-bottom: 1px solid #e0e0e0;
    }
    thead > tr > {
      th, td {
        border-bottom-width: 2px;
      }
    }
}

.table-striped > tbody > tr:nth-child(odd) > {
  td, th {
    background-color: #f5f5f5;
  }
}

#files {
  .searchs {
    width: auto;
    display: inline-block;
    float: right;
  }
  .file-breadcrumb {
    padding: 10px 0;
    display: flex;
    margin: 1.26rem 0;
    .section {
      text-decoration: none;
      color: $color-primary;
      &:last-child {
        color: $color-title-text;
      }
    }
    i {
      &:before {
        font-size: 1.3em;
        color: #fff;
      }
      &:first-child {
        &:before {
          color: $color-primary;
        }
      }
    }
  }
  .file-search {
    padding: 14px 0px;
    .ui.menu {
      background: transparent;
      .item {
        background-color: $color-primary;
        color: #fff;
        &:hover, &:active {
          background-color: $color-over;
        }
        &:last-child {
          margin: 0;
          border-radius: 0 .28571429rem .28571429rem 0;
          padding: .92857143em 1.242857em;
          &:before {
            width: 0;
          }
        }
        .input {
          i:before {
            color: $color-primary;
          }
        }
      }
      div.item.search {
        width: auto;
        background: $background-primary;
        &:before {
          width: 0;
        }
        .results, .results *, .results :after, .results :before {
            box-sizing: border-box;
        } 
      }
      .menuNotification, .menuAction {
        .menu {
          background: $color-primary;
          &:after {
            background: $color-primary;
          }
          .item {
            background-color: $color-primary !important;
            color: #fff !important;
            &:hover {
              background-color: $color-over !important;
            }
          }
        }
      }
    }
  }
  .nav.search {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    height: 40px;
    display: inline-block;
    -webkit-padding-start: 0;
    float: right;
    li {
      float: left;
      list-style-type: none;
      position: relative;
      text-align: left;
      a {
        font-size: 16px;
        display: block;
        line-height: 40px;
        padding: 0 26px;
        text-decoration: none;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      }
    }
  }
  #settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
  }
  #search span.icon {
    vertical-align: middle;
    display: inline-block;
    padding-top: 10px;
    width: 40px;
    height: 30px;
    padding-left: 8px;
  }
  #search_button {
    border: 0 none;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 40px;
    cursor: pointer;
  }
  #options {
    a {
      border-left: 0 none;
      white-space: nowrap;
    }
    > a {
      background-position: 85% center;
      background-repeat: no-repeat;
      padding: 0 10px;
      line-height: 0px;
    }
  }
  .subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    -webkit-padding-start: 0;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    li {
      float: none;
      width: 100%;
      > a > span.icon {
        display: inline-block;
        position: relative;
        vertical-align: middle;
      }
    }
  }
  #options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
  }
}

.table thead:first-child > tr:first-child > th > div {
  display: inline-block;
  > .md-checkbox {
    margin-left: 0px !important;
    margin-top: -15px !important;
  }
}

#files {
  .table > tbody > tr > td {
    &.icon > div {
      display: inline-block;
      width: 100%;
      > span {
        float: left;
        margin-left: 20px;
        margin-top: -15px;
      }
    }
    &.action > div {
      /*
      display: inline-block;
      width: 30px;
      height: 30px;
      padding: 1px;
      margin: 0;
      border-radius: 2px;
      */
      border: 2.5px solid;
      border-color: transparent;
      transition: all 0.3s ease;
      background: $background-primary;
    }
  }
  .table-hover {
    tbody > tr {
      &:hover td.action > div {
        border-color: #a3a3a3;
      }
      > td.action > div {
        &.tools {
         > i {
          color: #a3a3a3;
         }
         .menu {
           background: $color-primary;
           &:after {
             background: $color-primary;
           }
           .item {
             background-color: $color-primary !important;
             color: #fff !important;
             &:hover {
               background-color: $color-over !important;
             }
           }
         }
        }
        &.view {
          display: none;
           > i {
            color: #a3a3a3;
           }
        }
        &.active {
          display: inline-block;
        }
      }
      > td.name > span.input-name{
        display: none;
        > input {
          display: block;
          width: 100%;
          padding: 5px 7px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 13px;
          text-align: left;
          color: #47525d;
          border: 1px solid rgba(37,40,43,0.1);
          border-radius: 3px;
          background-color: #fff;
          background-clip: padding-box;
        }
      }
    }
    thead > tr > th:hover > div > .md-checkbox, tbody > tr:hover td > div > .md-checkbox, thead > tr > th > div > .md-checkbox.active, tbody > tr > td > div > .md-checkbox.active {
      opacity: 1 !important;
    }
  }
  .md-checkbox {
    opacity: 0;
    position: relative;
    margin: 10px 0;
    float: left;
    margin-left: 1%;
    transition: all 0.3s ease;
    label {
      cursor: pointer;
      &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
      }
      &:before {
        width: 15px;
        height: 15px;
        background: #fff;
        border: 2px solid rgba(0, 0, 0, 0.54);
        border-radius: 2px;
        cursor: pointer;
        transition: background .3s;
      }
    }
    input[type="checkbox"] {
      display: none;
      outline: 0;
      margin-right: 10px;
      &:checked + label {
        &:before {
          border: 2px solid #444;
        }
        &:after {
          transform: rotate(-45deg);
          top: 6px;
          left: 6px;
          width: 6px;
          height: 3px;
          border: 2px solid #fff;
          border-top-style: none;
          border-right-style: none;
        }
      }
    }
  }
}

div.popDiv {
  position: relative;
  .popover {
    border-radius: 5px;
    top: 42px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: none;
    font-size: 12px;
    left: -80px;
    padding: 7px 0px;
    position: absolute;
    z-index: 4;
    &:before {
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      top: -7px;
      content: '';
      display: block;
      left: 50%;
      margin-left: -7px;
      position: absolute;
    }
    &.active {
      display: block;
      -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
      -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
      -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
    }
    > ul {
      -webkit-padding-start: 0;
      > li {
        float: left;
        list-style-type: none;
        position: relative;
        text-align: left;
        width: 100%;
        > a {
          font-size: 16px;
          display: block;
          line-height: 40px;
          padding: 0 26px;
          text-decoration: none;
          text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
          white-space: nowrap;
          > span.icon {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            > svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}

.table {
  background-color: $background-primary;
  border: 1px solid $background-primary;
  color: $color-primary;
  > tbody > tr > td.icon div svg {
    &.folder, &.folder-shared, &.folder-public, &.folderlock {
      fill: $color-icon;
    }
  }
}

.table-hover > tbody > tr:hover > {
  td, th {
    background-color: $background-over;
  }
}

.table thead.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
  background-color: rgba($background-primary,1);
}

.table thead > tr > th {
  color: $color-title-text;
}

#files .table-hover > tbody > tr > td.action > div {
  &:hover, &.active {
    border-color: $color-primary;
  }
  &:hover {
    i.ellipsis, > i.eye {
      color: $color-primary;
    }
  }
  &.active {
    i.ellipsis, > i.eye {
      color: $color-primary;
    }
  }
}

.table-bordered > {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    border: 0;
    border-bottom: 1px solid $background-primary;
    transition: border-color .3s ease-in-out;
  }
  thead > tr > th:hover, tbody > tr > th:hover, tfoot > tr > th:hover, thead > tr > td:hover, tbody > tr > td:hover, tfoot > tr > td:hover {
    border-color: $line-over;
  }
}

.table-striped.table-mc-blue > tbody > tr:nth-child(odd) > {
  td, th {
    border-color: $color-text;
  }
}

.table-hover.table-mc-blue > tbody > tr:hover > {
  td, th {
    border-color: $line-over;
  }
}
.table thead > tr > th.checkAll {
    width: 6%;
}
.table thead > tr > th.name {
    width: 50%;
}
.table thead > tr > th.date {
    width: 19%;
}
.table thead > tr > th.user {
    width: 19%;
}
.table thead > tr > th.action {
    width: 6%;
}
@media screen and (max-width: 767px) {
  .table-responsive-vertical {
    .table-striped.table-mc-blue > tbody > tr {
      > td, &:nth-child(odd), > td:nth-child(odd) {
        border-color: $color-text;
      }
    }
    .table-hover.table-mc-blue > tbody > tr {
      &:hover {
        > td {
          border-color: $line-over;
        }
        border-color: $line-over;
      }
      > td:hover {
        border-color: $line-over;
      }
    }
  }
}

.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > {
  td, th {
    border-color: $color-text;
  }
}

.table-hover.table-mc-light-blue > tbody > tr:hover > {
  td, th {
    border-color: $line-over;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive-vertical {
    .table-striped.table-mc-light-blue > tbody > tr {
      > td, &:nth-child(odd), > td:nth-child(odd) {
        border-color: $color-text;
      }
    }
    .table-hover.table-mc-light-blue > tbody > tr {
      &:hover {
        > td {
          border-color: $line-over;
        }
        border-color: $line-over;
      }
      > td:hover {
        border-color: $line-over;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .table-responsive-vertical {
    > .table {
      margin-bottom: 0;
      background-color: $background-primary;
      > {
        thead, tfoot {
          display: none;
        }
        tbody {
          display: block;
          > tr {
            display: block;
            border: 0;
            border-bottom: 1px solid rgba(45, 45, 42, 0.7);
            border-radius: 2px;
            margin-bottom: 1rem;
            > td {
              background-color: rgba(0, 0, 0, 0.12);
              display: block;
              vertical-align: middle;
              text-align: right;
              &[data-title]:before {
                content: attr(data-title);
                float: left;
                font-size: inherit;
                font-weight: 400;
                color: #757575;
              }
            }
          }
        }
      }
    }
    &.shadow-z-1 {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      > .table > tbody > tr {
        border: none;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
      }
    }
    > {
      .table-bordered {
        border: 0;
        > tbody > tr > td {
          border: 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          &:last-child {
            border-bottom: 0;
          }
        }
      }
      .table-striped > tbody > tr {
        > td, &:nth-child(odd), > td:nth-child(odd) {
          border-color: $color-text;
        }
      }
      .table-hover > tbody > tr:hover {
        > td {
          border-color: $color-text;
        }
        border-color: $color-text;
      }
    }
  }
}

#files, .dialog {
  .breadcrumb li {
    a {
      color: #FFF;
      background: $color-primary;
    }
    &:nth-child(even) a {
      background-color: $color-primary;
      &:before {
        border-color: $color-primary;
        border-left-color: transparent;
      }
      &:after {
        border-left-color: $color-primary;
      }
    }
    &:first-child a {
      padding-left: 15px;
      -moz-border-radius: 0px 0 0 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px 0 0 0px;
    }
    a {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid $color-primary;
        border-width: 20px 10px;
        width: 0;
        height: 0;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid $color-primary;
        border-width: 20px 10px;
        width: 0;
        height: 0;
        left: 100%;
        border-color: transparent;
        border-left-color: $color-primary;
      }
      &:hover {
        background-color: $color-over;
        &:before {
          border-color: $color-over;
          border-left-color: transparent;
        }
        &:after {
          border-left-color: $color-over;
        }
      }
      &:active {
        background-color: $color-over;
        &:before {
          border-color: $color-over;
          border-left-color: transparent;
        }
        &:after {
          border-left-color: $color-over;
        }
      }
    }
  }
  .nav.search li a {
    color: white;
    border-left: 1px solid $color-text;
    &:hover {
      background-color: $color-over;
    }
  }
  #search_text {
    color: $color-text;
    background: $background-primary;
  }
  #search span {
    &.icon {
      color: $color-text;
      background: $background-primary;
      svg {
        fill: $color-text;
      }
    }
    cursor: pointer;
  }
  #options {
    background: $color-primary;
    > a > svg.menu {
      fill: #fff;
    }
  }
  .subnav {
    li {
      > a > span.icon > svg {
        fill: #fff;
      }
      a {
        border-bottom: 1px solid $color-primary;
      }
    }
    background: $color-primary;
  }
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: $color-text;
}

#files .md-checkbox input[type="checkbox"]:checked + label:before {
  background: $color-primary;
}

div.popDiv .popover {
  background-color: $color-primary;
  color: #fff;
  &:before {
    border-bottom: 7px solid $color-primary;
  }
  > ul > li > a {
    color: #fff;
    &:hover {
      background-color: $color-over;
    }
  }
}
#holder {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($background-primary,0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1000;
  position: absolute;
  visibility: hidden;
  margin: 0 5rem;
  opacity: 0;
  transition: opacity 0.2s linear;
}
#holder.dragStart {
  visibility: visible;
  opacity:1;
}
#holder > h2 {
  color: $color-icon;
  font-size: 36px;
  font-weight: bolder;
  border: 10px dashed $color-text;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 95%;
  width: 100%;
  margin: 0;
}
div.upload-progress.on {
  transform: translateX(-30rem);
}
div.upload-progress {
  transform: translateX(0);
  position: fixed;
  bottom: 2%;
  margin: auto 0;
  right: 2%;
  width: auto;
  height: auto;
  line-height: 1.4;
  transition: transform .3s ease-in-out,background-color .3s;
  > ul.ul-up {
    list-style-type: none;
    vertical-align: middle;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 1em;
    > li {
      height: 50px;
      border-bottom: 1px solid;
      padding: 0 5px;
      margin-top: 1em;
      &.succes > div.status > span.load, &.progress > div.status > span.done {
        display: none;
      }
      &.warning > div.status > span {
        &.load, &.done {
          display: none;
        }
      }
      &.succes > div.status > span.warning, &.progress > div.status > span.warning {
        display: none;
      }
      &.progress > div.controls, &.succes > div.controls  {
        > div.controls-pause {
          cursor: pointer;
          > svg use {
            fill: #2394BC;
          }
        }
        > div.controls-cancel {
          cursor: pointer;
          > svg use {
            fill: #E2574C;
          }
        }
      }
      > div {
        &.status {
          > span {
            &.done {
              margin-top: 6px;
            }
            &.load {
              width: 100%;
              height: 100%;
              float: left;
              > div.lds-css {
                position: static;
                transform-origin: 0 0;
                float: left;
                transform: scale(.15);
                margin-left: -3px;
                margin-top: -3px;
              }
            }
          }
          position: relative;
          height: 100%;
          width: 30px;
          float: left;
        }
        &.file-info {
          width: auto;
          font-size: 16px;
          font-weight: bold;
          padding: 0 10px;
          max-width: 300px;
          min-width: 150px;
          height: 100%;
          float: left;
          > span.file {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        &.controls {
          margin: 0;
          float: right;
          width: 40px;
          height: 100%;
          margin-right: 5px;
          > div {
            &.controls-pause, &.controls-cancel {
              width: 30px;
              height: 30px;
              transition: all 0.3s ease;
              display: inline-block;
              > svg use {
                fill: #a4a4a4;
              }
            }
            &.controls-cancel {
              float: right;
            }
          }
        }
      }
    }
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.lds-css {
  width: 200px;
  height: 200px;
  margin: auto;
  transform: scale(0.2);
}
.lds-ring > div {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  &:nth-child(2) {
    animation-delay: .195s;
  }
  &:nth-child(3) {
    animation-delay: .39s;
  }
  &:nth-child(4) {
    animation-delay: .585s;
  }
}
div.upload-progress {
  background-color: $background-primary;
  border: 1px solid $background-primary;
  color: $color-primary;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
div.upload-progress > ul.ul-up > li {
  border-color: $color-over;
}
div.upload-progress > ul.ul-up > li > div.file-info > span.file {
  color: $line-over;
}
.lds-ring > div {
  border: 20px solid $color-title-text;
  border-color: $color-title-text transparent transparent transparent;
}

.secondary-menu.files {
  &:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }
  &.on {
    transform: translateX(0);
  }
  .secondary-menu-files-toggle {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -3rem;
    top: 1rem;
    transform: scaleX(-1);
    transition: fill .3s,margin-right .3s;
  }
  &.on .secondary-menu-files-toggle {
    transform: scaleX(1);
    margin-left: 1rem;
  }
  z-index: 7;
  position: fixed;
  height: 100%;
  width: 30rem;
  top: 0;
  right: 0;
  background: rgba(218, 232, 230, 0);
  border-left: 1px solid rgba(218, 232, 230, 0.3);
  box-sizing: border-box !important;
  margin: 0;
  margin-top: 0 !important;
  padding: 1rem;
  transform: translateX(30rem);
  transition: transform .3s ease-in-out,background-color .3s ease-in-out;
  will-change: transform;
  > .menu-secondary-sidebar {
    height: 100%;
    padding: 0 40px 0 40px;
    background: transparent;
    > {
      .selection-header-text {
        display: block;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        position: static;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        margin-left: 10px;
      }
      .content-button-action-menu {
        margin-bottom: 20px;
        > .button-action-menu {
          line-height: 32px;
          padding: 0 16px;
          font-weight: 500;
          border: none;
          display: inline-block;
          zoom: 1;
          white-space: nowrap;
          vertical-align: middle;
          user-select: none;
          box-sizing: border-box;
          height: 32px;
          text-decoration: none;
          outline: none;
          margin: 0;
          touch-action: manipulation;
          cursor: pointer;
          width: 100%;
          text-align: center;
          > .button-text {
            font-weight: 400;
            padding: 0 10px 0 5px;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  ul {
    list-style: none;
    display: block;
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
    li a {
      margin-left: 7px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.5rem;
      text-decoration: none;
      span {
        &.icon {
          margin-right: 5px;
          svg {
            margin-left: 0 !important;
            position: relative;
            transform: inherit !important;
            display: block;
            top: 0;
          }
        }
        &.text {
          font-weight: 400;
          line-height: 22px;
          padding: 5px 0;
        }
      }
    }
  }
}
.secondary-menu.files.on {
  background: rgba($background-primary,1);
}
.secondary-menu.files.on > .menu-secondary-sidebar > ul > li {
display: none;
}
.secondary-menu.files.on:not(.one):not(.multiple) > .menu-secondary-sidebar > ul >  li.on {
  display: block;
}
.secondary-menu.files.on.one > .menu-secondary-sidebar > ul >  li.one {
  display: block;
}
.secondary-menu.files.on.multiple > .menu-secondary-sidebar > ul >  li.multiple {
  display: block;
}
.secondary-menu.files .secondary-menu-files-toggle {
  fill: $color-icon;
}
.secondary-menu.files > .menu-secondary-sidebar > .selection-header-text {
  color: #637282;
}
.secondary-menu.files > .menu-secondary-sidebar > .content-button-action-menu > .button-action-menu {
  color: $color1;
  background-color: $color-title-text;
}
.secondary-menu.files ul li a {
  color: $color-text;
}
.secondary-menu.files ul li a span.icon > svg {
  fill: $color-text;
}
.container {
  background: rgba($background-primary,1);
  height: 80%;
  width: 80%;
  padding: 0;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 10%;
}
.container > span.close {
  position: absolute;
  right: -28px;
  top: -28px;
  cursor: pointer;
}
header {
  position: relative;
}
.hide {
  display: none;
}
.tab-content {
  padding: 25px;
}
#material-tabs, #material-head, .material-input {
  position: relative;
  display: block;
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
  > a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 22px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: $color-icon;
    text-align: center;
    &.active {
      font-weight: 700;
      outline: none;
    }
    &:not(.active):hover {
      background-color: inherit;
      color: $color-title-text;
    }
  }
  > span.icon {
    text-align: center;
    width: 50px;
  }
  > span.text {
    text-align: center;
    width: 50px;
  }
}
@media only screen and (max-width: 520px) {
  .nav-tabs#material-tabs > li > a {
    font-size: 11px;
  }
}
.yellow-bar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 3px;
  background: $color-text;
  display: block;
  left: 0;
  transition: left .2s ease;
  -webkit-transition: left .2s ease;
}
#tab1-tab.active ~ span.yellow-bar {
  left: 0;
  width: 143.266px;
}

#tableModal.table>tbody>tr>td,
#tableModal.table>tbody>tr>th,
#tableModal.table>tfoot>tr>td,
#tableModal.table>tfoot>tr>th,
#tableModal.table>thead>tr>td,
#tableModal.table>thead>tr>th {
  padding: 2px;
}
.dialog #tableModal svg {
  margin: 2px;
}
#tableModal.table>tbody>tr>td.action > button {
  line-height: 32px;
  padding: 0 16px;
  font-weight: 500;
  border: none;
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  box-sizing: border-box;
  height: 32px;
  text-decoration: none;
  outline: 0;
  margin: 0;
  touch-action: manipulation;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: $color-text;
}
#tableModal.table>tbody>tr>td.action > button:hover {
  background: rgba($color-text,0.7);
}

.dialog.share .container {
  width: 50%;
  height: auto;
  padding-bottom: 55px;
  > {
    header > #material-head {
      padding-top: 10px;
      > span {
        &.icon {
          height: 50px;
          display: inline-block;
          margin-left: 15px;
          > svg {
            width: 40px;
            transition: none;
            opacity: 1;
            transform: none;
            margin: 0;
          }
        }
        &.text {
          height: 50px;
          font-size: 16px;
          line-height: 40px;
          font-weight: bold;
          vertical-align: top;
        }
      }
    }
    .body-content {
      height: auto;
      .material-input {
        padding-top: 10px;
        > {
          .input-wrapper {
            position: relative;
            padding: 15px 0 15px 20px;
          }
        }
      }
      .material-input.list {
        padding-top: 0;
        min-height: 305px;
        display: block;
        height: auto;
        > {
          .input-wrapper {
            padding: 0px 0 0px 15px;
            height: 100%;
          }
        }
      }
    }
  }
}
/*
 * For input Search Users
 */
.search-users {
  width: 80%;
}
.search-users > input {
  width: 80%;
  padding: 0;
  border-radius: 0;
  line-height: 0;
  color: $color-text;
  background: $background-primary;
  font-size: 16px;
  border: none;
  outline: none;
  box-shadow: none;
}
.search-users > .text {
  font-weight: bold;
}
.search-users > .search-users-list {
  display: none;
  position: absolute;
  width: 100%;
}
.search-users > .search-users-list .user-selector {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  background-clip: padding-box;
  filter: invert(100%);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(37,40,43,0.1);
  box-shadow: 0 1px 1px rgba(37,40,43,0.1);
  line-height: 1.4;
  background-color: $background-primary;
  border: 1px solid $background-primary;
  color: $color-primary;
}
.search-users > .search-users-list .user-selector {
  position: relative;
}
.search-users > .search-users-list .user-selector > .user-header,
.search-users > .search-users-list .user-selector > .project-header {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #fff;
  padding: 2px 10px;
  display: block;
  color: #fff;
}
.search-users > .search-users-list .user-selector > .user-header > h3,
.search-users > .search-users-list .user-selector > .project-header > h3 {
  margin: 10px 0;
}
.search-users > .search-users-list .ul-users, .ul-projects {
  transform: translate(0px, 0px);
  padding: 0;
  margin: 0;
}
.search-users > .search-users-list .user-option,
.search-users > .search-users-list .project-option {
  display: block;
  margin: 0;
  font-size: 13px;
  list-style-type: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 8px !important;
}
.search-users > .search-users-list .user-option:not(.not),
.search-users > .search-users-list .project-option:not(.not) {
  cursor: pointer;
}
.search-users > .search-users-list .user-option.not,
.search-users > .search-users-list .project-option.not {
  text-align: center;
  font-weight: bold;
}
.search-users > .search-users-list .user-option:not(.not):hover,
.search-users > .search-users-list .project-option:not(.not):hover {
  border-bottom-color: $color-primary;
  background-color: $background-primary;
  color: $color-primary;
}
.search-users > .search-users-list .user-option-flag,
.search-users > .search-users-list .project-option-flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.search-users > .search-users-list .user-option-flag-icon,
.search-users > .search-users-list .project-option-flag-icon {
  display: inherit;
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 8px;
}
.search-users > .search-users-list .user-option-flag-name,
.search-users > .search-users-list .project-option-flag-name {
  min-width: 0;
  width: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  vertical-align: middle;
  width: 100%;
  color: lighten($color-primary, 30%);
}
.search-users > .search-users-list .user-avatar,
.search-users > .search-users-list .project-avatar {
  width: 32px;
  min-width: 32px;
  height: 32px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 2.5;
  border-radius: 1000px;
  -webkit-perspective: 1px;
  perspective: 1px;
  color: #fff;
  background-color: $color-primary;
  svg {
    width: 32px;
    height: 32px;
    margin: 0;
    transform: none;
    opacity: 1;
  }
  img {
    border-radius: 50%;
    filter: invert(100%);
    height: 32px;
    width: 32px;
  }
}

.user-shared {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  background-clip: padding-box;
  border-radius: 4px;
  line-height: 1.4;
  background-color: $background-primary;
  border: 1px solid $background-primary;
  color: $color-primary;
  height: 100%;
}
.user-shared > .ul-shared {
  transform: translate(0,0);
  padding: 0;
  margin: 0;
}
.user-shared > .ul-shared > .shared-option {
  display: block;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 8px!important;
}
.user-shared > .ul-shared > .shared-option > .shared-option-flag {
  display: flex;
  align-items: center;
  width: 100%;
}
.user-shared > .ul-shared > .shared-option > .shared-option-flag > .shared-option-flag-icon {
  align-items: inherit;
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 8px;
}
.user-shared > .ul-shared > .shared-option > .shared-option-flag > .shared-option-flag-icon > .shared-avatar {
  width: 32px;
  min-width: 32px;
  height: 32px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 2.5;
  border-radius: 1000px;
  -webkit-perspective: 1px;
  perspective: 1px;
  color: #fff;
  background-color: #f24236;
}
.user-shared > .ul-shared > .shared-option > .shared-option-flag > .shared-option-flag-icon > .shared-avatar > img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.user-shared > .ul-shared > .shared-option > .shared-option-flag > .shared-option-flag-name {
  vertical-align: middle;
  width: 60%;
  font-size: 1.1vw;
}
.user-shared > .ul-shared > .shared-option > .shared-option-flag > .shared-option-flag-action {
  width: 40%;
  > div {
    float: right;
    background: #f07814 none;
    span.text > span.description {
      display: none;
    }
    span.text > i {
      display: none;
    }
    div.menu {
      right: 0;
      left: auto;
      .item:not(.selected) {
        i {
          display: none;
        }
        span.text {
          margin: 0 0 0 2.2em;
        }
      }
      .item {
        span.text {
          margin-bottom: 5px;
        }
        span.description {
          float: none;
          margin: 0 0 0 2.2em;
          display: block;
          p {
            text-align: left;
          }
        }
      }
      .item.delete {
        span.text {
          color: red;
        }
      }
    }
  }
}
.user-shared > .ul-shared > .shared-option > .shared-option-flag > .shared-option-flag-icon > .shared-avatar > svg {
  width: 32px;
  height: 32px;
  margin: 0;
  transform: none;
  opacity: 1;
}
.ui.modal.modalTags {
  background: rgba($background-primary,1);
  .content {
    background: rgba($background-primary,1);
    .ui.menu {
      background: rgba($background-primary,1);
      div.item.button, a.item.button {
        background: $color-primary;
        color: #fff;
        i {
          color: #fff;
        }
      }
      a.item.button {
        border-radius: 0 .28571429rem .28571429rem 0;
      }
      div.ui.dropdown {
        width: 86%;
        background: rgba($background-primary,1);
        border-radius: initial;
        color: #fff;
        i.icon, input {
          color: #fff;
        }
        a {
          background: $color-primary;
        }
      }
    }
    .ui.segment {
      background: rgba($background-primary,1);
      border: 1px solid #e0e0e0;
      a.tag {
        color: #fff;
        border-color: $color-primary !important;
        margin: .1em .6em;
        padding-top: .5em;
        padding-bottom: .5em;
        font-size: .9em;
        &:after {
          background: rgba($background-primary,1) !important;
        }
      }
      a.tag.up {
        background-color: $color-primary !important;
      }
      a.tag.add {
        background-color: $color-icon !important;
      }
    }
  }
  > .header {
    background: rgba($background-primary,1);
    border-bottom: 1px solid #e0e0e0;
    span.text {
      height: 50px;
      font-size: 16px;
      line-height: 40px;
      font-weight: 700;
      vertical-align: top;
      color: $color-icon;
    }
  }
  > .actions {
    background: rgba($background-primary,1);
    border-top: 1px solid #e0e0e0;
  }
}
.ui.modal.modalFileSelect {
  .content {
    .myfilesTab {
      .breadcrumbs, .searchs {
        padding-bottom: .2rem;
        vertical-align: bottom;
      }
      .breadcrumbs {
        .file-breadcrumb {
          margin-left: 1rem;
          margin-top: .7rem;
        }
      }
      .searchs {
        .search {
          div.icon.input {
            input {
              border-radius: .28571429rem;
            }
          }
        }
      }
    }
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-webkit-keyframes move-up {
  from {
    bottom: 30px;
  }

  to {
    bottom: 42px;
  }
}


@-moz-keyframes move-up {
  from {
    bottom: 30px;
  }

  to {
    bottom: 42px;
  }
}


@-ms-keyframes move-up {
  from {
    bottom: 30px;
  }

  to {
    bottom: 42px;
  }
}


/*
Multimedias:

*/

.readysjsl{background-color:transparent;}
