@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(roboto-light.woff2) format('woff2');
  }
  
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff2) format('woff2');
  }
  
  body {
	//  background: $background url(../../img/4115.jpg) 50% 0 no-repeat;
	//  background-size: 100% auto;
  }

	body {

		// background-color: linear-gradient(to bottom, darken($background,0%) 0%,darken($background,25%) 100%); 
		background-color: #000;

		h1, h2, h3, h4, h5 {
			font-family: $font-stack;
		}

		> #bg {
			background: $background url(../../img/4115.jpg) 50% 0 no-repeat;
			background-size: 100% auto;
			background-size: cover;
		}

		> .screen {
			background-color: rgba(darken($background, 20%), 0.5);


		}
	}  

#dashboard:hover {
	// background-color: $menu-background-hover;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

#secondary-menu:hover {
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	}

#project .project-full > div {
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

#project .project, #projects .project {
	transition: border-color $transition-time-normal ease-in-out, background-color $transition-time-normal ease-in-out, box-shadow $transition-time-normal ease-in-out;

	&:hover {
		// background-color: $menu-background-hover;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
		border-color: $menu-background;
	}

	&.locked:hover {
		box-shadow: 0px 0px 4px rgba(250,0,0,0.3);
	}
}

#config .config {
	box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}

#dashboard {
	ul li:hover {
		box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	}
}

.unit-info {
	transition: background-color $transition-time-normal, height $transition-time-normal, box-shadow $transition-time-normal ease-in-out;

	&:hover {
		background: $bar-background-color;
		box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
	}

	
}

#dashboard{
background-color:#8fc1c1;
}
#dashboard > a[href^="#user/"]{
	display:block;text-align:center;
}
#dashboard > a[href^="#user/"] > img{
	margin:0px;
}
#dashboard > h4{
	padding:15px;margin-bottom:0px;
	background-color:#fff;
	font-size:25px; font-weight:bold;
	color:#8fc1c1;margin-top:10px;
}
#dashboard ul{
	margin-top:0px;
}
#dashboard ul li:nth-child(1){
	border-top:2px solid #fff;
}
#dashboard ul li{
	border-top:1px solid transparent;
	border-bottom:3px solid #fff;margin:0px;padding:0px;
}
#dashboard ul li a svg {
	fill:#fff;
}
#dashboard ul li a span{
	color:#595959;
}
#dashboard ul li a span sup{
	font-size:18px;
	background-color:#fff;
	color:#8fc1c1;font-weight:bold;
}
#dashboard ul li:hover{
	background-color:rgba(250,250,250,0.5);
}

.notifications h2, .projects h2, .project-full h2,#config h2{
	font-weight:bold !important;
	color:#000;
}
.notification{
	background-color:#fff !important;
	box-shadow:0px 0px 8px #8fc1c1;
}

.project{
	background-color:#fff !important;
	padding:0px !important;
	box-shadow:0px 0px 8px #8fc1c1;
}
.project-info  h4{
	color:#8fc1c1 !important;
}
.project-info{
	padding: 1rem 2rem 1rem 2rem;
}
.project .roles{
	border-left:4px solid #cddfcd;
	
}
.project .roles .role{
	padding: 1rem 2rem 1rem 2rem;
	margin:0px;height:24%;
}
.project .roles .role:hover{
	background-color:#8fc1c1 !important;
}
.project .roles .role:nth-child(2){
	border-top:3px solid #cddfcd;
}
.project-full div, .unit-info, .config{
	background-color:#fff !important;
}
.table thead > tr > th.checkAll{width:8% !important;}
table.table thead tr th{ color:#fff !important;font-weight:bold; }
table.table thead tr{ background-color:	#8fc1c1 !important; }

table.table tbody tr:nth-child(even){
	background-color:#cddfcd !important;
}
table.table tbody tr:nth-child(odd) {background: #fff !important}
input#search_text{background-color:#fff !important;}


/*
Clases panel Principal ( Cabecera Principal) #8fc1c1;
Clases para el header.
clases activas.
clases para los parrafos.
Clases para los contenedores.
clases Fuentes Principales.

$mainBanner     = #8fc1c1;
$fontSizeBanner = 1.8em; 

Wingdings, ‘Zapf Dingbats’, sans-serif;

"brandon-grotesque", sans-serif

*/