@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(roboto-light.woff2) format('woff2');
  }
  
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff2) format('woff2');
  }
  
  body {
	  //background: $background url(../../img/footer_lodyas.png) 50% 50% repeat;
  }
	body {

		// background-color: linear-gradient(to bottom, darken($background,0%) 0%,darken($background,25%) 100%); 
		background-color: #000;

		h1, h2, h3, h4, h5 {
			font-family: $font-stack;
		}

		> #bg {
			background: $background url(../../img/footer_lodyas.png) 50% 50% repeat;
			background-size: cover;
		}

		> .screen {
			background-color: rgba(darken($background, 20%), 0.5);


		}
	}
#dashboard {
	
	border-right: 1px solid rgba(120,120,120,0.2);

	ul li {
		border-top: 1px solid rgba(darken($primaryColor-dark, 1), 0.5);
	}

	ul li a svg {
		transition: fill $transition-time-normal ease-in-out, transform $transition-time-normal ease-in-out;
	}

	ul li:hover a svg {
		// transform: scale(1.5);
	}	
}

#secondary-menu {
	border-left: 1px solid rgba(120,120,120,0.2);

	#secondary-blocks li svg {
		transition: fill $transition-time-normal ease-in-out, transform $transition-time-normal ease-in-out;
		will-change: transform;
	}

	#secondary-blocks li:hover svg {
		transform: scale(1.3);
	}

	.component-type-2 h4, .component-type-2 li {
		color: $color5;
	}

	#secondary-blocks .component-type-2 li svg {
		fill: $color5;
	}
}

.unit-info {
	border: 1px solid rgba(120,120,120,0.2);
    border-top: 0 none;	
}
