
  body {
	//   background: $background url(../../img/goldfish_bg.png) 50% 50% repeat;
	//   background-size: cover;
  }




body {

	// background-color: linear-gradient(to bottom, darken($background,0%) 0%,darken($background,25%) 100%); 
	background-color: #000;

	h1, h2, h3, h4, h5 {
		font-family: $font-stack;
	}

	> #bg {
		background: $background url(../../img/bg/naphtali-marshall-45606-unsplash.jpg) 50% 50% repeat;
		  background-size: cover;
	}

	> .screen {
		background-color: rgba(darken($background, 20%), 0.5);


	}
}

#dashboard {

		border-right: 0 none;
		box-shadow: 0 0 2px darken($background, 50%);


// 	.user-profile-pic {
// 		display: inline;
// 		width: 29.5%;
// 		padding: 0.5%;
// 		margin: 0 35%;
// 		background-color: #fff;
// 		border-radius: 50%;
// 		transform: scale(1);
// 		transition: $transition-time-normal transform ease-in-out;
// 	}

// 	.user-profile-pic:hover {
// 		transform: scale(1.1);
// 	}

// 	h4 {
// 		color: $primaryColor-light;
// 		font-size: 1.8rem;
// 		margin-top: 1vw;
// 		margin-bottom: 3vw;
// 	}

// 	ul li {
// 		padding: 0 0;
// 		border-top: 0 none;
// 	}

// 	ul li ul {
// 		display: none;
// 	}

// 	ul li a {
// 		border-top: 1px solid rgba(0,0,0,0.05);
// 		border-bottom: 1px solid rgba(0,0,0,0.1);
// 	}

// 	ul li a:hover, ul li.active a {
// 		color: $primaryColor-light;
// 		background: darken($menu-background,6%);
// 	}

// 	 ul li.active:hover a {
// 	 	color: $primaryColor-light;
// 	 }

// 	ul li.active a svg {
// 		fill: $primaryColor-light;
// 		transform: scale(1);

// 	}

// 	ul li a:hover {
// 		color: $primaryColor-light;
// 	}

// 	ul li a svg {
// 		fill: $primaryColor;
// 		// -webkit-filter: drop-shadow( 0px 0px 5px #000 );
//             // filter: drop-shadow( 0px 0px 1px rgba(#000, 0.8) );
//         transition: transform $transition-time-normal;
//         		// transform: scale(0);

// 	}

// 	ul li a:hover svg {
// 		// fill: $primaryColor;
// 				fill: $primaryColor-light;

// 		-webkit-filter: drop-shadow( 0px 0px 5px #000 );
//             filter: drop-shadow( 0px 0px 1px rgba(#000, 0.8) );
//             transform: scale(1.2);
// 	}

// 	ul li.active a:hover svg {
// 		fill: $primaryColor-light;
// 	}

// 	ul li a sup {
// 		position: absolute;
// 		right: 0rem;
// 		top: 0rem;
// 		border-radius: 0 0 0 2px;
// 		width: auto;
// 		height: auto;
// 		text-indent: -0rem;
// 		color: $background;
// 		padding: 0rem 0.6rem 0 0.6rem;
// 		background-color: lighten($background, 50%);
// 		vertical-align: middle;
// 		transition: background-color $transition-time-normal ease-in-out;
// 		font-size: 1rem;
// 	}

// 	ul li a:hover sup {
// 		background-color: $primaryColor;
// 		color: $background;
// 	}



// 	&:hover {
// 		background: $menu-background;
// 		box-shadow: 0 0 4px darken($menu-background, 80%);
// 	}


}

#project .project-full > div {
	margin: 0 0;
	background-color: $menu-background;
	// background: linear-gradient(to bottom, lighten($background,1%) 0%,darken($background,2%) 100%); 

	padding: 1rem 2rem 1rem 2rem;
	
	border: 1px solid $menu-background;
	transition: border-color $transition-time-normal ease-in-out;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: flex-start;
	position: relative;
	box-shadow: 0 0 1px darken($background, 0%);
			box-shadow: 0 0 2px darken($background, 50%);

	h3 {
		color: $primaryColor-light;
	}

	
.unit-link:hover svg {
		fill: $primaryColor-light;
	}

	.unit-link:hover {
		color: $primaryColor-light;
	}

}

#project .project-full > div:hover {
	box-shadow: 0 0 4px darken($background, 80%);
}

#project h2, #projects h2, #config h2, #notifications h2 {
	text-shadow: 0 0 4px rgba($background, 0.5);
	color: $secondary-text-color;
}

.unit-info {
	background: linear-gradient(to bottom, darken($background,2%) 0%,darken($background,1%) 100%); 
	background: $menu-background;
	box-shadow: 0 0 2px darken($background, 50%);

	h2 {
		color: $primaryColor-light;
	}

	&:hover {
		background: linear-gradient(to bottom, darken($background,2%) 0%,darken($background,1%) 100%); 
		box-shadow: 0 0 4px darken($background, 80%);
	}
}

.page-list {

	li a {
		background: transparent;
		// border: 1px solid rgba(darken($background, 50%), 0.5);
		box-shadow: 0 0 1px rgba(darken($background, 50%), 1);

	}

	li a.current, li a:hover {
		color: $primaryColor-light;
		border-color: $primaryColor-light;
		box-shadow: 0 0 2px $primaryColor;
	}
}

#unit .page {
	border: 0 none;
	box-shadow: 0 0 1px rgba(darken($background, 50%), 1);
	background: linear-gradient(to bottom, darken($background,2%) 0%,darken($background,1%) 100%); 
	background: $menu-background;

	}

#secondary-menu {
	// background: linear-gradient(to bottom, darken($background,2%) 0%,darken($background,1%) 100%); 
		box-shadow: 0 0 1px rgba(darken($background, 50%), 1);
		border: none;
}

.menu-toggle {
	fill: $background;
	position: absolute;
	right: 0rem;
	top: 0.5rem;
	transition: fill $transition-time-normal, filter $transition-time-normal;
}

.menu-toggle:hover {
	fill: $primaryColor-light;
	filter: drop-shadow( 0px 0px 2px rgba(#000, 0.8) );
	}

.preview-toggle {
	fill: $background;
	position: absolute;
	right: 3rem;
	top: 0.5rem;
	transition: fill $transition-time-normal, filter $transition-time-normal;
}

.preview-toggle:hover {
	filter: drop-shadow( 0px 0px 2px rgba(#000, 0.8) );
	fill: $primaryColor-light;
	}

#secondary-menu {
	h4 {
		color: $primaryColor-light;
	}
}

.unit-info {
	> .unit-info-title aside {
		position: absolute;
		top: 1rem;
		right: 3rem;	
	}

	> .unit-info-title aside button {
		background: transparent;
		border: 0 none;
		color: $primaryColor;
		transition: all $transition-time-normal;
		outline: none;
	}

	> .unit-info-title aside button svg {
		width: 1.5rem;
		height: auto;
		height: 1.5rem;
		fill: $primaryColor;
		transition: fill $transition-time-normal;
	}

	&:hover {
		background: $menu-background;
	}
}