/*
 * @danieljx
 */
#tags *, #tags :after, #tags :before {
  box-sizing: initial;
}
#tags {
  .list {
    .item {
      color: $color-icon;
      &:not(:last-child) {
        border-bottom: 1px solid #a4a4a4;
      }
      .label {
        color: #fff;
        text-align: center;
        line-height: 1.8;
        background: $color-primary;
      }
      .tag {
        padding: .2833em 1.9em;
        float: right;
        margin-top: .5em;
        &:after {
          background: rgba($background-primary,.2) !important;
        }
      }
    }
  }
}
