/*
 * @danieljx palette color light for file ui elements
 */
$background-primary:            rgba($color2, 0.7);
$background-over:               rgba($color2, 0.9);
$color-primary:                 #2980b9;
$color-over:                    $color3;
$color-icon:                    $color4;
$color-title-text:              $color4;
$color-text:                    $color3;
$line-over:                     $color3;
