/*
 * @danieljx palette color dark for file ui elements
 */
$background-primary:            $color1;
$background-over:               rgba(40, 40, 40, 0.5);
$color-primary:                 $color2;
$color-over:                    $color1;
$color-icon:                    $color4;
$color-title-text:              $color4;
$color-text:                    $color2;
$line-over:                     $color4;
