nav { cat-editable-background-color: $panelColor; }

ul { list-style: none; padding: 2vw 1vw;}
li { list-style: none; }
li a { cat-editable-color: $textColor; text-decoration: none; cat-editable-font-size: 1.5vw }

@media (max-width: 800px) {
	ul {
	display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:space-
between;align-items:stretch;align-content:flex-start}
	li a {
		font-size: 14px;}	
}