#view-text-plugin .title-text h5{ font-weight:bold !important;  }
.gf-ecm-text-input-for-edition{
	width:100%;height:auto;
	min-height: 50px;
}
.gf-ecm-text-input-for-edition input[type=text]{
	background-color: transparent;
	border:1px solid #01D2B5;color:#000;
}
.gf-ecm-text-section{
	text-align: center;
	border:1px solid #fff;
	cursor: pointer;
	padding:10px;padding-top:20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.input-font{width:100%;}
.gf-bg-1{background-color: #bfbfbf;}/*naranja*/
.gf-bg-1-opacity{background-color: #a6a6a6;}/*naranja*/

.gf-ecm-text-section h5{padding:0px;margin: 0px;}
#gf-ecm-render-window .gf-ecm-text-section{background-color: transparent;border:1px solid rgba(0,0,0,0.2);cursor: pointer;}
#gf-ecm-render-window .gf-ecm-text-section[data-font-size=h1]{font-size:36px;}
#gf-ecm-render-window .gf-ecm-text-section[data-font-size=h2]{font-size:30px;}
#gf-ecm-render-window .gf-ecm-text-section[data-font-size=h3]{font-size:24px;}
#gf-ecm-render-window .gf-ecm-text-section[data-font-size=h4]{font-size:18px;}
#gf-ecm-render-window .gf-ecm-text-section[data-font-size=h5]{font-size:14px;}
#gf-ecm-render-window .gf-ecm-text-section[data-font-size=h6]{font-size:12px;}
#gf-ecm-render-window .gf-ecm-text-section{width:100% !important;}
#gf-ecm-render-window .gf-ecm-text-section{padding:0px;}
#gf-ecm-render-window .gf-ecm-text-section .gf-ecm-text-show-header{padding:10px;}
/*Quitar el foco*/
.gf-ecm-text-input-for-edition input[type=text]:focus{outline:0px;}
