<script type="text/template" id="tpl-files-modal-list">
    <div class="breadcrumbs"></div>
    <div class="searchs"></div>
    <div class="files">
        <table id="tableModal" class="table table-hover table-bordered table-mc-blue">
            <thead>
                <tr>
                <th></th>
                <th>Nombre</th>
                <th>Modificado</th>
                <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>