<script type="text/template" id="tpl-files-modal-select-gallery-list">
    <div class="ui active inverted dimmer loadGallery">
        <div class="ui small text loader">Loading</div>
    </div>
</script>