<script type="text/template" id="tpl-user-input-search">
    <span class="text">Para: </span>
    <input id="user-search" name="user-search" placeholder="Correo electrónico o nombre, Proyecto" value="">
    <div class="search-users-list"></div>
    <div class="search-items-list"></div>
</script>