<script type="text/template" id="tpl-block-css-attribute-general">

<div class="ui fluid input">
  <input type="text" value="<%=value%>" <% if (!enabled) { %>disabled="disabled"<% } %>>
</div>
</script>