<script type="text/template" id="tpl-user-files">
    <div class="tools stick">
        <div class="breadcrumbs"></div>
        <div class="searchs"></div>
        <table id="tableFixed" class="table table-hover table-bordered table-mc-blue">
            <thead>
                <tr>
                <th class="checkAll">
                    <div>
                    <div class="md-checkbox">
                    <input class="iAll"  name="checkToolAll" type="checkbox">
                    <label for="iAll"></label>
                    </div>
                    </div>
                </th>
                <th class="name">Nombre</th>
                <th class="date">Modificado</th>
                <th class="user">Miembros</th>
                <th class="action"></th>
                </tr>
            </thead>
            <tbody class="hide"></tbody>
        </table>
    </div>
    <div class="files"></div>
    <div class="filesUp"></div>
</script>
