<script type="text/template" id="tpl-files">
    <table id="table" class="table table-hover table-bordered table-mc-blue">
        <thead style="visibility: hidden;">
            <tr>
            <th class="checkAll">
                <div>
                <div class="md-checkbox">
                <input class="iAll"  name="checkToolAll" type="checkbox">
                <label for="iAll"></label>
                </div>
                </div>
            </th>
            <th class="name">Nombre</th>
            <th class="date">Modificado</th>
            <th class="user">Miembros</th>
            <th class="action"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <!--<div class="files" >
        <h2>Files</h2>
        <h4><strong><i><%=files.name%></i></strong></h4>
        <% _.each(files.children, function(aFile) {  %>
            <div class="file">
                <div id="file_<%=aFile.id%>" class="file-info">
                    <a href="#files/<%=aFile.path_hash%>">
                        <h4><%=aFile.name%></h4>
                    </a>
                    <span> => <i><%=aFile.path%></i></span>
                </div>
            </div>
        <% }); %>
    </div>-->
</script>
