<script type="text/template" id="tpl-secondary-menu">
<svg viewBox="0 0 284.936 284.936" class="secondary-menu-toggle" width="0" height="0"><use xlink:href="img/open-horizontal.svg#icon-1"></use></svg>
<ul>
	<li class="secondary-blocks"><a href="">Componentes</a>
		<div></div>
	</li>
</ul>
</script>

