<script type="text/template" id="tpl-user-notifications">
  <div class="notifications" >
  	<h2>Notificaciones</h2>
    <% _.each(sseMessages, function(aNotification) {  %>
    <div class="notification">
    <%=aNotification%>
    </div>
    <% }); %>
  </div>
</script>