<script id="pageTpl" type="text/template">
    <section id="{{id}}" class="page">        
        <h3 class="title"><span class="left"></span><p contenteditable="true" placeholder="{{translation_title}}">{{title}}</p><span class="right"></span></h3>        

        <a href="#" class="cerrar">x</a>
        <div class="noverflow">
            <div class="uploads">
                <div class="imagen upload">
                    <span class="btn btn-success fileinput-button">
                        <span>{{translation_image}}</span>
                        <input class="fileupload" type="file" name="files[]" multiple />
                    </span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <div class="files"></div>
                    {{#img}}
                    <img src="{{img}}" class="thumb"/>
                    {{/img}}
                </div>
                
                <a href="#" class="btn btn-success tts" {{#src}}data-file="{{src}}"{{/src}} data-uniqueid="{{id}}" data-placement="bottom">{{translation_audio}}</a>
                
            </div>

            <textarea class="text-area voice-code" placeholder="{{translation_content}}">{{texto}}</textarea>
    
            <div class="imgpos-container">
            <label><input type="radio" value="top" name="imagepos{{npage}}" id="imagepos-{{npage}}-top" checked="checked" /> {{translation_image_above}}</label>
            <label><input type="radio" value="bottom" name="imagepos{{npage}}" id="imagepos-{{npage}}-bottom" /> {{translation_image_below}}</label>
             </div>
     
        </div>

        <section class="cssaddpage">
            <ul>
               <!--<li><p>{{translation_type}}: <select class="ffamily" name="selComboFont" size=1>
                    {{#fonts}}
                        <option value="{{name}}" {{select}}>{{shortname}}</option>
                    {{/fonts}}
                    </select></p></li>


                    <li><p>{{translation_font_size}}: <select class="fsize" name="selComboFsize" size=1>
                    {{#fsize}}
                        <option value="{{number}}">{{number}}</option>
                    {{/fsize}}
                    </select></p></li>
                     -->
                <li><p>{{translation_font_color}} <input type="color" class="fcolor" value="#92D5F8"></p></li>
                <li><p>{{translation_background_color}}: <input type="color" class="bcolor" value="#FFFFFF"></p></li>
            </ul>            
        </section>
    </section>
</script>