/*
	ecm = editor contenido multimedia
*/

.ecm-global-container{
	margin: 0px;
	width: 100%;
	margin-top: 20px;
	
}
.ecm-header-content{
	height: 40px;
	padding:10px;
	background-color: #fff;
}

.ecm-main-alert{
	width:100%;padding: 10px;position: fixed;
	top:0px;background-color: #990000;color: #fff;
	opacity: 0.9;z-index:20; text-transform: uppercase; display: none;
}

header.ecm-header-main{
	padding: 0px;
	margin: 0px;
	background-color: rgb(39,44,51);
}

nav.ecm-elemnt-menu ul{
 	list-style: none;
 	color: #fff;
}

nav.ecm-list-horizontal ul{
   width: 100%;
   text-align: right;
}
nav.ecm-list-vertical{
	margin-top: 15px;
	text-align: center;
	padding: 0px;
}
nav.ecm-list-vertical > ul{
	padding: 0px;margin: 0px;
}
nav.ecm-list-vertical > ul li{
	margin-bottom: 20px;
}
nav.ecm-list-horizontal ul li{
 	float: right;
 	height: 75px;
 	width: 83px;
 	padding:10px;
 	text-align: center;
}
ul.ecm-list-submenu {
	background-color: rgb(7,157,172);
	padding: 0px;
	position: absolute;
	margin-top: -70px;
	margin-left: 90px;
	z-index: 1;
}

ul.ecm-list-submenu > li{
	padding: 10px;
	margin-bottom: 0px !important;
	border-bottom: 2px solid #fff;
}

nav.ecm-elemnt-menu ul li > div > span{
  font-size: 30px;
}

.clear{clear: both;}
.ecm-editor-container{padding:0px;margin: 0px;}
.ecm-editor-banner-right{background-color: rgb(7,157,172);color: #fff;width: 100px;}

/*section edit content*/
.ecm-edition-content-global{ margin-top: 0px;}
.ecm-edition-pages-content{padding:10px;}
nav.ecm-edition-page-menu{
	width:40px;height: 40px;
	text-align: center;border-radius: 50%;
	position: absolute;top:0px;
	z-index: 1;border:4px solid #d9d9d9;cursor: pointer;}
nav.ecm-edition-page-menu > ul{list-style: none;padding: 5px;margin-top: 2px;}
nav.ecm-edition-page-menu > ul li{font-size: 15px;color: #fff;}
nav.edition-close{background-color:#990000;right: 2px;z-index: 10;}
nav.edition-preview{background-color:#007acc;right: 45px}
nav.edition-prev-page{background-color:#990000;right: -16px;top: 188px;}
.ecm-edition-page{background-color: #fff;border-radius: 5px;padding: 10px; padding-top: 40px;}
.ecm-no-padding{padding:0px;}
.ecm-edition-page-circle{
	width: 100px;height: 100px;
	background-color: #ff9900;border-radius: 50%;text-align: center;margin-left: 45px;}
.ecm-edition-page-circle-number{margin-top:30px;width: 40px;display: inline;border-radius: 0px;border-color: transparent;background-color: transparent;color: #fff;font-size: 20px;}
.ecm-edition-page-circle-number:hover{background-color: #fff;color: #000 !important;}
.ecm-edition-page-icon-edit{background-color:#2eb82e;width:35px;height: 35px;text-align: center;border-radius: 50%;position: absolute;top:0px;cursor: pointer;right: 2px; border:2px solid #fff;}
nav.ecm-edition-page-icon-edit > ul{list-style: none;padding: 5px;margin-top: 2px;}
nav.ecm-edition-page-icon-edit > ul li{font-size: 13px;color: #fff;}
.ecm-edition-page-text-edition-cnt{padding: 20px;}

.ecm-edition-page-text-edition{width: 100%;height: 80px;padding: 0px;max-width: 100%;max-height: 80px;}

.ecm-edition-page-text-edition::-webkit-scrollbar {
      width: 5px;
}
.ecm-edition-page-text-edition::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
}
.ecm-edition-page-text-edition::-webkit-scrollbar-thumb {
      background-color: rgba(250, 250, 250, 1) ;
} 

.ecm-edition-banner-right{position: fixed;right: 0px;padding: 0px;z-index: 10;display: none; width: 50px;}
header.ecm-edition-banner-header{background-color: rgb(7,157,172);padding: 5px;color: #fff;font-weight:bold;text-align: center;width:50px;float: right;}
ul.ecm-edition-banner-options{padding: 5px;list-style: none;}
.ecm-edition-icons{font-size: 20px;font-weight: bold;}
ul.ecm-edition-banner-options{background-color: rgb(7,157,172);color:#fff;border-top:3px solid #fff;width: 50px;float: right}
ul.ecm-edition-banner-options li{width:40px;height: 40px;border-bottom:1px solid #fff;}
ul.ecm-edition-banner-options li > div {width:100%; text-align: center;display:inline;font-size: 20px;text-align:center;float: right;text-align: center;padding: 1px;}
.box-global-container{ padding:15px; border-radius: 20px; background-color: #fff;}
.ecm-tools-box{
			  display: none;
              position: absolute;
              top: 45px;right:60px;
              background-color: #fff;
              z-index: 20;border-radius:4px;
              box-shadow: 0px 0px 15px rgba(0,0,0,0.7);}
header.tools-tittle{
	padding: 5px;background-color: #007acc;color: #fff;
}
.ecm-icon-tools > span{margin-top: 5px;}
.box-type-sound > span{
	border:2px solid #2aa22a;
	padding:10px;border-radius: 50%;
	background-color: #49d049;color:#fff;
	font-size: 15px;z-index: 20 !important;
	cursor: pointer;
}
audio{display: none;}
.ecm-edition-page-prev{border-top:5px solid #ff9900;padding-top: 20px;display: none}


.genderCnt {
    padding: 0px;
    border-bottom: 3px solid #737373;
}

.genderCnt > div {
    padding: 0px;
    margin-bottom: 10px;
}

.genderCnt > div > div {
    float: left;
    font-size: 17px;
    text-align: center;
    padding: 5px;
    height: 29px;
    width: 29px;
    background-color: #d9d9d9;
}

.genderCnt > div > select {
    background-color: #d9d9d9;
    padding: 6px;
    border-color: transparent;
    font-size: 12px;
}

.footerEditAudio {
    margin-top: 20px;
}

.footerEditAudio > button {
    width: 100%;
    border-radius: 0px !important;
}
.inactive-panel{display: none;}
.active_{background-color: #fff;color: rgb(7,157,172);}
.ecm-icon-tools{cursor: pointer;}
.menu-audio{ list-style: none;padding: 0px;}
ul.menu-audio li{ display: inline;padding: 10px;background-color: #ffa366;color: #fff;cursor: pointer;}
ul.menu-audio li:hover{background-color: #cc5200;}
ul.menu-audio li.active{ background-color: #ff751a;cursor:none;}
.box-near-menu{margin-bottom: 20px;text-align: center;margin-top: 20px;}
#convertToAudio{display: none;}
.tools-config{border:2px solid #ff751a;margin-bottom: 10px;}
.ecm-edition-banner-header span{cursor: pointer;}
.activePencil{background-color: #ff751a !important;} 
.ecm-media-false{color: #a6a6a6;}
.ecm-media-true{color: #2eb82e;}
.box-type-text{ word-wrap: break-word; }
#MainTitle{height: auto;}
#tools-panel{position: relative;top: -27px;text-align: right;padding-right: 5px;color: #fff;font-weight: bold;cursor: pointer;}
