footer.console{width:100%;background-color: rgba(0,0,0,1);position: fixed;bottom:0px;z-index: 1100;}
header.console-header{text-align: left;padding:5px 0px;}
header.console-header h5{margin:0px;margin-left: 4px;padding:5px;cursor: pointer;color:#fff;font-weight:  bold;}
section.console-body{background-color: #fff;}
.console-body .alert{margin-bottom: 2px !important;border-radius: 0px;padding:5px;padding-left: 10px;font-size:15 !important;}
.console-body .alert span.glyphicon{font-size: 15px;margin-top: 5px;float:left;margin-right:5px;}
.console-body .alert .text_alert{float: left;height: 20px;margin:3px 0 0 3px;}
.console-body .alert .remove_this{float: right;cursor: pointer;}
.console-error .remove_this{color: #990000;}
.console-ok .remove_this{color: #47d147;}
.console-warning .remove_this{color: #ff6600;}
.console-error{color: #990000;border-bottom: 2px solid #990000;}
.console-ok{color: #47d147;border-bottom: 2px solid #47d147;}
.console-warning{color: #ff6600;border-bottom: 2px solid #ff6600;}