aside.left-side-bar{height: 100%;background-color:  #4d4d4d;padding:0px;margin:0px;width: 113px;position: fixed;z-index: 100;margin-top: 39px;}
aside.left-side-bar ul li.left-tool .left-tool-item{text-align: center;padding: 5px;transition: 0.5 all;}
aside.left-side-bar ul li.left-tool .left-tool-item i.icon{font-size:22px !important;}
aside.left-side-bar ul li.left-tool{ background-color: #4d4d4d; }
li.left-active > div.left-tool-item:hover{cursor: none}
#char-menu-contextmenu ul li.left-tool:nth-child(1){border-bottom: 3px solid #fff;}
aside.left-side-bar ul li.left-tool{color: #fff;cursor: pointer;padding:10px;}
aside.left-side-bar ul li.tool-icon{color: #fff;font-size:20px;}
aside.left-side-bar ul li.left-active{border-left:3px solid #22E1C7;background-color:rgba(0, 0, 0, 0.2);}
article.left-side-bar-edition{margin-top: 50px;background-color: #404040;height: 100%;color: #fff;width: 360px;padding-bottom:20px;position: absolute;top:-50px;left: 113px;z-index: 100;/* transition: 0.5s all; */}
article.left-side-bar-edition header.close{z-index:100;width:30px;height: 30px;padding:5px;color:#fff;text-align: center;position: absolute;right: 9px;top: 6px;cursor: pointer;z-index: 100;}
article.left-side-bar-edition header.close span{color:#fff;}