#view-text-plugin .title-text h5{ font-weight:bold; }
.panel-text{
	text-align: center; border:1px solid #fff;
	cursor: pointer; padding:10px;padding-top:20px;
	-webkit-touch-callout: none; -webkit-user-select: none;
	-khtml-user-select: none; -moz-user-select: none;
	-ms-user-select: none; user-select: none;
}
.panel-text:nth-child(odd){ background-color: #bfbfbf; }
.panel-text:nth-child(even){ background-color: #a6a6a6; }
.panel-text h5{padding:0px;margin: 0px;}
.withoutBorder:focus{ outline:0px !important; }
div.text-plugin{
	width:100%; /*border:1px solid #b3b3b3;*/
}
#window-edition div.text-plugin[data-font-size=h1]{font-size:36px;}
#window-edition div.text-plugin[data-font-size=h2]{font-size:30px;}
#window-edition div.text-plugin[data-font-size=h3]{font-size:24px;}
#window-edition div.text-plugin[data-font-size=h4]{font-size:18px;}
#window-edition div.text-plugin[data-font-size=h5]{font-size:14px;}
#window-edition div.text-plugin[data-font-size=h6]{font-size:12px;}
#window-edition div.text-plugin .editable-text-input input.editable{
	border:1px solid #d9d9d9;background-color: transparent;width:100%;
}
