<script id="multimediaBase" type="text/template">
<div class="gf-multimedia-global-container  gf-ecm-element-inactive" id="plugin-multimedia">	
	<header class="gf-menu-multimedia" style="padding:1px;">
 		<nav>
 			<ul>
 				<li 
 					class="gf-menu-item active"
 					title="Sube un archivo al servidor"
 					data-sub-menu-child="gf-ecm-child-AudioImage"
 					>Subir</li>
 				<li
 					class="gf-menu-item"
 					title="Convierte el texto en un archivo de audio"
 					data-sub-menu-child="gf-ecm-child-Generate"
 					>Convertir</li>
 			</ul>
 		</nav>	
 	</header>

	<section class="gf-ecm-multimedia-body" style="/*padding:10px;*/border: 2px solid #01D2B5;margin-top:4px;margin-left:2px;height: auto;">
				<div id="gf-ecm-child-AudioImage" class="gf-ecm-child-menu-multimedia" style="padding:10px;">
					<button class="btn btn-primary fileinput-button " style="
					color: #4d4d4d;
					width:150px;
					height: 150px;
					background-color: #fff !important;border:3px dashed #01D2B5;display: block;margin:0 auto;" id="char-upload">
						<span class="glyphicon glyphicon-cloud-upload icon-tool"></span>
								<br>
						<span>
							Subir Imagen
						</span>
						<input id="sound-chat" type="file" name="files[]" class="char-upload" multiple="">
					</button>

					<div id="progress_img" class="progress" style="width: 95%;display: block;margin:0 auto;margin-top: .5em;">
						 <div class="progress-bar progress-bar-success"></div>
					</div>  
					<div class="clear"></div>	
				</div>

				<div id="gf-ecm-child-Generate" class="gf-ecm-child-menu-multimedia gf-ecm-element-inactive" >	
					<header class="header-multimedi" style="
						background-color: #01D2B5;
						padding:5px;
						">
						Opciones
					</header><!-- /header -->
					<section style="padding:10px;">
						<div>
							<div style="
								width:35px;height:35px;
								float: left;font-size: 20px;text-align: center;
								padding-top:4px;background-color: #01D2B5;
								">
								<span class="glyphicon glyphicon glyphicon-user"></span>	
							</div>
							<div style="float:left;width:81%">
								<select id="gender" style="
									padding:5px;height:35px;
									width:100%;
									background-color: #fff;
									color: #000;border:1px solid #fff;">
									  <option value="0">Masculino</option>
									  <option value="1">Femenino</option>
								</select>
							</div>
							<div class="clear"></div>
						</div>

						<div style="margin-top:2px;">
							<div style="
								width:35px;height:35px;
								float: left;font-size: 20px;text-align: center;
								padding-top:4px;background-color: #01D2B5;
								">
								<span class="glyphicon glyphicon glyphicon-flag"></span>	
							</div>
							<div style="float:left;width:81%;">
								<select id="gender" style="
									padding:5px;height:35px;
									width:100%;
									background-color: #fff;
									color: #000;border:1px solid #fff;">
									  <option value="es">Español</option>
									  <option value="en">Ingles</option>
								</select>
							</div>
							<div class="clear"></div>
						</div>

						<div style="
								margin-top:2px;
								background-color: #fff;padding:10px;">
							<div style="color: #01D2B5;margin-bottom: 10px;">
									<h5 style="padding:0px;margin:0px;font-weight: bold;">
										Velocidad : <i class="">170</i>
									</h5>
							</div>
							<div style="float:left;width:155px;">
								<input type="range" id="speed" value="170" min="1" max="500">
							</div>
							<div class="clear"></div>
						</div>

						<div style="
								margin-top:2px;
								background-color: #fff;padding:10px;">
							<div style="color: #01D2B5;margin-bottom: 10px;">
									<h5 style="padding:0px;margin:0px;font-weight: bold;">
										Tono : <i class="">10</i>
									</h5>
							</div>
							<div style="float:left;width:155px;">
								<input type="range" id="tono" value="10" min="1" max="100">
							</div>
							<div class="clear"></div>
						</div>

						<div style="
								margin-top:2px;
								background-color: #fff;padding:10px;">
							<div style="color: #01D2B5;margin-bottom: 10px;">
									<h5 style="padding:0px;margin:0px;font-weight: bold;">
										Texto
									</h5>
							</div>
							<div style="float:left;width:155px;">
								<input type="text" class="" style="overflow-x:hidden;color: #000;"/>
							</div>
							<div class="clear"></div>
						</div>	
					</section>

					<div style="width:100">
							<button class="btn btn-default" style="
							background-color: #01D2B5;width:100%;border-radius:0px;color: #fff;border-color:#01D2B5; ">
								Generar
							</button>
					</div>
				</div>
				<!--<div id="gf-ecm-child-Generate" class="gf-ecm-child-menu-multimedia gf-ecm-element-inactive" >	
					<div class="col-xs-12" id="convertOptions">
						<div class="col-xs-12" style="padding:0px;margin-bottom: 5px;">
							<input type="text" style="width:100%;color: #4d4d4d;font-size: 18px;padding:2px;background-color: #fff;" placeholder="Ingresa texto">
						</div>
						<div class="genderCnt">
							<div class="col-xs-6" style="border:1px solid #fff;padding:0px;border-right:2px solid #ddd;"> 
								<select id="gender" style="padding:5px;width:100%;background-color: #fff;color: #000;border:1px solid #fff;">
									  <option value="0">Masculino</option>
									  <option value="1">Femenino</option>
								</select>
							</div>

							<div class="col-xs-6" style="border:1px solid #fff;padding:0px;"> 
								<select id="lang" style="padding:5px;width:100%;background-color: #fff;color: #000;border:1px solid #fff;">
									  <option value="es">Español</option>
									  <option value="en">Ingles</option>
								</select>
							</div>
							<div class="clear"></div>
						</div>

						<div class="col-xs-12" data-audio="quitAudio" style="border:1px solid #b3b3b3;padding:10px;">
							<div style="border:1px solid #e6e6e6;padding:6px;">
								<span>
									<i class="fa fa-rocket" aria-hidden="true"></i>
									Velocidad
								</span>
								<input type="range" id="speed" value="170" min="1" max="500">
							</div>

							<div style="border:1px solid #e6e6e6;padding:6px;margin-top: 5px;">
								<span>
									<i class="fa fa-rocket" aria-hidden="true"></i>
									Tono
								</span>
								<input type="range" id="tono" value="10" min="1" max="100">
							</div>
						</div>

						<div class="col-xs-12 footerEditAudio" style="margin-top: 10px;padding:0px;">
							<button type="button" class="btn btn-warning" data-event="saveAudioConvet" id="saveAudioConvet" style="background-color: transparent;border:2px solid #fff;width:100%;border-radius:0px;">
								Generar
							</button>
						</div>

					</div>

				</div>-->
				
			</section>
</div>
 </script>