.edition-header{padding: 10px 0px;height: 47px;}
.edition-header div.return{cursor:pointer;width:20px;height:20px;float:left;margin-top:8px;}
.edition-header h5{float: left;font-weight: bold;color:#fff;}

.menu-galleries ul.menu li.show-galleries{
	width: 106px;height: 106px;padding:10px;
	float:left;padding-top:0px;cursor:pointer;}
.menu-galleries ul.menu li:nth-child(even){background-color:#01D2B5;}
.menu-galleries ul.menu li:nth-child(odd){background-color:#3D9E8F;}
.menu-galleries ul.menu.only-two li{width:50% !important;}
.menu-galleries ul li div.icon{text-align: center;font-size: 41px;padding-top: 20px;}
.menu-galleries ul li div.title{font-size: 12px;font-weight: bold;}

.gallery .options{width: 120px;border-radius:  0px;background-color: #3D9E8F;position:  absolute;z-index: 20;}
.gallery .options ul li.item{padding: 5px;cursor: pointer;}
.gallery .options ul li.item:hover{background-color:rgba(250,250,250,0.2);}

.gallery ul.collection-gallery img{width:100%;height: 100%;}
.gallery ul.collection-gallery li{width: 80px;height: 81px;float:left;padding:10px;cursor:pointer;}
.gallery ul.collection-gallery li:nth-child(even){background-color:#fff;border-bottom: 3px solid #a3dbd3;}
.gallery ul.collection-gallery li:nth-child(odd){background-color: #a3dbd3;border-bottom: 3px solid #fff;}

.filter-gallery{border-bottom: 5px solid #4d4d4d;height: 43px;width: 327px;background-color: #fff;}
.filter-gallery .icon-filter {
	height: 37px;
	width:40px;
	text-align: center;
	background-color: #fff;
	padding-top: 7px;
	font-size: 22px;
	color: #999999;
	float: left;
	}
.filter-gallery .icon-filter span{color:#3D9E8F;}
.filter-gallery .for-filter{
	float: left;
	color: #999999 !important; font-size: 13px; 
	border-color: transparent !important; border-radius: 0px !important; height: 100%;
    border:3px solid #fff !important;
	border-left:3px solid  #3D9E8F !important;
	min-width: 143px !important;
	}
.filter-gallery .for-filter .text{color: #000 !important;}
.filter-gallery .for-filter.full{width: 216px !important;}
.title-info_{   float: left;
			    color: #000;
			    width: 71px;
			    height: 100%;
			    border-left: 3px solid #3D9E8F;
			    padding-top: 9px;
			    text-align: center;
			    font-weight: bold;  }


.eventHandler{
	background-color: #fff; border-top:1px solid #3D9E8F;height:27px;
}
.eventHandler .event-option{
	background-color:#3D9E8F;padding-top:5px;height:100%;
}
.eventHandler .event-option input{
	opacity:1 !important;
	margin:0px !important; 
	position: absolute !important;
	top:6px !important;font-size:12px;
}
.buttons-edition-basics button{
	border-radius:0px;background-color: #e6e6e6;width:86px;
	border-color: #8c8c8c;color: #4d4d4d;font-weight:bold;
}
.buttons-edition-basics button:nth-child(2){
	width:85px;margin-left:-3px;
	background-color: #18b6b8;border-color: #18b6b8;
}
.eventHandler .text-event{
	margin-left:20px;color:#fff;
}
.animation-basic-body{
	padding-top:7px;
}
.animations-options-tools{float:right;height:41px;padding:5px;padding-top: 10px;}
.animations-options-tools .tools{/* border:1px solid orange; */font-size: 16px;float:left;margin-right: 5px;cursor:pointer;color: #2b363c;padding-top:;}
.animations-lists .checkbox_input{
	margin-top: 9px !important;margin-left: 7px !important;
}
.hiddenTitle{ color:#fff !important;font-weight: bold;float: left;}
h5.list-title{float: left;  margin: 0px; font-weight:  bold;}
.animations-lists{
	width:150px;
	float:left;
	padding:10px;
	height:41px;
	padding-left: 12px;
}

 .title_full{
 	color: #737373;
 	background-color: #fff;
 	font-weight:bold;
 	padding:5px;
 	text-align: center;
 	border-left:3px solid #3D9E8F;
 	border-right: 5px solid #3D9E8F;
 }

.checkbox_{
	background-color: #fff;
	/* border:1px solid #3D9E8F; */
	margin:0px;
	float:left;
	height: 29px;
	padding-top:5px;
	padding-left:10px;
	padding-right: 3px;
	}

.basics-edit section .option{border-bottom:2px solid #3D9E8F;}

.create-selects-nav-main ul li{float:left;width: 100%;border:1px solid #bfbfbf;height: 40px;border-top-color: transparent;}
.create-selects-nav-main ul li div.title_{
	float:left;
	width: 40px;
	height: 100%;
	color: #fff;
	background-color: #2b363c;
	color: #404040;
	text-align:  center;
	padding-top: 8px;
	font-size: 25px;
	font-weight:  bold;
	}
.create-selects-nav-main ul li div.title_ i.icon{ color:#fff; }
.create-selects-nav-main ul li .ui.selection.dropdown{
	min-width: 41%;
	width: 80%;
	border-radius: 0px;
	float:  left;
	font-size: 14px;
	height: 39px;
	border-right-color:  transparent;
	margin-top: 0px;
	}
.create-selects-nav-main ul li select{padding:5px;color:#000;width:100%;border:1px solid transparent;}


/*MODAL*/
#modal-box{ border-radius: 5px; }
#modal-box .icon {/* color: #000 !important; */}


.character-preview{background-color: #fff;height: 310px;color:#000;padding-top: 30px;border-top: 1px solid rgb(221, 221, 221);}
.gallery-character-properties{background-color: #ddd;height: 310px;padding: 0px;overflow-y: auto; overflow-x: hidden;}
.gallery-character-properties header{border-left:2px solid rgb(221, 221, 221);border-right:2px solid rgb(221, 221, 221);}
footer.gf-incons-save-btn{position: absolute;z-index: 20;bottom: 0px;right:0px;}
footer.gf-incons-save-btn button.btn-default{border-radius:0px;border:1px solid transparent !important;font-size: 20px;margin-left: -4px;}
.tools-character-each{padding:5px;}

.resize-full-active{position: fixed !important;width:100% !important;height:100% !important;}
.resize-full-active .gf-ecm-element-inactivem-create-character{width:50%;left:20%;margin-top: 20px;}
.resize-full-active .character-preview{padding:30px;}
.resize-full-active .create-elements-nav-main ul li{width: 102px !important;}
.resize-full-active #create-character{left: 6%;%left: 0%;width: 78%;height: 85%;border-radius: 5px;overflow: hidden;}
.resize-full-active #character-creating svg {width: 66% !important;}
.panel-edition-skill{box-shadow: 0px 0px 20px rgba(0,0,0,0.7); position: absolute; padding: 5px; background-color: #4d4d4d; top: 0px; width: 262px; height: 382px; z-index: 20; margin-left: 29px; margin-top: 50px; }

.gf-ecm-main-panel-left{border-right:2px solid #fff;height:100%;padding-top:20px;}
.gf-ecm-main-panel-left .svg-group-prev{height:200px;margin-bottom: 15px;border-radius:5px;background-color: #fff;color:#000;}
.gf-ecm-main-panel-left .onfig-global-tools{border:1px solid #fff;}
#colors-groups .color{border-bottom: 2px solid #fff;padding: 4px;width: 29%;float: left;margin-right: 5px;margin-bottom: 4px;}
.gf-ecm-body-lateral-menu-close{z-index:20;}
.container_{height:250px;overflow-y: auto;overflow-x: hidden;border-radius: 6px;}
.container_::-webkit-scrollbar { width: 12px; } 
.container_::-webkit-scrollbar-track {  -webkit-box-shadow: inset 0 0 6px rgba(250,250,250,0.3); border-radius: 10px; }
.container_::-webkit-scrollbar-thumb { border-radius: 10px;  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); background-color: #fff;}
div.class-char-svg{ height:50px;margin-bottom: 3px;}
div.class-char-svg .class-char-svg-name{ width: 76%; background-color: #fff; padding: 13px; color: #000; float: left; height: 100%; padding-top: 13px; font-weight: bold;font-size: 16px;}
.class-char-svg-btns{float:left;width: 50px;height:40px;}
.class-char-svg-btns button{border-radius:0px;width:100%;height:50px;font-size: 20px;background-color: #3D9E8F;color: #fff;border-color: transparent;}
.galleria-personajes{  background-color: #fff;}

.galleria-personajes .gallery-global-search{ height:40px;background-color: #fff; }




/*custom-features*/
/*Modal de las animaciones*/
.preview-custom-character{ 
	background-color:#fff;height: 100%;border-left:7px solid #2b363c; }
.character-lateral-right-panel{
	height: 100%;
	background-color: #2b363c;
	padding:0px 7px !important;
}
.character-lateral-right-panel 
div.features-filter{border-radius: 0px !important ; font-size: 15px !important ;}
.custom-list-sets{
	background-color: #fff;height:70%;margin-top:3px;overflow-y: scroll;
}
.custom-list-sets .custom-sets{
	border:1px solid #2b363c;width:90px;height:90px;float:left;
	padding:3px;cursor: pointer;transition: 0.2s all;
}
.custom-list-sets .custom-sets:hover{
	opacity:0.6;box-shadow: 0px 0px 10px #18b6b8;
}
.custom-sets img{
	width: 100%;
	height: 80px;
}


.modal-keypad{
	padding:0px;position:absolute;bottom: 0px;right:0px;width: 100%;
	background-color:transparent;border-color: transparent;
}
.modal-keypad div.cancel{
	width:130px;
	height:30px;
	padding:13px;
	height:35px;
	margin-left:5px;
	border-radius:0px;
	float: right;
	margin-right:0px;
	}
.modal-keypad div.save{
	background-color: #18b6b8;
	width:130px;
	height:30px;
	padding:13px;
	height:35px;
	margin-left:0px;
	border-radius:0px;
	margin-right:-3px;
	color:#fff;
	font-weight: bold;
	float: right;
}


.svg-selected{
	border:1px solid #18b6b8 !important;
	stroke:#18b6b8;
}