#dinamyc-elements-information{ width: 100%;height:500px;overflow-x: hidden;overflow-y: hidden; }
#dinamyc-elements-information 
.main-cape{border-left:4px solid #3D9E8F;height:50px;width: 100%;margin-bottom: 3px;}

.main-cape .dinamyc-prev-info{
	padding:4px;height: 100%;
	padding-top: 3px;text-align: center;border-right:3px solid #666666
}
.main-cape { 
	background-color: #fff; 
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
.main-cape .dinamyc-prev-info img{ height:100% }
.main-cape[data-visible="false"]{opacity: 0.6;}
.dinamyc-prev-title-info{color:#666666;padding-left:7px;height:100%; }
.dinamyc-prev-title-info .information{ margin-top:7px;font-size:12px; }
.dinamyc-prev-title-info .information span.title-this-dinamyc{ float: left;font-weight:bold;width:55px; }
span.result-info{float: left;color: #3D9E8F;}
.dinamyc-options{ border-left:3px solid #404040;height:100%;color:#666666; }
.dinamyc-options .options-list{ margin-top: 12px;margin-left: 5px; }
.options-list li{ float: left;font-size:22px;margin-left:3px;width:27px;height: 27px;text-align: center;cursor: pointer; }
.options-list li:nth-child(1){ font-size:25px; }
.options-list li:nth-child(1) i{
	margin-top:-4px;float: left;margin-left: -3px;
}
.options-list li span.inactive{ color: #d9d9d9;}
.options-list li span.active-color{ color: #3D9E8F; }
.options-list li span.glyphicon-trash{ color: #b32d00;}
