.creator-menu{
	width:40px;height:40px;float: left;margin-right:10px;
	padding-top: 6px;    background-color: #18b6b8;
    text-align: center; font-size: 22px;
}
.creator-menu span.close-header{ color: #fff;  }
.creator-menu h4{ font-weight: bold;color:#fff;margin-left:10px;  }
#creator-character-global h4{float:left;}

#modal-box #creator-character-global{
	border:1px solid #2b363c;border-radius: 5px;
	height: 100% !important;background-color: #2b363c;
}

#creator-character-global .first-section{ height:100%; }
#creator-character-global .second-edition{ height:100% !important; }
#creator-character-global .options{ background-color:#2b363c;height: 100%; }
#creator-character-global .accordion .title{background-color: #18b6b8;color: #fff;font-size: 15px;}
#creator-character-global .accordion .content{ padding-top: 0px; }
#creator-character-global .accordion .transition.visible{display: block !important;color:#000;border: 1px;/* padding: 0px; */}

.accordeon-animation{border-bottom:1px solid #e6e6e6 !important;height:40px;margin:0px}

.creator-selected-tools-options{
	border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 366px;
    margin-left: 8px;
    float: left;
}

.creator-selected-tools-options .option-for-selected{
 width: 53px; text-align:  center; font-size: 22px;cursor: pointer;
 padding: 7px; height: 39px;  padding-left: 7px;  float: right;
}
#preview-custom-character > svg#customer-character{
	border-color: 2px solid magenta;
	width:100% !important;height: 90% !important; 
}

button.listing-css-svg{border-radius:0px !important;background-color: #e6e6e6 !important;}
.color-section {padding:10px 5px;}
.color-section h6{margin: 0px; margin-bottom: 3px; font-weight: bold;}

.tooltip-customer-options{position: relative;left: 223px;height:150px;width: 153px;margin:0px;background-color: #fff;color:#000;font-weight: bold;z-index: 20; top: -42px; box-shadow: 0px 0px 10px #000; }
.tooltip-customer-options header{background-color: #3D9E8F;color:#fff; padding: 5px;text-align:  center;}
.tooltip-customer-options header h5{margin: 0px;display: inline;}
.tooltip-customer-options header span.close{ float:right;margin-top: -5px;text-shadow: 0px 0px 0px transparent;color: #2b363c;opacity: 1;}
.tooltip-customer-options section{ background-color:#fff; }
.tooltip-customer-options section div.edition-tooltip{border-bottom:1px solid #e6e6e6;width:100%; height: 32px; padding-left:7px;}
.tooltip-customer-options section div.title-tooltip{width:50%;float: left;margin-top: 3px;}
.tooltip-customer-options section div.title-tooltip i{ font-size: 16px; float: left; margin-top: 4px;:5px }
.tooltip-customer-options section span.tool-text{font-size: 12px;float:left;margin-top: 5px;}
.tooltip-customer-options section div.option-tooltip{ float: left;margin-left:13px; }
.tooltip-customer-options section div.option-tooltip.case-especial{ width:40%; margin-top:2px; height: 29px; }
.tooltip-customer-options section div.option-tooltip .checkbox_{  margin-top: 3px;height: 25px; }
div.option-tooltip.case-especial .input{width:95%;}
div.option-tooltip.case-especial input.meassure_{ height:100%;border-radius:0px;border:1px solid #e6e6e6; }
.tooltip-customer-options footer {width:100%;}
.tooltip-customer-options footer button{border-color: #159c9e;font-size: 12px; font-weight: bold;width:100%;border-radius:0px !important;background-color: #18b6b8;color:#fff;}
.tooltip-customer-options footer button:hover{ background-color: #159c9e;color:#f2f2f2;border-color: #159c9e; }
.stiles-control{margin-top: 5px;  background-color: #2b363c;  color: #fff !important;  padding: 10px !important; }
.stiles-control h5{ margin:0px;font-weight: bold;margin-bottom: 5px; }
.stiles-control .stiles-control-title{ margin-top: 7px; font-size: 12px; }
.stiles-control .stiles-control-input{ margin-bottom: 3px; }
.stiles-control .stiles-control-input input.noRadius{border-radius: 0px !important;}