#view-css-plugin section.availables-css{
	background-color:#fff !important;border-radius:5px;
}

#view-css-plugin section.availables-css div.menu{
	font-size:14px !important;
}
.css-properties-edition{
	color: #000; border-color: transparent !important;
	margin-left: 0px !important;  margin-right: 0px !important; width: 100% !important;
}
.css-properties-edition .form-group{margin-bottom: 5px !important;}
.css-group{ border: 1px solid #ddd; height: 40px; }
.css-group-title{
	float: left; width: 28%; font-size: 15px; text-align: center;
	height: 100%; padding-top: 7px;
	color: #01D2B5; border-right:1px solid #ddd;
}
.css-group-editable{float: left;width: 180px;}
section.unlinkProperties{
	padding:10px;border-top: 3px dashed #01D2B5;margin: 10px 0px;
	border-top: 3px solid #ddd;
	border-bottom: 3px solid #ddd;}
section.unlinkProperties .css-group{
	border-color: #01D2B5;
}
section.unlinkProperties .css-group-title{
    background-color:  #01D2B5;
    color: #fff;
    font-weight:  bold;
    font-size: 13px;
    padding-top: 10px;
}
section.unlinkProperties .css-group-editable{float: left;width: 165.5px;}
.css-group-editable input{ border-radius: 0px !important;font-size: 13px;height: 37px;border-color: transparent !important;  }
.css-group-link{height:100%;width: 40px;float: left;text-align: center;padding-top: 4px;padding-left: 4px;background-color: #01D2B5;color: #fff;cursor: pointer;}
.css-group-link i{ font-size: 22px !important; }
.css-group-link.data-active{background-color: #ddd;}
.css-group-link .sp-preview{ border-color: #fff !important; }
.css-group-link .sp-dd{ display: none !important;  }
.css-group-link.twoTypeIcons{ font-size: 19px; padding-right: 3px; padding-top: 8px; }