h5.name-plugin{ font-weight: bold;margin-top: 20px;}
#plugin-multimedia{background-color: #fff; border-radius:5px;}
.gf-multimedia-global-container .menu a{font-size:14px;}


section.multimedia-tools{
	border: 2px solid #fff; margin-top:4px; margin-left: 1px; height: auto;
}
section .multimedia-tools .tools{
	position: relative;
	animation-name: leftDivs;
	animation-duration: 0.9s;
}
/*UPLOAD RESOURCES*/
#image-upload{padding:20px 0px;}
section .multimedia-tools .tools .progress{width: 95%;display: block;margin:0 auto;margin-top: .5em;}
section .multimedia-tools .tools .fileinput-button{color: #4d4d4d;width:150px;height: 150px;background-color: #fff !important;border:3px dashed #01D2B5;display: block;margin:0 auto;}
section .multimedia-tools .tools .header-multimedia{background-color: #01D2B5;padding:5px;}

/*CONVERT AUDIO*/
section.text-converter div.content-border{border:1px solid #ddd;}
section.text-converter div.content-border:nth-child(2){margin-top:2px;}
.text-converter{/* padding:10px; */}
.icon-tool-converter{width:35px;height:35px;float: left;font-size: 20px;text-align: center;padding-top:4px;background-color: #01D2B5;}
.selected-type-converter{float:left;width: 87%;}
.selected-type-converter select{padding:5px;height:35px;width: 100%;background-color: #fff;color: #000;border:1px solid #fff;}
.slider-tools-converter{margin-top:2px;background-color: #fff;padding:10px;}
.slider-tools-converter .cnt-slider{color: #01D2B5;margin-bottom: 10px;}
.slider-tools-converter .cnt-slider h5{padding:0px;margin:0px;font-weight: bold;}
.slider-tools-converter .slider{float:left;width: 100%;}
.text-generate-container{margin-top:2px;background-color: #fff;padding:10px;}
.text-generate-container .title{color: #01D2B5;margin-bottom: 10px;}
.text-generate-container .title h5{padding:0px;margin:0px;font-weight: bold;}
.input-text-generate{float:left;width: 100%;}
.input-text-generate .textarea-to-generate {
	width: 100%;
	resize: none;
	color: #666666;
	height: 80px;
}
.btn-generate{background-color: #01D2B5;width:100%;border-radius:0px;color: #fff;border-color:#01D2B5;}
@keyframes leftDivs {
    from {opacity:0;left: -100px;}
    to {opacity:1;left:0px;}
}
/*Audio*/
#convertOptions{
	border-radius: 5px;border:1px solid #b3b3b3;
	padding:7px;
	background-color: transparent;
	z-index: 10;box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}
.genderCnt{padding:0px;border-bottom: 3px solid #737373;}
.genderCnt > div{padding:0px;margin-bottom: 10px;}
.genderCnt > div > div{float: left; font-size: 17px; text-align: center;  padding: 5px;height: 29px; width: 29px;background-color: #d9d9d9;}
.genderCnt > div > div > i{margin-left: 4px;}
.genderCnt > div > select{
	background-color: #d9d9d9;padding:6px;border-color: transparent;
	font-size: 12px;
}

.active_voice{
	color:#ffad33;
	transform: scale(1.2,1.2);
	border: 1px solid #ccc;
}
.footerEditAudio {margin-top: 20px;}
.footerEditAudio > button{width:100%;border-radius: 0px !important;}
.descText{margin-bottom: 10px;border:1px solid #ccc;padding: 5px;}
#openDialog{margin-right: 5px;}
#alertChat, #idAlert{background-color:#70db70;display: none;color: #fff;}

.playSound{
	width:4em;height:4em;background-color: #ffa64d;float: left;
	border-radius:50%;color: #fff;font-size:1em;cursor: pointer;
}

.playSound .audioPlayIcon div.glyphicon{width:100%;margin-left:16px;margin-top:12px;border:1px solid orange;text-align: center;}

.soundActive{
	background-color: #47d147 !important;
	animation: playSound 4s infinite;
}

@keyframes playSound {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}