header.upper-side-bar-header{
	z-index: 200;
	position: fixed;
	top:0px;
	color: #fff;
	background-color:#3D9E8F;
	padding-left: 0px !important;
	}
header.upper-side-bar-header .tooltip{
	background-color: #000; color:#fff; position: absolute;
	top:30px; border-radius:2px; padding:3px 10px;
	z-index: 200; opacity: 1 !important;
	}
header.upper-side-bar-header nav ul li.tool{
	width: 40px;height: 40px;float: left;	
	padding:8px;cursor: pointer;text-align: center;}
header.upper-side-bar-header nav ul li.tool{font-size: 20px;}
header.upper-side-bar-header nav 
ul li.tool:nth-child(even){background-color: #3D9E8F;}
header.upper-side-bar-header nav 
ul li.tool:nth-child(odd){background-color: #01D2B5;}
header.upper-side-bar-header nav ul li.tool.color-option{width:92px;}
header.upper-side-bar-header nav ul li.tool.color-option .sp-replacer.sp-light{margin-top:-7px !important;}
header.upper-side-bar-header nav ul li.tool.color-option .sp-dd{color:#fff !important;}
header.upper-side-bar-header nav ul li.tool.color-option .sp-preview{border-color: #fff !important;}
header.upper-side-bar-header nav ul li.select{background-color:#328175 !important;}
.sub-menu-upper{border-radius:3px;width:110px;background-color: #fff;color: #000;font-size:15px;box-shadow:0px 0px 10px #000;text-align: left;z-index:200;margin-top:4px;}
.sub-menu-upper .tool{padding:6px;border-bottom: 1px solid #bfbfbf;}
.sub-menu-upper .tool:hover{background-color:#e6e6e6;}
.clear{clear: both;}

