.playSound{
	width:4em;height:4em;background-color: #ffa64d;float: left;
	border-radius:50%;color: #fff;font-size:1em;cursor: pointer;
}
.gf-ecm-element-inactive{display:none !important;}
.playSound .audioPlayIcon div.glyphicon{width:100%;margin-left:16px;margin-top:12px;border:1px solid orange;text-align: center;}

.soundActive{
	background-color: #47d147 !important;
	animation: playSound 4s infinite;
}

@keyframes playSound {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.gf-dinamyc-element {
    min-width: 50px;
    position: absolute !important;
    border: 10px solid transparent;
    height: auto;
    float: left;
}
.gf-ecm-text-section{
	text-align: center;
	cursor: pointer;
	padding:10px;padding-top:20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.gf-ecm-text-section h5{padding:0px;margin: 0px;}
.gf-ecm-text-section{background-color: transparent;/*border:1px solid rgba(0,0,0,0.2);*/cursor: pointer;}
.gf-ecm-text-section[data-font-size=h1]{font-size:36px;}
.gf-ecm-text-section[data-font-size=h2]{font-size:30px;}
.gf-ecm-text-section[data-font-size=h3]{font-size:24px;}
.gf-ecm-text-section[data-font-size=h4]{font-size:18px;}
.gf-ecm-text-section[data-font-size=h5]{font-size:14px;}
.gf-ecm-text-section[data-font-size=h6]{font-size:12px;}
.gf-ecm-text-section{width:100% !important;}
.gf-ecm-text-section{padding:0px;}
.gf-ecm-text-section .gf-ecm-text-show-header{padding:10px;}