<script id="textoBase" type="text/template">

<div class="gf-multimedia-global-container  gf-ecm-element-inactive" id="plugin-texto" style="border:1px solid red;">	
	<div style="border:1px solid #fff;" class="gf-ecm-text-section">
		<h1>Título (h1)</h1>
		<section class="gf-ecm-text-input-for-edition">
			<input type="text" style="" class="input-font-h1" />
		</section>
	</div>

	<div style="border:1px solid #fff;" class="gf-ecm-text-section">
		<h2>Título (h2)</h2>
		<section class="gf-ecm-text-input-for-edition">
			<input type="text" class="input-font-h2" />
		</section>
	</div>

	<div style="border:1px solid #fff;" class="gf-ecm-text-section">
		<h3>Título (h3)</h3>
		<section class="gf-ecm-text-input-for-edition">
			<input type="text" class="input-font-h3" />
		</section>
	</div>

	<div style="border:1px solid #fff;" class="gf-ecm-text-section">
		<h4>Título (h4)</h4>
		<section class="gf-ecm-text-input-for-edition">
			<input type="text" class="input-font-h4" />
		</section>
	</div>

	<div style="border:1px solid #fff;" class="gf-ecm-text-section">
		<h5>Título (h5)</h5>
		<section class="gf-ecm-text-input-for-edition">
			<input type="text" class="input-font-h5" />
		</section>
	</div>

	<div style="border:1px solid #fff;" class="gf-ecm-text-section">
		<h6>Título (h6)</h6>
		<section class="gf-ecm-text-input-for-edition">
			<input type="text" class="input-font-h6" />
		</section>
	</div>

	<div style="border:1px solid #fff;" class="gf-ecm-text-section">
		<p>Parrafo</p>
		<section class="gf-ecm-text-input-for-edition">
			<input type="text" class="input-font-parrafo" />
		</section>
	</div>
</div>

</script>