 <script id="rackBase" type="text/template">
 <div class="gf-multimedia-global-container gf-ecm-element-inactive" id="plugin-rack">	
 	<header class="gf-ecm-edition-panel" >
		<nav class="gf-ecm-edition-circle-tools">
			<ul>
				<li title="Añadir fila a la rejilla"
					class="gf-ecm-rotate-child-icon"
					data-tool-action="addRack">
					<div class="ecm-circle-tools gf-botons-color-lightGreen" style="">
						<span class="glyphicon glyphicon-plus"></span>
					</div>
						<span class="title">Añadir</span>
				</li>
				
				<li title="Quitar fila seleccionada de la rejilla"
					class="gf-ecm-rotate-child-icon" 
					data-tool-action="removeRack">
					<div class="ecm-circle-tools gf-botons-color-error">
						<span class="glyphicon glyphicon-remove"></span>
					</div>
						<span class="title">Quitar</span>
				</li>
				
				<li title="Cambiar tamaño del elemento seleccionado" 
				    class="gf-ecm-rotate-child-icon" 
				    data-tool-action="sizeXY">
					<div class="ecm-circle-tools gf-botons-color-violet">
						<span class="glyphicon glyphicon-resize-full"></span>
						</div>
						<span class="title">Tamaño</span>
				</li>

				<li title="Cambiar tamaño del elemento seleccionado" 
					class="gf-ecm-rotate-child-icon" 
					data-tool-action="addNew">
					<div class="ecm-circle-tools gf-botons-color-orange">
						<span class="glyphicon glyphicon-tags"></span>
						</div>
						<span class="title">Nuevo</span>
				</li>

				<li title="Eliminar esta rejilla">
					<div class="ecm-circle-tools gf-botons-color-error">
						<span class="glyphicon glyphicon-trash"></span>
					</div>
						<span class="title">Eliminar</span>
				</li>
			</ul>
				<div class="clear"></div>
		</nav>
	</header>

	<!-- gf-ecm-element-inactive -->
	<section class="gf-ecm-edition-panel gf-ecm-element-inactive" id="rackSizeXY">
		<div class="gf-ecm-form-edition-main" style="position: relative;">
			<div class="gf-outline-form">
				<div class="form-group">
					<label class="gf-label-side" for="email">Ancho</label>
					<input type="number" placeholder="Ancho de la selección" class="form-control gf-input-side" id="widthRack">
				</div>
				
				<div class="form-group">
					<label for="email" class="gf-label-side">Largo</label>
					<input type="number" placeholder="Largo de la selección" class="form-control  gf-input-side" id="heightRack">
				</div>
						
				<div class="gf-ecm-form-outline-buttons">
					<button class="btn btn-default" id="btnSaveSiseXY"> Ok </button>
					<button class="btn btn-default"> Cancelar</button>
						<div class="clear"></div>
				</div>
			</div>		
		</div>
	</section>
</div>

 </script>