 <script id="pageTpl" type="text/template">

	<div class="col-xs-12 col-sm-12 ecm-edition-pages-content" id="main-{{id}}">
		<div class="header-hidde">

		    <nav class="ecm-edition-page-menu edition-close ">
		        <ul>  <li class="action-{{id}}" data-remove="true" data-id-parent="{{id}}">  <span class="glyphicon glyphicon-remove"></span> </li>  </ul>
		    </nav>

		    <nav class="ecm-edition-page-menu edition-preview" >
		        <ul> 
		        	<li data-type="preview" data-active-preview="false" class="action-{{id}}" id="action-{{id}}">
		        		<span class="glyphicon glyphicon-eye-open"></span> 
		        	</li>
		        </ul>
		    </nav>

		    <nav class="ecm-edition-page-menu edition-preview" style="right: 88px;background-color: #2eb82e;">
		        <ul> 
		            <li data-action="addNew" class="action-{{id}}">  
		                <span class="glyphicon glyphicon-plus"></span>
		            </li> 
		        </ul>
		    </nav>

		     <nav class="ecm-edition-page-menu edition-preview" style="left: 15px;background-color: #2eb82e;" id="hiddeThis-{{id}}" data-show="true">
		        <ul> 
		            <li data-action="addNew">  
		                <span class="glyphicon glyphicon-chevron-up"></span>
		            </li> 
		        </ul>
		    </nav>
		</div>

		    <div class="col-xs-12 ecm-edition-page">
		              <div class="form-group col-xs-12 ecm-no-padding">
		                  <div class="col-xs-3 ecm-no-padding">
		                    <div class="ecm-edition-page-circle" style="background-color:{{bg}}" id="{{id}}">
		                        <input type="text" class="form-control ecm-edition-page-circle-number" id="email" value="{{text}}" minlength="1" maxlength="1" style="color:{{color}};font-family:{{font}}"/>
		                    </div>

		                       <nav class="ecm-edition-page-icon-edit">
		                              <ul> <li id="edition-pencil-{{id}}" class="pecil-edit" data-id-parent='{{id}}' data-element-edit="circle">  <span class="glyphicon glyphicon-pencil"></span> </li>  </ul>
		                        </nav>
		                  </div>

		        <div class="col-xs-9 ecm-edition-page-text-edition-cnt" style="">
		            <textarea class="ecm-edition-page-text-edition" id="text_cricle_{{id}}" data-font-size="16" data-font-family="Arial"> 
		            		{{box_txt}}
		            </textarea>
		                <span class="glyphicon glyphicon-headphones ecm-edition-icons ecm-media-{{box_audio_state}} audio-media-{{id}}" data-media-file="">
		                  
		                </span> 
		                <span class="glyphicon glyphicon-picture ecm-edition-icons ecm-media-{{stateImage}} image-media-{{id}}" data-media-file="">
		                  
		                </span>
		                                
		                <nav class="ecm-edition-page-icon-edit">
		                    <ul>  <li id="edition-pencil-{{id}}" class="pecil-edit" data-id-parent='{{id}}' data-element-edit="text_cir">   <span class="glyphicon glyphicon-pencil"></span>  </li> </ul>
		                </nav>
		       </div>
		     </div>
		  <!--fin edit page-->
		 <div class="clear"></div>

		<!--start prev page-->
		<div class="ecm-edition-page-prev">
		<nav class="ecm-edition-page-menu edition-prev-page">
		        <ul id="close-prev">  <li>  <span class="glyphicon glyphicon-remove"></span> </li>  </ul>
		    </nav>
		  <div class="col-xs-12 col-sm-12 box-ref" id="box-ref-1" style="display: block; opacity: 1;">
		      <div class="box-global-container" style="background-color: {{box_bgb}} ">

		            <div class="box-type-img " style="text-align: center;">
		                <img src="{{finalUrl}}" style="width:200px;" data-folder="{{box_img_folder}}"/>
		            </div>

		            <div class="box-type-text " style="color: {{box_clt}} " id="box-type-text{{id}}">
		            	{{box_txt}}
		            </div>
		      <div class="clear"></div>

		            <div class="box-type-sound">
		                  <span class="glyphicon glyphicon-play play-audio" data-state-sound="false" data-audio-tag="{{AudioId}}" id="play-audio-{{id}}" style=" {{style_}} " data-sound-active="{{box_audio_state}}"></span> 
		                
		                <audio id="Audio-{{id}}" data-state-audio="{{box_audio_state}}" data-folder="{{dataFolder}}">
							  <source src="{{box_audio_ogg}}" type="audio/ogg"/>
							  <source src="{{box_audio_mp3}}" type="audio/mpeg"/>
							  	Tu navegador no soporta Audio.
						</audio>
		                  
		            </div>
		        </div>
		      </div>
		    </div>
		    <!--fin prev page-->
		</div>
		</div>
 </script>