<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/circle.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="lib/mustache.js"></script>
	<script type="text/javascript" src="js/catedra.plugin.js"></script>
</head>
<body>
<article class="container-fluid" id="allContainer">
    <!--grupo de elementos horizontales -->
	<div class="row">
		<div id="initApp" title="click para iniciar">
			<div style="" class="title"> </div>
		</div>

		<section class="row global-custom-cnt hiddeAllPanel showActivePanel" id="globalInterfaceCharacter">
			

		<div class="col-sm-12" id="panel-conversation">
					
				<div class="clear"></div>

				<header class="rowTitle">
					<span class="fa fa-comments-o icon-tool-option"></span> 
					<h4> Conversación</h4>
				</header>


				<div id="characters-to-chat">

			<!--style="height: 400px;    overflow: scroll;"-->
			<div class="col-xs-12 col-sm-12" id="global-cnt-chat" style="background-image: url('files/bgChat.jpg');background-position: cover;">

				<div id="global">
					<div id="loading-data">
						Iniciando conversación...
					</div>
				</div>

	<div id="load_response" style="display: none;">
			<div class="col-xs-12 chat-global-Container no-padding" id="bsnt">
				<div class="col-xs-12 col-sm-12 chat-unique-person no-padding" >
					<div class="col-xs-12 col-sm-9 col-sm-offset-2 this-preson-chat">
						<div class="col-xs-12 cnt-snack-chat">
							<div class="snack-container">
								<div class="snack-comilla"></div>
								<div class="col-xs-12 snack writing" style="background-color: #66ff66;color: white">
									   <h4>Escribiendo...</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

	<div id="whenEnd">
			<div class="col-xs-10 col-xs-offset-1 alert alert-success">
			<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
			<br>
			LA CONVERSACIÓN HA TERMINADO
			</div>
	</div>

	<div class="col-xs-12" id="emulate-text-whats" style="background-color:transparent;">
				<div class="col-xs-10 no-padding" style="background-color: #fff;border-radius: 5px;margin-left: 5px;">
					<div class="col-xs-2 no-padding cont-iconSmile">
						<i class="fa fa-smile-o" aria-hidden="true"></i>
					</div>
					<div class="col-xs-9 no-padding cnt-text-edit">
						<div>
							|
						</div>
					</div>
					<div class="col-xs-1 no-padding" style="margin-top: 6px; font-size: 20px;">
						<i class="fa fa-camera" aria-hidden="true"></i>
					</div>
				</div>
				<div class="no-padding">
					<button type="button" class="btn btn-primary btn-chat saveChatFinal" style="font-size: 24px;border-radius: 20px;margin-top: 0px;width:45px;height:45px;background-color: #e68a00; border-color: #e68a00;cursor: auto" >
								<i class="fa fa-microphone" aria-hidden="true"></i>
					</button>
				</div>
		</div>

	</div>

</div>		
</div>
</div>
		</section>
	</div>
</article>


</body>
<script type="text/javascript">
	cat_plugin.iframeId = window.frameElement.getAttribute('id');
	
</script>

<script id="pageTpl" type="text/template">

<div class="col-xs-12 chat-global-Container no-padding" id="global{{id}}" data-char="{{character}}" data-id="{{id}}">
   <div class="col-xs-12 col-sm-12 chat-unique-person no-padding">
      <div class="col-xs-12 col-sm-9 col-sm-offset-1 this-preson-chat">

        <div class='audioAdd{{id}}' style="visibility: hidden;">
            <audio controls="" id="audio{{id}}">
                <source src="{{fileogg}}" type="audio/ogg">
                <source src="{{filemp3}}" type="audio/mpeg">
            </audio>
        </div>
          <div class="col-xs-3 image-character-chat {{image}}">
              <div id="image-user-container" data-char="{{character}}" class="{{class.borderIMg}}">     
                     

                <div class="{{class.bgColor}} testing">       
                    
                    <div class="c100 cnt-audioDiv bgImgCnt image-bg-options-{{character}}" id="audioDiv{{id}}">
                        
                        <span class="cnt-microfone" data-id="{{id}}" title="Reproducir" id="micro{{id}}" style="display: {{audio_}};" data-status-audio="pause">
                            <i class="fa fa-microphone" aria-hidden="true"></i>
                        </span>

                        <div class="slice" id="slice{{id}}">
                            <div class="bar"></div>
                            <div class="fill"></div>
                            </div></div>
                            </div></div>
                        </div>

                        <div class="col-xs-9 cnt-snack-chat">
                        

                            <div class="snack-container" data-snack-char="snack-for-2">
                                <div class="snack-comilla {{snack}} {{class.msjCharSnack}}" id="snack-comilla{{id}}"></div>

                                <div id="snack_text{{id}}" class="col-xs-10 col-xs-offset-1 
                                    {{class.msjChar}} container_text" style="padding:15px;border-radius:5px;" data-audio-state='false' data-audio-name=''>
                                    {{text}}

                                </div>

                            </div>
                        </div>
                    </div>
        </div>
    </div>
</script>
<script type="text/javascript" src="js/main.js"></script>
</html>