@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(roboto-light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(roboto-bold.woff2) format('woff2');
}

html {
	height: 100%;
	font-size: 5vw;
}

body {
	height: 100%;
	text-align: center;
	background: #060606;
	text-align: center;
	vertical-align: middle;
	/*background: #c6c6c6;  Old browsers */
	background: -moz-linear-gradient(top, #464646 0%, #060606 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #464646 0%,#060606 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #464646 0%,#060606 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6', endColorstr='#464646',GradientType=0 ); /* IE6-9 */
	background-blend-mode: overlay;
	background-attachment: fixed;
	/*background-color: rgba(0,0,255,0.5);*/
	font-family: sans-serif;
	transition: background 0.2s;
	margin: 0;
	padding: 0;
}

body.screen-open {
	overflow: hidden;
}

body.wrong {
	background-color: rgba(255,0,0,0.5);
	
}

body.wrong svg {
	fill: rgba(125,0,0,0.2);
	mix-blend-mode: luminosity;
	}

svg {
	position: absolute;
	top: 2vw;
	left: 2vw;
	mix-blend-mode: multiply;
	/*top: 0;
	left: 0;*/
	fill: rgba(240,120,20,0.5);
	opacity: 0.5;
	width: auto;
	height: 20vw;
	transition: fill 0.2s, opacity 0.2s;
}

body.enabled svg {
	opacity: 1;
}

form {
	position: absolute;
	width: 50%;
	top: 40%;
	left: 25%;
	mix-blend-mode: screen;
}

input {
	display: block;
	background-color: rgba(255,255,255,0.0);
	color: rgba(240,120,20,0.8);
	border-radius: 2px;
	border: 1px solid rgba(240,120,20,0.8);
	width: 80%;
	padding: 1rem;
	font-size: 2rem;
	margin: 1rem auto;
	box-sizing: content-box;
	outline: 0 none;
	transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;

	}

input:focus {
	background-color: rgba(255,255,255,1);
	color: #444;
	/*border-color: #99f;*/
	border-color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

button {
	box-sizing: content-box;
	border-radius: 2px;
	display: block;
	width: 80%;
	margin: 1rem auto;
	text-align: center;
	border: 0 none;
	background: none;
	padding: 1rem;
	font-size: 2rem;
	background-color: #304bd6;
	background-color: #777;
	background-color: rgba(240,120,20,0.0);
	transition: 0.2s background-color, 0.2s color, 0.2s opacity;
	opacity: 1;
	color: white;
	color: #000;
	color: rgba(240,120,20,1);
	border: 1px solid rgba(240,120,20,1);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	outline: 0 none;

}

button:disabled, button:disabled:hover {
	background-color: transparent;
	cursor: not-allowed;
	color: #999;
	border: 1px solid transparent;
	box-shadow: none;
}

button:hover {
	opacity: 1;
	color: #000;
	background-color: #04c514;
	background-color: rgba(240,120,20,1);
}

h1 {
	margin: 1em 0 1em 1%;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	color: rgba(240,120,20,1);
	font-size: 6vw;
	text-align: left;

}

body> h2 {
	margin: 1em 0 1em 1%;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	color: rgba(240,120,20,1);
	font-size: 4vw;
	text-align: left;

	}

body> h3 {
	margin: 1em 1% 1em 1%;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	color: rgba(240,120,20,1);
	padding-bottom: 0.5rem;
	text-align: left;
	font-size: 2vw;
	border-bottom: 1px solid rgba(240,120,20,1);
	vertical-align: bottom;
	}

body > .available-modules {
	color: rgba(240,120,20,1);
	display: flex;
	position: relative;
	flex-flow: row wrap;
	padding: 2vw 0;
}

body.admin button.batch-install {
	position: absolute;
	margin-top: -3vw;
	right: 1vw;
	width: auto;
	padding: 0.5vw 1vw;
	font-size: 1vw;
	background: rgba(70,70,70,0.5);
	border: 0 none;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	}

body.admin button.batch-install:hover {
	color: #fff;
}

body > .available-modules > div {
	margin: 1%;
	flex-basis: 48%;
	padding: 0 2vw;
	background: rgba(70,70,70,0.5);
	transition: box-shadow 0.1s, background 0.1s, border-color 0.3s;
	position: relative;
	border-right: 0.5vw rgba(70,70,70,0.5) solid;
	box-sizing: border-box;
	display: flex;
	}

body > .available-modules > div.template {
	display: none;

}

body > .available-modules > div > a {
	display: inline-block;
	padding: 0.5vw 1vw;
	font-size: 1vw;
	background: rgba(70,70,70,0.5);
	border: 0 none;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	color: #94ecbe;
	text-decoration: none;
	margin: 0.5vw;
}

body > .available-modules > div > a:hover {
	color: #fff;
}

body > .available-modules > div > span {

	position: absolute;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(70,70,70,0.9);
	display: none;
}

body > .available-modules > div.busy span {
	display: block;
}

body > .available-modules > div span svg {
	position: relative;
	top: 50%;
	left: auto;
	width: auto;
	height: 2vw;
	margin-top: -1vw;
	fill: rgba(255,255,255,1);
	mix-blend-mode: normal;
	opacity: 1;
}

body > .available-modules > div span svg {
	animation: svgspin 1.5s linear infinite;
}

@keyframes svgspin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

body > .available-modules > div.installed {
	border-color: rgba(70,255,70,0.5);
}

body > .available-modules > div.error {
	border-color: rgba(255,30,30,0.8);
}




body > .available-modules > div:hover:not(.disabled):not(.busy), body > .available-modules button:hover {
	box-shadow: 0 0 1px rgba(255,255,255,0.4);
}

body > .available-modules > div.disabled:hover {
	background: rgba(169,32,32,0.0);
	box-shadow: 0 0 3px rgba(169,32,32,1);
	cursor: not-allowed;
}



body > .available-modules > div h4 {
	margin-top: 1em;
	font-family: Roboto, sans-serif;
	font-weight: normal;
	color: rgba(240,120,20,1);
	font-size: 2vw;
	transition: color 0.1s;
	margin-bottom: 0.5em;
	text-align: left;
	outline: none;
	flex: 0 1 40%;
}

body > .available-modules > div h4 span, body > .available-modules > div .version {
	position: absolute;
	font-size: 1vw;
	top: 0.5vw;
	right: 1vw;
	display: inline;
	bottom: auto;
	background: transparent;
	left: auto;
	}

body > .available-modules svg.save, body > .available-modules svg.preview {
	position: absolute;
	top: auto;
	left: auto;
	bottom: 0.5vw;
	right: 1vw;
	width: auto;
	height: 2vw;
	fill: rgba(255,255,255,0.4);
	fill: rgba(240,120,20,0.7);
	fill: rgba(70,70,70,0.5);
	mix-blend-mode: normal;
	opacity: 1;
	transition: fill 0.3s;
	cursor: pointer;
}

body > .available-modules svg.preview {
	right: 4vw;
	}

body > .available-modules svg.save:hover, body > .available-modules svg.preview:hover {
	fill: rgba(255,255,255,1);
}

body > .available-modules .error .save, , body > .available-modules .error .preview {
	display: none;
}

body > .available-modules svg.add-block, body > .available-modules svg.add-theme {
	position: absolute;
	bottom: 0vw;
	top: auto;
	left: auto;
	right: 1vw;
	width: auto;
	height: 2vw;
	margin-top: -1vw;
	fill: rgba(240,120,20,1);
	mix-blend-mode: normal;
	opacity: 1;
	transition: fill 0.3s;
	cursor: pointer;
}

body > .available-modules svg.add:hover {
	fill: rgba(255,255,255,1);
}



body > .available-modules div.disabled h4 {
	color: rgba(255,255,255,0.2);
}

body > .available-modules div.disabled p {
	margin: 0 0 1em 0;
	color: rgba(255,255,255,0.2);
	transition: color 0.1s;
}

body > .available-modules div.disabled:hover p {
	color: rgba(169,32,32,1);
}

body > .available-modules div.disabled:hover h4 {
	color: rgba(169,32,32,1);
}

body > .available-modules div:hover:not(.disabled):not(.busy) h4 {
	color: #fff;
	}

h1 span {
	display: block;
	font-size: 0.5em;
}

.screen {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		height: 96vh;
		background-color: rgba(0,0,0,0.7);
		padding: 2vh 2vw;
		margin: 0;
		/*visibility: hidden;*/
		/*display: none;*/
		/*flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;*/
		border: none;
		/*z-index: 1000;*/
		opacity: 0;
	}

.screen.on {
	/*display: block;*/
}

.screen iframe {
	background: transparent;
	position: absolute;
	overflow: hidden;
	width: 50vw;
	height: 50vh;
	left: 50%;
	margin-left: -25vw;
	top: 50%;
	margin-top: -25vh;
	border: none;
}

.screen .content {
	margin: 0;
	background: transparent;
	border: 0 none;
	outline: none;
	resize: none;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 1em 3em;
	display: block;
	outline: none;
	/*background: #0f0;*/
	color: rgba(30,255,30,0.8);
	color: rgba(240,120,20,1);
	font-size: 1.5vw;
	overflow: auto;
	height: 92vh;
}

.screen nav {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	height: 4vh;
}

.screen .content:focus {
	color: rgba(10,255,10,1);
	color: rgba(255,150,50,1);
	}

.screen .content.invalid {
	color: rgba(255,10,10,1);
	}

.screen nav {
		position: relative;
		margin: 0;
		padding: 0;
		text-align: right;
		width: 100%;
	}

.screen nav svg {
		width: auto;
		position: relative;
		top: auto;
		left: auto;
		height: 2vh;
		mix-blend-mode: normal;
		fill: #fff;
		margin: 0 1vh;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		opacity: 0.7;
	}

.screen nav svg:not(.disabled):hover {
		transform: scale(1.1);
		opacity: 1;
	}

.screen nav svg.ok {
		fill: #0f0;
	}

.screen nav svg.ok.disabled {
		fill: #aaa;
		opacity: 0.5;
	}

.screen nav svg.cancel {
		fill: #f00;
		height: 1.6vh;
		padding: 0.2vh;
	}	

@media only screen and (min-width : 1000px) {
	html {
		font-size: 10px;
	}
	}

@media only screen and (max-width : 800px) {
	html {
		font-size: 8px;	
	}
	form {
		width: 400px;
		left: 50%;
		margin-left: -200px;
	}
	body > svg {
		position: relative;
		left: auto;
		height: 50vw;
	}
	}